Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Fix leak of credentials
  docker/.env
Due: none

renames dev oauth conf file
  docker/.env
  docker/conf.dev
Due: none

Resolves server install bug
  deploy/docker/compose.server.yml
Due: none

Fixes codeclimate issues
  deploy/docker/LOCALHOST.md
  deploy/docker/README.md
  deploy/docker/SERVER.md
  docs/admin/host.md
  docs/admin/localhost.md
Due: none

Fixes codeclimate issues
  deploy/README.md
  deploy/docker/LOCALHOST.md
  docker/README.md
Due: none

Restructures and adds new content to docs
  docs/admin/client/auth.md
  docs/admin/client/config.md
  docs/admin/client/docker.md
  docs/admin/guides/update_basepath.md
  docs/admin/host.md
  docs/admin/localhost.md
  docs/admin/overview.md
  docs/admin/servers/auth.md
  docs/admin/servers/lib/docker.md
  docs/admin/servers/lib/npm.md
  docs/user/servers/execution/runner/README.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Fixes mistakes in README
  client/config/dev.js
  client/config/local.js
  client/config/prod.js
  docker/.env
  docker/README.md
Due: Website

Fixes mistakes in docker docs
  deploy/config/client/env.js
  deploy/docker/LOCALHOST.md
  deploy/docker/SERVER.md
  docs/admin/host.md
  docs/admin/localhost.md
  docs/admin/servers/auth.md
Due: none

Fix codeclimate issues
  client/package.json
  deploy/docker/LOCALHOST.md
  deploy/docker/SERVER.md
  docs/admin/host.md
Due: Website

Fix codeclimate issues
  deploy/docker/SERVER.md
  docker/README.md
Due: none

Updates some docs
  docs/admin/vagrant/route.sh
  docs/admin/vagrant/single-machine.md
  docs/admin/vagrant/two-machines.md
  docs/index.md
Due: none

Remove files committed by mistake
  servers/execution/runner/runner.json
  servers/execution/runner/test/unit/__mocks__/keyv.ts
Due: none

Fixes github actions and minor docs issues
  .github/workflows/docker.yml
  deploy/docker/LOCALHOST.md
  deploy/docker/SERVER.md
  docs/admin/host.md
  docs/admin/localhost.md
  docs/index.md
Due: none

Fixes github actions and minor docs issues (#780)
  .github/workflows/docker.yml
  deploy/docker/LOCALHOST.md
  deploy/docker/SERVER.md
  docs/admin/host.md
  docs/admin/localhost.md
  docs/index.md
Due: none

Removes the redundant ssl codebase Updates the READMEs of client
  client/DEVELOPER.md
  client/README.md
  client/compose.client.yml
  docs/admin/client/config.md
  ssl/README.md
  ssl/certificates.bash
  ssl/password
  ssl/ssl.conf
Due: Website

Updates README docs of client and libms
  client/DEVELOPER.md
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/inside.png
  servers/lib/package.json
  servers/lib/top-level.png
Due: Website, Lib Microservice

Fixes links in client README
  client/README.md
Due: Website

Fixes codeclimate issues
  client/DEVELOPER.md
  servers/lib/README.md
Due: Website, Lib Microservice

Fix codeclimate issues
  servers/lib/README.md
Due: Lib Microservice

Fixes mistake in libms.dockerfile
  docker/libms.dockerfile
  servers/lib/config/.env.default
Due: Lib Microservice

Removes the redundant ssl codebase and docs (#781)
  client/DEVELOPER.md
  client/README.md
  client/compose.client.yml
  docker/libms.dockerfile
  docs/admin/client/config.md
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/config/.env.default
  servers/lib/inside.png
  servers/lib/package.json
  servers/lib/top-level.png
  ssl/README.md
  ssl/certificates.bash
  ssl/password
  ssl/ssl.conf
Due: Website, Lib Microservice

Fixes the mistake in config of libms in docker compose files
  deploy/config/lib
  deploy/config/lib.docker
  deploy/docker/SERVER.md
  docs/admin/host.md
Due: none

Fixes the mistake in config of libms in docker compose files (#784)
  deploy/config/lib
  deploy/config/lib.docker
  deploy/docker/SERVER.md
  docs/admin/host.md
Due: none

clr cookies func
  client/src/util/auth/Authentication.ts
Due: Website

docker documentation
  docs/admin/docker/README.md
  docs/admin/docker/client.md
  docs/admin/docker/gitlab-app-1.png
  docs/admin/docker/gitlab.md
  docs/admin/docker/image.png
  docs/admin/servers/auth.md
Due: none

Removes redundant docs and adds User docs
  docs/admin/docker/README.md
  docs/admin/docker/client.md
  docs/admin/docker/gitlab-app-1.png
  docs/admin/docker/gitlab.md
  docs/admin/docker/image.png
  docs/admin/host.md
  docs/developer/docker/docker.md
  docs/developer/docker/oauth.md
  docs/developer/docker/traefik-oauth.png
  docs/user/website/gitlab-auth-1.png
  docs/user/website/gitlab-auth-2.png
  docs/user/website/gitlab-sso-3.png
  docs/user/website/index.md
  docs/user/website/visit-dtaas-1.png
Due: none

fetch-exception-handling
  client/src/util/auth/Authentication.ts
Due: Website

fetch excep error fix
  client/src/util/auth/Authentication.ts
Due: Website

fetch err fix
  client/src/util/auth/Authentication.ts
Due: Website

Updates and cleans admin docs
  cli/README.md
  deploy/config/client/env.trial.js
  deploy/config/gateway/auth
  deploy/config/gateway/fileConfig.local.yml
  deploy/config/gateway/fileConfig.trial.yml
  deploy/config/gateway/fileConfig.yml
  deploy/config/gateway/traefik.yml
  docs/admin/cli.md
  docs/admin/guides/add_user.md
  docs/admin/guides/remove_user.md
  docs/admin/guides/update_basepath.md
  docs/admin/servers/auth.md
  docs/developer/docker/docker.md
Due: none

added oidc client library
  client/package.json
  client/src/util/auth/Authentication.ts
Due: Website

fixes github actions
  client/src/util/auth/Authentication.ts
Due: Website

made use of useAuth
  client/src/page/MenuToolbar.tsx
  client/src/util/auth/Authentication.ts
Due: Website

Fix invalid hook call
  client/src/page/MenuToolbar.tsx
  client/src/util/auth/Authentication.ts
Due: Website

Simplify invalid hook fix
  client/src/page/MenuToolbar.tsx
  client/src/util/auth/Authentication.ts
Due: Website

added revoke url + client secret
  client/src/util/auth/Authentication.ts
Due: Website

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
