Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Use Asset components (graphical adaptation)
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
Due: Website

Use asset components
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/routes.tsx
  client/test/unitTests/Util/gitlab.test.ts
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: Website

use redux to store digital twin
  client/src/components/asset/AssetCard.tsx
  client/src/components/asset/StartStopButton.tsx
  client/src/store/digitalTwin.slice.ts
  client/src/store/store.ts
Due: Website

Add cmd test:e2e:int, update readme, add console-summary
  .github/workflows/client.yml
  client/package.json
  client/playwright.config.ts
  client/test/README.md
  client/test/e2e/setup/mcr.config.ts
Due: Website

Move yarn:config:test after yarn install in client.ymæ
  .github/workflows/client.yml
Due: none

Fix codeclimate issues
  client/src/components/asset/AddButton.tsx
  client/src/components/asset/AssetBoard.tsx
  client/src/components/asset/AssetCard.tsx
  client/src/components/asset/StartStopButton.tsx
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/route/digitaltwins/ExecutionFunctions.ts
  client/src/store/digitalTwin.slice.ts
  client/src/store/store.ts
  client/src/util/gitlabDigitalTwin.ts
Due: Website

Update readme.md and client.yml
  .github/workflows/client.yml
  client/test/README.md
Due: Website

Add missing codeblock syntax
  client/test/README.md
Due: Website

Rename yarn test:e2e:int to yarn test:e2e:ext
  client/package.json
Due: Website

manual rebase in progress
  client/DEVELOPER.md
  client/README.md
  client/config/dev.js
  client/config/local.js
  client/config/prod.js
  client/config/test.js
  client/env.d.ts
  client/jest.config.json
  client/package.json
  client/src/components/LinkIconsLib.tsx
  client/src/components/asset/Asset.ts
  client/src/components/asset/AssetBoard.tsx
  client/src/components/asset/AssetCard.tsx
  client/src/components/asset/LogButton.tsx
  client/src/components/asset/StartStopButton.tsx
  client/test-results/.last-run.json
  client/yarn.lock
Due: Website

adds cases for cloudCMD and pm2
  servers/lib/DEVELOPER.md
Due: Lib Microservice

fixed linting
  servers/lib/DEVELOPER.md
Due: Lib Microservice

Revert "commented out failing tests on action"
  .github/workflows/lib-ms.yml
Due: none

manual rebase in progress
  client/package.json
  client/src/route/digitaltwins/DigitalTwinCard.tsx
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/route/digitaltwins/ExecuteDigitalTwin.tsx
  client/src/route/digitaltwins/ExecuteTab.tsx
  client/src/route/digitaltwins/ExecutionFunctions.ts
  client/src/route/digitaltwins/GitlabService.ts
  client/src/route/digitaltwins/LogDialog.tsx
  client/src/route/digitaltwins/Snackbar.tsx
  client/src/routes.tsx
  client/src/store/CartAccess.ts
  client/src/store/cart.slice.ts
  client/src/store/digitalTwin.slice.ts
  client/src/store/store.ts
  client/src/util/envUtil.ts
  client/src/util/gitlab.ts
  client/src/util/gitlabDigitalTwin.ts
  client/src/util/gitlabDriver.ts
  client/test/README.md
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
  client/tsconfig.gitlab.json
  deploy/config/client/env.js
  deploy/config/client/env.local.js
  docs/admin/client/config.md
  docs/developer/client/GITLAB-RUNNER.md
Due: Website

completes manual rebase
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/route/digitaltwins/ExecuteDigitalTwin.tsx
  client/src/util/gitlabDriver.ts
  client/yarn.lock
Due: Website

Delete old components
  client/src/route/digitaltwins/DigitalTwinCard.tsx
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/route/digitaltwins/ExecuteDigitalTwin.tsx
  client/src/route/digitaltwins/ExecuteTab.tsx
  client/src/route/digitaltwins/GitlabService.ts
Due: Website

Add properties to gitlabDigitalTwin
  client/config/test.js
  client/src/components/asset/AssetCard.tsx
  client/src/components/asset/LogButton.tsx
  client/src/components/asset/StartStopButton.tsx
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/route/digitaltwins/ExecutionFunctions.ts
  client/src/route/digitaltwins/LogDialog.tsx
  client/src/route/digitaltwins/Snackbar.tsx
  client/src/store/digitalTwin.slice.ts
  client/src/util/gitlabDigitalTwin.ts
  client/src/util/gitlabDriver.ts
  yarn.lock
Due: Website

Add unit tests
  client/src/components/asset/StartStopButton.tsx
  client/test/unit/components/asset/AssetBoard.test.tsx
  client/test/unit/components/asset/AssetCard.test.tsx
  client/test/unit/components/asset/LogButton.test.tsx
  client/test/unit/components/asset/StartStopButton.test.tsx
  client/test/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/unit/routes/digitaltwins/ExecutionFunctions.test.ts
  client/test/unit/routes/digitaltwins/LogDialog.test.tsx
  client/test/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/unit/unit.testUtil.tsx
  client/test/unitTests/Util/gitlab.test.ts
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: Website

Complete documentation
  client/DEVELOPER.md
Due: Website

Fix codeclimate issues
  client/DEVELOPER.md
  client/src/components/asset/StartStopButton.tsx
  client/src/route/digitaltwins/ExecutionFunctions.ts
  client/src/util/gitlabDigitalTwin.ts
  client/test/unit/components/asset/AssetBoard.test.tsx
  client/test/unit/components/asset/AssetCard.test.tsx
  client/test/unit/components/asset/LogButton.test.tsx
  client/test/unit/components/asset/StartStopButton.test.tsx
  client/test/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/unit/routes/digitaltwins/ExecutionFunctions.test.ts
  client/test/unit/routes/digitaltwins/LogDialog.test.tsx
  client/test/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/unit/unit.testUtil.tsx
  client/test/unitTests/Util/gitlab.test.ts
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: Website

Refactor ExecutionFunctions
  client/src/components/asset/StartStopButton.tsx
  client/src/route/digitaltwins/ExecutionFunctions.ts
  client/src/route/digitaltwins/pipelineChecks.ts
  client/src/route/digitaltwins/pipelineHandler.ts
  client/src/route/digitaltwins/pipelineUtils.ts
  client/test/unit/components/asset/StartStopButton.test.tsx
Due: Website

Add Manage tab files
  client/package.json
  client/src/components/asset/AssetBoard.tsx
  client/src/components/asset/AssetCard.tsx
  client/src/components/asset/DeleteButton.tsx
  client/src/components/asset/DetailsButton.tsx
  client/src/components/asset/ReconfigureButton.tsx
  client/src/route/digitaltwins/DeleteDialog.tsx
  client/src/route/digitaltwins/DetailsDialog.tsx
  client/src/route/digitaltwins/DigitalTwinTabData.ts
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/util/gitlabDigitalTwin.ts
  client/yarn.lock
Due: Website

Add Makefile for docker deploy commands
  Makefile
Due: none

Add path prefixed gitlab-ce instance
  deploy/config/client/env.js
  deploy/docker/.env.server
  deploy/services/gitlab.js
  deploy/services/gitlab.yml
  deploy/services/gitlab/.env
  deploy/services/gitlab/docker-compose.yml
Due: none

Add http/s explanations
  deploy/services/gitlab/docker-compose.yml
Due: none

Change components and use redux
  client/src/components/asset/AssetBoard.tsx
  client/src/components/asset/AssetCard.tsx
  client/src/components/asset/DetailsButton.tsx
  client/src/components/asset/ReconfigureButton.tsx
  client/src/components/asset/StartStopButton.tsx
  client/src/route/digitaltwins/DeleteDialog.tsx
  client/src/route/digitaltwins/DetailsDialog.tsx
  client/src/route/digitaltwins/DigitalTwinTabData.ts
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/route/digitaltwins/Snackbar.tsx
  client/src/route/digitaltwins/pipelineHandler.ts
  client/src/route/digitaltwins/pipelineUtils.ts
  client/src/store/assets.slice.ts
  client/src/store/snackbar.slice.ts
  client/src/store/store.ts
  client/src/util/gitlabDigitalTwin.ts
  client/test/unit/components/asset/AssetBoard.test.tsx
  client/test/unit/components/asset/AssetCard.test.tsx
  client/test/unit/components/asset/DeleteButton.test.tsx
  client/test/unit/components/asset/DetailsButton.test.tsx
  client/test/unit/routes/digitaltwins/DeleteDialog.test.tsx
  client/test/unit/routes/digitaltwins/DetailsDialog.test.tsx
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: Website

adds delay for server to get ready when running on github
  servers/lib/package.json
Due: Lib Microservice

increased sleep
  servers/lib/package.json
Due: Lib Microservice

removed paths error
  .github/workflows/lib-ms.yml
Due: none

debug error actions
  .github/workflows/lib-ms.yml
Due: none

error only if env are not set
  .github/workflows/lib-ms.yml
  servers/lib/src/bootstrap.ts
Due: Lib Microservice

changed test url
  .github/workflows/lib-ms.yml
Due: none

verify url works
  .github/workflows/lib-ms.yml
Due: none

testing tests
  .github/workflows/lib-ms.yml
Due: none

tests without pm2
  .github/workflows/lib-ms.yml
  servers/lib/compose.lib.dev.yml
Due: Lib Microservice

installs jest
  .github/workflows/lib-ms.yml
Due: none

.
  .github/workflows/lib-ms.yml
Due: none

Update unit tests
  client/src/components/asset/AssetBoard.tsx
  client/src/components/asset/AssetCard.tsx
  client/src/route/digitaltwins/DeleteDialog.tsx
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/test/unit/components/asset/AssetBoard.test.tsx
  client/test/unit/components/asset/AssetCard.test.tsx
  client/test/unit/components/asset/DetailsButton.test.tsx
  client/test/unit/routes/digitaltwins/DeleteDialog.test.tsx
  client/test/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: Website

Format
  client/src/components/asset/AssetCard.tsx
  client/test/unit/components/asset/AssetBoard.test.tsx
  client/test/unit/components/asset/AssetCard.test.tsx
  client/test/unit/components/asset/DetailsButton.test.tsx
  client/test/unit/routes/digitaltwins/DeleteDialog.test.tsx
  client/test/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: Website

Fix codeclimate issues
  client/src/components/asset/AssetBoard.tsx
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/test/unit/components/asset/AssetBoard.test.tsx
  client/test/unit/routes/digitaltwins/DeleteDialog.test.tsx
Due: Website

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
