Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

resolves #934
  servers/execution/runner/package.json
Due: none

resolves #933
  servers/execution/runner/package.json
Due: none

updated lock
  servers/execution/runner/yarn.lock
Due: none

resolves #932
  servers/lib/package.json
Due: Lib Microservice

resolves #931
  servers/lib/package.json
Due: Lib Microservice

resolves #930
  servers/lib/package.json
Due: Lib Microservice

resolves #929
  servers/lib/package.json
Due: Lib Microservice

resolves #928
  servers/lib/package.json
Due: Lib Microservice

updated lock
  servers/lib/yarn.lock
Due: Lib Microservice

Publish docker image only once (#926)
  .github/workflows/docker.yml
Due: none

Add INTEGRATION.md
  deploy/services/gitlab/INTEGRATION.md
Due: none

Adds code to serve DTaaS over https on localhost
  .gitignore
  deploy/README.md
  deploy/docker/LOCALHOST.SECURE.md
  deploy/docker/README.md
  deploy/docker/SERVER.md
  deploy/docker/certs/localhost/.gitkeep
  deploy/docker/compose.local.secure.yml
  deploy/docker/dynamic/tls.local.yml
  deploy/docker/localhost-https.png
  deploy/docker/localhost.png
  deploy/docker/server.png
  deploy/docker/traefik-forward-auth.png
  docs/developer/system/DTaaS.drawio
Due: none

Add OAuth token configuration step to integration guide
  deploy/services/gitlab/INTEGRATION.md
Due: none

Deletes unused DT manage code
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/DeleteButton.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/asset/ReconfigureButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/EditorTab.tsx
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/test/preview/unit/components/asset/DeleteButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/DeleteDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/DetailsDialog.test.tsx
Due: Website

updated packages
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

Fixes the localhost integration of gitlab
  deploy/docker/LOCALHOST.SECURE.md
  deploy/docker/LOCALHOST.md
  deploy/docker/compose.local.secure.yml
  deploy/docker/localhost-https.png
  docs/developer/system/DTaaS.drawio
Due: none

Edit INTEGRATION.md for localhost installations
  deploy/services/gitlab/INTEGRATION.md
Due: none

migrates to flat config file
  servers/lib/.eslintignore
  servers/lib/eslint.config.mjs
Due: Lib Microservice

no longer supported
  servers/lib/.eslintrc
Due: Lib Microservice

fixed eslint errors
  servers/lib/eslint.config.mjs
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

Update unit testing
  client/jest.config.json
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/src/store/store.ts
  client/src/util/gitlab.ts
  client/src/util/gitlabDigitalTwin.ts
  client/src/util/gitlabDriver.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/__mocks__/unit/component_mocks.tsx
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/DetailsButton.test.tsx
  client/test/preview/unit/components/asset/LogButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineChecks.test.ts
  client/test/unit/util/Store.test.ts
  client/test/unitTests/Util/gitlab.test.ts
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: Website

Revert "resolves #942"
  client/package.json
Due: Website

Revert "resolves #941"
  client/package.json
Due: Website

Revert "updated lock"
  client/yarn.lock
Due: Website

Revert "resolves #940"
  client/package.json
  client/yarn.lock
Due: Website

Revert "resolves #939"
  client/package.json
Due: Website

Revert "resolves #938"
  client/package.json
Due: Website

revert changes to runner
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
Due: none

Revert "resolves #935"
  servers/execution/runner/package.json
Due: none

Revert "resolves #934"
  servers/execution/runner/package.json
Due: none

Revert "resolves #933"
  servers/execution/runner/package.json
Due: none

revert changes to runner
  client/yarn.lock
  servers/execution/runner/yarn.lock
Due: Website

Add integration tests
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/StartStopButton.test.tsx
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
Due: Website

Fix codeclimate issues
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/StartStopButton.test.tsx
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/LogButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/LogDialog.test.tsx
  docs/developer/client/GITLAB-RUNNER.md
Due: Website

renamed eslint file
  servers/lib/eslint.config.js
Due: Lib Microservice

renamed
  servers/lib/pm2.config.cjs
Due: Lib Microservice

changed to module
  servers/lib/tsconfig.json
Due: Lib Microservice

Add integration tests
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/util/gitlab.ts
  client/test/preview/__mocks__/unit/component_mocks.tsx
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/StartStopButton.test.tsx
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/LogButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/LogDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineChecks.test.ts
Due: Website

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
