Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Move the rest of the constants from preview
  client/src/gitlab/constants.ts
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/route/digitaltwins/execute/LogDialog.tsx
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/fileHandler.ts
  client/src/preview/util/gitlab.ts
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/util/digitalTwin.test.ts
Due: Website

Format constants.ts and digitalTwin.ts
  client/src/gitlab/constants.ts
  client/src/preview/util/digitalTwin.ts
Due: Website

Move constants to correct file
  client/src/model/backend/gitlab/constants.ts
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/fileHandler.ts
  client/src/preview/util/gitlab.ts
Due: Website

Use absolute paths
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
Due: Website

Formatting
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
Due: Website

Fix constants.ts comment
  client/src/model/backend/gitlab/constants.ts
Due: Website

test
  servers/lib/src/files/git/git-files.service.ts
Due: Lib Microservice

Add UserName property to GitRepo type and update GitFilesService for optional repo configuration
  servers/lib/src/config/config.model.ts
  servers/lib/src/files/git/git-files.service.ts
Due: Lib Microservice

Refactor GitFilesService to return Promise<void> in cloneRepositories and init methods
  servers/lib/src/files/git/git-files.service.ts
Due: Lib Microservice

fix: codacy changes and integration test
  client/package.json
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineUtils.test.ts
Due: Website

fix: pielineUtils
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
Due: Website

fix: codacy errors for pulineUtils.ts
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
Due: Website

Remove UserName property from GitRepo type and refactor cloneRepositories method for improved promise handling
  servers/lib/src/config/config.model.ts
  servers/lib/src/files/git/git-files.service.ts
Due: Lib Microservice

Update docs and compose.dev.yml
  docker/README.md
  docker/compose.dev.yml
Due: none

Rm variant versions from new dependencies
  client/package.json
Due: Website

Update yarn
  client/yarn.lock
Due: Website

Add validation for user keys in cloneRepositories method
  servers/lib/src/files/git/git-files.service.ts
Due: Lib Microservice

Refactor GitRepo type to interface and enhance cloneRepositories method with additional validation for repo configuration
  servers/lib/src/config/config.model.ts
  servers/lib/src/files/git/git-files.service.ts
Due: Lib Microservice

Rm non-top-level memoization call, add catch block in Config.tsx
  client/src/route/config/Config.tsx
Due: Website

fix maybe some fixes that codacy like now ?
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
Due: Website

minor changes
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
Due: Website

fix: Trying to follow the DTaaS code style better
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineUtils.test.ts
Due: Website

Fix Codacy issues in ConfigUtil.test.ts
  client/src/route/config/Config.tsx
  client/src/util/configUtil.ts
  client/test/unit/util/ConfigUtil.test.ts
Due: Website

Apply Codacy patch
  client/src/route/config/Config.tsx
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/unit/components/PrivateRoute.test.tsx
  client/test/unit/page/Config.test.tsx
  client/test/unit/util/ConfigUtil.test.ts
Due: Website

Fix syntax errors
  client/package.json
  client/src/route/config/Config.tsx
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/unit/components/PrivateRoute.test.tsx
  client/test/unit/page/Config.test.tsx
  client/yarn.lock
  docker/README.md
Due: Website

Use record types
  client/src/route/config/Config.tsx
Due: Website

Fix more any errors
  client/src/route/config/Config.tsx
  client/src/util/configUtil.ts
  client/test/unit/util/ConfigUtil.test.ts
Due: Website

Use constants in test cases
  client/src/model/backend/gitlab/constants.ts
  client/test/preview/unit/util/digitalTwin.test.ts
  client/test/preview/unit/util/gitlab.test.ts
Due: Website

Appropriate yarn syntax suggestions
  client/src/route/config/Config.tsx
  client/src/util/configUtil.ts
  client/test/unit/page/Config.test.tsx
  client/test/unit/util/ConfigUtil.test.ts
Due: Website

Add docker files and bump version
  client/package.json
  docker/client.built.dockerfile
  docker/compose.dev.yml
Due: Website

Update README.md in docker
  docker/README.md
Due: none

Add image
  docker/developer-docker.png
Due: none

Increment package.json version
  client/package.json
Due: Website

Fix codecov config
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
  .github/workflows/runner.yml
  docs/developer/github-actions.md
Due: none

Fixes docker client image publish step
  .github/workflows/client.yml
  .github/workflows/docker-dockerhub.yml
  client/config/dev.js
  client/config/test.js
Due: Website

Fixes mistake in client github action
  .github/workflows/docker-dockerhub.yml
Due: none

Fixes mistake in client github action
  .github/workflows/client.yml
  .github/workflows/docker-ghcr.yml
  client/.gitignore
Due: Website

Trigger libms publish step
  servers/lib/.gitignore
Due: Lib Microservice

Fix mistake in github actions file
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
Due: none

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
