Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

Update launch script for the package
  servers/execution/runner/package.json
  servers/execution/runner/src/main.ts
Due: none

Improves README
  servers/execution/runner/README.md
Due: none

Updated all backward-compatible packages
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

updated documentation for http queries in servers/lib/README.md
  servers/lib/README.md
Due: Lib Microservice

Added GraphQL API Calls and HTTP API Calls section
  docs/admin/servers/lib/LIB-MS.md
Due: none

Made a better description for HTTP API Calls
  servers/lib/README.md
Due: Lib Microservice

prettified json format in HTTP requests
  docs/admin/servers/lib/LIB-MS.md
  servers/lib/README.md
Due: Lib Microservice

Updated Typescript, Node Types and ESLint + plugins
  servers/lib/package.json
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/gitlab-files.service.ts
  servers/lib/src/files/services/local-files.service.ts
  servers/lib/yarn.lock
Due: Lib Microservice

Updated @nestjs packages
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

Developer Documentation added
  docs/developer/index.md
  docs/developer/servers/lib/lib-class.mmd
  docs/developer/system/architecture.md
  docs/developer/system/architecture.png
  docs/developer/system/c4.png
  docs/developer/testing/intro.md
  docs/developer/workflow.png
Due: none

Restructuring and Mermaid files
  docs/developer/index.md
  docs/developer/servers/lib/lib-sequence.mmd
  docs/developer/system/architecture.md
  docs/developer/system/c4l1.png
  docs/developer/system/c4l3.png
  docs/developer/system/client.md
  docs/developer/system/lib-ms.md
  docs/developer/testing/intro.md
  mkdocs.yml
Due: none

MKDocs updated for new files
  mkdocs.yml
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

Suggests improvements to the PR
  deploy/README.md
  docs/developer/index.md
  docs/developer/system/architecture.md
  docs/developer/system/lib-ms.md
  docs/index.md
  docs/user/workflow.png
  mkdocs-github.yml
  mkdocs.yml
Due: none

PR Review changes, Mermaid Config in MkDocs
  docs/developer/index.md
  docs/developer/servers/lib/lib-sequence.mmd
  docs/developer/system/architecture.md
  docs/developer/system/client.md
  docs/developer/system/package-diagram.png
  docs/user/workflow.png
  mkdocs.yml
Due: none

Mermaid Config in MkDocs-Github
  mkdocs-github.yml
Due: none

LibMS Sequence UML update
  docs/developer/system/lib-ms.md
Due: none

traefik-gateway uses new auth
  servers/config/gateway/README.md
Due: none

inital commit on admin guides
  docs/admin/guides/guide.md
  mkdocs.yml
Due: none

Corrects the HTTP queries in READMEs
  docs/admin/servers/lib/LIB-MS.md
  docs/user/servers/lib/LIB-MS.md
  servers/lib/README.md
Due: Lib Microservice

Updates HTTP documentation for Lib microservice (#113 and #115)
  docs/admin/servers/lib/LIB-MS.md
  docs/user/servers/lib/LIB-MS.md
  servers/lib/README.md
Due: Lib Microservice

Microservices documentation
  docs/developer/system/architecture.md
Due: none

Corrects docs/ publish instructions
  docs/PUBLISH.md
Due: none

Update .mdlrc
  .mdlrc
Due: none

Undo update .mdlrc
  .mdlrc
Due: none

Adds Digital Twin Runner utility (#110)
  .git-hooks/pre-commit
  .git-hooks/pre-push
  .github/workflows/runner.yml
  .gitignore
  client/.gitignore
  docs/PUBLISH.md
  servers/execution/runner/.eslintignore
  servers/execution/runner/.eslintrc
  servers/execution/runner/.npmignore
  servers/execution/runner/.prettierrc
  servers/execution/runner/LICENSE.md
  servers/execution/runner/README.md
  servers/execution/runner/jest.config.json
  servers/execution/runner/nest-cli.json
  servers/execution/runner/package.json
  servers/execution/runner/runner-api.yaml
  servers/execution/runner/script/build.bash
  servers/execution/runner/script/clean.bash
  servers/execution/runner/script/install.bash
  servers/execution/runner/script/start.bash
  servers/execution/runner/script/syntax.bash
  servers/execution/runner/script/test.bash
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/app.module.ts
  servers/execution/runner/src/execaCMDRunner.ts
  servers/execution/runner/src/interfaces/CMDRunner.interface.ts
  servers/execution/runner/src/interfaces/lifecycle.interface.ts
  servers/execution/runner/src/lifecycleManager.service.ts
  servers/execution/runner/src/main.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/src/runner.ts
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/test/integration/execaCMDRunner.spec.ts
  servers/execution/runner/test/integration/lifecycleManager.service.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
  servers/execution/runner/tsconfig.json
  servers/execution/runner/yarn.lock
Due: Website

working commit
  README.md
  docs/admin/services.md
  docs/admin/trial.md
  docs/developer/index.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

working commit
  docs/developer/index.md
  docs/developer/system/architecture.md
  docs/developer/testing/intro.md
Due: none

working commit
  README.md
  docs/developer/client/client.md
  docs/developer/client/package-diagram.png
  docs/developer/servers/lib/lib-ms.md
  docs/developer/system/C4-L1_diagram.png
  docs/developer/system/C4-L2_diagram_detailed.png
  docs/developer/system/C4-L2_diagram_simplified.png
  docs/developer/system/DTaaS.drawio
  docs/developer/system/architecture.md
  docs/developer/system/architecture.png
  docs/developer/system/c4l1.png
  docs/developer/system/c4l3.png
  docs/developer/system/current-status.md
  docs/developer/system/current-status.png
  docs/developer/testing/intro.md
  docs/index.md
  docs/user/current-status.png
  docs/user/digital-twins/build-use-share.png
  docs/user/digital-twins/lifecycle-four-stages.png
  docs/user/digital-twins/lifecycle.md
  docs/user/digital-twins/lifecycle.png
  docs/user/motivation.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Update .codeclimate.yml
  .codeclimate.yml
Due: none

Rename .mdlrc to .mdl_style.rb
  .mdl_style.rb
Due: none

Create .mdlrc
  .mdlrc
Due: none

working commit
  docs/developer/index.md
  docs/developer/servers/lib/lib-ms.md
  docs/developer/servers/lib/lib-ms.png
  docs/developer/system/DTaaS.drawio
  docs/developer/system/architecture.md
  docs/developer/system/current-status.md
  docs/index.md
  docs/user/features.md
  docs/user/motivation.md
  ssl/README.md
Due: none

Update .mdl_style.rb
  .mdl_style.rb
Due: none

Doc update1
  LICENSE.md
Due: none

working commit
  .codeclimate.yml
  .mdl_style.rb
  .mdlrc
  README.md
  docs/developer/client/client.md
  docs/developer/client/package-diagram.png
  docs/developer/client/uml/package-diagram.puml
  docs/developer/servers/lib/lib-ms.md
  docs/developer/system/architecture.md
  docs/user/features.md
Due: none

Doc update2
  client/LICENSE.md
  client/README.md
  client/test/README.md
  deploy/vagrant/make_boxes/dtaas/README.md
  deploy/vagrant/single-machine/README.md
  deploy/vagrant/two-machine/README.md
  docs/FAQ.md
  docs/LICENSE.md
  docs/PUBLISH.md
  docs/admin/client/CLIENT.md
  docs/admin/client/auth.md
  docs/admin/servers/lib/LIB-MS.md
  docs/admin/trial.md
  docs/developer/index.md
  docs/developer/system/architecture.md
Due: Website

DocIssues3
  docs/developer/system/client.md
  docs/developer/system/lib-ms.md
  docs/index.md
  docs/thanks.md
  docs/user/digital-twins/create.md
  docs/user/digital-twins/lifecycle.md
  docs/user/examples/incubator/README.md
  docs/user/examples/index.md
  docs/user/features.md
  docs/user/servers/lib/LIB-MS.md
  docs/user/servers/lib/assets.md
  docs/user/website/index.md
  files/README.md
  servers/config/gateway/README.md
  servers/execution/runner/LICENSE.md
  servers/execution/runner/README.md
Due: none

Doc update4
  servers/lib/LICENSE.md
  servers/lib/README.md
  servers/lib/test/README.md
  servers/lib/test/data/user2/tools/README.md
  ssl/README.md
Due: Lib Microservice

Doc update5
  LICENSE.md
  client/LICENSE.md
  client/README.md
  deploy/vagrant/make_boxes/dtaas/README.md
  docs/LICENSE.md
  docs/admin/client/CLIENT.md
  servers/execution/runner/LICENSE.md
  servers/lib/LICENSE.md
  servers/lib/test/data/user2/tools/README.md
Due: Website, Lib Microservice
