Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

removed post
  client/src/util/auth/Authentication.ts
  docker/libms.dockerfile
Due: Website

Fixes config file copy mistake in libms.dockerfile
  docker/README.md
  docker/libms.dockerfile
Due: none

Fixes mistakes in libms.dockerfile
  docker/compose.dev.yml
  docker/libms.dockerfile
Due: none

Improves the libms.dockerfile
  docker/libms.dockerfile
Due: none

Parameterises the libms.npm.dockerfile
  docker/README.md
  docker/libms.npm.dockerfile
Due: none

Fixes mistakes in the npm package publishing step
  .github/workflows/lib-ms.yml
  .github/workflows/runner.yml
  servers/execution/runner/package.json
  servers/lib/package.json
Due: Lib Microservice

Fix Dockerfiles and npm package READMEs (#802)
  .github/workflows/lib-ms.yml
  .github/workflows/runner.yml
  docker/README.md
  docker/compose.dev.yml
  docker/libms.dockerfile
  docker/libms.npm.dockerfile
  servers/execution/runner/package.json
  servers/lib/package.json
Due: Lib Microservice

Updates and cleans admin docs
  cli/README.md
  deploy/config/client/env.trial.js
  deploy/config/gateway/auth
  deploy/config/gateway/fileConfig.local.yml
  deploy/config/gateway/fileConfig.trial.yml
  deploy/config/gateway/fileConfig.yml
  deploy/config/gateway/traefik.yml
  docs/admin/cli.md
  docs/admin/guides/add_user.md
  docs/admin/guides/remove_user.md
  docs/admin/guides/update_basepath.md
  docs/admin/servers/auth.md
  docs/developer/docker/docker.md
Due: none

docker documentation
  docs/admin/docker/README.md
  docs/admin/docker/client.md
  docs/admin/docker/gitlab-app-1.png
  docs/admin/docker/gitlab.md
  docs/admin/docker/image.png
  docs/admin/servers/auth.md
Due: none

Removes redundant docs and adds User docs
  docs/admin/docker/README.md
  docs/admin/docker/client.md
  docs/admin/docker/gitlab-app-1.png
  docs/admin/docker/gitlab.md
  docs/admin/docker/image.png
  docs/admin/host.md
  docs/developer/docker/docker.md
  docs/developer/docker/oauth.md
  docs/developer/docker/traefik-oauth.png
  docs/user/website/gitlab-auth-1.png
  docs/user/website/gitlab-auth-2.png
  docs/user/website/gitlab-sso-3.png
  docs/user/website/index.md
  docs/user/website/visit-dtaas-1.png
Due: none

Updates documentation on packages Corrects admin documentation Edits images on the user website documentation page
  docs/admin/guides/add_user.md
  docs/admin/guides/common_workspace_readonly.md
  docs/admin/guides/hosting_site_without_https.md
  docs/admin/guides/remove_user.md
  docs/admin/host.md
  docs/admin/overview.md
  docs/admin/packages.md
  docs/admin/server.png
  docs/admin/servers/auth.md
  docs/bugs.md
  docs/developer/docker/docker.md
  docs/developer/docker/oauth.md
  docs/developer/system/DTaaS.drawio
  docs/thanks.md
  docs/user/website/gitlab-auth-1.png
  docs/user/website/gitlab-auth-2.png
  docs/user/website/index.md
  docs/user/website/visit-dtaas-1.png
Due: none

Refactoring signOut
  client/src/util/auth/Authentication.ts
Due: Website

Adds documentation for three new examples Fixes codeclimate issues on existing docs
  docs/admin/guides/add_user.md
  docs/admin/guides/common_workspace_readonly.md
  docs/admin/guides/remove_user.md
  docs/user/examples/incubator-NuRV-monitor-validation/README.md
  docs/user/examples/incubator-NuRV-monitor-validation/dt-structure.png
  docs/user/examples/incubator-NuRV-monitor-validation/incubator-NuRV-monitor-validation_plot.png
  docs/user/examples/index.md
  docs/user/examples/mass-spring-damper-monitor/README.md
  docs/user/examples/mass-spring-damper-monitor/dt-structure.png
  docs/user/examples/mass-spring-damper-monitor/mass-spring-damper-monitor_plot.png
  docs/user/examples/mass-spring-damper-monitor/mass-spring-damper_multibody_system.png
  docs/user/examples/water_tank_FI_monitor/README.md
  docs/user/examples/water_tank_FI_monitor/dt-structure.png
  docs/user/examples/water_tank_FI_monitor/water_tank_FI_monitor_plot.png
  docs/user/examples/water_tank_FI_monitor/watertank.png
  mkdocs-github.yml
  mkdocs.yml
Due: none

Adds screenshots to OAuth docs
  docs/admin/client/auth.md
  docs/admin/client/client-oauth-id.png
  docs/admin/client/client-oauth-name.png
  docs/admin/client/client-oauth-scopes.png
  docs/admin/servers/auth.md
  docs/admin/servers/server-oauth.png
  docs/admin/servers/server-oauth2.png
  docs/user/examples/incubator-NuRV-monitor-validation/README.md
Due: none

Fixes codeclimate issues Updates libms docs
  docs/admin/client/auth.md
  docs/admin/servers/auth.md
  docs/admin/servers/lib/docker.md
  docs/admin/servers/lib/npm.md
  docs/developer/oauth.md
  docs/user/servers/lib/LIB-MS.md
  docs/user/servers/lib/inside.png
  docs/user/servers/lib/top-level.png
  servers/lib/HTTP.md
  servers/lib/README.md
Due: Lib Microservice

Fixes codeclimate issues
  docs/admin/client/auth.md
  docs/admin/guides/add_user.md
  docs/admin/guides/remove_user.md
Due: none

Fixes codeclimate issues
  docs/admin/guides/remove_user.md
Due: none

Developer Docs for Auth MS
  docs/developer/oauth/AUTHMS.md
  docs/developer/oauth/DESIGN.md
  docs/developer/oauth/OAUTH2.0.md
  docs/developer/oauth/design-sequence.jpg
  docs/developer/oauth/oauth2-workflow.jpg
  docs/developer/oauth/traefik-forward-auth-middleware.png
Due: none

Adds AuthMS Drawio and resolves documentation issues
  cli/DEVELOPER.md
  docker/README.md
  docs/admin/cli.md
  docs/admin/servers/auth.md
  docs/developer/oauth/AUTHMS.drawio
  mkdocs-github.yml
  mkdocs.yml
Due: none

Fixes logout
  client/src/util/auth/Authentication.ts
Due: Website

Clean cookies and session storage post logout
  client/src/util/auth/Authentication.ts
Due: Website

uses better quality uml diagrams
  docs/developer/oauth/AUTHMS.md
  docs/developer/oauth/DESIGN.md
  docs/developer/oauth/OAUTH2.0.md
  docs/developer/oauth/design-sequence.jpg
  docs/developer/oauth/design-sequence.png
  docs/developer/oauth/oauth2-workflow.jpg
  docs/developer/oauth/oauth2-workflow.png
Due: none

resolves code climate issues
  docs/admin/cli.md
  docs/admin/servers/auth.md
  docs/developer/oauth/AUTHMS.md
  docs/developer/oauth/DESIGN.md
  docs/developer/oauth/OAUTH2.0.md
Due: none

resolves code climate issues
  cli/DEVELOPER.md
  docker/README.md
  docs/admin/cli.md
  docs/developer/oauth/AUTHMS.md
  docs/developer/oauth/DESIGN.md
Due: none

final codeclimate issues resolved
  docs/developer/oauth/AUTHMS.md
Due: none

PR review
  cli/DEVELOPER.md
  docker/README.md
  docs/developer/oauth/AUTHMS.md
  docs/developer/oauth/OAUTH2.0.md
  docs/developer/oauth/design-sequence.png
  docs/developer/oauth/oauth2-workflow.png
Due: none

changes instance to gitlab.foo
  docs/developer/oauth/AUTHMS.md
Due: none

Developer Docs for Auth MS
  cli/DEVELOPER.md
  docker/README.md
  docs/admin/cli.md
  docs/admin/servers/auth.md
  docs/developer/oauth.md
  docs/developer/oauth/AUTHMS.drawio
  docs/developer/oauth/AUTHMS.md
  docs/developer/oauth/DESIGN.md
  docs/developer/oauth/OAUTH2.0.md
  docs/developer/oauth/design-sequence.png
  docs/developer/oauth/oauth2-workflow.png
  docs/developer/oauth/traefik-forward-auth-middleware.png
  mkdocs-github.yml
  mkdocs.yml
Due: none

Fixes one codeclimate issue
  docs/developer/oauth/OAUTH2.0.md
Due: none

Updates OAuth and packages docs for developers (#811 and #819)
  cli/DEVELOPER.md
  docker/README.md
  docs/admin/cli.md
  docs/admin/servers/auth.md
  docs/developer/oauth.md
  docs/developer/oauth/AUTHMS.drawio
  docs/developer/oauth/AUTHMS.md
  docs/developer/oauth/DESIGN.md
  docs/developer/oauth/OAUTH2.0.md
  docs/developer/oauth/design-sequence.png
  docs/developer/oauth/oauth2-workflow.png
  docs/developer/oauth/traefik-forward-auth-middleware.png
  mkdocs-github.yml
  mkdocs.yml
Due: none

Goto backend login using signoutSilent and reload
  client/src/util/auth/Authentication.ts
Due: Website

Changed alert into Error
  client/src/util/auth/Authentication.ts
Due: Website

Completes admin docs and fixes minor mistakes in other places
  client/DEVELOPER.md
  client/package.json
  docs/admin/cli.md
  docs/admin/client/config.md
  docs/admin/client/docker.md
  docs/admin/host.md
  docs/admin/overview.md
  docs/admin/packages.md
  docs/admin/requirements.md
  docs/admin/servers/auth.md
  docs/admin/servers/lib/compose.lib.yml
  docs/admin/servers/lib/config.md
  docs/admin/servers/lib/docker.md
  docs/admin/servers/lib/http.json
  docs/admin/servers/lib/npm.md
  docs/admin/steps.md
  docs/user/servers/execution/runner/README.md
  docs/user/servers/lib/LIB-MS.md
  mkdocs-github.yml
  mkdocs.yml
  servers/lib/compose.lib.yml
Due: Website, Lib Microservice

Simplify by removing revokeTokens, removeUser and clearStaleState
  client/src/util/auth/Authentication.ts
Due: Website

updates user website pages
  docs/admin/overview.md
  docs/developer/testing/intro.md
  docs/user/servers/lib/LIB-MS.md
  docs/user/website/digital_twins.png
  docs/user/website/gitlab-auth-1.png
  docs/user/website/gitlab-auth-2.png
  docs/user/website/gitlab-sso-1.png
  docs/user/website/gitlab-sso-3.png
  docs/user/website/index.md
  docs/user/website/library.png
  docs/user/website/login.png
  docs/user/website/logout.png
  docs/user/website/menu.png
  docs/user/website/visit-dtaas-1.png
  docs/user/website/workbench.png
Due: none

updates docs
  docs/developer/system/current-status.md
  docs/user/website/index.md
Due: none

Fix mistake in docker compose file of libms
  servers/lib/compose.lib.yml
Due: Lib Microservice
