Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

Fix integration tests
  client/package.json
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/file.slice.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/components/asset/LogButton.test.tsx
  client/test/preview/integration/components/asset/StartStopButton.test.tsx
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/integration/route/digitaltwins/Snackbar.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Editor.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/PreviewTab.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/LogDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DetailsDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/utils.ts
  client/yarn.lock
Due: Website

Add integration tests
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/route/digitaltwins/create/ChangeFileNameDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/ConfirmDeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/CreateDTDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/CreatePage.test.tsx
  client/test/preview/integration/route/digitaltwins/create/DeleteFileDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/FileActionButtons.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/SidebarDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/SidebarFunctions.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
Due: Website

Apply requested changes
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/file.slice.ts
  client/src/preview/util/fileHandler.ts
  client/src/preview/util/ifile.ts
  client/src/preview/util/init.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Editor.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DetailsDialog.test.tsx
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/CreateDTDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/SidebarFunctions.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/util/digitalTwin.test.ts
  client/test/preview/unit/util/gitlabDigitalTwinConfig.test.ts
  client/test/preview/unit/util/init.test.ts
Due: Website

rebase
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/util/digitalTwin.ts
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/route/digitaltwins/create/ChangeFileNameDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/ConfirmDeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/CreateDTDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/CreatePage.test.tsx
  client/test/preview/integration/route/digitaltwins/create/DeleteFileDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/SidebarDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/SidebarFunctions.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/ConfirmDeleteDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/CreateDTDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/DeleteFileDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
  client/yarn.lock
Due: Website

Little fix
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/util/digitalTwin.ts
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/route/digitaltwins/create/ChangeFileNameDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/ConfirmDeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/CreateDTDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/CreatePage.test.tsx
  client/test/preview/integration/route/digitaltwins/create/DeleteFileDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/SidebarDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
Due: Website

Little fix
  client/src/preview/components/asset/AssetBoard.tsx
Due: Website

Removed mention of git-hooks in dev index
  docs/developer/index.md
Due: none

adds documentation
  docs/admin/servers/lib/config.md
  servers/lib/DEVELOPER.md
  servers/lib/README.md
Due: Lib Microservice

bumps minor version
  servers/lib/package.json
Due: Lib Microservice

fixed .git error
  servers/lib/src/files/git/git-files.service.ts
Due: Lib Microservice

Add new devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Add moduleNameMapper to jest-e2e.json to fix import errors
  servers/lib/test/jest-e2e.json
Due: Lib Microservice

Refactor DigitalTwin class and add DTAssets class
  client/config/test.js
  client/src/preview/route/digitaltwins/editor/sidebarFunctions.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/file.slice.ts
  client/src/preview/util/DTAssets.ts
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/fileHandler.ts
  client/src/preview/util/ifile.ts
  client/yarn.lock
Due: Website

Adds new documentation
  docs/admin/gitlab/index.md
  docs/admin/gitlab/integration.md
  docs/admin/gitlab/runner.md
  docs/admin/guides/gitlab.md
  docs/admin/guides/hosting_site_without_https.md
  docs/admin/guides/localhost_portainer.md
  docs/admin/localhost-https.png
  docs/admin/localhost-secure.md
  docs/admin/localhost.png
  docs/admin/overview.md
  docs/admin/packages.md
  docs/admin/server.png
  docs/admin/steps.md
  docs/developer/docker/docker.md
  docs/developer/github-actions.md
  docs/developer/index.md
  docs/developer/npm-packages.md
  docs/developer/oauth/OAUTH2.0.md
  docs/developer/oauth/oauth2-workflow.png
  docs/developer/system/architecture.md
  docs/developer/system/current-status.md
  docs/index.md
  docs/user/current-status.png
  docs/user/digital-twins/devops.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Adds new documentation
  deploy/docker/LOCALHOST.SECURE.md
  docs/admin/localhost-secure.md
  docs/user/digital-twins/devops.md
  docs/user/digital-twins/dt_execute_log.png
  docs/user/digital-twins/dt_execute_running.png
  docs/user/digital-twins/dt_manage.png
  docs/user/digital-twins/dt_manage_details.png
  docs/user/digital-twins/dt_manage_reconfigure.png
  docs/user/servers/execution/runner/README.md
  docs/user/servers/lib/inside.png
  docs/user/servers/lib/top-level.png
  docs/user/website/digital_twins.png
  docs/user/website/dt_preview_execute.png
  docs/user/website/dt_preview_manage.png
  docs/user/website/gitlab-auth-1.png
  docs/user/website/gitlab-auth-2.png
  docs/user/website/gitlab-sso-1.png
  docs/user/website/gitlab-sso-2.png
  docs/user/website/gitlab-sso-3.png
  docs/user/website/index.md
  docs/user/website/jupyter_notebook.png
  docs/user/website/jupyter_notebook_tools.png
  docs/user/website/jupyterlab.png
  docs/user/website/lib-graphql-playground_bug.png
  docs/user/website/library.png
  docs/user/website/logout.png
  docs/user/website/menu.png
  docs/user/website/terminal.png
  docs/user/website/username.png
  docs/user/website/visit-dtaas-1.png
  docs/user/website/vnc-login.png
  docs/user/website/vscode.png
  docs/user/website/workbench.png
  docs/user/website/xfce-desktop.png
Due: none

Adds new documentation
  docs/user/digital-twins/devops.md
Due: none

fixes minor mistakes
  docs/admin/gitlab/runner.md
  docs/thanks.md
  docs/user/servers/lib/assets.md
  docs/user/website/index.md
Due: none

Update unit tests
  client/src/preview/util/DTAssets.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/util/DTAssets.test.ts
  client/test/preview/unit/util/fileHandler.test.ts
  client/test/preview/unit/util/gitlabDigitalTwinConfig.test.ts
Due: Website

Upgrade integration tests
  client/test/preview/integration/route/digitaltwins/editor/Editor.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/util/DTAssets.test.ts
Due: Website

fixes ignore files and docs script
  .gitignore
  script/docs.sh
Due: none

Adjust docker image versions
  SECURITY.md
  deploy/docker/compose.local.secure.yml
  deploy/docker/compose.local.yml
  deploy/docker/compose.server.secure.yml
  deploy/docker/compose.server.yml
  docs/redirect-page.html
Due: none

Fix mistakes in localhost install docs
  docs/admin/localhost-secure.md
  docs/admin/localhost.md
Due: none

Fix mistakes in documentation
  cli/README.md
  deploy/docker/LOCALHOST.md
Due: none

Replaces git clone information with release package download
  docs/admin/gitlab/index.md
  docs/admin/guides/localhost_portainer.md
  docs/admin/host.md
  docs/admin/localhost-secure.md
  docs/admin/localhost.md
  docs/admin/services.md
Due: none

adds init and made func async
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/local/local-files.service.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
Due: Lib Microservice

fixes broken links in the docs
  docs/developer/system/architecture.md
  docs/developer/system/current-status.md
Due: none

removes incorrect entries in gitignore
  .gitignore
Due: none

Add Library page
  client/src/preview/components/asset/AddToCartButton.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/AssetLibrary.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/asset/DetailsLib
  client/src/preview/components/cart/CartList.tsx
  client/src/preview/components/cart/ShoppingCart.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/preview/route/library/LibraryPreview.tsx
  client/src/preview/route/library/LibraryTabDataPreview.ts
  client/src/preview/store/CartAccess.ts
  client/src/preview/store/cart.slice.ts
  client/src/preview/util/LibraryAsset.ts
  client/src/routes.tsx
  client/src/store/store.ts
Due: Website

Working integration tests
  client/test/integration/jest.setup.ts
Due: Website

Fetch library assets from GitLab
  client/src/preview/components/asset/AddToCartButton.tsx
  client/src/preview/components/asset/Asset.ts
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/AssetLibrary.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/cart/CartList.tsx
  client/src/preview/components/cart/ShoppingCart.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/preview/route/library/LibraryPreview.tsx
  client/src/preview/store/CartAccess.ts
  client/src/preview/store/assets.slice.ts
  client/src/preview/store/cart.slice.ts
  client/src/preview/util/LibraryAsset.ts
  client/src/preview/util/gitlab.ts
  client/src/preview/util/init.ts
  client/src/routes.tsx
Due: Website

adds js-yaml and updated from PR feedback
  servers/lib/libms.yaml.sample
  servers/lib/package.json
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/config/config.model.ts
  servers/lib/src/config/config.module.ts
  servers/lib/src/config/config.service.ts
  servers/lib/src/config/util.ts
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/local/local-files.service.ts
  servers/lib/src/main.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/testUtil.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
  servers/lib/test/unit/git-files.service.unit.spec.ts
  servers/lib/test/unit/local-files.service.unit.spec.ts
  servers/lib/yarn.lock
Due: Lib Microservice

Add description and fullDescription in Library page
  client/src/preview/components/asset/AddToCartButton.tsx
  client/src/preview/components/asset/Asset.ts
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/cart/CartList.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/preview/store/CartAccess.ts
  client/src/preview/store/assets.slice.ts
  client/src/preview/store/cart.slice.ts
  client/src/preview/util/DTAssets.ts
  client/src/preview/util/LibraryAsset.ts
  client/src/preview/util/init.ts
  client/src/preview/util/libraryAsset.ts
Due: Website

Update ShoppingCart
  client/src/preview/components/asset/AddToCartButton.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/AssetLibrary.tsx
  client/src/preview/components/cart/ShoppingCart.tsx
Due: Website
