Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

minor update
  deploy/services/cli/dtaas_services/pkg/services/gitlab/personal_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_personal_token.py
Due: none

fixes bugs for users containers
  cli/dtaas.toml
  cli/pyproject.toml
  cli/src/pkg/users.py
  cli/tests/test_users.py
  cli/tests/test_utils.py
  cli/users.server.secure.yml
  cli/users.server.yml
Due: none

code suggestions + qlty
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/dtaas_services/pkg/services/gitlab/app_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/personal_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/setup.py
  deploy/services/cli/dtaas_services/pkg/services/postgres/user_management.py
  deploy/services/cli/dtaas_services/pkg/template.py
  deploy/services/cli/dtaas_services/templates/config/gitlab_oauth.json.template
  deploy/services/cli/tests/test_services/test_gitlab/test_app_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_personal_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_setup_steps.py
  deploy/services/cli/tests/test_template.py
Due: none

minor update
  cli/src/pkg/users.py
  cli/users.server.secure.yml
  cli/users.server.yml
Due: none

qlty issue
  deploy/services/cli/dtaas_services/pkg/services/gitlab/personal_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/users.py
Due: none

minor changes
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
Due: none

adapting changes from pr-1566
  .codecov.yml
  .github/workflows/client.yml
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/docs.yml
  .github/workflows/lib-ms.yml
  .github/workflows/lint-scripts.yml
  .github/workflows/platform-services-cli.yml
  .github/workflows/publish-npm.yml
  .github/workflows/python-cli.yml
  .github/workflows/python-reusable.yml
  .github/workflows/runner.yml
  .github/workflows/workspace.yml
  mkdocs-github.yml
  mkdocs.yml
  servers/execution/runner/tsconfig.json
  servers/lib/config/libms.dev.yaml
Due: Lib Microservice

fixes vulnerable + runner issue
  .github/workflows/python-reusable.yml
  servers/execution/runner/tsconfig.json
Due: none

Specifing compilerOption '"ignoreDeprecations": "6.0"'
  servers/execution/runner/tsconfig.json
Due: none

generate project command
  cli/README.md
  cli/pyproject.toml
  cli/src/cmd.py
  cli/src/pkg/project.py
  cli/src/templates/dtaas.toml
  cli/src/templates/users.server.secure.yml
  cli/src/templates/users.server.yml
  cli/tests/test_cmd.py
  cli/tests/test_project.py
  cli/tests/test_users.py
  cli/tests/test_utils.py
Due: none

updates yml file
  .github/workflows/python-reusable.yml
Due: none

workflow issue
  .github/workflows/platform-services-cli.yml
Due: none

fix artifact-path in workflow
  .github/workflows/platform-services-cli.yml
  .github/workflows/python-cli.yml
Due: none

applying suggestions
  .codecov.yml
  .github/workflows/client.yml
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/docs.yml
  .github/workflows/lib-ms.yml
  .github/workflows/lint-scripts.yml
  .github/workflows/publish-npm.yml
  .github/workflows/python-reusable.yml
  .github/workflows/workspace.yml
  mkdocs-github.yml
  mkdocs.yml
Due: none

workflow fix
  .github/workflows/python-reusable.yml
Due: none

removed docker from windows and mac
  .github/workflows/python-reusable.yml
Due: none

fixing path
  .github/workflows/python-reusable.yml
Due: none

applying suggestions
  .github/workflows/platform-services-cli.yml
  .github/workflows/python-reusable.yml
  cli/README.md
  cli/dtaas.toml
  cli/src/cmd.py
  cli/src/pkg/project.py
  cli/src/templates/dtaas.toml
  cli/tests/test_cmd.py
  cli/tests/test_project.py
Due: none

minor issue
  cli/tests/test_cmd.py
Due: none

test fix
  cli/tests/test_utils.py
Due: none

fixing workflow
  .github/workflows/python-reusable.yml
Due: none

fix: replace large LFS images with external URLs to resolve LFS budget
  docs/user/examples/automation/heart-dt/README.md
  docs/user/examples/automation/heart-dt/heart-dt.png
  docs/user/examples/automation/shm/README.md
  docs/user/examples/automation/shm/dt-workflow.png
Due: none

fix: replace Tiryoh/actions-mkdocs action with manual pip build steps
  .github/workflows/docs.yml
Due: none

fix: add env.js mount to docker-compose, restructure README, document lfs workaround
  .github/workflows/docs.yml
  client/README.md
  client/docker-compose.yml
Due: Website

docs: address second round of Copilot review comments
  client/README.md
  docs/admin/guides/self-signed-certs.md
  docs/user/examples/automation/mass-spring-damper/README.md
  docs/user/website/workspace.md
Due: Website

fix: convert examples images from LFS to regular git and fix CI LFS budget issue
  docs/user/examples/.gitattributes
  docs/user/examples/automation/mass-spring-damper/dt-structure.png
  docs/user/examples/automation/mass-spring-damper/mass-spring-damper_multibody_system.png
  docs/user/examples/lifecycle_workspace.png
  docs/user/examples/workspace/drobotti-rmqfmu/dt-structure.png
  docs/user/examples/workspace/drobotti-rmqfmu/system.png
  docs/user/examples/workspace/flex-cell/dt-structure.png
  docs/user/examples/workspace/flex-cell/physical-twin.jpg
  docs/user/examples/workspace/flex-cell/pt-dt-details.png
  docs/user/examples/workspace/incubator-NuRV-fmu-monitor-service/figures/dt-structure-nurv-fmu.png
  docs/user/examples/workspace/incubator-NuRV-monitor-validation/dt-structure.png
  docs/user/examples/workspace/incubator-NuRV-monitor-validation/incubator-NuRV-monitor-validation_plot.png
  docs/user/examples/workspace/incubator/figures/incubator_pt.png
  docs/user/examples/workspace/incubator/figures/visualization.png
  docs/user/examples/workspace/mass-spring-damper-monitor/dt-structure.png
  docs/user/examples/workspace/mass-spring-damper-monitor/mass-spring-damper-monitor_plot.png
  docs/user/examples/workspace/mass-spring-damper-monitor/mass-spring-damper_multibody_system.png
  docs/user/examples/workspace/mass-spring-damper/dt-structure.png
  docs/user/examples/workspace/mass-spring-damper/mass-spring-damper_multibody_system.png
  docs/user/examples/workspace/o5g/img/influx-dashboard.png
  docs/user/examples/workspace/o5g/img/o5g_digital_twin_architecture.png
  docs/user/examples/workspace/o5g/img/o5g_physical_twin_overview.png
  docs/user/examples/workspace/o5g/img/o5g_running_screenshot.png
  docs/user/examples/workspace/opc-ua-waterplant/images/ROM.png
  docs/user/examples/workspace/opc-ua-waterplant/images/conf-inputs.png
  docs/user/examples/workspace/opc-ua-waterplant/images/conf-parameters.png
  docs/user/examples/workspace/opc-ua-waterplant/images/config_json.png
  docs/user/examples/workspace/opc-ua-waterplant/images/dt-structure-uv_channel.png
  docs/user/examples/workspace/opc-ua-waterplant/images/water-treatment-plant.png
  docs/user/examples/workspace/three-tank/dt-structure.png
  docs/user/examples/workspace/three-tank/three-tank.png
  docs/user/examples/workspace/water_tank_FI/dt_structure.png
  docs/user/examples/workspace/water_tank_FI/watertank.png
  docs/user/examples/workspace/water_tank_FI_monitor/dt-structure.png
  docs/user/examples/workspace/water_tank_FI_monitor/water_tank_FI_monitor_plot.png
  docs/user/examples/workspace/water_tank_FI_monitor/watertank.png
  docs/user/examples/workspace/water_tank_swap/dt-structure.png
Due: none

docs: fix cd path in client README Nodejs Environment section
  client/README.md
Due: Website

docs: address issues #1524 and #1345
  client/README.md
  client/docker-compose.yml
  docs/FAQ.md
  docs/admin/guides/self-signed-certs.md
  docs/user/examples/automation/heart-dt-paas/README.md
  docs/user/examples/automation/heart-dt/README.md
  docs/user/examples/automation/index.md
  docs/user/examples/automation/mass-spring-damper/README.md
  docs/user/examples/automation/shm/README.md
  docs/user/website/workspace.md
  mkdocs-github.yml
  mkdocs.yml
Due: Website

docs: address Copilot review comments on PR #42
  client/README.md
  docs/admin/guides/self-signed-certs.md
  docs/user/website/workspace.md
Due: Website

fix: restore LFS hook with env-var bypass and update DOCKER.md
  .github/workflows/docs.yml
  client/DOCKER.md
  mkdocs-github.yml
  script/docs/mkdocs_hooks.py
Due: Website

fix: resolve markdownlint issues (line length, list style, link text)
  client/DOCKER.md
  docs/user/examples/automation/heart-dt-paas/README.md
  docs/user/examples/automation/heart-dt/README.md
  docs/user/examples/automation/mass-spring-damper/README.md
  docs/user/examples/automation/shm/README.md
  docs/user/examples/workspace/incubator-NuRV-monitor-validation/README.md
  docs/user/examples/workspace/mass-spring-damper-monitor/README.md
  docs/user/examples/workspace/water_tank_FI_monitor/README.md
Due: Website

Format
  client/src/model/backend/DTAssets.ts
  client/src/model/backend/util/init.ts
  client/src/route/config/Config.tsx
  client/src/util/auth/Authentication.ts
  client/test/unit/database/executionHistoryDB.test.ts
Due: Website

docs: add system prompts and rewrite docs in British academic style
  .prompts/code-quality.md
  .prompts/pr-review.md
  docs/FAQ.md
  docs/admin/dtaas/secure-server/install.md
  docs/admin/gitlab/runner-windows.md
  docs/admin/guides/self-signed-certs.md
  docs/admin/overview.md
  docs/admin/services/cli.md
  docs/admin/workspace/localhost/custom-user.md
  docs/admin/workspace/localhost/dex.md
  docs/admin/workspace/secure-server/configuration.md
  docs/admin/workspace/secure-server/design.md
  docs/admin/workspace/secure-server/install.md
  docs/developer/codebase/client-devops.md
  docs/developer/codebase/dtaas-services.md
  docs/developer/codebase/index.md
  docs/developer/codebase/publish-packages.md
  docs/developer/contributions/conduct.md
  docs/developer/contributions/github-actions.md
  docs/developer/contributions/local-testing.md
  docs/developer/contributions/npm-packages.md
  docs/developer/system/current-status.md
  docs/developer/system/research-overview.md
  docs/developer/technical-concepts/oauth-keycloak.md
  docs/developer/technical-concepts/oauth/authms.md
  docs/developer/technical-concepts/oauth/design.md
  docs/developer/technical-concepts/oauth/oauth2.0.md
  docs/developer/technical-concepts/testing.md
  docs/user/digital-twins/devops/concurrent-execution.md
  docs/user/digital-twins/devops/measurement.md
  docs/user/examples/automation/heart-dt-paas/README.md
  docs/user/examples/automation/heart-dt/README.md
  docs/user/examples/automation/mass-spring-damper/README.md
  docs/user/examples/automation/shm/README.md
  docs/user/examples/workspace/flex-cell/README.md
  docs/user/motivation.md
  docs/user/servers/lib/assets.md
  docs/user/website/settings.md
Due: none

Fixes mistakes in docs
  .github/workflows/docs.yml
  cli/DEVELOPER.md
  cli/README.md
  cli/dtaas.toml
  cli/tests/dtaas.test.toml
  cli/tests/test_users.py
  cli/tests/test_utils.py
  client/DOCKER.md
  client/README.md
  client/config/prod.js
  client/src/util/envUtil.ts
  client/test/README.md
  client/test/unit/util/Auth/Authentication.test.ts
  deploy/services/cli/GITLAB_INTEGRATION.md
  deploy/services/cli/dtaas_services/pkg/services/gitlab/_api.py
  deploy/services/runner/GITLAB-RUNNER.md
  deploy/services/runner/runner-config.toml
  deploy/workspace/keycloak/production/.env.example
  docs/admin/guides/renew_certs.md
  docs/admin/guides/self-signed-certs.md
  docs/admin/workspace/localhost/custom-user.md
  docs/admin/workspace/localhost/dex.md
  docs/user/digital-twins/devops/measurement.md
  docs/user/examples/.gitattributes
  docs/user/examples/automation/heart-dt/README.md
  docs/user/examples/automation/heart-dt/heart-dt.png
  docs/user/examples/automation/mass-spring-damper/README.md
  docs/user/examples/automation/shm/README.md
  docs/user/examples/automation/shm/dt-workflow.png
  docs/user/website/dtaas.md
  docs/user/website/images/workspace-login.png
  docs/user/website/images/workspace-logo.png
  docs/user/website/images/workspace-workbench.png
  docs/user/website/workspace.md
  docs/user/workspace_web.gif
  mkdocs-github.yml
  mkdocs.yml
  servers/execution/runner/api/workspace.api.http
Due: Website

Improved docs
  DOCS.md
  cli/README.md
  client/test/README.md
  deploy/services/cli/GITLAB_INTEGRATION.md
  deploy/services/cli/README.md
  docs/admin/cli.md
  docs/admin/dtaas/localhost/install.md
  docs/admin/dtaas/secure-server-gitlab/install.md
  docs/admin/dtaas/secure-server/install.md
  docs/admin/gitlab/index.md
  docs/admin/gitlab/integration.md
  docs/admin/overview.md
  docs/admin/packages.md
  docs/admin/services/cli.md
  docs/admin/workspace/localhost/install.md
  docs/admin/workspace/secure-server/install.md
  docs/user/website/dtaas.md
  docs/user/website/workspace.md
Due: Website

qlty formatting issues
  client/DEVELOPER.md
  deploy/workspace/dex/localhost/README.md
  deploy/workspace/keycloak/production/CONFIGURATION.md
  deploy/workspace/keycloak/production/KEYCLOAK_SETUP.md
  docs/admin/dtaas/localhost/install.md
  docs/admin/dtaas/secure-server-gitlab/install.md
  docs/admin/dtaas/secure-server/install.md
  docs/admin/workspace/localhost/install.md
  docs/admin/workspace/secure-server/install.md
Due: Website

clarify release package versions
  DOCS.md
  docs/admin/dtaas/localhost/install.md
  docs/admin/dtaas/secure-server-gitlab/install.md
  docs/admin/dtaas/secure-server/install.md
  docs/admin/gitlab/integration.md
  docs/admin/guides/localhost-on-portainer/install.md
  docs/admin/workspace/localhost/install.md
  docs/admin/workspace/secure-server/install.md
Due: none

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
