Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

Minor improvements to READMEs of examples
  docs/user/digital-twins/create.md
  docs/user/examples/mass-spring-damper/README.md
  docs/user/examples/water_tank_FI/README.md
  docs/user/examples/water_tank_swap/README.md
Due: none

Adds examples documentation (#193 and #212)
  docs/user/digital-twins/create.md
  docs/user/digital-twins/lifecycle.md
  docs/user/examples/examples.drawio
  docs/user/examples/index.md
  docs/user/examples/mass-spring-damper/README.md
  docs/user/examples/water_tank_FI/README.md
  docs/user/examples/water_tank_FI/dt_structure.png
  docs/user/examples/water_tank_FI/watertank.png
  docs/user/examples/water_tank_swap/README.md
  docs/user/examples/water_tank_swap/dt-structure.png
  docs/user/servers/lib/assets.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

publish job added and changed scope name
  .github/workflows/lib-ms.yml
  servers/lib/package.json
Due: Lib Microservice

reverted dtaas name back
  servers/lib/package.json
Due: Lib Microservice

Revert "reverted dtaas name back"
  servers/lib/package.json
Due: Lib Microservice

change to github_token
  .github/workflows/lib-ms.yml
Due: none

Adds gitlab SSO images
  docs/user/website/gitlab-sso-1.png
  docs/user/website/gitlab-sso-2.png
  docs/user/website/gitlab-sso-3.png
Due: none

Updates user documentation
  docs/FAQ.md
  docs/user/digital-twins/lifecycle.md
  docs/user/features.md
  docs/user/servers/lib/assets.md
  docs/user/website/index.md
Due: none

drobotti first draft - needs updates
  docs/user/examples/drobotti_rmqfmu/README.md
  docs/user/examples/drobotti_rmqfmu/dt-structure.png
  docs/user/examples/flex-cell/README.md
Due: none

Creates empty flex_cell example directory
  docs/user/examples/flex-cell/README.md
Due: none

flex cell first draft - needs updates
  docs/user/examples/drobotti_rmqfmu/README.md
  docs/user/examples/drobotti_rmqfmu/dt-structure.png
  docs/user/examples/flex-cell/README.md
  docs/user/examples/flex-cell/flex-cell.png
Due: none

Three tank first draft -updates needed
  docs/user/examples/three-tank/README.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Move stuff out of Library.tsx
  client/src/components/tab/TabComponent.tsx
  client/src/components/tab/subcomponents/TabRender.tsx
  client/src/route/library/Library.tsx
Due: Website

Updates admin docs and makes minor changes to other docs
  docs/admin/host.md
  docs/admin/overview.md
  docs/admin/single-host.png
  docs/admin/trial.md
  docs/admin/vagrant/base-box.md
  docs/admin/vagrant/basebox.png
  docs/admin/vagrant/single-machine.md
  docs/admin/vagrant/single-machine.png
  docs/admin/vagrant/two-machine-use-legend.png
  docs/admin/vagrant/two-machine.png
  docs/admin/vagrant/two-machines.md
  docs/developer/system/DTaaS.drawio
  docs/developer/testing/intro.md
  docs/developer/testing/testPyramid.png
  docs/user/digital-twins/lifecycle.md
  docs/user/examples/index.md
  docs/user/features.md
  docs/user/motivation.md
  docs/user/website/index.md
Due: none

Fix markdownlint issues
  docs/admin/host.md
  docs/admin/servers/lib/LIB-MS.md
  docs/admin/vagrant/base-box.md
  docs/admin/vagrant/single-machine.md
Due: none

fix markdownlint issues
  docs/FAQ.md
Due: none

Updates docs (#215)
  docs/FAQ.md
  docs/admin/host.md
  docs/admin/overview.md
  docs/admin/servers/lib/LIB-MS.md
  docs/admin/single-host.png
  docs/admin/trial.md
  docs/admin/vagrant/base-box.md
  docs/admin/vagrant/basebox.png
  docs/admin/vagrant/single-machine.md
  docs/admin/vagrant/single-machine.png
  docs/admin/vagrant/two-machine-use-legend.png
  docs/admin/vagrant/two-machine.png
  docs/admin/vagrant/two-machines.md
  docs/developer/system/DTaaS.drawio
  docs/developer/testing/intro.md
  docs/developer/testing/testPyramid.png
  docs/user/digital-twins/lifecycle.md
  docs/user/examples/index.md
  docs/user/features.md
  docs/user/motivation.md
  docs/user/servers/lib/assets.md
  docs/user/website/gitlab-sso-1.png
  docs/user/website/gitlab-sso-2.png
  docs/user/website/gitlab-sso-3.png
  docs/user/website/index.md
Due: none

docs for db3ac4a commit
  DTaaS-development.pdf
  development/FAQ.html
  development/admin/host.html
  development/admin/overview.html
  development/admin/servers/lib/LIB-MS.html
  development/admin/single-host.png
  development/admin/trial.html
  development/admin/vagrant/base-box.html
  development/admin/vagrant/basebox.png
  development/admin/vagrant/single-machine.html
  development/admin/vagrant/single-machine.png
  development/admin/vagrant/two-machine-use-legend.png
  development/admin/vagrant/two-machine.png
  development/admin/vagrant/two-machines.html
  development/developer/system/DTaaS.drawio
  development/developer/testing/intro.html
  development/developer/testing/testPyramid.png
  development/search/search_index.json
  development/sitemap.xml.gz
  development/user/digital-twins/lifecycle.html
  development/user/examples/index.html
  development/user/features.html
  development/user/motivation.html
  development/user/servers/lib/assets.html
  development/user/website/gitlab-sso-1.png
  development/user/website/gitlab-sso-2.png
  development/user/website/gitlab-sso-3.png
  development/user/website/index.html
Due: none

Adds skeleton code for MQTT service
  deploy/config/services/mqtt/config/mosquitto.conf
  deploy/config/services/mqtt/config/password
  deploy/config/services/mqtt/mosquitto-no-auth.conf
  deploy/vagrant/two-machine/mqtt.js
  deploy/vagrant/two-machine/services.yml
Due: none

add post install check and note
  docs/admin/host.md
  docs/admin/trial.md
Due: none

use node auth token
  .github/workflows/lib-ms.yml
Due: none

accept incoming changes
  servers/execution/runner/README.md
  servers/lib/README.md
Due: Lib Microservice

changed scope username to test publish
  .github/workflows/lib-ms.yml
  servers/lib/package.json
Due: Lib Microservice

change registry name
  servers/lib/package.json
Due: Lib Microservice

v0.2.1
  servers/lib/package.json
Due: Lib Microservice

v0.2.2
  servers/lib/package.json
Due: Lib Microservice

v0.2.6
  servers/lib/package.json
Due: Lib Microservice

test write permission to existing package
  .github/workflows/lib-ms.yml
Due: none

WIP
  deploy/config/services/mqtt/config/mosquitto.conf
  deploy/config/services/mqtt/config/password
  deploy/config/services/mqtt/mosquitto-no-auth.conf
  deploy/vagrant/two-machine/mqtt.js
  docs/FAQ.md
Due: none

Change in Layout and Tests
  client/src/components/tab/TabComponent.tsx
  client/src/route/library/LibraryTabData.ts
  client/test/unitTests/Components/TabComponent.test.tsx
  client/test/unitTests/Routes/Library.test.tsx
  client/test/unitTests/testUtils.tsx
Due: Website

changes for linting errors and tests
  client/src/components/tab/TabComponent.tsx
  client/src/components/tab/subcomponents/TabRender.tsx
  client/src/route/library/Library.tsx
  client/src/route/library/LibraryTabData.ts
  client/test/unitTests/Components/TabComponent.test.tsx
  client/test/unitTests/Routes/DigitalTwins.test.tsx
  client/test/unitTests/Routes/Library.test.tsx
  client/test/unitTests/testUtils.tsx
Due: Website

updating code
  client/src/components/tab/TabComponent.tsx
Due: Website

changed registry and specified owner to test publish public
  .github/workflows/lib-ms.yml
  servers/lib/package.json
Due: Lib Microservice

added secret to repo in github and changed token
  .github/workflows/lib-ms.yml
  servers/lib/package.json
Due: Lib Microservice

added environment secret to github repo
  .github/workflows/lib-ms.yml
Due: none

added permissions to the github action
  .github/workflows/lib-ms.yml
Due: none

use always authenticate with yarn
  .github/workflows/lib-ms.yml
Due: none

removed publishconfig, setupnode set the registry
  .github/workflows/lib-ms.yml
  servers/lib/package.json
Due: Lib Microservice
