Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Update .mdl_style.rb
  .mdl_style.rb
Due: none

Doc update6
  LICENSE.md
  client/LICENSE.md
  client/test/README.md
  deploy/README.md
  deploy/vagrant/two-machine/README.md
  docs/FAQ.md
  docs/LICENSE.md
  docs/PUBLISH.md
  docs/admin/client/CLIENT.md
  docs/admin/client/auth.md
  docs/admin/servers/lib/LIB-MS.md
  docs/user/digital-twins/create.md
  docs/user/examples/incubator/README.md
  docs/user/servers/lib/LIB-MS.md
  docs/user/servers/lib/assets.md
  docs/user/website/index.md
  servers/execution/runner/LICENSE.md
  servers/lib/LICENSE.md
  servers/lib/README.md
  ssl/README.md
Due: Website, Lib Microservice

working commit
  client/.madgerc
  client/package.json
  client/script/clean.bash
  client/script/graph.bash
  docs/developer/client/client.md
  docs/developer/client/src.svg
  docs/developer/client/test.svg
  docs/developer/servers/lib/src-dep-graph.svg
  script/env.sh
  servers/execution/runner/package.json
  servers/execution/runner/script/clean.bash
  servers/execution/runner/script/graph.bash
  servers/lib/package.json
  servers/lib/script/clean.bash
  servers/lib/script/graph.bash
Due: Website, Lib Microservice

working commit
  client/README.md
  client/script/graph.bash
  docs/developer/client/client.md
  docs/developer/servers/lib/lib-ms.md
  docs/developer/servers/lib/src-dep-graph.svg
  docs/developer/servers/lib/src.svg
  docs/developer/servers/lib/test.svg
  docs/user/digital-twins/lifecycle.md
  servers/execution/runner/.madgerc
  servers/execution/runner/README.md
  servers/execution/runner/script/graph.bash
  servers/lib/.madgerc
  servers/lib/README.md
  servers/lib/script/graph.bash
Due: Website, Lib Microservice

working commit
  docs/FAQ.md
  docs/user/digital-twins/create.md
  docs/user/motivation.md
  docs/user/website/index.md
  files/README.md
Due: none

Fix broken links
  .github/workflows/docs.yml
  STATUS.md
  docs/admin/client/auth.md
  docs/admin/services.md
  docs/developer/index.md
  docs/developer/system/architecture.md
  docs/developer/testing/intro.md
  docs/index.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Fixes broken links (#120)
  .github/workflows/docs.yml
  STATUS.md
  docs/admin/client/auth.md
  docs/admin/services.md
  docs/developer/index.md
  docs/developer/system/architecture.md
  docs/developer/testing/intro.md
  docs/index.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Fixed ESlint errors and updated all the packages
  servers/lib/package.json
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/gitlab-files.service.ts
  servers/lib/src/files/services/local-files.service.ts
Due: Lib Microservice

Removed packageManger error
  servers/lib/package.json
Due: Lib Microservice

Removed package error
  servers/lib/package.json
Due: Lib Microservice

Peer error
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

Merge 2
  mkdocs-github.yml
Due: none

"Merge Conflicts Resolution"
  client/README.md
  docs/developer/system/architecture.md
  docs/user/digital-twins/create.md
  docs/user/digital-twins/lifecycle.md
  files/README.md
Due: Website

Sync
  docs/developer/system/architecture.png
  docs/developer/system/c4l1.png
  docs/developer/system/c4l3.png
  docs/developer/system/client.md
  docs/developer/system/lib-ms.md
  docs/developer/system/package-diagram.png
Due: none

Sync2
  docs/developer/system/architecture.png
Due: none

Added graphql-scalars version
  servers/lib/package.json
Due: Lib Microservice

Doc Issues 8
  client/LICENSE.md
  client/test/README.md
  docs/LICENSE.md
  docs/admin/client/CLIENT.md
  docs/admin/servers/lib/LIB-MS.md
  docs/admin/services.md
  docs/developer/index.md
  docs/developer/servers/lib/lib-ms.md
  docs/developer/system/architecture.md
  docs/developer/system/current-status.md
  docs/developer/testing/intro.md
  docs/index.md
  docs/user/digital-twins/create.md
  docs/user/features.md
  docs/user/motivation.md
  docs/user/servers/lib/LIB-MS.md
  docs/user/website/index.md
  servers/execution/runner/LICENSE.md
  servers/lib/LICENSE.md
Due: Website, Lib Microservice

Doc Issues 9
  docs/FAQ.md
  docs/developer/index.md
  docs/developer/testing/intro.md
  docs/user/digital-twins/create.md
  docs/user/features.md
  docs/user/servers/lib/LIB-MS.md
Due: none

Updates npm packages of lib microservice (#112)
  servers/lib/package.json
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/gitlab-files.service.ts
  servers/lib/src/files/services/local-files.service.ts
  servers/lib/yarn.lock
Due: Lib Microservice

Adds security policy
  .github/dependabot.yml
Due: none

Adds dependabot config and security policy
  .github/dependabot.yml
  SECURITY.md
Due: none

Adds dependabot config and updates runner dependencies (#124)
  .github/dependabot.yml
  SECURITY.md
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
Due: none

added -config cl-utility and libms command
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

Updates dependabot configuration
  .github/dependabot.yml
  client/script/clean.bash
  servers/execution/runner/script/clean.bash
  servers/lib/script/clean.bash
Due: Website, Lib Microservice

Updates dependabot configuration (#139)
  .github/dependabot.yml
  client/script/clean.bash
  servers/execution/runner/script/clean.bash
  servers/lib/script/clean.bash
Due: Website, Lib Microservice

really added -config cl-utility
  servers/lib/src/main.ts
Due: Lib Microservice

small undo
  servers/lib/src/main.ts
Due: Lib Microservice

small typo fix
  servers/lib/src/main.ts
Due: Lib Microservice

removed console.error because of no-console rule
  servers/lib/src/main.ts
Due: Lib Microservice

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
