Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

reset after test
  client/dummy.ts
  servers/execution/runner/dummy.js
  servers/lib/dummy.md
Due: Website, Lib Microservice

test git hooks
  client/dummy.ts
  servers/execution/runner/dummy.js
  servers/lib/dummy.md
Due: Website, Lib Microservice

reset after test
  githook_test.sh
  githook_test_log.txt
Due: none

reset after test
  githook_test.sh
Due: none

test and log done
  githook_test.sh
  githook_test_log.txt
Due: none

added new githook script and updated guide
  .pre-commit-config.yaml
  docs/developer/index.md
  script/setup-git-hooks.sh
Due: none

changed dev.js to original
  client/config/dev.js
Due: Website

upgraded outdated packages
  client/package.json
  client/yarn.lock
Due: Website

comment out lib test hook
  .pre-commit-config.yaml
Due: none

changed names and removed comments
  client/src/components/tab/TabComponent.tsx
  client/src/route/auth/AccountTabs.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/route/library/Library.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
Due: Website

removed comments
  client/test/unitTests/testUtils.tsx
Due: Website

changed dev.js, yarn format
  client/config/dev.js
  client/src/components/tab/TabComponent.tsx
Due: Website

formatting
  docs/admin/guides/link_service.md
  docs/admin/host.md
  docs/admin/trial.md
Due: none

formatting
  docs/admin/guides/link_service.md
Due: none

added mongodb setup to services
  deploy/services/services.js
  deploy/services/services.yml
Due: none

changes ssh server
  docs/admin/guides/link_service.md
Due: none

updated labels for guides documentation
  mkdocs-github.yml
  mkdocs.yml
Due: none

refactored yarn lock #296
  deploy/services/yarn.lock
Due: none

Cleans up docs and fixes services.js script
  deploy/services/services.js
  deploy/services/services.yml
  deploy/vagrant/make_boxes/dtaas/README.md
  docs/admin/client/auth.md
  docs/admin/guides/add_service.md
  docs/admin/guides/add_user.md
  docs/admin/guides/common_workspace_readonly.md
  docs/admin/guides/hosting_site_without_https.md
  docs/admin/guides/link_service.md
  docs/admin/guides/update_basepath.md
  docs/admin/host.md
  docs/admin/trial.md
  docs/admin/vagrant/base-box.md
  docs/bugs.md
  docs/user/digital-twins/lifecycle-four-stages.png
Due: none

Set mongodb container version
  deploy/services/services.js
  docs/admin/guides/add_service.md
Due: none

Adds mongodb to docker pull list
  deploy/vagrant/make_boxes/dtaas/user.sh
  script/docker.sh
Due: none

Fix codeclimate issues
  deploy/vagrant/make_boxes/dtaas/README.md
  docs/admin/guides/common_workspace_readonly.md
  docs/admin/guides/link_service.md
  docs/admin/vagrant/base-box.md
Due: none

Swap ml-workspace container and improve docs (#300)
  deploy/install.sh
  deploy/services/services.js
  deploy/services/services.yml
  deploy/services/yarn.lock
  deploy/single-script-install.sh
  deploy/vagrant/make_boxes/dtaas/README.md
  deploy/vagrant/make_boxes/dtaas/user.sh
  docs/admin/client/CLIENT.md
  docs/admin/client/auth.md
  docs/admin/guides/add_service.md
  docs/admin/guides/add_user.md
  docs/admin/guides/common_workspace_readonly.md
  docs/admin/guides/hosting_site_without_https.md
  docs/admin/guides/link_service.md
  docs/admin/guides/open_terminal_in_workspace.gif
  docs/admin/guides/update_basepath.md
  docs/admin/host.md
  docs/admin/overview.md
  docs/admin/trial.md
  docs/admin/vagrant/base-box.md
  docs/bugs.md
  docs/user/digital-twins/lifecycle-four-stages.png
  mkdocs-github.yml
  mkdocs.yml
  script/docker.sh
Due: none

Initial setup of cloudcms
  servers/lib/package.json
  servers/lib/src/bootstrap.ts
  servers/lib/yarn.lock
Due: Lib Microservice

Added config file for cloudcmd
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd.config.ts
Due: Lib Microservice

Adds yarn clean command to package.json of services.
  deploy/services/package.json
Due: none

Trying to set up socket.io server as a provider for NestJS
  servers/lib/package.json
  servers/lib/src/adapters/socket-io-adapter.ts
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/events/events.gateway.ts
  servers/lib/src/events/events.module.ts
  servers/lib/yarn.lock
Due: Lib Microservice

minor fix in docs
  docs/admin/host.md
Due: none

Fixes code in TabComponent
  .gitignore
  client/src/components/tab/TabComponent.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
  client/test/unitTests/testUtils.tsx
Due: Website

Resolve merge conflicts
  .gitignore
Due: none
