Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

minor update
  cli/src/pkg/users.py
Due: none

updates gitlab image + minor updates to oauth
  deploy/services/cli/dtaas_services/pkg/services/gitlab/app_token.py
  deploy/services/cli/dtaas_services/templates/compose.gitlab.yml
  deploy/services/cli/dtaas_services/templates/config/gitlab_oauth.json
  deploy/services/cli/dtaas_services/templates/config/services.env.template
  deploy/services/cli/tests/test_services/test_gitlab/test_app_token.py
Due: none

Add required gifs to docs
  README.md
  docs/user/dtaas-user_4x.gif
Due: none

Add required gifs to docs
  README.md
Due: none

code to add multimedia properly in docs
  DOCS.md
  docs/developer/contributions/local-testing.md
  mkdocs-github.yml
  mkdocs.yml
  script/docs/mkdocs_hooks.py
Due: none

Adds pngs w.r.t git lfs
  docs/user/digital-twins/devops/images/measurement-page.png
  docs/user/digital-twins/devops/images/measurement-running.png
  docs/user/digital-twins/devops/images/measurement-settings.png
Due: none

resolve minor quality issues
  DOCS.md
  README.md
  docs/admin/client/config.md
  docs/admin/gitlab/index.md
  docs/admin/guides/add_user.md
  docs/admin/guides/remove_user.md
  docs/user/digital-twins/devops/images/measurement-download-options.png
  mkdocs-github.yml
  mkdocs.yml
  script/docs/mkdocs_hooks.py
Due: none

resolve minor quality issues
  script/docs/mkdocs_hooks.py
Due: none

fixes job
  .github/workflows/python-reusable.yml
Due: none

fix: rename compose.dev.yml and update docker setup
  client/DEVELOPER.md
  docker/README.md
  docker/docker-compose.yml
Due: Website

ci: add release packages workflow
  .github/workflows/release-packages.yml
Due: none

fix: correct zip structure and reduce artifact retention to 2 days
  .github/workflows/release-packages.yml
Due: none

fix naming conventions and improves client docs
  client/DEVELOPER.md
  client/DOCKER.md
  client/README.md
  docker/.env.example
  docker/README.md
  docker/conf.dev.example
Due: Website

remove stale docs
  deploy/services/cli.md
Due: none

Restructure developer docker environment
  developer/DOCKER-ENV.md
  developer/README.md
  developer/client.built.dockerfile
  developer/client.dockerfile
  developer/config/.env.example
  developer/config/conf.dev.example
  developer/config/libms.dev.yaml.example
  developer/config/local.js.example
  developer/developer-docker.png
  developer/docker-compose.yml
  developer/files/README.md
  developer/files/common/data/.gitkeep
  developer/files/common/digital_twins/.gitkeep
  developer/files/common/functions/.gitkeep
  developer/files/common/models/.gitkeep
  developer/files/common/tools/.gitkeep
  developer/files/template/data/.gitkeep
  developer/files/template/digital_twins/.gitkeep
  developer/files/template/functions/.gitkeep
  developer/files/template/models/.gitkeep
  developer/files/template/tools/.gitkeep
  developer/libms.dockerfile
  developer/libms.npm.dockerfile
  files/user1/data/.gitkeep
  files/user1/digital_twins/.gitkeep
  files/user1/functions/.gitkeep
  files/user1/models/.gitkeep
  files/user1/tools/.gitkeep
  files/user2/data/.gitkeep
  files/user2/digital_twins/.gitkeep
  files/user2/functions/.gitkeep
  files/user2/models/.gitkeep
  files/user2/tools/.gitkeep
Due: none

updating URI
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/dtaas_services/pkg/services/gitlab/app_token.py
  deploy/services/cli/dtaas_services/templates/config/gitlab_oauth.json
  deploy/services/cli/tests/test_services/test_gitlab/test_app_token.py
Due: none

fix: remove DTAAS_DIR and update docker→developer references
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  client/DEVELOPER.md
  developer/DOCKER-ENV.md
  developer/README.md
  developer/config/.env.example
  developer/docker-compose.yml
  docs/developer/contributions/docker.md
  servers/lib/DEVELOPER.md
  servers/lib/compose.lib.dev.yml
Due: Website, Lib Microservice

fix: restore consistent client config values in local.js
  client/config/local.js
Due: Website

fix: use absolute paths in pm2.config.cjs for reliable startup
  servers/lib/pm2.config.cjs
Due: Lib Microservice

fix: update lib-ms CI to use developer/files path
  .github/workflows/lib-ms.yml
Due: none

fix: use relative args in pm2.config.cjs to avoid path doubling
  servers/lib/pm2.config.cjs
Due: Lib Microservice

fix: restore user1 and user2 directories in developer/files
  developer/files/user1/data/.gitkeep
  developer/files/user1/digital_twins/.gitkeep
  developer/files/user1/functions/.gitkeep
  developer/files/user1/models/.gitkeep
  developer/files/user1/tools/.gitkeep
  developer/files/user2/data/.gitkeep
  developer/files/user2/digital_twins/.gitkeep
  developer/files/user2/functions/.gitkeep
  developer/files/user2/models/.gitkeep
  developer/files/user2/tools/.gitkeep
Due: none

fix: clean up developer config, gitignore, and compose commands
  .gitignore
  developer/DOCKER-ENV.md
  developer/README.md
  developer/config/.env.example
Due: none

ci: disable LFS checkout in client and lib-ms workflows
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
Due: none

ci: disable LFS checkout in docs workflow
  .github/workflows/docs.yml
Due: none

ci: revert docs LFS setting to true
  .github/workflows/docs.yml
Due: none

gitignore update
  .gitignore
Due: none

fix mistakes in developer setup and docker files
  developer/DOCKER-ENV.md
  developer/README.md
  developer/config/client.js.example
  developer/docker-compose.yml
  developer/libms.dockerfile
  developer/libms.npm.dockerfile
Due: none

fix libms graphql query issue
  developer/docker-compose.yml
Due: none

fix(lib): mount developer/files in compose.lib.dev.yml
  servers/lib/compose.lib.dev.yml
Due: Lib Microservice

ci: disable LFS in docs workflow and remove LFS hook from mkdocs-github.yml
  .github/workflows/docs.yml
  mkdocs-github.yml
Due: none

setting lfs: false
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/publish-npm.yml
  .github/workflows/release-packages.yml
  .github/workflows/runner.yml
  .github/workflows/workspace.yml
Due: none

PAT via API
  deploy/services/cli/dtaas_services/pkg/services/gitlab/app_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/personal_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/setup.py
  deploy/services/cli/tests/test_services/test_gitlab/test_personal_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_setup_steps.py
Due: none

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
