Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

fix mistake in runner workflow
  .github/workflows/runner.yml
Due: none

fix mistake in runner workflow
  .github/workflows/runner.yml
  docs/developer/github-actions.md
Due: none

fix minor mistakes
  docs/admin/guides/localhost_portainer.md
  docs/developer/github-actions.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Add portainer-based GUI guide for localhost (#1037 and #1039)
  docs/admin/guides/localhost_portainer.md
  docs/admin/guides/portainer_dashboard.png
  docs/admin/guides/portainer_env.PNG
  docs/admin/guides/portainer_stacks.png
  docs/developer/github-actions.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

upgrades based on dependabot
  servers/lib/package.json
Due: Lib Microservice

improve runner workflow
  .github/workflows/runner.yml
Due: none

updates version for runner
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/package.json
  servers/execution/runner/src/config/commander.ts
Due: none

removes redundant files
  .eslintignore
  .eslintrc
  yarn.lock
Due: none

adds dummy changes to trigger CI checks
  client/DEVELOPER.md
  servers/lib/DEVELOPER.md
Due: Website, Lib Microservice

adds dummy changes to trigger CI checks
  servers/lib/DEVELOPER.md
Due: Lib Microservice

updates codeclimate config
  .codeclimate.yml
  .eslintrc
Due: none

reverts changes to client
  client/DEVELOPER.md
Due: Website

disables eslint rule for service.js script
  deploy/services/services.js
Due: none

Fix runner version and upgrade runner dependencies (#1042)
  .codeclimate.yml
  .eslintignore
  deploy/services/services.js
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/package.json
  servers/execution/runner/src/config/commander.ts
  servers/execution/runner/yarn.lock
  yarn.lock
Due: none

adds npm for handling git
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

adds logging
  servers/lib/src/bootstrap.ts
Due: Lib Microservice

adds git file service and tests
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/test/testUtil.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/git-files.service.unit.spec.ts
Due: Lib Microservice

Python venv
  script/env.ps1
Due: none

docker-compose and nvm
  script/base.ps1
Due: none

adds localFileService To git service
  servers/lib/src/files/git/git-files.module.ts
Due: Lib Microservice

Type in apt-get
  script/base.sh
Due: none

Start create page
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/create/CreateDialogs.tsx
  client/src/preview/route/digitaltwins/create/CreateTab.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/EditorTab.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/file.slice.ts
  client/src/preview/util/gitlabDigitalTwin.ts
Due: Website

Apply changes and refactor
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/create/ChangeFileNameDialog.tsx
  client/src/preview/route/digitaltwins/create/ConfirmDeleteDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/create/FileActionButtons.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/editor/SidebarDialog.tsx
  client/src/preview/route/digitaltwins/editor/sidebarFunctions.tsx
  client/src/preview/route/digitaltwins/execute/LogDialog.tsx
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/digitalTwin.slice.ts
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/digitalTwinUtils.ts
  client/src/preview/util/file.ts
  client/src/preview/util/init.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/integration/route/digitaltwins/manage/utils.ts
Due: Website

Move field for DT name
  client/src/preview/route/digitaltwins/editor/Editor.tsx
Due: Website

Refactor Create dialogs
  client/src/preview/route/digitaltwins/create/ChangeFileNameDialog.tsx
  client/src/preview/route/digitaltwins/create/ConfirmDeleteDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDialogs.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/create/DeleteFileDialog.tsx
Due: Website

Refactor CreatePage
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/create/CreateDialogs.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/util/digitalTwinUtils.ts
  client/src/preview/util/gitlabDigitalTwin.ts
Due: Website

Fix codeclimate issues
  client/src/preview/route/digitaltwins/create/ChangeFileNameDialog.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/editor/sidebarFunctions.tsx
Due: Website

Refactor CreatePage
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/create/ChangeFileNameDialog.tsx
  client/src/preview/route/digitaltwins/create/ConfirmDeleteDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDialogs.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/create/DeleteFileDialog.tsx
Due: Website

Refactor gitlabDigitalTwin
  client/src/preview/util/digitalTwinUtils.ts
  client/src/preview/util/gitlabDigitalTwin.ts
Due: Website

Fix codeclimate issue (gitlabDigitalTwin)
  client/src/preview/util/digitalTwinUtils.ts
  client/src/preview/util/gitlabDigitalTwin.ts
Due: Website

Little fix
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/create/CreateDialogs.tsx
  client/src/preview/route/digitaltwins/create/CreateTab.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/file.slice.ts
  client/src/preview/util/gitlabDigitalTwin.ts
Due: Website

Fix codeclimate issues
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
Due: Website

Fix reconfigure
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/EditorTab.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/file.slice.ts
Due: Website

Complete start page
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/create/CreateDialogs.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/EditorTab.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/store/file.slice.ts
  client/src/preview/util/gitlabDigitalTwin.ts
Due: Website

Remove duplication from files reducers
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/create/ConfirmDeleteDialog.tsx
  client/src/preview/route/digitaltwins/editor/EditorTab.tsx
  client/src/preview/route/digitaltwins/editor/SidebarDialog.tsx
  client/src/preview/route/digitaltwins/editor/sidebarFunctions.tsx
  client/src/preview/store/file.slice.ts
  client/src/preview/util/file.ts
Due: Website

Fix codeclimate issues
  client/src/preview/route/digitaltwins/create/ChangeFileNameDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/editor/sidebarFunctions.ts
  client/src/preview/store/file.slice.ts
Due: Website

Refactor Sidebar
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/editor/sidebarFunctions.ts
Due: Website

Apply requested changes
  client/src/preview/route/digitaltwins/DigitalTwinTabDataPreview.ts
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/create/ChangeFileNameDialog.tsx
  client/src/preview/route/digitaltwins/create/ConfirmDeleteDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/create/FileActionButtons.tsx
  client/src/preview/route/digitaltwins/editor/sidebarFunctions.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/util/digitalTwinUtils.ts
  client/src/preview/util/fileHandler.ts
  client/src/preview/util/fileUtils.ts
  client/src/preview/util/ifile.ts
  client/src/preview/util/init.ts
Due: Website
