Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

upgrade client version
  SECURITY.md
  client/package.json
Due: Website

adds templates dir + updates gitlab doc
  .gitignore
  deploy/services/cli/INTEGRATION.md
  deploy/services/cli/README.md
  deploy/services/cli/build.py
  deploy/services/cli/dtaas_services/pkg/template.py
  deploy/services/cli/pyproject.toml
  deploy/services/cli/templates/certs/.gitkeep
  deploy/services/cli/templates/compose.gitlab.yml
  deploy/services/cli/templates/compose.services.secure.yml
  deploy/services/cli/templates/compose.thingsboard.secure.yml
  deploy/services/cli/templates/config/credentials.csv.template
  deploy/services/cli/templates/config/gitlab/.gitkeep
  deploy/services/cli/templates/config/influxdb/.gitkeep
  deploy/services/cli/templates/config/mongod.conf.secure
  deploy/services/cli/templates/config/rabbitmq.conf
  deploy/services/cli/templates/config/rabbitmq.enabled_plugins
  deploy/services/cli/templates/config/services.env.template
  deploy/services/cli/templates/data/gitlab/.gitkeep
  deploy/services/cli/templates/data/grafana/.gitkeep
  deploy/services/cli/templates/data/influxdb/.gitkeep
  deploy/services/cli/templates/data/mongodb/.gitkeep
  deploy/services/cli/templates/data/postgres/.gitkeep
  deploy/services/cli/templates/data/rabbitmq/.gitkeep
  deploy/services/cli/templates/data/thingsboard/.gitkeep
  deploy/services/cli/templates/log/gitlab/.gitkeep
  deploy/services/cli/templates/log/thingsboard/.gitkeep
  deploy/services/cli/tests/test_template.py
  deploy/services/config/gitlab/.gitkeep
  deploy/services/data/gitlab/.gitkeep
  deploy/services/log/gitlab/.gitkeep
Due: none

removes unused directories
  deploy/services/cli/build.py
  deploy/services/compose.gitlab.yml
  deploy/services/compose.services.secure.yml
  deploy/services/compose.thingsboard.secure.yml
  deploy/services/config/.gitkeep
  deploy/services/config/credentials.csv.template
  deploy/services/config/gitlab/.gitkeep
  deploy/services/config/influxdb/.gitkeep
  deploy/services/config/mongod.conf.secure
  deploy/services/config/rabbitmq.conf
  deploy/services/config/rabbitmq.enabled_plugins
  deploy/services/config/services.env.template
  deploy/services/data/gitlab/.gitkeep
  deploy/services/data/grafana/.gitkeep
  deploy/services/data/influxdb/.gitkeep
  deploy/services/data/mongodb/.gitkeep
  deploy/services/data/rabbitmq/.gitkeep
  deploy/services/data/thingsboard/.gitkeep
  deploy/services/gitlab/.env
  deploy/services/gitlab/.gitignore
  deploy/services/gitlab/README.md
  deploy/services/gitlab/compose.gitlab.yml
  deploy/services/gitlab/config/.gitkeep
  deploy/services/gitlab/data/.gitkeep
  deploy/services/gitlab/logs/.gitkeep
  deploy/services/log/gitlab/.gitkeep
  deploy/services/log/thingsboard/.gitkeep
Due: none

Secure volume mappings
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/templates/compose.services.secure.yml
  deploy/services/cli/templates/compose.thingsboard.secure.yml
  deploy/services/cli/templates/config/rabbitmq/rabbitmq.conf
  deploy/services/cli/templates/config/rabbitmq/rabbitmq.enabled_plugins
Due: none

yaml-lines
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/python-reusable.yml
  deploy/services/cli/dtaas_services/commands/service_ops.py
Due: none

fixing warning
  .github/workflows/docker-dockerhub.yml
Due: none

ignoring line (security issue)
  .github/workflows/docker-dockerhub.yml
Due: none

renames compose + reuse hostname + minor updates
  .gitignore
  cli/DEVELOPER.md
  cli/README.md
  deploy/services/certs/services.foo.com/.gitkeep
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/GITLAB_INTEGRATION.md
  deploy/services/cli/README.md
  deploy/services/cli/dtaas_services/commands/service_ops.py
  deploy/services/cli/dtaas_services/pkg/cert.py
  deploy/services/cli/dtaas_services/pkg/lib/initialization.py
  deploy/services/cli/dtaas_services/pkg/lib/utils.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/_api.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/app_token.py
  deploy/services/cli/dtaas_services/pkg/template.py
  deploy/services/cli/templates/compose.gitlab.yml
  deploy/services/cli/templates/compose.services.yml
  deploy/services/cli/templates/compose.thingsboard.yml
  deploy/services/cli/templates/config/services.env.template
  deploy/services/cli/tests/config/services.env
  deploy/services/cli/tests/test_lib/test_cleanup.py
  deploy/services/cli/tests/test_lib/test_utils.py
  deploy/services/cli/tests/test_services/test_gitlab/test_app_token.py
  deploy/services/cli/tests/test_template.py
Due: none

adds components + enable import error
  .codecov.yml
  .pylintrc
  deploy/services/cli/dtaas_services/pkg/lib/initialization.py
  deploy/services/cli/dtaas_services/pkg/lib/status.py
  deploy/services/cli/dtaas_services/pkg/lib/utils.py
Due: none

type issue
  deploy/services/cli/dtaas_services/pkg/lib/initialization.py
  deploy/services/cli/dtaas_services/pkg/lib/status.py
Due: none

non-blocking gitlab installation
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/README.md
  deploy/services/cli/conftest.py
  deploy/services/cli/dtaas_services/commands/setup_ops.py
  deploy/services/cli/dtaas_services/pkg/formatter.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/__init__.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/health.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/setup.py
  deploy/services/cli/dtaas_services/pkg/services/influxdb/influxdb.py
  deploy/services/cli/dtaas_services/pkg/services/mongodb.py
  deploy/services/cli/dtaas_services/pkg/services/postgres/postgres.py
  deploy/services/cli/dtaas_services/pkg/services/rabbitmq.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/permissions.py
  deploy/services/cli/templates/compose.gitlab.yml
  deploy/services/cli/templates/config/services.env.template
  deploy/services/cli/tests/test_commands/test_setup_ops.py
  deploy/services/cli/tests/test_formatter.py
  deploy/services/cli/tests/test_services/test_gitlab/test_health.py
  deploy/services/cli/tests/test_services/test_gitlab/test_setup.py
Due: none

Adds users PAT
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/README.md
  deploy/services/cli/dtaas_services/pkg/services/gitlab/personal_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/users.py
  deploy/services/cli/tests/test_formatter.py
  deploy/services/cli/tests/test_services/test_gitlab/test_personal_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_users.py
Due: none

uses python-gitlab
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/README.md
  deploy/services/cli/dtaas_services/commands/setup_ops.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/_api.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/app_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/password.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/personal_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/users.py
  deploy/services/cli/poetry.lock
  deploy/services/cli/pyproject.toml
  deploy/services/cli/tests/test_services/test_gitlab/test_api.py
  deploy/services/cli/tests/test_services/test_gitlab/test_app_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_password.py
  deploy/services/cli/tests/test_services/test_gitlab/test_personal_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_users.py
Due: none

minor issues
  deploy/services/cli/dtaas_services/pkg/services/gitlab/app_token.py
  deploy/services/cli/templates/compose.services.yml
  deploy/services/cli/templates/config/services.env.template
  deploy/services/cli/tests/test_lib/test_utils.py
  deploy/services/cli/tests/test_services/test_gitlab/test_app_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_password.py
  deploy/services/cli/tests/test_services/test_gitlab/test_personal_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_users.py
Due: none

refactor + minor issues
  deploy/services/cli/dtaas_services/commands/service_ops.py
  deploy/services/cli/dtaas_services/commands/setup_ops.py
  deploy/services/cli/dtaas_services/commands/utility.py
  deploy/services/cli/dtaas_services/pkg/lib/status.py
  deploy/services/cli/dtaas_services/pkg/lib/utils.py
  deploy/services/cli/dtaas_services/pkg/password_store.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/health.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/users.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/checker.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/tb_utility.py
  deploy/services/cli/dtaas_services/pkg/template.py
  deploy/services/cli/dtaas_services/pkg/utils.py
  deploy/services/cli/templates/compose.services.yml
  deploy/services/cli/templates/compose.thingsboard.yml
  deploy/services/cli/tests/test_commands/test_setup_ops.py
  deploy/services/cli/tests/test_lib/conftest.py
  deploy/services/cli/tests/test_lib/test_manager.py
  deploy/services/cli/tests/test_lib/test_status.py
  deploy/services/cli/tests/test_lib/test_utils.py
  deploy/services/cli/tests/test_services/test_gitlab/test_health.py
  deploy/services/cli/tests/test_services/test_thingsboard/conftest.py
  deploy/services/cli/tests/test_services/test_thingsboard/test_reset_password.py
  deploy/services/cli/tests/test_services/test_thingsboard/test_setup.py
  deploy/services/cli/tests/test_utils.py
Due: none

validating gitlab inputs
  deploy/services/cli/dtaas_services/commands/setup_ops.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/personal_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/users.py
  deploy/services/cli/tests/test_services/test_gitlab/test_personal_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_users.py
Due: none

restructuring validators
  deploy/services/cli/dtaas_services/pkg/services/gitlab/users.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/validators.py
  deploy/services/cli/tests/test_services/test_gitlab/test_validators.py
Due: none

removes build.py
  .gitignore
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/build.py
  deploy/services/cli/dtaas_services/templates/certs/.gitkeep
  deploy/services/cli/dtaas_services/templates/compose.gitlab.yml
  deploy/services/cli/dtaas_services/templates/compose.services.yml
  deploy/services/cli/dtaas_services/templates/compose.thingsboard.yml
  deploy/services/cli/dtaas_services/templates/config/credentials.csv.template
  deploy/services/cli/dtaas_services/templates/config/gitlab/.gitkeep
  deploy/services/cli/dtaas_services/templates/config/influxdb/.gitkeep
  deploy/services/cli/dtaas_services/templates/config/mongod.conf.secure
  deploy/services/cli/dtaas_services/templates/config/rabbitmq/rabbitmq.conf
  deploy/services/cli/dtaas_services/templates/config/rabbitmq/rabbitmq.enabled_plugins
  deploy/services/cli/dtaas_services/templates/config/services.env.template
  deploy/services/cli/dtaas_services/templates/data/gitlab/.gitkeep
  deploy/services/cli/dtaas_services/templates/data/grafana/.gitkeep
  deploy/services/cli/dtaas_services/templates/data/influxdb/.gitkeep
  deploy/services/cli/dtaas_services/templates/data/mongodb/.gitkeep
  deploy/services/cli/dtaas_services/templates/data/postgres/.gitkeep
  deploy/services/cli/dtaas_services/templates/data/rabbitmq/.gitkeep
  deploy/services/cli/dtaas_services/templates/data/thingsboard/.gitkeep
  deploy/services/cli/dtaas_services/templates/log/gitlab/.gitkeep
  deploy/services/cli/dtaas_services/templates/log/thingsboard/.gitkeep
  deploy/services/cli/pyproject.toml
Due: none

qlty issues
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/dtaas_services/commands/setup_ops.py
  deploy/services/cli/dtaas_services/pkg/formatter.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/health.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/personal_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/users.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/validators.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/setup.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/sysadmin.py
  deploy/services/cli/tests/test_services/test_gitlab/test_personal_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_validators.py
Due: none

fix(client): replace GitLab logo with generic lock icon on SignIn button
  client/package.json
  client/src/route/auth/Signin.tsx
  client/test/e2e/tests/Auth.test.ts
  client/test/e2e/tests/ConcurrentExecution.test.ts
  client/test/e2e/tests/DigitalTwins.test.ts
  client/test/e2e/tests/Menu.test.ts
  client/test/e2e/tests/Settings.test.ts
  client/test/e2e/tests/auth.setup.ts
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/integration/Auth/authRedux.test.tsx
  client/test/integration/Routes/Signin.test.tsx
  client/test/unit/routes/SignIn.test.tsx
Due: Website

resolve copilot comments
  client/test/e2e/tests/auth.setup.ts
Due: Website

keycloak removed
  AGENTS.md
  deploy/workspace/keycloak/production/.env.example
  deploy/workspace/keycloak/production/CONFIGURATION.md
  deploy/workspace/keycloak/production/DESIGN.md
  deploy/workspace/keycloak/production/KEYCLOAK_SETUP.md
  deploy/workspace/keycloak/production/README.md
  deploy/workspace/keycloak/production/certs/.gitkeep
  deploy/workspace/keycloak/production/config/client.js.example
  deploy/workspace/keycloak/production/config/forward-auth-conf.example
  deploy/workspace/keycloak/production/config/tls.yml
  deploy/workspace/keycloak/production/docker-compose.yml
  deploy/workspace/keycloak/production/dtaas.png
  deploy/workspace/keycloak/production/files/README.md
  deploy/workspace/keycloak/production/files/common/data/.gitkeep
  deploy/workspace/keycloak/production/files/common/digital_twins/.gitkeep
  deploy/workspace/keycloak/production/files/common/functions/.gitkeep
  deploy/workspace/keycloak/production/files/common/models/.gitkeep
  deploy/workspace/keycloak/production/files/common/tools/.gitkeep
  deploy/workspace/keycloak/production/files/template/data/.gitkeep
  deploy/workspace/keycloak/production/files/template/digital_twins/.gitkeep
  deploy/workspace/keycloak/production/files/template/functions/.gitkeep
  deploy/workspace/keycloak/production/files/template/models/.gitkeep
  deploy/workspace/keycloak/production/files/template/tools/.gitkeep
  deploy/workspace/keycloak/production/files/user1/data/.gitkeep
  deploy/workspace/keycloak/production/files/user1/digital_twins/.gitkeep
  deploy/workspace/keycloak/production/files/user1/functions/.gitkeep
  deploy/workspace/keycloak/production/files/user1/models/.gitkeep
  deploy/workspace/keycloak/production/files/user1/tools/.gitkeep
  deploy/workspace/keycloak/production/files/user2/data/.gitkeep
  deploy/workspace/keycloak/production/files/user2/digital_twins/.gitkeep
  deploy/workspace/keycloak/production/files/user2/functions/.gitkeep
  deploy/workspace/keycloak/production/files/user2/models/.gitkeep
  deploy/workspace/keycloak/production/files/user2/tools/.gitkeep
Due: none

adds workflow for testing dex localhost package
  .github/workflows/workspace.yml
  deploy/workspace/dex/localhost/DEVELOPER.md
  deploy/workspace/dex/localhost/README.md
  deploy/workspace/dex/localhost/companion/src/http_utils.py
  deploy/workspace/dex/localhost/companion/test/conftest.py
  deploy/workspace/dex/localhost/config/dex-config.yaml.example
Due: none

fix: resolve CI lint failures and SonarQube issues
  .codecov.yml
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
  .github/workflows/python-reusable.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .yamllint.yml
  deploy/docker/compose.local.secure.yml
  deploy/docker/compose.local.yml
  deploy/docker/compose.server.secure.yml
  deploy/docker/compose.server.yml
  deploy/services/compose.thingsboard.secure.yml
  deploy/workspace/dex/localhost/companion/src/http_utils.py
  deploy/workspace/dex/localhost/companion/test/conftest.py
  deploy/workspace/dex/localhost/config/env.local.js
  mkdocs.yml
  servers/execution/runner/test/config/runner.test.yaml
  servers/lib/config/libms.dev.yaml
  servers/lib/test/libms.test.yaml
Due: Lib Microservice

fix: align flake8/ruff line-length and fix SonarQube S7741
  .github/workflows/workspace.yml
  deploy/workspace/dex/localhost/config/env.local.js
Due: none

fix: use loose inequality for SonarQube S3403
  deploy/workspace/dex/localhost/config/env.local.js
Due: none

fix: suppress S5332 security hotspots for localhost HTTP URLs
  deploy/workspace/dex/localhost/companion/src/config.py
  deploy/workspace/dex/localhost/companion/test/test_http_utils.py
  deploy/workspace/dex/localhost/companion/test/test_profile.py
Due: none

fix: add NOSONAR to HTTP server line in __main__.py
  deploy/workspace/dex/localhost/companion/src/__main__.py
Due: none

fix: resolve Qlty lint issues
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
  .github/workflows/workspace.yml
  AGENTS.md
  deploy/workspace/dex/localhost/.env.example
  deploy/workspace/dex/localhost/config/DEX.md
  deploy/workspace/dex/localhost/docker-compose.yml
Due: none

Fixes bugs in dex localhost files
  deploy/docker/compose.local.secure.yml
  deploy/docker/compose.local.yml
  deploy/docker/compose.server.secure.yml
  deploy/docker/compose.server.yml
  deploy/services/compose.thingsboard.secure.yml
  deploy/workspace/dex/localhost/.env.example
  deploy/workspace/dex/localhost/CUSTOM_USER.md
  deploy/workspace/dex/localhost/companion/src/config.py
  deploy/workspace/dex/localhost/companion/src/http_utils.py
  deploy/workspace/dex/localhost/companion/test/conftest.py
  deploy/workspace/dex/localhost/companion/test/test_http_utils.py
  deploy/workspace/dex/localhost/docker-compose.yml
  servers/execution/runner/test/config/runner.test.yaml
  servers/lib/config/libms.dev.yaml
  servers/lib/test/libms.test.yaml
Due: Lib Microservice

Fixes linting issues in dex localhost files
  deploy/workspace/dex/localhost/companion/src/config.py
  deploy/workspace/dex/localhost/companion/src/http_utils.py
  deploy/workspace/dex/localhost/companion/test/conftest.py
  deploy/workspace/dex/localhost/companion/test/test_http_utils.py
Due: none

Fixes linting issues in dex localhost files
  deploy/workspace/dex/localhost/.env.example
Due: none

Fixes copilot review comments in dex localhost files
  .github/workflows/workspace.yml
  deploy/docker/compose.local.secure.yml
  deploy/docker/compose.local.yml
  deploy/docker/compose.server.secure.yml
  deploy/docker/compose.server.yml
  deploy/workspace/dex/localhost/config/DEX.md
  deploy/workspace/dex/localhost/docker-compose.yml
Due: none

Fixes copilot review comments in dex localhost files
  deploy/workspace/dex/localhost/README.md
  deploy/workspace/dex/localhost/docker-compose.yml
Due: none

chore: upgrade npm dependencies in servers/lib and servers/execution/runner
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

fix: add @eslint/js to devDependencies and bump cloudcmd
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

fix: format package.json and resolve dompurify CVE-2026-0540
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

fix: address PR review comments and YAML lint failures
  deploy/workspace/dex/localhost/companion/src/config.py
  deploy/workspace/dex/localhost/companion/src/handler.py
  deploy/workspace/dex/localhost/companion/src/profile.py
  deploy/workspace/dex/localhost/companion/test/test_config.py
  deploy/workspace/dex/localhost/companion/test/test_handler.py
  deploy/workspace/dex/localhost/companion/test/test_profile.py
  servers/execution/runner/test/config/runner.test.yaml
  servers/lib/config/libms.dev.yaml
  servers/lib/test/libms.test.yaml
Due: Lib Microservice

feat(client): add process workflow logger with click tracking
  client/LOGGER_API.md
  client/PLAN.md
  client/env.d.ts
  client/src/components/LinkButtons.tsx
  client/src/components/asset/AddToCartButton.tsx
  client/src/components/asset/DeleteButton.tsx
  client/src/components/asset/DetailsButton.tsx
  client/src/components/asset/HistoryButton.tsx
  client/src/components/asset/ReconfigureButton.tsx
  client/src/components/asset/StartButton.tsx
  client/src/components/cart/ShoppingCart.tsx
  client/src/components/tab/TabComponent.tsx
  client/src/page/MenuItems.tsx
  client/src/page/MenuToolbar.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/route/auth/PrivateRoute.tsx
  client/src/route/auth/Signin.tsx
  client/src/util/logger/beaconLogger.ts
  client/src/util/logger/consoleLogger.ts
  client/src/util/logger/hashUtils.ts
  client/src/util/logger/logEvent.ts
  client/src/util/logger/logger.ts
  client/src/util/logger/sessionManager.ts
  client/src/util/logger/useLogger.ts
  client/test/__mocks__/global_mocks.tsx
  client/test/unit/util/logger/beaconLogger.test.ts
  client/test/unit/util/logger/consoleLogger.test.ts
  client/test/unit/util/logger/hashUtils.test.ts
  client/test/unit/util/logger/logEvent.test.ts
  client/test/unit/util/logger/logger.test.ts
  client/test/unit/util/logger/sessionManager.test.ts
  client/test/unit/util/logger/useLogger.test.tsx
Due: Website

feat(client): add IndexedDB persistent logger and log viewer page
  client/CHANGELOG-phase2.md
  client/PLAN.md
  client/config/dev.js
  client/config/local.js
  client/config/prod.js
  client/config/test.js
  client/src/database/executionHistoryDB.ts
  client/src/database/types.ts
  client/src/page/LogViewer.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/routes.tsx
  client/src/util/logger/indexedDBLogger.ts
  client/src/util/logger/logger.ts
  client/src/util/logger/useLogger.ts
  client/test/unit/page/LogViewer.test.tsx
  client/test/unit/util/logger/indexedDBLogger.test.ts
  client/test/unit/util/logger/logger.test.ts
Due: Website

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
