Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

Cleans up services scripts
  deploy/services/script/influxdb.py
  deploy/services/script/rabbitmq.py
Due: none

fix: now following the convention
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineUtils.test.ts
Due: Website

Fix: alot of improvements still having trouble with permission
  .devcontainer/client/Dockerfile
  .devcontainer/client/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/dtaas/Dockerfile
  .devcontainer/dtaas/devcontainer.json
  .devcontainer/workspace-settings.json
Due: none

feat: now yarn install runs for both devcontainers
  .devcontainer/client/Dockerfile
  .devcontainer/client/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/dtaas/Dockerfile
  .devcontainer/dtaas/devcontainer.json
Due: none

feat: Now works much better
  .devcontainer/client/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/dtaas/devcontainer.json
  .devcontainer/workspace-settings.json
Due: none

Format and Constants for regex strings
  client/src/model/backend/gitlab/cleanLog.ts
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/test/e2e/tests/DigitalTwins.test.ts
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineUtils.test.ts
  client/test/unit/model/backend/gitlab/cleanLog.test.ts
Due: Website

Fix: linting issue
  client/test/e2e/tests/DigitalTwins.test.ts
Due: Website

feat: removed docker-compose and devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

doc: removed the toplevel
  .devcontainer/README.md
Due: none

revert: changes to client.dockerfile & client.built.dockerfile
  docker/client.built.dockerfile
  docker/client.dockerfile
Due: none

fix with ./npmrc and documentation cleanup
  .devcontainer/README.md
  .devcontainer/dtaas/devcontainer.json
Due: none

Corrects client DEVELOPER.md
  client/DEVELOPER.md
  client/package.json
Due: Website

Updates developer README for client
  client/DEVELOPER.md
Due: Website

Fixes formatting issues
  client/DEVELOPER.md
  client/src/model/backend/gitlab/cleanLog.ts
  client/src/route/config/Config.tsx
  client/test/e2e/tests/DigitalTwins.test.ts
Due: Website

Dependency cleanup using depcheck
  servers/lib/package.json
Due: Lib Microservice

Adds qlty config
  .codeclimate.yml
  .qlty/qlty.toml
  STATUS.md
  docs/developer/index.md
Due: none

Replaces codeclimate info with qlty
  .github/ISSUE_TEMPLATE/feature_request.md
  CONTRIBUTING.md
  docs/developer/index.md
Due: none

Moved the pipeline execution files into the stable codebase and prepared it to run multiple executions
  client/src/model/backend/gitlab/constants.ts
  client/src/model/backend/gitlab/execution/logFetching.ts
  client/src/model/backend/gitlab/execution/pipelineCore.ts
  client/src/model/backend/gitlab/execution/statusChecking.ts
  client/src/model/backend/gitlab/types/executionHistory.ts
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/test/preview/integration/route/digitaltwins/execute/PipelineChecks.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineChecks.test.ts
  client/test/preview/unit/routes/digitaltwins/execute/PipelineUtils.test.ts
  client/test/unit/model/backend/gitlab/execution/logFetching.test.ts
  client/test/unit/model/backend/gitlab/execution/pipelineCore.test.ts
  client/test/unit/model/backend/gitlab/execution/statusChecking.test.ts
Due: Website

missing function
  client/src/model/backend/gitlab/execution/logFetching.ts
Due: Website

Removed it agin was just duplicate
  client/src/model/backend/gitlab/execution/logFetching.ts
  client/test/unit/model/backend/gitlab/execution/logFetching.test.ts
Due: Website

Update client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
Due: Website

Fix TODOs
  client/src/model/backend/gitlab/UtilityInterfaces.ts
  client/src/model/backend/gitlab/gitlab.ts
  client/src/model/backend/gitlab/gitlabAPI.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/unit/util/gitlab.test.ts
  client/test/preview/unit/util/init.test.ts
Due: Website

Refactor functions in execution
  client/src/model/backend/gitlab/execution/logFetching.ts
  client/src/model/backend/gitlab/execution/statusChecking.ts
Due: Website

Add GitlabAPI test suite and make it more testable
  client/src/model/backend/gitlab/gitlabAPI.ts
  client/src/preview/components/asset/Asset.ts
  client/src/preview/util/digitalTwin.ts
  client/test/unit/util/GitlabAPI.test.ts
  docs/developer/devops/implementation.md
Due: Website

Partially fix readme and description fetching
  client/src/model/backend/gitlab/gitlabAPI.ts
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/util/digitalTwin.ts
Due: Website

Add constructor test
  client/src/preview/components/asset/DetailsButton.tsx
  client/test/unit/util/GitlabAPI.test.ts
Due: Website

Turn type interfaces types and expand gitlabfactory test
  client/src/model/backend/gitlab/UtilityInterfaces.ts
  client/test/preview/unit/util/gitlabFactory.test.ts
  client/test/unit/util/GitlabAPI.test.ts
Due: Website

Add some documentation, minor changes
  client/src/model/backend/gitlab/IMPLEMENTATION.md
  client/src/model/backend/gitlab/UtilityInterfaces.ts
  client/src/model/backend/gitlab/constants.ts
  client/src/model/backend/gitlab/gitlab.ts
  client/src/model/backend/gitlab/gitlabAPI.ts
  client/test/unit/util/GitlabAPI.test.ts
Due: Website

Add ARCHITECTURE.md
  client/src/model/backend/gitlab/ARCHITECTURE.md
  client/src/model/backend/gitlab/classDiagramOfPreviewUtil.png
Due: Website

Address various review comments
  client/src/model/backend/gitlab/backend.ts
  client/src/model/backend/gitlab/gitlabFactory.ts
  client/src/model/backend/gitlab/instance.ts
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/digitalTwinUtils.ts
  client/src/preview/util/init.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/unit/store/Store.test.ts
  client/test/preview/unit/util/digitalTwin.test.ts
  client/test/preview/unit/util/digitalTwinConfig.test.ts
  client/test/preview/unit/util/fileHandler.test.ts
  client/test/preview/unit/util/gitlab.test.ts
  client/test/preview/unit/util/gitlabFactory.test.ts
  client/test/preview/unit/util/init.test.ts
  client/test/unit/util/GitlabAPI.test.ts
Due: Website

Use group name constant in DT and LibraryAsset
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/libraryAsset.ts
  client/test/preview/unit/util/digitalTwin.test.ts
  client/test/preview/unit/util/libraryAsset.test.ts
Due: Website

Move triggerToken to instance
  client/src/model/backend/gitlab/UtilityInterfaces.ts
  client/src/model/backend/gitlab/backend.ts
  client/src/model/backend/gitlab/instance.ts
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/digitalTwinUtils.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/unit/util/digitalTwin.test.ts
  client/test/preview/unit/util/gitlab.test.ts
  client/test/unit/util/GitlabAPI.test.ts
Due: Website

Update documentation
  client/src/model/backend/gitlab/ARCHITECTURE.md
  client/src/model/backend/gitlab/IMPLEMENTATION.md
  client/src/model/backend/gitlab/UtilityInterfaces.ts
  client/src/model/backend/gitlab/instance.ts
Due: Website

Split GitlabInstanceInterface into interfaces
  client/package.json
  client/src/model/backend/gitlab/gitlab.ts
  client/src/preview/util/gitlab.ts
  client/src/preview/util/init.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/unit/util/gitlab.test.ts
Due: Website

Second try cleaning up progress
  client/src/model/backend/gitlab/constants.ts
  client/src/model/backend/gitlab/gitlab.ts
  client/src/preview/util/gitlab.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/unit/util/digitalTwin.test.ts
Due: Website

Rm common id constants, add pipeline type
  client/src/model/backend/gitlab/constants.ts
  client/src/model/backend/gitlab/gitlab.ts
  client/src/preview/util/fileHandler.ts
  client/src/preview/util/gitlab.ts
  client/test/preview/unit/util/gitlab.test.ts
  client/test/preview/unit/util/init.test.ts
Due: Website

Cover new code
  client/test/preview/unit/util/fileHandler.test.ts
  client/test/preview/unit/util/gitlab.test.ts
Due: Website

All but enums implemented
  client/package.json
  client/src/model/backend/gitlab/constants.ts
  client/src/model/backend/gitlab/gitlab.ts
  client/src/preview/util/gitlab.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/unit/util/digitalTwin.test.ts
  client/test/preview/unit/util/init.test.ts
Due: Website

Fix formatting
  client/src/model/backend/gitlab/gitlab.ts
  client/src/preview/util/gitlab.ts
  client/src/preview/util/init.ts
  client/test/preview/unit/util/gitlab.test.ts
Due: Website
