Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

test push branch condition
  .github/workflows/lib-ms.yml
Due: none

test push condition
  servers/lib/package.json
Due: Lib Microservice

small typo
  servers/lib/package.json
Due: Lib Microservice

test push condition on release branch
  .github/workflows/lib-ms.yml
  servers/lib/package.json
Due: Lib Microservice

version bump
  servers/lib/package.json
Due: Lib Microservice

added registry and fixed access public
  .github/workflows/lib-ms.yml
  servers/lib/README.md
Due: Lib Microservice

Port updates in docs from release-v0.3 branch
  deploy/README.md
  deploy/config/gateway/fileConfig.yml
  docs/admin/client/CLIENT.md
  docs/admin/host.md
  docs/admin/servers/lib/LIB-MS.md
  docs/admin/services.md
  docs/index.md
  docs/redirect-page.html
  servers/config/gateway/dynamic/fileConfig.yml
  servers/lib/README.md
Due: Lib Microservice

Fixes codeclimate issues
  deploy/README.md
Due: none

Port updates in docs from release-v0.3 branch (#257)
  deploy/README.md
  deploy/config/gateway/fileConfig.yml
  docs/admin/client/CLIENT.md
  docs/admin/host.md
  docs/admin/servers/lib/LIB-MS.md
  docs/admin/services.md
  docs/index.md
  docs/redirect-page.html
  servers/config/gateway/dynamic/fileConfig.yml
  servers/lib/README.md
Due: Lib Microservice

docs for a70a7268 commit
  DTaaS-development.pdf
  development/admin/client/CLIENT.html
  development/admin/host.html
  development/admin/servers/lib/LIB-MS.html
  development/admin/services.html
  development/index.html
  development/redirect-page.html
  development/search/search_index.json
  development/sitemap.xml.gz
Due: none

updated md with how to install package
  servers/lib/README.md
Due: Lib Microservice

updated README.md with working installation
  servers/lib/README.md
Due: Lib Microservice

Auth Server added
  .gitignore
  servers/auth/README.md
  servers/auth/auth_dtaas/__init__.py
  servers/auth/auth_dtaas/auth.py
  servers/auth/pyproject.toml
  servers/auth/tests/__init__.py
Due: none

Publish libms to GitHub package registry (#239)
  .github/workflows/lib-ms.yml
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/package.json
Due: Lib Microservice

changes in the UI for tabs
  client/src/components/tab/TabComponent.tsx
  client/src/route/library/Library.tsx
  client/src/route/library/LibraryTabData.ts
  client/test/unitTests/Components/TabComponent.test.tsx
Due: Website

added scope as prop
  client/config/dev.js
  client/src/components/tab/TabComponent.tsx
  client/src/route/auth/AccountTabs.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/route/library/Library.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
  client/test/unitTests/Routes/Library.test.tsx
Due: Website

changes
  client/src/components/tab/TabComponent.tsx
  client/src/route/auth/AccountTabs.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/route/library/Library.tsx
Due: Website

some changes in tabcomponent
  client/src/components/tab/TabComponent.tsx
  client/src/route/auth/AccountTabs.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/route/library/Library.tsx
Due: Website

added libms git hooks
  .git-hooks/pre-commit
  .git-hooks/pre-push
Due: none

comment step
  .git-hooks/pre-push
Due: none

removed space like he wanted
  client/src/components/tab/TabComponent.tsx
Due: Website

Possible fix for the pre-push hook
  .git-hooks/pre-push
Due: none

Markdownlint file
  .markdownlint.json
Due: none

Markdown pre commit config
  .markdownlint.json
  .markdownlint.yaml
  .pre-commit-config.yaml
Due: none

Prettier
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

added format and prettier to lib
  servers/lib/.prettierrc
  servers/lib/package.json
Due: Lib Microservice

format prettier
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/resolvers/files.resolver.ts
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/gitlab-files.service.ts
  servers/lib/src/files/services/local-files.service.ts
  servers/lib/src/main.ts
  servers/lib/src/types.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/testUtil.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
  servers/lib/test/unit/gitlab-files.service.unit.spec.ts
  servers/lib/test/unit/local-files.service.unit.spec.ts
Due: Lib Microservice

Create add_user.md
  docs/admin/guides/add_user.md
Due: none

Create add_service.md
  docs/admin/guides/add_service.md
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

added link service guide
  docs/admin/guides/link_service.md
  mkdocs.yml
Due: none

Create common_workspace_readonly.md
  docs/admin/guides/common_workspace_readonly.md
Due: none

Delete guide.md
  docs/admin/guides/guide.md
Due: none

Cleans up yarn commands of runner
  .gitignore
  servers/execution/runner/package.json
  servers/execution/runner/script/build.bash
  servers/execution/runner/script/graph.bash
  servers/execution/runner/script/install.bash
  servers/execution/runner/script/syntax.bash
  servers/execution/runner/yarn.lock
Due: none

changes in tests and code
  client/src/components/tab/TabComponent.tsx
  client/src/route/auth/AccountTabs.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/route/library/Library.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
  client/test/unitTests/Routes/DigitalTwins.test.tsx
  client/test/unitTests/testUtils.tsx
Due: Website

Makes runner yarn commands cross-platform
  servers/execution/runner/package.json
  servers/execution/runner/script/clean.bash
  servers/execution/runner/script/start.bash
  servers/execution/runner/script/test.bash
Due: none

Adds publishing step for runner
  .github/workflows/lib-ms.yml
  .github/workflows/runner.yml
  servers/execution/runner/package.json
Due: none

Adds skeleton code for configuration
  .gitignore
  SECURITY.md
  servers/execution/runner/nest-cli.json
  servers/execution/runner/package.json
  servers/execution/runner/runner.yml.sample
  servers/execution/runner/src/app.module.ts
  servers/execution/runner/src/config/Config.interface.ts
  servers/execution/runner/src/config/configuration.ts
  servers/execution/runner/yarn.lock
Due: none

Adds skeleton code for configuration
  servers/execution/runner/src/app.module.ts
  servers/execution/runner/src/config/Config.interface.ts
  servers/execution/runner/src/config/configuration.ts
Due: none

Fix markdown linting issues
  docs/developer/servers/lib/lib-ms.md
  servers/lib/README.md
  servers/lib/test/README.md
Due: Lib Microservice
