Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

removed wrongly pushed code
  .github/workflows/lib-ms.yml
Due: none

removes async
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
Due: Lib Microservice

fixes minor formatting issue
  servers/lib/test/integration/files.service.integration.spec.ts
Due: Lib Microservice

Adds git mode to library microservice (#1047)
  .github/workflows/lib-ms.yml
  docs/admin/servers/lib/config.md
  docs/admin/servers/lib/http.json
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/config/http.json
  servers/lib/eslint.config.js
  servers/lib/libms.yaml.sample
  servers/lib/package.json
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/config/config.interface.ts
  servers/lib/src/config/config.model.ts
  servers/lib/src/config/config.module.ts
  servers/lib/src/config/config.service.ts
  servers/lib/src/config/util.ts
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/git/git-files.module.ts
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/local/local-files.service.ts
  servers/lib/src/main.ts
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
  servers/lib/test/data/user2/tools/large_file.md
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/libms.test.yaml
  servers/lib/test/testUtil.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
  servers/lib/test/unit/git-files.service.unit.spec.ts
  servers/lib/test/unit/local-files.service.unit.spec.ts
  servers/lib/test/update-config.js
  servers/lib/yarn.lock
Due: Lib Microservice

fix eslint issues
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/editor/sidebarRendering.tsx
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/fileHandler.ts
Due: Website

Fix previous unit tests
  client/src/preview/util/init.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/integration/route/digitaltwins/editor/SidebarFunctions.test.tsx
  client/test/preview/unit/Store.test.ts
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/DetailsButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/CreateDTDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/CreateDialogs.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/CreatePage.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/FileActionButtons.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Editor.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/EditorTab.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/SidebarFunctions.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/DetailsDialog.test.tsx
  client/test/preview/unit/util/DTAssets.test.ts
  client/test/preview/unit/util/digitalTwin.test.ts
  client/test/preview/unit/util/fileUtils.test.ts
  client/test/preview/unit/util/gitlab.test.ts
  client/test/preview/unit/util/init.test.ts
Due: Website

Updates libms documentation to reflect new config
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/config/.env.default
  servers/lib/config/libms.yaml.default
Due: Lib Microservice

Increment package version
  servers/lib/package.json
Due: Lib Microservice

Fix previous integration tests
  client/src/preview/route/digitaltwins/create/PrivacySelector.tsx
  client/src/preview/route/digitaltwins/editor/sidebarRendering.tsx
  client/src/preview/store/assets.slice.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/route/digitaltwins/create/CreateDTDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/CreatePage.test.tsx
  client/test/preview/integration/route/digitaltwins/create/FileActionButtons.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Editor.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/SidebarFunctions.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DetailsDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/utils.ts
Due: Website

Add localhost access to runner
  deploy/services/gitlab/.env
  deploy/services/gitlab/compose.gitlab.yml
  deploy/services/gitlab/compose.runner.yml
  deploy/services/gitlab/runner-config.toml
Due: none

Use foo.com for template server dns
  deploy/services/gitlab/.env
Due: none

Update runner documentation
  deploy/services/gitlab/GITLAB-RUNNER.md
Due: none

Update gitlab variable in documentation
  deploy/services/gitlab/README.md
Due: none

Fixes Libms README and includes dependabot upgrades (#1092)
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/config/.env.default
  servers/lib/config/libms.yaml.default
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

Add integration tests
  client/package.json
  client/test/preview/integration/components/asset/AssetLibrary.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/SidebarFunctions.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DetailsDialog.test.tsx
  client/test/preview/integration/route/library/LibraryPreview.test.tsx
  client/test/preview/unit/components/cart/ShoppingCart.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/EditorTab.test.tsx
  client/test/preview/unit/routes/library/LibraryPreview.test.tsx
  client/test/preview/unit/util/init.test.ts
  client/yarn.lock
Due: Website

Remove useAuth and useGetAndSetUsername from LibraryContent
  client/src/preview/route/library/LibraryPreview.tsx
Due: Website

Remove reselect
  client/package.json
  client/yarn.lock
Due: Website

Add reselect
  client/package.json
  client/yarn.lock
Due: Website

changed docker to use new config
  deploy/config/lib.env
  deploy/config/libms.yaml
  docker/libms.dockerfile
  docker/libms.npm.dockerfile
Due: none

Remove common/private selector from Create page
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDialogs.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/create/PrivacySelector.tsx
  client/src/preview/util/DTAssets.ts
  client/src/preview/util/digitalTwin.ts
  client/test/preview/integration/route/digitaltwins/create/CreateDTDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/CreateDTDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/CreatePage.test.tsx
  client/test/preview/unit/routes/digitaltwins/create/PrivacySelector.test.tsx
  client/test/preview/unit/util/DTAssets.test.ts
  client/test/preview/unit/util/digitalTwin.test.ts
Due: Website

Fix warning and console.error in tests
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/editor/sidebarRendering.tsx
  client/test/preview/unit/components/asset/AssetLibrary.test.tsx
  client/test/preview/unit/store/CartAccess.test.ts
Due: Website

Clean up ConfigItems.tsx, Signin.tsx and VerifyConfig.tsx
  client/src/route/auth/ConfigItems.tsx
  client/src/route/auth/Signin.tsx
  client/src/route/auth/VerifyConfig.tsx
Due: Website

Unmemoise ConfigItem
  client/src/route/auth/ConfigItems.tsx
  client/src/route/auth/Signin.tsx
Due: Website

Delete unnecessary tests
  client/test/preview/integration/components/asset/AssetLibrary.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/SidebarFunctions.test.tsx
  client/test/preview/unit/components/cart/ShoppingCart.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/sidebarFunctions.test.ts
  client/test/preview/unit/routes/library/LibraryPreview.test.tsx
  client/test/preview/unit/store/Store.test.ts
Due: Website

Change package version
  client/package.json
Due: Website

Fix bugs
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/util/fileHandler.ts
  client/src/preview/util/fileUtils.ts
Due: Website

updated readme and default config
  servers/lib/README.md
  servers/lib/config/libms.yaml.default
Due: Lib Microservice

updated to version 0.5.3
  servers/lib/package.json
Due: Lib Microservice

Integrates GitLab Runner into DTaaS
  deploy/services/gitlab/GITLAB-RUNNER.md
  deploy/services/gitlab/compose.runner.yml
  deploy/services/gitlab/gitlab-runner/config.toml
  deploy/services/gitlab/runner-activation.png
  deploy/services/gitlab/runner-registration.png
Due: none

Update GITLAB-RUNNER.md
  deploy/services/runner/GITLAB-RUNNER.md
Due: none

Refactor runner code
  deploy/services/runner/GITLAB-RUNNER.md
  deploy/services/runner/compose.runner.local.yml
  deploy/services/runner/compose.runner.server.yml
  deploy/services/runner/runner-activation.png
  deploy/services/runner/runner-config.toml
  deploy/services/runner/runner-registration.png
Due: none

updated base image
  docker/libms.dockerfile
Due: none

adds config for docker
  servers/lib/config/libms.dev.yaml
Due: Lib Microservice

updated to use new dev config
  docker/compose.dev.yml
  docs/developer/docker/docker.md
  servers/lib/DEVELOPER.md
Due: Lib Microservice

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
