Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Removed cloudcmd test from all
  servers/lib/package.json
Due: Lib Microservice

fix linting errors
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
  servers/lib/test/e2e/app.e2e.spec.ts
Due: Lib Microservice

Adds pm2-based yarn commands to libms
  .github/workflows/lib-ms.yml
Due: none

Made tests cloudcmd
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
Due: Lib Microservice

Syncing options file now
  servers/lib/src/cloudcmd/cloudcmd.service.ts
Due: Lib Microservice

Moved cloudcmd into an external function
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd/cloudcmd.service.ts
  servers/lib/src/cloudcmd/cloudcmd.ts
Due: Lib Microservice

fix libms tests and updates diagrams
  .github/workflows/lib-ms.yml
  docs/developer/system/DTaaS.drawio
Due: none

Socket.io is not working yet
  servers/lib/config/cloudcmd.json
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd.config.ts
  servers/lib/src/cloudcmd.ts
  servers/lib/src/cloudcmd/cloudcmd.middleware.ts
  servers/lib/src/cloudcmd/cloudcmd.service.ts
  servers/lib/tsconfig.json
Due: Lib Microservice

Added function parameter LOCAL_PATH to cloudCMD function
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd/cloudcmd.ts
Due: Lib Microservice

Removed resolveJsonModule from tsconfig
  servers/lib/tsconfig.json
Due: Lib Microservice

Fix lib tests in pre-commit config file
  .pre-commit-config.yaml
  servers/lib/DEVELOPER.md
  servers/lib/package.json
Due: Lib Microservice

fix libms tests
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
Due: Lib Microservice

fix libms tests
  .github/workflows/lib-ms.yml
Due: none

fix libms tests
  servers/lib/package.json
Due: Lib Microservice

Adds pm2-based yarn commands to libms
  servers/lib/package.json
Due: Lib Microservice

Moved the test command into package.json
  servers/lib/package.json
Due: Lib Microservice

fix libms github actions
  .github/workflows/lib-ms.yml
  servers/lib/package.json
Due: Lib Microservice

Checks libms.yml
  .github/workflows/lib-ms.yml
  .pre-commit-config.yaml
Due: none

Adds pm2-based yarn commands to libms
  script/base.sh
  servers/lib/package.json
  servers/lib/pm2.config.js
Due: Lib Microservice

Improve cloudcmd tests
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
Due: Lib Microservice

Check libms tests
  .github/workflows/lib-ms.yml
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
Due: Lib Microservice

Implemented cloudcmd with a working socket
  servers/lib/config/cloudcmd.json
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd/cloudcmd.middleware.ts
  servers/lib/src/cloudcmd/cloudcmd.service.ts
Due: Lib Microservice

Fixes yarn commands and updates READMEs
  .github/workflows/lib-ms.yml
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/package.json
  servers/lib/pm2.config.js
Due: Lib Microservice

Implementation of cloudcmd
  servers/lib/package.json
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd.config.ts
  servers/lib/src/cloudcmd.ts
  servers/lib/src/main.ts
  servers/lib/yarn.lock
Due: Lib Microservice

fix codeclimate issues
  servers/lib/README.md
Due: Lib Microservice

Adds http mode to library microservice (#480 and #345)
  .github/workflows/lib-ms.yml
  .pre-commit-config.yaml
  docs/developer/system/DTaaS.drawio
  script/base.sh
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/config/.env.default
  servers/lib/config/http.json
  servers/lib/package.json
  servers/lib/pm2.config.js
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd/cloudcmd.ts
  servers/lib/src/main.ts
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/tsconfig.json
  servers/lib/yarn.lock
Due: Lib Microservice

auth revoke
  client/src/route/auth/Account.tsx
  client/src/util/auth/Authentication.ts
  client/yarn.lock
Due: Website

Working DTaaS Docker Compose with Auth MS
  deploy/config/client/env.local.js
  deploy/config/lib
  deploy/config/lib.docker
  files/astitvasehgal19/data/.gitkeep
  files/astitvasehgal19/digital_twins/.gitkeep
  files/astitvasehgal19/functions/.gitkeep
  files/astitvasehgal19/models/.gitkeep
  files/astitvasehgal19/tools/.gitkeep
  servers/auth/.env
  servers/auth/compose.yml
  servers/auth/conf
Due: none

COMPOSE.md explaining single docker stack
  servers/auth/COMPOSE.md
  servers/auth/files/README.md
  servers/auth/files/common/data/.gitkeep
  servers/auth/files/common/digital_twins/.gitkeep
  servers/auth/files/common/functions/.gitkeep
  servers/auth/files/common/models/.gitkeep
  servers/auth/files/common/tools/.gitkeep
  servers/auth/files/user1/data/.gitkeep
  servers/auth/files/user1/digital_twins/.gitkeep
  servers/auth/files/user1/functions/.gitkeep
  servers/auth/files/user1/models/.gitkeep
  servers/auth/files/user1/tools/.gitkeep
  servers/auth/files/user2/data/.gitkeep
  servers/auth/files/user2/digital_twins/.gitkeep
  servers/auth/files/user2/functions/.gitkeep
  servers/auth/files/user2/models/.gitkeep
  servers/auth/files/user2/tools/.gitkeep
Due: none

Docker compose migration - Allows hosts for DTaaS
  servers/auth/.env
  servers/auth/compose.yml
Due: none

Final docker stack DTaaS deploy
  deploy/config/lib.docker
  docker/auth/COMPOSE.md
  docker/auth/README.md
  docker/auth/compose-localhost.yml
  docker/auth/compose-server.yml
  docker/auth/conf
  files/astitvasehgal19/data/.gitkeep
  files/astitvasehgal19/digital_twins/.gitkeep
  files/astitvasehgal19/functions/.gitkeep
  files/astitvasehgal19/models/.gitkeep
  files/astitvasehgal19/tools/.gitkeep
  servers/auth/.env
  servers/auth/COMPOSE.md
Due: none

Example .env file for docker compose
  docker/auth/.env
Due: none

Bug fix: Infinite redirect in AuthMS
  docker/auth/conf
Due: none

Resolving Codeclimate issues
  docker/auth/COMPOSE.md
Due: none

Ready and functional docker stack for DTaaS with AuthMS
  deploy/config/lib.docker
  docker/auth/.env
  docker/auth/COMPOSE.md
  docker/auth/README.md
  docker/auth/compose-localhost.yml
  docker/auth/compose-server.yml
  docker/auth/conf
Due: none

README linter changes
  docker/auth/README.md
Due: none

Updates docker compose files and docs
  client/README.md
  client/env.js
  client/test/README.md
  deploy/README.md
  docker/auth/README.md
  docker/auth/compose.local.yml
  docker/auth/compose.server.yml
  docker/auth/traefik-forward-auth.png
  docs/FAQ.md
  docs/admin/client/CLIENT.md
  docs/admin/client/auth.md
  docs/admin/guides/add_user.md
  docs/admin/guides/gitlab.md
  docs/admin/guides/update_basepath.md
  docs/admin/host.md
  docs/admin/localhost.md
  docs/admin/overview.md
  docs/admin/servers/auth.md
  docs/admin/servers/traefik-oauth.png
  docs/admin/trial.md
  docs/bugs.md
  docs/developer/oauth.md
  docs/developer/system/DTaaS.drawio
  docs/developer/system/architecture.md
  docs/developer/system/current-status.md
  docs/user/website/index.md
  mkdocs-github.yml
  mkdocs.yml
  servers/config/gateway/README.md
Due: Website

Remove extra files
  client/env.js
Due: Website

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
