Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

test(client): cover the markdown plugin interop branch
  client/src/util/markdown.ts
  client/test/unit/util/markdown.test.ts
Due: Website

feat(client): show the signed-in user's avatar, and stop copying the token into shared storage
  client/src/model/backend/gitlab/measure/measurement.pipeline.ts
  client/src/model/backend/util/init.ts
  client/src/page/MenuToolbar.tsx
  client/src/route/auth/PrivateRoute.tsx
  client/src/route/auth/WaitAndNavigate.tsx
  client/src/util/auth/Authentication.ts
  client/src/util/auth/accessToken.ts
  client/src/util/auth/oauthUserProfile.ts
  client/test/integration/Routes/routes.testUtil.tsx
  client/test/unit/components/PrivateRoute.test.tsx
  client/test/unit/util/Auth/accessToken.test.ts
  client/test/unit/util/Auth/oauthUserProfile.test.ts
Due: Website

refactor(client): one URL policy per class of input, and a net under the render
  client/src/AppProvider.tsx
  client/src/components/ErrorBoundary.tsx
  client/src/components/workbench/ToolCard.tsx
  client/src/page/MenuToolbar.tsx
  client/src/route/account/AccountTabData.tsx
  client/src/util/auth/oauthUserProfile.ts
  client/src/util/configuredLink.ts
  client/test/__mocks__/mockEnvConstants.ts
  client/test/integration/Routes/routes.testUtil.tsx
  client/test/unit/components/ErrorBoundary.test.tsx
  client/test/unit/util/configuredLink.test.ts
Due: Website

fix(client): clear the authorization code from the URL after sign-in
  client/src/route/auth/AuthProvider.tsx
  client/test/unit/auth/AuthProvider.test.tsx
Due: Website

fix(client): answer the review, and say what the token change actually does
  client/package.json
  client/src/model/backend/IMPLEMENTATION.md
  client/src/route/auth/PrivateRoute.tsx
  client/test/integration/Routes/routes.testUtil.tsx
  client/test/unit/components/PrivateRoute.test.tsx
  client/test/unit/model/backend/gitlab/measure/measurement.envSetup.ts
  client/test/unit/util/Auth/accessToken.test.ts
Due: Website

test(client): cover the reload button, the missing profile URL and an empty email local part
  client/src/util/auth/oauthUserProfile.ts
  client/test/integration/Routes/Account.test.tsx
  client/test/unit/components/ErrorBoundary.test.tsx
  client/test/unit/util/Auth/oauthUserProfile.test.ts
Due: Website

refactor(client): one stylesheet for rendered markdown
  client/src/components/MarkdownStyles.tsx
  client/src/route/digitaltwins/editor/PreviewTab.tsx
  client/src/route/digitaltwins/manage/DetailsDialog.tsx
Due: Website

fix(client): remove only the parameters the provider added to the URL
  client/src/route/auth/AuthProvider.tsx
  client/test/unit/auth/AuthProvider.test.tsx
Due: Website

test(client): cover the tabs with no user, and signing out from the toolbar
  client/test/unit/page/MenuToolbar.test.tsx
  client/test/unit/route/account/AccountTabData.test.tsx
Due: Website

fix(client): stop executing HTML from markdown and keep the access token out of shared storage (#1769)
  client/package.json
  client/src/AppProvider.tsx
  client/src/components/ErrorBoundary.tsx
  client/src/components/MarkdownStyles.tsx
  client/src/components/workbench/ToolCard.tsx
  client/src/model/backend/IMPLEMENTATION.md
  client/src/model/backend/gitlab/measure/measurement.pipeline.ts
  client/src/model/backend/util/init.ts
  client/src/page/MenuToolbar.tsx
  client/src/route/account/AccountTabData.tsx
  client/src/route/auth/AuthProvider.tsx
  client/src/route/auth/PrivateRoute.tsx
  client/src/route/auth/WaitAndNavigate.tsx
  client/src/route/digitaltwins/editor/PreviewTab.tsx
  client/src/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/util/auth/Authentication.ts
  client/src/util/auth/accessToken.ts
  client/src/util/auth/oauthUserProfile.ts
  client/src/util/configuredLink.ts
  client/src/util/markdown.ts
  client/test/__mocks__/mockEnvConstants.ts
  client/test/integration/Routes/Account.test.tsx
  client/test/integration/Routes/routes.testUtil.tsx
  client/test/unit/auth/AuthProvider.test.tsx
  client/test/unit/components/ErrorBoundary.test.tsx
  client/test/unit/components/PrivateRoute.test.tsx
  client/test/unit/model/backend/gitlab/measure/measurement.envSetup.ts
  client/test/unit/model/backend/gitlab/measure/measurementPipelineAuth.test.ts
  client/test/unit/page/MenuToolbar.test.tsx
  client/test/unit/route/account/AccountTabData.test.tsx
  client/test/unit/util/Auth/accessToken.test.ts
  client/test/unit/util/Auth/oauthUserProfile.test.ts
  client/test/unit/util/configuredLink.test.ts
  client/test/unit/util/markdown.test.ts
Due: Website

feat(client): add the Insights page, the Measurement card and an embedded config check
  client/src/components/NavigationCards.tsx
  client/src/components/appIcons.tsx
  client/src/page/MenuItems.tsx
  client/src/route/automation/Automation.tsx
  client/src/route/config/Config.tsx
  client/src/route/insights/Insights.tsx
  client/src/route/insights/InsightsConfig.tsx
  client/src/routes.tsx
  client/test/e2e/tests/Insights.test.ts
  client/test/e2e/tests/Links.ts
  client/test/unit/page/Config.test.tsx
  client/test/unit/page/MenuItems.test.tsx
  client/test/unit/route/automation/Automation.test.tsx
  client/test/unit/route/insights/Insights.test.tsx
  client/test/unit/route/insights/InsightsConfig.test.tsx
  docs/user/digital-twins/devops/measurement.md
  docs/user/website/dtaas.md
  docs/user/website/logs.md
Due: Website

chore(servers): bundle dependabot upgrades and refresh lockfiles
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
  servers/lib/package.json
  servers/lib/yarn.lock
  servers/logger/package.json
  servers/logger/yarn.lock
Due: Lib Microservice

test(client): answer the third review of the end-to-end changes
  client/playwright.config.ts
  client/src/route/config/Config.tsx
  client/test/.env.template
  client/test/README.md
  client/test/e2e/tests/Automation.test.ts
  client/test/e2e/tests/Bim.test.ts
  client/test/e2e/tests/Insights.test.ts
  client/test/e2e/tests/Measurement.test.ts
  client/test/e2e/tests/Menu.test.ts
  client/test/unit/page/Config.test.tsx
  docs/user/website/workspace.md
Due: Website

chore(servers): move servers to Node 26 and address review comments
  .github/workflows/lib-ms.yml
  .github/workflows/logger-ms.yml
  .github/workflows/runner.yml
  developer/libms.dockerfile
  developer/libms.npm.dockerfile
  developer/logger.dockerfile
  servers/lib/DEVELOPER.md
  servers/logger/package.json
  servers/logger/yarn.lock
Due: Lib Microservice

fix(servers): harden libms and logger images and fix runner Windows test
  developer/libms.dockerfile
  developer/logger.dockerfile
  servers/execution/runner/test/unit/util.spec.ts
Due: none

chore(servers): address round-2 review of Node 26 and image changes
  .github/dependabot.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/publish-npm.yml
  CONTRIBUTING.md
  deploy/vagrant/developer.sh
  developer/docker-compose.yml
  developer/libms.npm.dockerfile
  docs/developer/index.md
  servers/lib/DOCKER.md
  servers/lib/compose.lib.yml
Due: Lib Microservice

chore(developer): merge consecutive RUN steps in the npm libms image
  developer/libms.npm.dockerfile
Due: none

fix(libms): create the work tree before cloning in git mode
  developer/libms.dockerfile
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/test/unit/git-files.service.clone.unit.spec.ts
Due: Lib Microservice

docs(logger): add Docker compose files and container docs
  docs/admin/packages.md
  docs/admin/servers/logger/compose.logger.yml
  docs/admin/servers/logger/docker.md
  mkdocs.yml
  servers/logger/DOCKER.md
  servers/logger/README.md
  servers/logger/compose.logger.dev.yml
  servers/logger/compose.logger.yml
Due: none

docs(logger): move config to config/ and add REST Client API files
  docs/admin/servers/logger/docker.md
  servers/logger/.gitignore
  servers/logger/DOCKER.md
  servers/logger/README.md
  servers/logger/api/dev.api.http
  servers/logger/api/dtaas.api.http
  servers/logger/compose.logger.dev.yml
  servers/logger/compose.logger.yml
  servers/logger/config/logger.yaml.sample
Due: none

docs(logger): move developer instructions into DEVELOPER.md
  servers/logger/DEVELOPER.md
  servers/logger/README.md
Due: none

feat(runner): run on Windows and add Docker compose files and docs
  developer/runner.dockerfile
  developer/runner.dockerfile.dockerignore
  servers/execution/runner/.gitignore
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/DOCKER.md
  servers/execution/runner/README.md
  servers/execution/runner/compose.runner.dev.yml
  servers/execution/runner/compose.runner.yml
  servers/execution/runner/config/runner.test.yaml.sample
  servers/execution/runner/config/runner.yaml.sample
  servers/execution/runner/package.json
  servers/execution/runner/runner.yaml.sample
  servers/execution/runner/src/execa-runner.ts
  servers/execution/runner/src/main.ts
  servers/execution/runner/src/runner-factory.service.ts
  servers/execution/runner/test/data/scripts/create
  servers/execution/runner/test/data/scripts/create.ps1
  servers/execution/runner/test/data/scripts/execute
  servers/execution/runner/test/data/scripts/execute.ps1
  servers/execution/runner/test/integration/execa-runner.spec.ts
  servers/execution/runner/test/integration/runner-factory.service.spec.ts
  servers/lib/DOCKER.md
Due: Lib Microservice

fix(servers): bump patch versions and align runner and logger on Windows
  docs/user/servers/execution/runner/readme.md
  servers/execution/runner/.gitignore
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/package.json
  servers/execution/runner/src/config/commander.ts
  servers/execution/runner/test/unit/version.spec.ts
  servers/lib/package.json
  servers/logger/package.json
  servers/logger/src/main.ts
Due: Lib Microservice

docs(servers): add sample configurations to logger and runner READMEs
  servers/execution/runner/.gitignore
  servers/execution/runner/README.md
  servers/logger/README.md
Due: none

chore(github): add dependabot version updates for the logger
  .github/dependabot.yml
Due: none

docs(client): keep one site's GitLab out of the shared test README
  client/test/README.md
Due: Website

fixes test issues and increments package version
  client/package.json
  client/test/e2e/setup/authStorage.ts
  client/test/unit/page/NotFound.test.tsx
  client/test/unit/routes/Workbench.test.tsx
Due: Website

docs(agents): recommend only the verified pre-commit stage
  AGENTS.md
  docs/superpowers/specs/2026-09-16-devenv-container-design.md
Due: none

docs(agents): merge agent guidance and record the development loop
  .github/workflows/gitlab-common.yml
  .github/workflows/platform-services-cli.yml
  AGENTS.md
  CLAUDE.md
  developer/devenv/README.md
  docs/superpowers/specs/2026-09-16-devenv-container-design.md
Due: none

docs(agents): record pull request checks and fix pre-push hooks
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
Due: none

ci: upgrade actions and move to Node 26 and Python 3.14
  .github/workflows/client.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/docs.yml
  .github/workflows/dt-automation.yml
  .github/workflows/lint-scripts.yml
  .github/workflows/platform-services-cli.yml
  .github/workflows/python-cli.yml
  .github/workflows/python-reusable.yml
  .github/workflows/release-packages.yml
  deploy/vagrant/developer.sh
  developer/check/client.built.dockerfile
  developer/check/client.dockerfile
  lib/dt-automation/DEVELOPER.md
  lib/dt-automation/package.json
Due: none

fix(developer): address review of the devenv container
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .gitignore
  CONTRIBUTING.md
  client/DEVELOPER.md
  developer/check/docker-compose.yml
  developer/check/runner.dockerfile
  developer/check/runner.dockerfile.dockerignore
  developer/devenv/.env.example
  developer/devenv/DESIGN.md
  developer/devenv/Dockerfile
  developer/devenv/README.md
  developer/devenv/docker-compose.yml
  developer/devenv/init.sh
  docs/developer/index.md
  servers/execution/runner/DOCKER.md
  servers/execution/runner/compose.runner.dev.yml
  servers/execution/runner/compose.runner.yml
  servers/lib/DEVELOPER.md
  servers/logger/compose.logger.dev.yml
Due: Website, Lib Microservice

fix(developer): run the client images as the node user
  developer/check/client.built.dockerfile
  developer/check/client.dockerfile
  developer/devenv/Dockerfile
Due: none

ci(client): stop running Playwright in GitHub Actions
  .github/workflows/client.yml
  .github/workflows/docker-build.yml
Due: none

ci: run the Qlty CLI on pull requests
  .github/workflows/qlty.yml
  .qlty/qlty.toml
Due: none

ci: make the reusable Python artifact-path input optional
  .github/workflows/gitlab-common.yml
  .github/workflows/platform-services-cli.yml
  .github/workflows/python-reusable.yml
Due: none

docs(agents): keep AGENTS.md and move project instructions to PROJECT.md
  AGENTS.md
  CLAUDE.md
  PROJECT.md
Due: none
