Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Fixes tests for DigitalTwins page
  client/test/unitTests/Routes/DigitalTwins.test.tsx
  client/test/unitTests/testUtils.tsx
Due: Website

Improves DigitalTwin route test
  client/test/unitTests/Routes/DigitalTwins.test.tsx
  client/test/unitTests/testUtils.tsx
Due: Website

Fix syntax errors
  client/test/unitTests/Routes/DigitalTwins.test.tsx
Due: Website

Adds scope to library tabs (#235 and #321)
  .gitignore
  client/src/components/tab/TabComponent.tsx
  client/src/route/auth/AccountTabs.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/route/library/Library.tsx
  client/src/route/library/LibraryTabData.ts
  client/test/unitTests/Components/TabComponent.test.tsx
  client/test/unitTests/Routes/DigitalTwins.test.tsx
  client/test/unitTests/Routes/Library.test.tsx
  client/test/unitTests/testUtils.tsx
Due: Website

Added Graphql tests
  servers/lib/package.json
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/testUtil.ts
  servers/lib/yarn.lock
Due: Lib Microservice

Formatted files
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/testUtil.ts
Due: Lib Microservice

Changed workflow to run all tests
  .github/workflows/lib-ms.yml
Due: none

Make some yarn commands cross-platform
  client/package.json
  client/script/build.bash
  client/script/clean.bash
  client/script/graph.bash
  client/script/start.bash
  client/script/syntax.bash
Due: Website

Updates few non-code packages
  client/package.json
  client/yarn.lock
Due: Website

Updates prettier and formats code
  client/package.json
  client/public/static/css/MaterialIcon.css
  client/src/components/tab/TabComponent.tsx
  client/src/index.tsx
  client/src/route/library/Library.tsx
  client/test/integration/authRedux.test.tsx
  client/test/unitTests/Components/Linkbuttons.test.tsx
  client/test/unitTests/Components/PrivateRoute.test.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
  client/test/unitTests/Page/LayoutPublic.test.tsx
  client/test/unitTests/Page/page.testUtils.tsx
  client/test/unitTests/Routes/Library.test.tsx
  client/test/unitTests/Routes/SignIn.test.tsx
  client/test/unitTests/Util/Store.test.ts
  client/test/unitTests/Util/envUtil.test.ts
  client/test/unitTests/auth/AuthProvider.test.tsx
  client/test/unitTests/testUtils.tsx
  client/yarn.lock
Due: Website

update some dependencies
  client/package.json
  client/yarn.lock
Due: Website

Client package update (#293 and #323)
  client/package.json
  client/public/static/css/MaterialIcon.css
  client/script/build.bash
  client/script/clean.bash
  client/script/graph.bash
  client/script/start.bash
  client/script/syntax.bash
  client/src/components/tab/TabComponent.tsx
  client/src/index.tsx
  client/src/route/library/Library.tsx
  client/test/integration/authRedux.test.tsx
  client/test/unitTests/Components/Linkbuttons.test.tsx
  client/test/unitTests/Components/PrivateRoute.test.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
  client/test/unitTests/Page/LayoutPublic.test.tsx
  client/test/unitTests/Page/page.testUtils.tsx
  client/test/unitTests/Routes/Library.test.tsx
  client/test/unitTests/Routes/SignIn.test.tsx
  client/test/unitTests/Util/Store.test.ts
  client/test/unitTests/Util/envUtil.test.ts
  client/test/unitTests/auth/AuthProvider.test.tsx
  client/test/unitTests/testUtils.tsx
  client/yarn.lock
Due: Website

Removed socket-io-adapter amongst other related things
  servers/lib/src/adapters/socket-io-adapter.ts
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/events/events.gateway.ts
  servers/lib/src/events/events.module.ts
Due: Lib Microservice

Changed the name of the file server path secret
  servers/lib/src/bootstrap.ts
Due: Lib Microservice

Moved to schema first. E2E for local mode works
  files/user2/digital twins/.gitkeep
  servers/lib/package.json
  servers/lib/src/app.module.ts
  servers/lib/src/controllers/app.controller.ts
  servers/lib/src/generate-typings.ts
  servers/lib/src/graphql.ts
  servers/lib/src/resolvers/blob.resolver.ts
  servers/lib/src/resolvers/edge.resolver.ts
  servers/lib/src/resolvers/project.resolver.ts
  servers/lib/src/resolvers/repository.resolver.ts
  servers/lib/src/resolvers/tree.resolver.ts
  servers/lib/src/schema.gql
  servers/lib/src/services/app.service.ts
  servers/lib/src/services/node.service.ts
  servers/lib/test/data/user2/digital twins/.gitkeep
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/testUtil.ts
  servers/lib/yarn.lock
Due: Lib Microservice

Fixes mistakes in the docs
  SECURITY.md
  docs/admin/overview.md
  docs/index.md
  docs/user/examples/drobotti-rmqfmu/README.md
  docs/user/examples/drobotti-rmqfmu/dt-structure.png
  docs/user/examples/examples.drawio
  docs/user/examples/index.md
  docs/user/examples/mass-spring-damper/README.md
  docs/user/examples/water_tank_FI/README.md
  docs/user/examples/water_tank_swap/README.md
Due: none

Update docs and adds publication for runner (#275)
  .github/workflows/lib-ms.yml
  .github/workflows/runner.yml
  .gitignore
  SECURITY.md
  docs/admin/servers/lib/LIB-MS.md
  docs/developer/servers/lib/lib-ms.md
  docs/user/examples/drobotti-rmqfmu/README.md
  docs/user/examples/drobotti-rmqfmu/dt-structure.png
  docs/user/examples/drobotti-rmqfmu/system.png
  docs/user/examples/examples.drawio
  mkdocs-github.yml
  mkdocs.yml
  servers/execution/runner/README.md
  servers/execution/runner/package.json
  servers/execution/runner/script/build.bash
  servers/execution/runner/script/clean.bash
  servers/execution/runner/script/graph.bash
  servers/execution/runner/script/install.bash
  servers/execution/runner/script/start.bash
  servers/execution/runner/script/syntax.bash
  servers/execution/runner/script/test.bash
  servers/execution/runner/yarn.lock
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/test/README.md
Due: Lib Microservice

skip package upgrade
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

parent 7709e00ae1271d1e0311c6ddcba77c60d47cf664 author lindot11 <lindaspostboks@gmail.com> 1701026896 +0100 committer Linda Nguyen <92531748+lindot11@users.noreply.github.com> 1701283986 +0100
  client/.prettierrc
  client/src/index.tsx
  client/test/e2e/playwright/Auth.test.ts
  client/test/e2e/playwright/Menu.test.ts
  client/test/e2e/playwright/auth.setup.ts
  client/test/integration/authRedux.test.tsx
  client/test/unitTests/Components/Linkbuttons.test.tsx
  client/test/unitTests/Components/PrivateRoute.test.tsx
  client/test/unitTests/Page/LayoutPublic.test.tsx
  client/test/unitTests/Page/page.testUtils.tsx
  client/test/unitTests/Routes/Library.test.tsx
  client/test/unitTests/Routes/SignIn.test.tsx
  client/test/unitTests/Util/Store.test.ts
  client/test/unitTests/Util/envUtil.test.ts
  client/test/unitTests/auth/AuthProvider.test.tsx
  client/test/unitTests/testUtils.tsx
  docs/user/examples/examples.drawio
  servers/execution/runner/README.md
Due: Website

true version before rebase mess
  client/.prettierrc
  client/src/index.tsx
  client/test/e2e/playwright/Auth.test.ts
  client/test/e2e/playwright/Menu.test.ts
  client/test/e2e/playwright/auth.setup.ts
  client/test/integration/authRedux.test.tsx
  client/test/unitTests/Components/Linkbuttons.test.tsx
  client/test/unitTests/Components/PrivateRoute.test.tsx
  client/test/unitTests/Page/LayoutPublic.test.tsx
  client/test/unitTests/Page/page.testUtils.tsx
  client/test/unitTests/Routes/Library.test.tsx
  client/test/unitTests/Routes/SignIn.test.tsx
  client/test/unitTests/Util/Store.test.ts
  client/test/unitTests/Util/envUtil.test.ts
  client/test/unitTests/auth/AuthProvider.test.tsx
  client/test/unitTests/testUtils.tsx
  docs/user/examples/examples.drawio
  servers/execution/runner/README.md
Due: Website

added pre-commit commands to guide
  docs/developer/index.md
Due: none

Started splitting into servicesg
  servers/lib/src/app.module.ts
  servers/lib/src/controllers/app.controller.ts
  servers/lib/src/graphql.ts
  servers/lib/src/resolvers/project.resolver.ts
  servers/lib/src/schema.gql
  servers/lib/src/schema.graphql
  servers/lib/src/services/app.service.ts
  servers/lib/src/services/project.service.ts
Due: Lib Microservice

hooks for shellcheck, json and yaml check
  .pre-commit-config.yaml
  client/src/components/tab/TabComponent.tsx
  client/src/route/library/Library.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
  script/docs.sh
  script/env.sh
Due: Website

Fixed e2e test
  servers/lib/package.json
  servers/lib/src/files/queries.ts
  servers/lib/src/files/services/gitlab-files.service.ts
  servers/lib/src/files/services/local-files.service.ts
  servers/lib/test/data/user2/digital twins/.gitkeep
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/testUtil.ts
  servers/lib/yarn.lock
Due: Lib Microservice

Added missing
  .github/workflows/lib-ms.yml
  files/dtaas/common/data/.gitkeep
  files/dtaas/common/digital_twins/.gitkeep
  files/dtaas/common/functions/.gitkeep
  files/dtaas/common/models/.gitkeep
  files/dtaas/common/tools/.gitkeep
  files/dtaas/user1/data/.gitkeep
  files/dtaas/user1/digital_twins/.gitkeep
  files/dtaas/user1/functions/.gitkeep
  files/dtaas/user1/models/.gitkeep
  files/dtaas/user1/tools/.gitkeep
  files/dtaas/user2/data/.gitkeep
  files/dtaas/user2/digital twins/.gitkeep
  files/dtaas/user2/functions/.gitkeep
  files/dtaas/user2/models/.gitkeep
  files/dtaas/user2/tools/.gitkeep
  files/dtaas/user2/tools/README.md
Due: none

Removed console.log
  servers/lib/src/files/services/gitlab-files.service.ts
Due: Lib Microservice

Fixed syntax
  servers/lib/src/files/services/gitlab-files.service.ts
  servers/lib/test/e2e/app.e2e.spec.ts
Due: Lib Microservice

markdownlint and shellcheck on alle files
  .pre-commit-config.yaml
Due: none

fixing codeclimate checks
  docs/developer/index.md
Due: none

wrapped mdlint hook to not exit 1 on pre-commit
  .pre-commit-config.yaml
  script/markdownlint-hook.sh
Due: none

made script executable
  script/markdownlint-hook.sh
Due: none

Removed comments
  servers/lib/test/e2e/app.e2e.spec.ts
Due: Lib Microservice

Added authentication again
  servers/lib/src/files/services/gitlab-files.service.ts
Due: Lib Microservice

updated guide with pre-commit autoupdate command
  docs/developer/index.md
Due: none

Auth Microservice Concept Demo
  servers/auth/README.md
  servers/auth/compose.yml
  servers/auth/conf
Due: none

Update README.md for Auth MS Demo
  servers/auth/README.md
Due: none

Reverted changes in filestructure
  files/common/data/.gitkeep
  files/common/digital_twins/.gitkeep
  files/common/functions/.gitkeep
  files/common/models/.gitkeep
  files/common/tools/.gitkeep
  files/dtaas/user2/tools/README.md
  files/user1/data/.gitkeep
  files/user1/digital twins/.gitkeep
  files/user1/functions/.gitkeep
  files/user1/models/.gitkeep
  files/user1/tools/.gitkeep
  files/user2/data/.gitkeep
  files/user2/digital twins/.gitkeep
  files/user2/functions/.gitkeep
  files/user2/models/.gitkeep
  files/user2/tools/.gitkeep
  servers/lib/package.json
  servers/lib/src/files/services/local-files.service.ts
Due: Lib Microservice

Changed to digital_twins
  files/user1/digital_twins/.gitkeep
  files/user2/digital_twins/.gitkeep
  servers/lib/test/data/user2/digital_twins/.gitkeep
  servers/lib/test/testUtil.ts
Due: Lib Microservice

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
