Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

test pre-commit with typo
  .pre-commit-config.yaml
Due: none

undo typo and uncomment mdlint
  .pre-commit-config.yaml
Due: none

remove type
  .pre-commit-config.yaml
Due: none

test pre-commit
  .pre-commit-config.yaml
Due: none

uncomment format-check
  .pre-commit-config.yaml
Due: none

test dummy format
  client/dummy.js
Due: Website

test dummy
  client/dummy.js
Due: Website

commit dummies to git for test git diff
  .pre-commit-config.yaml
  client/dummy.ts
  servers/execution/runner/dummy.ts
Due: Website

test pre-commit eslint
  .pre-commit-config.yaml
Due: none

pre-commit config to replace custom pre-commit
  .pre-commit-config.yaml
  client/dummy.js
  script/pre-commit-format-check.sh
Due: Website

added directory lib to hooks
  .pre-commit-config.yaml
Due: none

test pre-commit yarn install
  .pre-commit-config.yaml
Due: none

yarn install logic to pre-commit
  .pre-commit-config.yaml
Due: none

prettified pre-commit-config
  .pre-commit-config.yaml
Due: none

added pre-push hooks
  .pre-commit-config.yaml
Due: none

test dummy pre-push
  client/dummy.ts
Due: Website

test pre-push yarn jest
  .pre-commit-config.yaml
Due: none

test pre-push yarn jest
  client/dummy.ts
Due: Website

test again
  .pre-commit-config.yaml
Due: none

test pre-push again
  .pre-commit-config.yaml
Due: none

test again
  client/dummy.ts
Due: Website

TEST CORRECTLY
  .pre-commit-config.yaml
  servers/execution/runner/dummy.ts
Due: none

test manual push
  servers/execution/runner/dummy.ts
Due: none

another manual test
  servers/execution/runner/dummy.ts
Due: none

test all pre-commit hooks
  .pre-commit-config.yaml
  client/dummy.ts
  servers/execution/runner/dummy.ts
Due: Website

added default hooks
  .pre-commit-config.yaml
  client/dummy.ts
  servers/execution/runner/dummy.ts
Due: Website

added pre-push test for lib
  .pre-commit-config.yaml
Due: none

test git hooks dir
  .git-hooks/hooks/pre-commit
  .git-hooks/hooks/pre-push
  .git-hooks/temp store/pre-commit
  .git-hooks/temp store/pre-push
Due: none

test dir with dummie
  client/dummy.ts
  servers/execution/runner/dummy.ts
Due: Website

undo hook dir back to before
  .git-hooks/hooks/pre-commit
  .git-hooks/hooks/pre-push
  .git-hooks/pre-commit
  .git-hooks/pre-push
Due: none

test git hooks
  client/dummy.ts
  githook_test.sh
  servers/execution/runner/dummy.ts
  servers/lib/dummy.ts
Due: Website, Lib Microservice

test git hooks
  githook_test.sh
Due: none

test git hooks
  .pre-commit-config.yaml
  githook_test.sh
  servers/execution/runner/dummy.ts
Due: none

test git hooks
  .pre-commit-config.yaml
  client/bum.ts
  githook_test.sh
  servers/execution/runner/dummy.ts
Due: Website

test git hooks
  .pre-commit-config.yaml
Due: none

test git hooks
  .pre-commit-config.yaml
  client/dummy.ts
  githook_test.sh
Due: Website
