Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Removed git hooks section from developer doc
  docs/developer/index.md
Due: none

Updated docker installation to include buildx
  script/base.sh
Due: none

adds enum
  servers/lib/src/enums/config-mode.enum.ts
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/local/local-files.service.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
Due: Lib Microservice

formatting
  servers/lib/src/enums/config-mode.enum.ts
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/files.module.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
Due: Lib Microservice

Fix broken preview tests
  client/package.json
  client/src/preview/util/gitlabDigitalTwin.ts
  client/test/preview/integration/route/digitaltwins/editor/Editor.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/PreviewTab.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/utils.ts
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/DetailsButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/DetailsDialog.test.tsx
  client/yarn.lock
Due: Website

Remove lib.env mapping from libms container
  deploy/docker/compose.server.secure.yml
  deploy/docker/compose.server.yml
Due: none

Remove some mkdocs callouts for 'tip'
  deploy/docker/DOCKER-ENV.md
  deploy/docker/LOCALHOST.SECURE.md
  deploy/docker/LOCALHOST.md
  docs/admin/host.md
  docs/admin/localhost.md
Due: none

Preserve mkdocs tip callout for docs/admin
  docs/admin/host.md
  docs/admin/localhost.md
Due: none

Remove lib.env mapping from SERVER.md
  deploy/docker/SERVER.md
Due: none

Add OAUTH prefix for docker/.env
  docker/.env
Due: none

changed to IfilesService array
  servers/lib/src/files/files-service.factory.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
Due: Lib Microservice

Adds a `LIB_CONFIG` variable for the libms env file
  docker/.env
  docker/compose.dev.yml
Due: none

changed to IfilesService array
  servers/lib/src/files/files.module.ts
Due: Lib Microservice

Format markdowns
  deploy/docker/DOCKER-ENV.md
  deploy/docker/LOCALHOST.SECURE.md
Due: none

fixed errors
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/local/local-files.service.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
  servers/lib/tsconfig.json
Due: Lib Microservice

formatting
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/git/git-files.module.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/local/local-files.module.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/integration/files.service.integration.spec.ts
Due: Lib Microservice

adds formatting to step
  .github/workflows/lib-ms.yml
Due: none

removes redundant yarn install
  .github/workflows/lib-ms.yml
Due: none

sets dataPath in constructor
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/local/local-files.service.ts
Due: Lib Microservice

fixed linting problem
  servers/lib/src/files/git/git-files.service.ts
Due: Lib Microservice

Enable debugging for traefik + forward auth
  deploy/docker/compose.local.yml
  deploy/docker/compose.server.yml
Due: none

Fix incorrect docker commands in `LOCALHOST.SECURE.md`
  deploy/docker/LOCALHOST.SECURE.md
Due: none

fixed failling test
  servers/lib/test/unit/files-service.factory.unit.spec.ts
Due: Lib Microservice

Adds skeleton code for git mode in libms (#965)
  .github/workflows/lib-ms.yml
  servers/lib/src/enums/config-mode.enum.ts
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/files.resolver.ts
  servers/lib/src/files/git/git-files.module.ts
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/local/local-files.module.ts
  servers/lib/src/files/local/local-files.service.ts
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
  servers/lib/test/unit/local-files.service.unit.spec.ts
  servers/lib/tsconfig.json
Due: Lib Microservice

Fixes runner E2E tests
  servers/execution/runner/test/e2e/commander.spec.ts
  servers/execution/runner/test/e2e/options.spec.ts
Due: none

Increments version number
  servers/execution/runner/package.json
Due: none

Limits permitted commands in Runner (#1016)
  servers/execution/runner/README.md
  servers/execution/runner/api/dev.api.http
  servers/execution/runner/api/workspace.api.http
  servers/execution/runner/eslint.config.js
  servers/execution/runner/package.json
  servers/execution/runner/runner.api.http
  servers/execution/runner/runner.yaml
  servers/execution/runner/runner.yaml.sample
  servers/execution/runner/src/config/commander.ts
  servers/execution/runner/src/execa-manager.service.ts
  servers/execution/runner/src/execa-runner.ts
  servers/execution/runner/src/interfaces/command.interface.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/test/data/script/execute
  servers/execution/runner/test/e2e/commander.spec.ts
  servers/execution/runner/test/e2e/options.spec.ts
  servers/execution/runner/test/e2e/util.ts
  servers/execution/runner/test/integration/app.controller.spec.ts
  servers/execution/runner/test/integration/execa-manager.service.spec.ts
  servers/execution/runner/test/integration/execa-runner.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
  servers/execution/runner/test/unit/validation.pipe.spec.ts
  servers/execution/runner/test/utils.ts
  servers/execution/runner/yarn.lock
Due: none

upgrades npm dependencies of runner
  servers/execution/runner/.eslintignore
  servers/execution/runner/.eslintrc
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
Due: none

Improves runner workflow
  .github/workflows/runner.yml
Due: none

Update runner dependencies (#1017)
  .github/workflows/runner.yml
  servers/execution/runner/.eslintignore
  servers/execution/runner/.eslintrc
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
Due: none

adds test workflow
  .github/workflows/test-publish-npm.yml
Due: none

changed package name
  servers/lib/package.json
Due: Lib Microservice

changed to workflow call
  .github/workflows/test-publish-npm.yml
Due: none

changed workflow call
  .github/workflows/lib-ms.yml
Due: none

removed push event requirement
  .github/workflows/lib-ms.yml
Due: none

fixed input mispell
  .github/workflows/lib-ms.yml
Due: none

changed to job instead of step
  .github/workflows/lib-ms.yml
Due: none

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
