Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Fix broken preview unit tests
  client/package.json
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/util/gitlabDigitalTwin.ts
  client/test/e2e/tests/auth.setup.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/StartStopButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/LogDialog.test.tsx
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
  client/yarn.lock
Due: Website

Upgrade all client dependencies to latest
  client/package.json
  client/playwright.config.ts
  client/yarn.lock
Due: Website

Update packages to latest and fix broken test
  client/yarn.lock
Due: Website

Upgrade mui and emotion packages to latest
  client/yarn.lock
Due: Website

Update eslint
  client/package.json
  client/yarn.lock
Due: Website

Downgrade typescript for Eslint
  client/package.json
  client/playwright.config.ts
  client/yarn.lock
Due: Website

Refactor useSignOut
  client/src/util/auth/Authentication.ts
Due: Website

Manual merge
  client/eslint.config.mjs
Due: Website

Fix broken preview int tests
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/components/asset/StartStopButton.test.tsx
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/integration/route/digitaltwins/Snackbar.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/LogDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineChecks.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
Due: Website

Add Windows as OS in client.yml
  .github/workflows/client.yml
Due: none

Match upgrades in yarn and package.json
  client/yarn.lock
Due: Website

Format correctly
  client/test/unit/util/Auth/Authentication.test.ts
Due: Website

Install @babel/plugin-proposal-private-property-in-object
  client/package.json
Due: Website

Downgrade typescript for Eslint
  client/playwright.config.ts
  client/yarn.lock
Due: Website

Resolve packages with yarn rather than npm
  client/yarn.lock
Due: Website

Change function names to camel case
  client/src/page/MenuToolbar.tsx
  client/test/unit/util/Auth/Authentication.test.ts
Due: Website

Downgrade Typescript to 5.1.6, fix new eslint issues
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/yarn.lock
Due: Website

Eslint fixes: Turn getAndSetUsername and signOut into hooks
  client/test/unit/util/Auth/Authentication.test.ts
Due: Website

Fix broken preview unit tests
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
  client/yarn.lock
Due: Website

Fix broken preview tests
  client/yarn.lock
Due: Website

Fix broken preview int tests
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
Due: Website

Format and add 1 local retry to inconsistent e2e tests
  client/playwright.config.ts
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/DetailsButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/DetailsDialog.test.tsx
Due: Website

Add changes made to yarn.lock
  client/yarn.lock
Due: Website

Add ignore pattern for unused errors and upgrade jest-dom
  client/package.json
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
Due: Website

Remove extra error string
  client/src/preview/util/gitlabDigitalTwin.ts
Due: Website

Update test.js
  client/config/test.js
Due: Website

Removes unnecessary file Fixes package version in runner
  servers/execution/runner/package.json
  servers/execution/runner/src/config/commander.ts
  yarn.lock
Due: none

Adds npm publishing step to runner
  .github/workflows/lib-ms.yml
  .github/workflows/publish-npm.yml
  .github/workflows/runner.yml
  docs/developer/github-actions.md
Due: none

cosmetic changes in directories to trigger workflows
  servers/execution/runner/DEVELOPER.md
  servers/lib/DEVELOPER.md
Due: Lib Microservice

fix mistake in runner workflow
  .github/workflows/runner.yml
Due: none

Add GUI guide for localhost
  docs/admin/guides/localhost_portainer.md
  docs/admin/guides/portainer_dashboard.png
  docs/admin/guides/portainer_env.PNG
  docs/admin/guides/portainer_stacks.png
Due: none

Add guide to mkdocs
  mkdocs-github.yml
  mkdocs.yml
Due: none

Fix design image link
  docs/admin/guides/localhost_portainer.md
Due: none

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
