Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

named package libms for npm registry
  servers/lib/package-lock.json
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

version no updated after private publish
  servers/lib/package-lock.json
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

specified imported members functions used
  servers/lib/src/main.ts
Due: Lib Microservice

1st update
  client/src/route/library/Library.tsx
  client/src/route/library/LibraryTabData.ts
Due: Website

updated urls
  client/src/route/library/Library.tsx
Due: Website

applied feedback changes
  client/src/route/library/Library.tsx
  client/src/route/library/LibraryTabData.ts
Due: Website

update urls
  client/src/route/library/Library.tsx
Due: Website

Updates runner dependencies (#166)
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
Due: none

Disable rule for markdownlint
  docs/FAQ.md
Due: none

Fix codeclimate issue
  .mdl_style.rb
  docs/PUBLISH.md
  docs/admin/vagrant/base-box.md
Due: none

Updates install scripts and READMEs
  deploy/README.md
  deploy/config/client/env.js
  deploy/install.sh
  deploy/single-script-install.sh
  deploy/vagrant/make_boxes/dtaas/developer.sh
  deploy/vagrant/make_boxes/dtaas/provision.sh
  deploy/vagrant/make_boxes/dtaas/user.sh
  docs/admin/host.md
  docs/admin/services.md
  script/docker.sh
  script/env.sh
  servers/config/gateway/README.md
  servers/lib/test/starttraefik.bash
Due: Lib Microservice

Updates scripts for vagrant base box
  deploy/vagrant/make_boxes/dtaas/README.md
  deploy/vagrant/make_boxes/dtaas/developer.sh
  deploy/vagrant/make_boxes/dtaas/user.sh
Due: none

Fixes formatting mistakes in docs
  deploy/vagrant/make_boxes/dtaas/README.md
  docs/FAQ.md
  docs/admin/vagrant/base-box.md
  docs/developer/system/current-status.md
  docs/user/digital-twins/create.md
Due: none

Updates docs
  docs/admin/trial.md
Due: none

Fixes codeclimate issues
  deploy/single-script-install.sh
  deploy/vagrant/make_boxes/dtaas/README.md
  deploy/vagrant/make_boxes/dtaas/provision.sh
  deploy/vagrant/make_boxes/dtaas/user.sh
  docs/admin/vagrant/base-box.md
  script/env.sh
Due: none

Reverts markdownlint config
  .gitignore
  docs/thanks.md
Due: none

Cleans up more markdownlint errors
  docs/admin/client/CLIENT.md
  docs/admin/client/auth.md
  docs/user/examples/index.md
  docs/user/servers/lib/LIB-MS.md
Due: none

Completes the single script install and corresponding documentation
  deploy/single-script-install.sh
  docs/admin/trial.md
Due: none

Reverts markdown lint ignore variable
  .mdl_style.rb
Due: none

Updates install scripts
  client/script/clean.bash
  deploy/install.sh
  deploy/vagrant/make_boxes/dtaas/Vagrantfile
  deploy/vagrant/make_boxes/dtaas/provision.sh
  docs/admin/trial.md
  servers/execution/runner/script/clean.bash
  servers/lib/script/clean.bash
Due: Website, Lib Microservice

Improves install scripts and docs
  README.md
  deploy/vagrant/make_boxes/dtaas/README.md
  deploy/vagrant/make_boxes/dtaas/developer.sh
  deploy/vagrant/make_boxes/dtaas/user.sh
  docs/admin/services.md
  docs/index.md
  docs/thanks.md
  script/env.sh
Due: none

fix mistakes in scripts
  deploy/vagrant/make_boxes/dtaas/developer.sh
  script/env.sh
Due: none

Cleans up OAuth explanation in docs
  deploy/README.md
  deploy/vagrant/make_boxes/dtaas/README.md
  docs/admin/client/auth.md
  docs/admin/host.md
  docs/admin/trial.md
Due: none

fix markdownlint issue
  docs/admin/trial.md
Due: none

Updates install scripts and docs (#150)
  .gitignore
  README.md
  client/script/clean.bash
  deploy/README.md
  deploy/config/client/env.js
  deploy/install.sh
  deploy/single-script-install.sh
  deploy/vagrant/make_boxes/dtaas/README.md
  deploy/vagrant/make_boxes/dtaas/Vagrantfile
  deploy/vagrant/make_boxes/dtaas/developer.sh
  deploy/vagrant/make_boxes/dtaas/provision.sh
  deploy/vagrant/make_boxes/dtaas/user.sh
  docs/FAQ.md
  docs/PUBLISH.md
  docs/admin/client/CLIENT.md
  docs/admin/client/auth.md
  docs/admin/host.md
  docs/admin/services.md
  docs/admin/trial.md
  docs/admin/vagrant/base-box.md
  docs/developer/system/current-status.md
  docs/index.md
  docs/thanks.md
  docs/user/digital-twins/create.md
  docs/user/examples/index.md
  docs/user/servers/lib/LIB-MS.md
  script/docker.sh
  script/env.sh
  servers/config/gateway/README.md
  servers/execution/runner/script/clean.bash
  servers/lib/script/clean.bash
  servers/lib/test/starttraefik.bash
Due: Website, Lib Microservice

docs for 10b4924 commit
  DTaaS-development.pdf
  development/FAQ.html
  development/LICENSE.html
  development/PUBLISH.html
  development/admin/client/CLIENT.html
  development/admin/client/auth.html
  development/admin/host.html
  development/admin/servers/lib/LIB-MS.html
  development/admin/services.html
  development/admin/trial.html
  development/admin/vagrant/base-box.html
  development/developer/index.html
  development/developer/servers/lib/lib-ms.html
  development/developer/system/architecture.html
  development/developer/system/current-status.html
  development/developer/testing/intro.html
  development/index.html
  development/search/search_index.json
  development/sitemap.xml.gz
  development/thanks.html
  development/user/digital-twins/create.html
  development/user/digital-twins/lifecycle.html
  development/user/examples/incubator/index.html
  development/user/examples/index.html
  development/user/features.html
  development/user/motivation.html
  development/user/servers/lib/LIB-MS.html
  development/user/servers/lib/assets.html
  development/user/website/index.html
Due: none

Update Library.tsx
  client/src/route/library/Library.tsx
Due: Website

Refactor shell scripts to reduce duplication
  deploy/install.sh
  script/base.sh
  script/env.sh
Due: none

removed package lock.json
  servers/lib/package-lock.json
Due: Lib Microservice

Refactor shell scripts to reduce duplication (#170)
  deploy/install.sh
  script/base.sh
  script/env.sh
Due: none

traefik-gateway uses new auth
  servers/config/gateway/README.md
Due: none

inital commit on admin guides
  docs/admin/guides/guide.md
  mkdocs.yml
Due: none

added admin overview section
  docs/admin/overview.md
  mkdocs.yml
Due: none

nest-commander and libms command implemented
  servers/lib/package.json
  servers/lib/src/app.module.ts
  servers/lib/src/libms.command.ts
  servers/lib/src/main.ts
  servers/lib/yarn.lock
  yarn.lock
Due: Lib Microservice

solved peer dependencies
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

v0.4.0
  servers/lib/package.json
Due: Lib Microservice

restructuring
  docs/admin/client/auth.md
  docs/admin/trial.md
Due: none

adds overview
  docs/admin/overview.md
Due: none

restore yarn.lock to test linting checks
  servers/lib/yarn.lock
Due: Lib Microservice

applied fix to lint check errors
  servers/lib/src/app.module.ts
  servers/lib/src/libms.command.ts
Due: Lib Microservice
