Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

test git hooks
  client/dum.ts
Due: Website

test git hooks
  .pre-commit-config.yaml
  client/dum.ts
  client/dummy.ts
  githook_test.sh
  servers/lib/dummy.md
Due: Website, Lib Microservice

test git hooks
  .pre-commit-config.yaml
Due: none

reset after test
  client/dummy.js
  githook_test.sh
  servers/execution/runner/dummy.ts
  servers/lib/dummy.md
Due: Website, Lib Microservice

test git hooks
  githook_test.sh
  servers/lib/dummy.md
Due: Lib Microservice

test git hooks
  client/dummy.js
  githook_test.sh
  servers/execution/runner/dummy.ts
Due: Website

test git hooks
  githook_test.sh
Due: none

reset after test
  client/dummy.js
  servers/execution/runner/dummy.ts
  servers/lib/dummy.md
Due: Website, Lib Microservice

test git hooks
  client/dummy.js
  servers/execution/runner/dummy.ts
  servers/lib/dummy.md
Due: Website, Lib Microservice

test git hooks
  client/dummy.js
  githook_test.sh
Due: Website

reset after test
  client/dummy.js
Due: Website

test git hooks
  client/dummy.js
Due: Website

reset after test
  githook_test.sh
Due: none

reset after test
  .pre-commit-config.yaml
  githook_test.sh
Due: none

test script for git hooks done
  githook_test.sh
Due: none

githook test and log for documentation
  githook_test.sh
  githook_test_log.txt
Due: none

test git hooks
  client/dummy.ts
  githook_test.sh
  servers/execution/runner/dummy.js
  servers/lib/dummy.md
Due: Website, Lib Microservice

reset after test
  client/dummy.ts
  servers/execution/runner/dummy.js
  servers/lib/dummy.md
Due: Website, Lib Microservice

improved test
  githook_test.sh
Due: none

went back to original test
  githook_test.sh
Due: none

final test script
  githook_test.sh
Due: none

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
