Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Updates the docs of the library microservice
  docs/admin/servers/lib/LIB-MS.md
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/test/README.md
Due: Lib Microservice

added guide for workspace and host site without https
  docs/admin/guides/hosting_site_without_https.md
  docs/admin/overview.md
  mkdocs.yml
Due: none

codeclimate error identical code
  client/test/unitTests/Components/TabComponent.test.tsx
Due: Website

i tried to fix the codeclimate errors
  client/src/route/library/Library.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
Due: Website

changed tests
  client/test/unitTests/Components/TabComponent.test.tsx
Due: Website

changed lines in tbacomponent
  client/src/components/tab/TabComponent.tsx
Due: Website

codeclimate errors
  client/src/route/digitaltwins/DigitalTwins.tsx
Due: Website

codeclimate error
  client/src/route/digitaltwins/DigitalTwins.tsx
Due: Website

changed something back
  client/src/components/tab/TabComponent.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
Due: Website

changed to working again
  client/src/route/library/Library.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
Due: Website

refactored library and tests
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/route/library/Library.tsx
  client/test/unitTests/Components/TabComponent.test.tsx
Due: Website

removed one line
  client/src/route/digitaltwins/DigitalTwins.tsx
Due: Website

refactored digitaltwins
  client/src/route/digitaltwins/DigitalTwins.tsx
Due: Website

fixed everything at least i hope so
  client/src/components/tab/TabComponent.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
Due: Website

Removes skeleton code for config within runner component
  servers/execution/runner/nest-cli.json
  servers/execution/runner/package.json
  servers/execution/runner/runner.yml.sample
  servers/execution/runner/src/app.module.ts
  servers/execution/runner/src/config/Config.interface.ts
  servers/execution/runner/src/config/configuration.ts
Due: none

Adds docs for desktop robotti with rabbitmq example
  docs/user/examples/drobotti-rmqfmu/README.md
  docs/user/examples/drobotti-rmqfmu/dt-structure.png
  docs/user/examples/drobotti-rmqfmu/system.png
  docs/user/examples/examples.drawio
  mkdocs-github.yml
  mkdocs.yml
  servers/execution/runner/README.md
  servers/lib/DEVELOPER.md
Due: Lib Microservice

Update docs and adds publication for runner (#275)
  .github/workflows/lib-ms.yml
  .github/workflows/runner.yml
  .gitignore
  SECURITY.md
  docs/admin/servers/lib/LIB-MS.md
  docs/developer/servers/lib/lib-ms.md
  docs/user/examples/drobotti-rmqfmu/README.md
  docs/user/examples/drobotti-rmqfmu/dt-structure.png
  docs/user/examples/drobotti-rmqfmu/system.png
  docs/user/examples/examples.drawio
  mkdocs-github.yml
  mkdocs.yml
  servers/execution/runner/README.md
  servers/execution/runner/package.json
  servers/execution/runner/script/build.bash
  servers/execution/runner/script/clean.bash
  servers/execution/runner/script/graph.bash
  servers/execution/runner/script/install.bash
  servers/execution/runner/script/start.bash
  servers/execution/runner/script/syntax.bash
  servers/execution/runner/script/test.bash
  servers/execution/runner/yarn.lock
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/test/README.md
Due: Lib Microservice

Fixes mistakes in the docs
  SECURITY.md
  docs/admin/overview.md
  docs/index.md
  docs/user/examples/drobotti-rmqfmu/README.md
  docs/user/examples/drobotti-rmqfmu/dt-structure.png
  docs/user/examples/examples.drawio
  docs/user/examples/index.md
  docs/user/examples/mass-spring-damper/README.md
  docs/user/examples/water_tank_FI/README.md
  docs/user/examples/water_tank_swap/README.md
Due: none

Update link_service.md
  docs/admin/guides/link_service.md
Due: none

Update hosting_site_without_https.md
  docs/admin/guides/hosting_site_without_https.md
Due: none

Create open_terminal_in_workspace.gif
  docs/admin/guides/open_terminal_in_workspace.gif
Due: none

moved to different js file
  docs/admin/guides/add_service.md
Due: none

added warning about RAM and CPU
  docs/admin/guides/add_service.md
Due: none

Update add_user.md
  docs/admin/guides/add_user.md
Due: none

formatting
  docs/admin/guides/add_service.md
  docs/admin/guides/add_user.md
  docs/admin/guides/hosting_site_without_https.md
  docs/admin/trial.md
Due: none

formatting
  docs/admin/guides/hosting_site_without_https.md
  docs/admin/trial.md
Due: none

updated based on PR feedback
  docs/admin/guides/add_service.md
  docs/admin/guides/add_user.md
  docs/admin/guides/common_workspace_readonly.md
  docs/admin/guides/hosting_site_without_https.md
  docs/admin/guides/link_service.md
Due: none

updated mkdocs
  mkdocs-github.yml
  mkdocs.yml
Due: none

formatting
  docs/admin/guides/add_service.md
  docs/admin/guides/hosting_site_without_https.md
Due: none

Create update_basepath.md
  docs/admin/guides/update_basepath.md
Due: none

formatting
  docs/admin/guides/hosting_site_without_https.md
  docs/admin/guides/link_service.md
Due: none

formatting
  docs/admin/host.md
Due: none

changed ml workpsace image to minimal version
  deploy/install.sh
  deploy/single-script-install.sh
  deploy/vagrant/make_boxes/dtaas/user.sh
  docs/admin/client/CLIENT.md
  docs/admin/guides/add_user.md
  docs/admin/guides/common_workspace_readonly.md
  docs/admin/guides/update_basepath.md
  script/docker.sh
Due: none

added specific version
  deploy/install.sh
  deploy/single-script-install.sh
  deploy/vagrant/make_boxes/dtaas/user.sh
  docs/admin/client/CLIENT.md
  docs/admin/guides/add_user.md
  docs/admin/guides/common_workspace_readonly.md
  docs/admin/guides/update_basepath.md
  script/docker.sh
Due: none

Added refactored format-check script to run in pre-commit
  .pre-commit-config.yaml
  script/pre-commit-format-check.sh
Due: none

removed typo
  script/pre-commit-format-check.sh
Due: none

added repo to test pre-commit
  .pre-commit-config.yaml
Due: none

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
