Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

Attempt to fix merge conflicts
  .github/workflows/lib-ms.yml
  servers/lib/DEVELOPER.md
Due: Lib Microservice

removed runner dockerfile
  servers/execution/runner/dockerfile
Due: none

moved docker files to folder
  docker/client.dockerfile
  docker/compose.yml
  docker/libms.dockerfile
Due: none

Resolved PR Review issues
  servers/auth/.env
  servers/auth/compose.yml
  servers/auth/conf
Due: none

LibMS, Client integration Trial 1
  servers/auth/.env
  servers/auth/compose.yml
  servers/auth/conf
Due: none

Updates documentation to include correct C4 diagrams. Adds screenshots of the new website. Minor updates to other parts of the documentation.
  docs/FAQ.md
  docs/FAQ/matlab-simulink.mp4
  docs/admin/servers/lib/LIB-MS.md
  docs/bugs.md
  docs/developer/system/C4-L1_diagram.png
  docs/developer/system/C4-L2_diagram_detailed.png
  docs/developer/system/C4-L2_diagram_simplified.png
  docs/developer/system/current-status-developer-2.png
  docs/developer/system/current-status-developer.png
  docs/developer/system/current-status.md
  docs/index.md
  docs/user/website/digital_twins.png
  docs/user/website/gitlab-sso-1.png
  docs/user/website/gitlab-sso-2.png
  docs/user/website/gitlab-sso-3.png
  docs/user/website/index.md
  docs/user/website/library.png
  docs/user/website/login.png
  docs/user/website/menu.png
  docs/user/website/workbench.png
Due: none

Adds DTaaS logo
  docs/assets/dtaas-logo.png
  docs/assets/dtaas-logo.svg
  mkdocs-github.yml
  mkdocs.yml
Due: none

Fix lib-ms.yml github action
  .github/workflows/lib-ms.yml
Due: none

libms fix
  .github/workflows/lib-ms.yml
Due: none

libms fix
  .github/workflows/lib-ms.yml
  servers/lib/package.json
  servers/lib/test/testUtil.ts
  servers/lib/yarn.lock
Due: Lib Microservice

libms fix
  .github/workflows/lib-ms.yml
  servers/lib/package.json
Due: Lib Microservice

remove unnecessary dependencies
  .github/workflows/lib-ms.yml
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

upgrades dependencies
  docs/developer/servers/lib/src.svg
  docs/developer/servers/lib/test.svg
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

upgrades libms UML diagrams
  docs/developer/servers/lib/lib-class.mmd
  docs/developer/servers/lib/lib-class.puml
  docs/developer/servers/lib/lib-ms.md
  docs/developer/servers/lib/lib-sequence.mmd
  docs/developer/servers/lib/lib-sequence.puml
Due: none

Remove terminal icon from Workbench page #441
  client/nohup.out
  client/src/schema.gql
  deploy/config/lib
  files/aryanbhosale/data/.gitkeep
  files/aryanbhosale/digital_twins/.gitkeep
  files/aryanbhosale/functions/.gitkeep
  files/aryanbhosale/models/.gitkeep
  files/aryanbhosale/tools/.gitkeep
  servers/config/gateway/dynamic/fileConfig.yml
Due: Website

Remove terminal icon from Workbench page #441
  .pre-commit-config.yaml
  client/config/dev.js
  client/config/prod.js
  client/config/test.js
  client/env.d.ts
  client/src/components/LinkIconsLib.tsx
  client/test/unitTests/Util/envUtil.test.ts
Due: Website

with requested changes
  .pre-commit-config.yaml
  client/.gitignore
  client/config/dev.js
  client/config/prod.js
  client/config/test.js
  client/src/components/LinkIconsLib.tsx
Due: Website

removed terminal icon
  client/config/dev.js
  client/config/prod.js
  client/config/test.js
  client/env.d.ts
  client/src/components/LinkIconsLib.tsx
  client/test/unitTests/Util/envUtil.test.ts
Due: Website

Implementation of cloudcmd
  servers/lib/package.json
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd.config.ts
  servers/lib/src/cloudcmd.ts
  servers/lib/src/main.ts
  servers/lib/yarn.lock
Due: Lib Microservice

Socket.io is not working yet
  servers/lib/config/cloudcmd.json
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd.config.ts
  servers/lib/src/cloudcmd.ts
  servers/lib/src/cloudcmd/cloudcmd.middleware.ts
  servers/lib/src/cloudcmd/cloudcmd.service.ts
  servers/lib/tsconfig.json
Due: Lib Microservice

Implemented cloudcmd with a working socket
  servers/lib/config/cloudcmd.json
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd/cloudcmd.middleware.ts
  servers/lib/src/cloudcmd/cloudcmd.service.ts
Due: Lib Microservice

Added function parameter LOCAL_PATH to cloudCMD function
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd/cloudcmd.ts
Due: Lib Microservice

Syncing options file now
  servers/lib/src/cloudcmd/cloudcmd.service.ts
Due: Lib Microservice

Moved cloudcmd into an external function
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd/cloudcmd.service.ts
  servers/lib/src/cloudcmd/cloudcmd.ts
Due: Lib Microservice

Updated cloudcmd config & added .env default
  servers/lib/config/.env.default
  servers/lib/config/cloudcmd.json
Due: Lib Microservice

Made tests cloudcmd
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
Due: Lib Microservice

Moved the test command into package.json
  servers/lib/package.json
Due: Lib Microservice

Removed resolveJsonModule from tsconfig
  servers/lib/tsconfig.json
Due: Lib Microservice

Removed cloudcmd test from all
  servers/lib/package.json
Due: Lib Microservice

multistage build to reduce image size
  docker/client.dockerfile
Due: none

adds compose file for dev and local env
  docker/compose.dev.yml
  docker/compose.local.yml
Due: none

adds readme for docker files
  docker/README.md
Due: none

fixed markdown errors
  docker/README.md
Due: none
