Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

AuthMS - MLworkspace integration trial
  servers/auth/.env
  servers/auth/compose.yml
  servers/auth/conf
  servers/auth/files/README.md
  servers/auth/files/common/data/.gitkeep
  servers/auth/files/common/digital_twins/.gitkeep
  servers/auth/files/common/functions/.gitkeep
  servers/auth/files/common/models/.gitkeep
  servers/auth/files/common/tools/.gitkeep
  servers/auth/files/user1/data/.gitkeep
  servers/auth/files/user1/digital_twins/.gitkeep
  servers/auth/files/user1/functions/.gitkeep
  servers/auth/files/user1/models/.gitkeep
  servers/auth/files/user1/tools/.gitkeep
  servers/auth/files/user2/data/.gitkeep
  servers/auth/files/user2/digital_twins/.gitkeep
  servers/auth/files/user2/functions/.gitkeep
  servers/auth/files/user2/models/.gitkeep
  servers/auth/files/user2/tools/.gitkeep
Due: none

Converts the client/ yarn commands to work on all OS platforms.
  .github/workflows/client.yml
  client/README.md
  client/package.json
  client/script/config.bash
  client/script/install.bash
  client/script/test.bash
  client/yarn.lock
  deploy/config/client/env.local.js
Due: Website

Changes the order of tests on github actions
  .github/workflows/client.yml
Due: none

Restore changes made to auth microservice
  docs/developer/testing/intro.md
  servers/auth/compose.yml
  servers/auth/conf
Due: none

Updates FAQ page
  docs/FAQ.md
Due: none

Changes the yarn commands of lib to cross-platform. The yarn test commands still needs work.
  client/package.json
  servers/lib/DEVELOPER.md
  servers/lib/package.json
  servers/lib/script/build.bash
  servers/lib/script/clean.bash
  servers/lib/script/graph.bash
  servers/lib/script/install.bash
  servers/lib/script/start.bash
  servers/lib/script/syntax.bash
Due: Website, Lib Microservice

Reverts changes to auth files
  servers/auth/.env
  servers/auth/files/README.md
  servers/auth/files/common/data/.gitkeep
  servers/auth/files/common/digital_twins/.gitkeep
  servers/auth/files/common/functions/.gitkeep
  servers/auth/files/common/models/.gitkeep
  servers/auth/files/common/tools/.gitkeep
  servers/auth/files/user1/data/.gitkeep
  servers/auth/files/user1/digital_twins/.gitkeep
  servers/auth/files/user1/functions/.gitkeep
  servers/auth/files/user1/models/.gitkeep
  servers/auth/files/user1/tools/.gitkeep
  servers/auth/files/user2/data/.gitkeep
  servers/auth/files/user2/digital_twins/.gitkeep
  servers/auth/files/user2/functions/.gitkeep
  servers/auth/files/user2/models/.gitkeep
  servers/auth/files/user2/tools/.gitkeep
Due: none

Replaces test.bash script with commands in package.json
  .github/workflows/lib-ms.yml
  servers/lib/package.json
  servers/lib/script/test.bash
Due: Lib Microservice

Adds docs on npm publish steps and updates github actions
  .github/workflows/lib-ms.yml
  docs/FAQ.md
  docs/developer/npm-packages.md
  mkdocs-github.yml
  mkdocs.yml
  servers/execution/runner/README.md
  servers/lib/DEVELOPER.md
Due: Lib Microservice

Updates install scripts to include libms published package and upgrade nodejs to 20 version.
  deploy/install.sh
  deploy/single-script-install.sh
  docs/user/digital-twins/lifecycle.md
  script/base.sh
Due: none

Upgrades install scripts and minor fixes in docs
  deploy/README.md
  deploy/cron.sh
  docs/admin/host.md
  script/base.sh
Due: none

adds docker support for client
  client/.dockerignore
  client/dockerfile
  compose.yml
Due: Website

Fixes minor mistakes
  deploy/config/gateway/fileConfig.local.yml
  deploy/single-script-install.sh
Due: none

small addition to README
  servers/lib/DEVELOPER.md
Due: Lib Microservice

Improves the env.js for the react website
  client/config/dev.js
  client/config/prod.js
  client/config/test.js
  deploy/config/client/env.js
  deploy/config/client/env.local.js
  deploy/config/client/env.trial.js
Due: Website

Minor fixes to vagrant scripts
  deploy/config/client/env.trial.js
  deploy/vagrant/make_boxes/dtaas/developer.sh
  deploy/vagrant/make_boxes/dtaas/user.sh
  docs/user/examples/opc-ua-waterplant/README.md
Due: none

Update code in vagrant base box docs
  deploy/vagrant/make_boxes/dtaas/README.md
  docs/admin/overview.md
  docs/admin/vagrant/base-box.md
Due: none

Minor clean up of Vagrantfile
  deploy/vagrant/single-machine/Vagrantfile
Due: none

Adds script for installing gitlab
  deploy/services/gitlab.js
  deploy/services/gitlab.yml
  deploy/services/services.yml
Due: none

Fixes problems in Vagrantfile of all vagrant boxes
  deploy/services/gitlab.yml
  deploy/services/services.yml
Due: none

Corrects vagrant files and updates the documentation
  deploy/vagrant/make_boxes/dtaas/Vagrantfile
  deploy/vagrant/single-machine/Vagrantfile
  deploy/vagrant/two-machine/Vagrantfile
  deploy/vagrant/two-machine/boxes.json
  docs/admin/client/CLIENT.md
  docs/admin/guides/gitlab.md
  docs/admin/host.md
  docs/admin/overview.md
  docs/admin/vagrant/two-machines.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Updates documentation
  client/package.json
  docs/user/examples/drobotti-rmqfmu/README.md
  docs/user/examples/opc-ua-waterplant/README.md
Due: Website

Corrects example diagrams
  docs/user/examples/examples.drawio
Due: none

adds docker files
  deploy/config/lib.docker
  servers/execution/runner/dockerfile
  servers/lib/dockerfile
Due: Lib Microservice

changed workdir
  client/dockerfile
Due: Website

adds more services
  compose.yml
Due: none

added docker fileConfig
  servers/config/gateway/dynamic/fileConfig.docker.yml
Due: none

adds ml-workspace and traefik
  client/dockerfile
  compose.yml
Due: Website

Cleans up temporary files, updates docs script and .gitignore file
  .gitignore
  files/TestUserDTaaS/data/.gitkeep
  files/TestUserDTaaS/digital_twins/.gitkeep
  files/TestUserDTaaS/functions/.gitkeep
  files/TestUserDTaaS/models/.gitkeep
  files/TestUserDTaaS/tools/.gitkeep
  script/docs.sh
  servers/lib/src.svg
  servers/lib/test.svg
Due: Lib Microservice

Removes gitlab mode from library microservice
  servers/lib/README.md
  servers/lib/package.json
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/gitlab-files.service.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/testUtil.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/gitlab-files.service.unit.spec.ts
Due: Lib Microservice

Improves code and tests of lib microservices
  servers/lib/DEVELOPER.md
  servers/lib/package.json
  servers/lib/src/files/queries.ts
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/local-files.service.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/starttraefik.bash
  servers/lib/test/stoptraefik.bash
  servers/lib/yarn.lock
Due: Lib Microservice

Fixes github action of library microservice
  .github/workflows/lib-ms.yml
Due: none

Fixes codeclimate issue
  servers/lib/README.md
Due: Lib Microservice

Refactors e2e tests of lib microservice
  servers/lib/test/e2e/app.e2e.spec.ts
Due: Lib Microservice

Renames steps in github workflow
  .github/workflows/lib-ms.yml
Due: none

removed runner
  compose.yml
Due: none

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
