Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Update client.dockerfile
  docker/client.dockerfile
Due: none

Revert accidental commit "Update client.dockerfile"
  docker/client.dockerfile
Due: none

updated config files
  servers/lib/eslint.config.js
  servers/lib/jest.config.json
  servers/lib/package.json
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/resolvers/files.resolver.ts
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/local-files.service.ts
  servers/lib/src/main.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
  servers/lib/test/unit/local-files.service.unit.spec.ts
  servers/lib/tsconfig.json
Due: Lib Microservice

renamed config
  servers/lib/jest.config.json
  servers/lib/jest.config.ts
Due: Lib Microservice

updates configuration
  servers/lib/jest.config.ts
  servers/lib/package.json
  servers/lib/src/cloudcmd/cloudcmd.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/tsconfig.json
Due: Lib Microservice

remove deprecated version field
  servers/lib/compose.lib.yml
  servers/lib/yarn.lock
Due: Lib Microservice

Add integration tests
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/LogButton.tsx
  client/src/store/snackbar.slice.ts
  client/src/util/gitlabDigitalTwin.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/components/asset/LogButton.test.tsx
  client/test/preview/integration/components/asset/StartStopButton.test.tsx
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/integration/route/digitaltwins/Snackbar.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/LogDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineChecks.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineHandler.test.ts
  client/test/preview/unit/routes/digitaltwins/execute/PipelineUtils.test.ts
Due: Website

Fix codeclimate issue
  client/test/preview/unit/components/asset/StartStopButton.test.tsx
Due: Website

Checkout files from feature/distributed-demo
  deploy/services/gitlab.js
  deploy/services/services.js
  deploy/vagrant/make_boxes/dtaas/developer.sh
  deploy/vagrant/make_boxes/dtaas/user.sh
  deploy/vagrant/route.sh
  docs/FAQ/matlab-simulink.mp4
  docs/admin/vagrant/route.sh
  docs/developer/servers/execution/runner/runner-api.yaml
  docs/developer/system/DTaaS.drawio
  docs/user/examples/examples.drawio
  mkdocs.yml
  script/base.sh
  script/configure-git-hooks.sh
  script/docs.sh
  script/env.sh
  script/markdownlint-hook.sh
  servers/execution/runner/test/data/script/create
Due: none

Resolve conflicts
  client/package.json
  client/yarn.lock
Due: Website

Resolve conflicts
  client/package.json
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/yarn.lock
Due: Website

Resolve conflicts
  client/package.json
  client/test-results/.last-run.json
  client/yarn.lock
Due: Website

Resolve yarn.lock conflict
  client/yarn.lock
Due: Website

Checkout yarn.lock
  client/yarn.lock
Due: Website

Revert updated lock This reverts commit 50d2162a4eb7d1e0343666514a993da8c71e231d.
  client/yarn.lock
Due: Website

Revert updated lock
  client/yarn.lock
Due: Website

update packages
  servers/lib/package.json
Due: Lib Microservice

update package lock
  servers/lib/yarn.lock
Due: Lib Microservice

update config
  servers/lib/tsconfig.json
Due: Lib Microservice

Add virtual evn to developer scripts
  script/base.sh
  script/env.sh
Due: none

Python env stop in development guide
  docs/developer/index.md
Due: none

Resolve review comments
  client/package.json
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/StartStopButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/Snackbar.tsx
  client/src/preview/route/digitaltwins/execute/LogDialog.tsx
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/src/preview/store/assets.slice.ts
  client/src/preview/store/digitalTwin.slice.ts
  client/src/preview/store/snackbar.slice.ts
  client/src/preview/util/gitlab.ts
  client/src/preview/util/gitlabDigitalTwin.ts
  client/src/store/file.slice.ts
  client/src/store/store.ts
  client/src/util/gitlabDriver.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/components/asset/StartStopButton.test.tsx
  client/test/preview/integration/route/digitaltwins/Snackbar.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/LogDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineChecks.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/StartStopButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineChecks.test.ts
  client/test/preview/unit/util/Store.test.ts
  client/test/preview/unit/util/gitlab.test.ts
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
  client/test/unit/util/Store.test.ts
  client/tsconfig.gitlab.json
  client/yarn.lock
Due: Website

Checkout files from feature/distributed-demo branch
  docs/admin/servers/lib/file-system-layout.png
  docs/admin/vagrant/basebox.png
  docs/admin/vagrant/single-machine.png
  docs/admin/vagrant/two-machine-use-legend.png
  docs/admin/vagrant/two-machine.png
  docs/assets/dtaas-logo-with-text.png
  docs/assets/dtaas-logo.png
  docs/assets/dtaas-logo.svg
  docs/assets/into-cps-logo.svg
  docs/developer/servers/lib/lib-ms.png
  docs/developer/system/C4-L2_diagram.png
  docs/developer/system/architecture.png
  docs/developer/system/current-status-developer-2.png
  docs/developer/system/current-status-developer.png
  docs/user/current-status.png
  docs/user/digital-twins/build-use-share.png
  docs/user/digital-twins/lifecycle-four-stages.png
  docs/user/digital-twins/lifecycle.png
  docs/user/examples/incubator/figures/dt-structure.svg
  docs/user/examples/incubator/figures/incubator_pt.png
  docs/user/examples/incubator/figures/system.svg
  docs/user/examples/incubator/figures/visualization.png
  docs/user/examples/mass-spring-damper/dt-structure.png
  docs/user/examples/o5g/img/influx-dashboard.png
  docs/user/servers/lib/author.png
  docs/user/website/digital_twins.png
  docs/user/website/gitlab-sso-1.png
  docs/user/website/gitlab-sso-2.png
  docs/user/website/gitlab-sso-3.png
  docs/user/website/library.png
  docs/user/website/menu.png
  docs/user/website/workbench.png
  docs/user/website/workbench_tools.png
Due: none

Use pipeline names instead of pipeline id in stop function
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/util/gitlabDigitalTwin.ts
Due: Website

Update unit test
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
Due: Website

Move gitlabDriver.ts into preview folder
  client/src/preview/util/gitlabDriver.ts
Due: Website

Configuration fix
  client/config/test.js
Due: Website

Configuration fix
  client/package.json
Due: Website

Little fix in gitlabDriver.ts
  client/src/preview/util/gitlabDriver.ts
Due: Website

Update .eslintignore
  client/.eslintignore
  client/src/preview/util/gitlabDriver.ts
Due: Website

Update package.json and jest.config.json
  client/jest.config.json
  client/package.json
Due: Website

Add manage tab
  client/config/test.js
  client/package.json
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/DeleteButton.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/asset/ReconfigureButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/EditorTab.tsx
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/assets.slice.ts
  client/src/preview/store/digitalTwin.slice.ts
  client/src/preview/store/file.slice.ts
  client/src/preview/util/gitlabDigitalTwin.ts
  client/src/store/store.ts
  client/yarn.lock
Due: Website

adds os matrix
  .github/workflows/lib-ms.yml
Due: none

adds seperate checks for windows and linux
  .github/workflows/lib-ms.yml
Due: none

Upgrades dependencies of libms (#943)
  .github/workflows/lib-ms.yml
  servers/lib/.eslintignore
  servers/lib/.eslintrc
  servers/lib/compose.lib.yml
  servers/lib/eslint.config.js
  servers/lib/jest.config.json
  servers/lib/jest.config.ts
  servers/lib/package.json
  servers/lib/pm2.config.cjs
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd/cloudcmd.ts
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/resolvers/files.resolver.ts
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/local-files.service.ts
  servers/lib/src/main.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
  servers/lib/test/unit/local-files.service.unit.spec.ts
  servers/lib/tsconfig.json
  servers/lib/yarn.lock
Due: Lib Microservice

Add http/s explanations
  deploy/services/gitlab/docker-compose.yml
Due: none

feat: Make gitlab use local directory
  deploy/services/gitlab/.env
  deploy/services/gitlab/.gitignore
  deploy/services/gitlab/config/.gitkeep
  deploy/services/gitlab/logs/.gitkeep
Due: none

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
