Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

.codecov.yml:

comment:
  layout: "header, diff, files, components"  # show component info in the PR comment
  
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 20%
    patch:
      default:
        informational: true
codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

component_management:
  individual_components:
    - component_id: client_website  # this is an identifier that should not be changed
      name: Website  # this is a display name, and can be changed freely
      paths:
        - client/**
    - component_id: lib_ms  # this is an identifier that should not be changed
      name: Lib Microservice  # this is a display name, and can be changed freely
      paths:
        - servers/lib/**

minor update
  deploy/services/script/service_setup.py
Due: none

Add compose file only with ThingsBoard and PostgreSQL, with documentation
  deploy/services/THINGSBOARD.md
  deploy/services/compose.thingsboard.secure.yml
  deploy/services/config/services.env.template
  deploy/services/script/thingsboard.py
Due: none

Revert changes to README and compose.services.secure.yml
  deploy/services/README.md
  deploy/services/compose.services.secure.yml
  deploy/services/config/init-thingsboard-user.sql
  deploy/services/config/services.env.template
Due: none

cli package structure
  deploy/services/cli/.gitignore
  deploy/services/cli/README.md
  deploy/services/cli/poetry.lock
  deploy/services/cli/pyproject.toml
  deploy/services/cli/src/__init__.py
  deploy/services/cli/src/cmd.py
  deploy/services/cli/src/pkg/__init__.py
  deploy/services/cli/src/pkg/config.py
  deploy/services/cli/src/pkg/influxdb.py
  deploy/services/cli/src/pkg/rabbitmq.py
  deploy/services/cli/src/pkg/setup.py
  deploy/services/cli/src/pkg/utils.py
  deploy/services/cli/tests/__init__.py
  deploy/services/cli/tests/test_cmd.py
  deploy/services/cli/tests/test_config.py
  deploy/services/cli/tests/test_setup.py
Due: none

first implementation of services cli
  deploy/services/README.md
  deploy/services/cli/README.md
  deploy/services/cli/pyproject.toml
  deploy/services/cli/src/cmd.py
  deploy/services/cli/src/pkg/config.py
  deploy/services/cli/src/pkg/influxdb.py
  deploy/services/cli/src/pkg/rabbitmq.py
  deploy/services/cli/src/pkg/setup.py
  deploy/services/cli/src/pkg/utils.py
  deploy/services/cli/tests/test_cmd.py
  deploy/services/cli/tests/test_config.py
  deploy/services/cli/tests/test_setup.py
  deploy/services/manual/README.md
  deploy/services/manual/script/influxdb.py
  deploy/services/manual/script/rabbitmq.py
  deploy/services/manual/script/requirements.txt
  deploy/services/manual/script/service_setup.py
Due: none

fixing the influxdb and rabbitmq adding user
  deploy/services/cli/src/cmd.py
  deploy/services/cli/src/pkg/influxdb.py
  deploy/services/cli/src/pkg/rabbitmq.py
Due: none

Update THINGSBOARD.md with corrected installation steps and permissions
  deploy/services/THINGSBOARD.md
Due: none

applying suggestions + using python-on-whales
  deploy/services/cli/.gitignore
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/README.md
  deploy/services/cli/poetry.lock
  deploy/services/cli/pyproject.toml
  deploy/services/cli/src/cmd.py
  deploy/services/cli/src/pkg/config.py
  deploy/services/cli/src/pkg/influxdb.py
  deploy/services/cli/src/pkg/rabbitmq.py
  deploy/services/cli/src/pkg/setup.py
  deploy/services/cli/tests/test_cmd.py
  deploy/services/cli/tests/test_config.py
Due: none

more packging
  deploy/services/cli/pyproject.toml
Due: none

solves some style issues
  deploy/services/cli/src/cmd.py
  deploy/services/cli/src/pkg/config.py
  deploy/services/cli/src/pkg/influxdb.py
  deploy/services/cli/src/pkg/rabbitmq.py
  deploy/services/cli/src/pkg/setup.py
  deploy/services/manual/script/service_setup.py
Due: none

wheel package
  deploy/services/cli/poetry.lock
  deploy/services/cli/pyproject.toml
  deploy/services/cli/src/cmd.py
  deploy/services/cli/src/compose.services.secure.yml
  deploy/services/cli/src/config/credentials.csv.template
  deploy/services/cli/src/config/influxdb/.gitkeep
  deploy/services/cli/src/config/mongod.conf.secure
  deploy/services/cli/src/config/rabbitmq.conf
  deploy/services/cli/src/config/rabbitmq.enabled_plugins
  deploy/services/cli/src/config/services.env.template
  deploy/services/cli/src/data/grafana/.gitkeep
  deploy/services/cli/src/data/influxdb/.gitkeep
  deploy/services/cli/src/data/mongodb/.gitkeep
  deploy/services/cli/src/data/rabbitmq/.gitkeep
  deploy/services/cli/src/pkg/config.py
  deploy/services/cli/src/pkg/influxdb.py
  deploy/services/cli/src/pkg/rabbitmq.py
  deploy/services/cli/src/pkg/setup.py
  deploy/services/cli/tests/test_config.py
Due: none

less duplication + error handling for influxdb and rabbitmq
  deploy/services/cli/.gitignore
  deploy/services/cli/src/cmd.py
  deploy/services/cli/src/pkg/config.py
  deploy/services/cli/src/pkg/influxdb.py
  deploy/services/cli/src/pkg/rabbitmq.py
  deploy/services/cli/src/pkg/utils.py
Due: none

refactor generate_project
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/README.md
  deploy/services/cli/src/cmd.py
  deploy/services/cli/tests/test_cmd.py
Due: none

changing src to dtaas_services + making build script
  .gitignore
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/README.md
  deploy/services/cli/build.py
  deploy/services/cli/dtaas_services/__init__.py
  deploy/services/cli/dtaas_services/cmd.py
  deploy/services/cli/dtaas_services/compose.services.secure.yml
  deploy/services/cli/dtaas_services/config/credentials.csv.template
  deploy/services/cli/dtaas_services/config/influxdb/.gitkeep
  deploy/services/cli/dtaas_services/config/mongod.conf.secure
  deploy/services/cli/dtaas_services/config/rabbitmq.conf
  deploy/services/cli/dtaas_services/config/rabbitmq.enabled_plugins
  deploy/services/cli/dtaas_services/config/services.env.template
  deploy/services/cli/dtaas_services/data/grafana/.gitkeep
  deploy/services/cli/dtaas_services/data/influxdb/.gitkeep
  deploy/services/cli/dtaas_services/data/mongodb/.gitkeep
  deploy/services/cli/dtaas_services/data/rabbitmq/.gitkeep
  deploy/services/cli/dtaas_services/pkg/__init__.py
  deploy/services/cli/dtaas_services/pkg/config.py
  deploy/services/cli/dtaas_services/pkg/influxdb.py
  deploy/services/cli/dtaas_services/pkg/rabbitmq.py
  deploy/services/cli/dtaas_services/pkg/setup.py
  deploy/services/cli/dtaas_services/pkg/utils.py
  deploy/services/cli/pyproject.toml
  deploy/services/cli/tests/test_cmd.py
  deploy/services/cli/tests/test_config.py
Due: none

Update THINGSBOARD.md installation guide
  deploy/services/THINGSBOARD.md
Due: none

Makes minor corrections to thingsboard installation setup
  deploy/services/compose.thingsboard.secure.yml
  deploy/services/config/services.env.template
  deploy/services/script/thingsboard.py
Due: none

Makes minor corrections to thingsboard installation setup
  deploy/services/THINGSBOARD.md
Due: none

Makes minor corrections to thingsboard installation setup
  deploy/services/config/services.env.template
  deploy/services/script/thingsboard.py
Due: none

refactoring setup.py
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/dtaas_services/cmd.py
  deploy/services/cli/dtaas_services/pkg/cert.py
  deploy/services/cli/dtaas_services/pkg/influxdb.py
  deploy/services/cli/dtaas_services/pkg/mongodb.py
  deploy/services/cli/dtaas_services/pkg/rabbitmq.py
  deploy/services/cli/dtaas_services/pkg/setup.py
  deploy/services/cli/dtaas_services/pkg/utils.py
  deploy/services/cli/tests/test_cmd.py
  deploy/services/cli/tests/test_service.py
  deploy/services/cli/tests/test_utils.py
Due: none

minor fix
  deploy/services/cli/dtaas_services/pkg/service.py
  deploy/services/cli/tests/test_service.py
Due: none

minor updates
  deploy/services/cli/dtaas_services/pkg/config.py
  deploy/services/cli/dtaas_services/pkg/influxdb.py
  deploy/services/cli/tests/test_service.py
  deploy/services/cli/tests/test_utils.py
Due: none

Makes minor corrections to thingsboard installation setup
  deploy/services/cli/dtaas_services/compose.services.secure.yml
  deploy/services/cli/dtaas_services/config/credentials.csv.template
  deploy/services/cli/dtaas_services/config/influxdb/.gitkeep
  deploy/services/cli/dtaas_services/config/mongod.conf.secure
  deploy/services/cli/dtaas_services/config/rabbitmq.conf
  deploy/services/cli/dtaas_services/config/rabbitmq.enabled_plugins
  deploy/services/cli/dtaas_services/config/services.env.template
  deploy/services/cli/dtaas_services/data/grafana/.gitkeep
  deploy/services/cli/dtaas_services/data/influxdb/.gitkeep
  deploy/services/cli/dtaas_services/data/mongodb/.gitkeep
  deploy/services/cli/dtaas_services/data/rabbitmq/.gitkeep
  deploy/services/config/services.env.template
  deploy/services/script/thingsboard.py
Due: none

Makes minor corrections to thingsboard installation setup
  deploy/services/cli/dtaas_services/compose.services.secure.yml
  deploy/services/cli/dtaas_services/config/credentials.csv.template
  deploy/services/cli/dtaas_services/config/influxdb/.gitkeep
  deploy/services/cli/dtaas_services/config/mongod.conf.secure
  deploy/services/cli/dtaas_services/config/rabbitmq.conf
  deploy/services/cli/dtaas_services/config/rabbitmq.enabled_plugins
  deploy/services/cli/dtaas_services/config/services.env.template
  deploy/services/cli/dtaas_services/data/grafana/.gitkeep
  deploy/services/cli/dtaas_services/data/influxdb/.gitkeep
  deploy/services/cli/dtaas_services/data/mongodb/.gitkeep
  deploy/services/cli/dtaas_services/data/rabbitmq/.gitkeep
Due: none

Updates libms packages
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

updates yarn lock file
  servers/lib/yarn.lock
Due: Lib Microservice

fixes package version of netjs/platform-express
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

upgrades node version in github action
  .github/workflows/lib-ms.yml
Due: none

fixes linting issues
  servers/lib/eslint.config.js
  servers/lib/package.json
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/jest-e2e.json
  servers/lib/test/unit/local-files.service.unit.spec.ts
  servers/lib/tsconfig.json
  servers/lib/yarn.lock
Due: Lib Microservice

Fixes minor issues with documentation
  CONTRIBUTING.md
  LICENSE.md
  README.md
  SECURITY.md
  docs/LICENSE.md
  docs/developer/index.md
  servers/execution/runner/LICENSE.md
  servers/lib/LICENSE.md
  servers/lib/package.json
Due: Lib Microservice

Fixes minor issues with libms workflow
  .github/workflows/lib-ms.yml
  client/LICENSE.md
Due: Website

Cleans up eslint config
  servers/lib/eslint.config.js
Due: Lib Microservice

Updates nodejs versions in dockerfiles
  .gitignore
  docker/.env.template
  docker/README.md
  docker/client.built.dockerfile
  docker/client.dockerfile
  docker/compose.dev.yml
  docker/conf.dev.template
  docker/libms.dockerfile
Due: none

updates npm dependencies of runner
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/eslint.config.js
  servers/execution/runner/package.json
  servers/execution/runner/src/config/commander.ts
  servers/execution/runner/test/integration/options.service.spec.ts
  servers/execution/runner/test/unit/validation.pipe.spec.ts
  servers/execution/runner/yarn.lock
Due: none

updates npm dependencies for libms
  .gitignore
  servers/execution/runner/README.md
  servers/lib/package.json
  servers/lib/yarn.lock
Due: Lib Microservice

fixes formatting issues
  servers/execution/runner/test/unit/validation.pipe.spec.ts
Due: none

fixes formatting issues
  docker/.env.template
  docker/README.md
Due: none

minor fixes + update README
  deploy/services/cli/README.md
  deploy/services/cli/dtaas_services/cmd.py
  deploy/services/cli/dtaas_services/config/services.env.template
  deploy/services/cli/dtaas_services/pkg/service.py
  deploy/services/cli/tests/test_service.py
Due: none

minor fix
  deploy/services/cli/dtaas_services/cmd.py
Due: none
