Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Missing url
  docs/admin/servers/auth.md
Due: none

Headline fix
  deploy/docker/DOCKER-ENV.md
Due: none

Refactor gitlab compose
  deploy/services/gitlab/.env
  deploy/services/gitlab/docker-compose.yml
Due: none

Removed duplicate file
  deploy/docker/ENV.md
Due: none

Build the website before trying to copy into it
  .github/workflows/client.yml
Due: none

Fix formatting
  client/playwright.config.ts
  client/test/e2e/setup/mcr.config.ts
Due: Website

Revert server env file modifications
  deploy/config/client/env.js
  deploy/docker/.env.server
Due: none

Add README to gitlab directory
  deploy/services/gitlab/README.md
Due: none

style: Fix style issue in gitlab README
  deploy/services/gitlab/README.md
Due: none

Update test/README.md parts about external hosting
  client/test/README.md
Due: Website

Improves developer documentation (#908)
  client/config/dev.js
  deploy/docker/DOCKER-ENV.md
  deploy/docker/SERVER.md
  docker/README.md
  docs/admin/servers/auth.md
Due: Website

only publish docker image if version is not yet published
  .github/workflows/docker.yml
Due: none

Remove bug notice in DEVELOPER.md
  client/DEVELOPER.md
Due: Website

Rename gitlab compose file (+ remove obsolete version label)
  deploy/services/gitlab/README.md
  deploy/services/gitlab/compose.gitlab.yml
Due: none

updated docs
  servers/lib/DEVELOPER.md
Due: Lib Microservice

adds port to dev env
  client/config/dev.js
Due: Website

Update readme.md
  client/test/README.md
Due: Website

Fix code climate issues about readme.md
  client/test/README.md
Due: Website

Add Traeffik note to readme
  client/test/README.md
Due: Website

Add Traeffik note to readme again
  client/test/README.md
Due: Website

Fixes end-to-end tests (#871)
  .github/workflows/client.yml
  .gitignore
  client/.eslintignore
  client/.gitignore
  client/DEVELOPER.md
  client/package.json
  client/playwright.config.ts
  client/test/README.md
  client/test/e2e/setup/fixtures.ts
  client/test/e2e/setup/global-teardown.ts
  client/test/e2e/setup/global.setup.ts
  client/test/e2e/setup/mcr.config.ts
  client/test/e2e/tests/Auth.test.ts
  client/test/e2e/tests/Links.ts
  client/test/e2e/tests/Menu.test.ts
  client/test/e2e/tests/auth.setup.ts
  client/yarn.lock
Due: Website

Updates documentation
  client/DEVELOPER.md
  client/config/dev.js
  client/package.json
  client/test/README.md
  deploy/docker/SERVER.md
  deploy/services/README.md
  docker/README.md
  docs/admin/client/config.md
  docs/admin/servers/auth.md
  docs/user/examples/incubator-NuRV-fmu-monitor-service/README.md
  docs/user/examples/incubator-NuRV-fmu-monitor-service/figures/dt-structure-nurv-fmu.png
  docs/user/examples/incubator-NuRV-monitor-validation/README.md
  docs/user/examples/incubator/README.md
  mkdocs-github.yml
  mkdocs.yml
Due: Website

Adds user and example videos to documentation
  docs/developer/index.md
  docs/user/examples/incubator-NuRV-monitor-validation/README.md
  docs/user/examples/index.md
  docs/user/motivation.md
Due: none

fixes codeclimate issues
  docs/user/examples/incubator-NuRV-fmu-monitor-service/README.md
  docs/user/examples/incubator/README.md
Due: none

revert minor changes
  docs/admin/servers/auth.md
  servers/lib/DEVELOPER.md
Due: Lib Microservice

Updates documentation (#927)
  client/DEVELOPER.md
  client/config/dev.js
  client/package.json
  client/test/README.md
  deploy/docker/SERVER.md
  deploy/services/README.md
  docker/README.md
  docs/admin/client/config.md
  docs/developer/index.md
  docs/user/examples/incubator-NuRV-fmu-monitor-service/README.md
  docs/user/examples/incubator-NuRV-fmu-monitor-service/figures/dt-structure-nurv-fmu.png
  docs/user/examples/incubator-NuRV-monitor-validation/README.md
  docs/user/examples/incubator/README.md
  docs/user/examples/index.md
  docs/user/motivation.md
  mkdocs-github.yml
  mkdocs.yml
  servers/lib/DEVELOPER.md
Due: Website, Lib Microservice

Unit testing
  client/package.json
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/asset/StartStopButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/execute/LogDialog.tsx
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/util/gitlabDigitalTwin.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/__mocks__/integration/module_mocks.tsx
  client/test/preview/__mocks__/unit/component_mocks.tsx
  client/test/preview/__mocks__/unit/remarkable.ts
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/components.testUtil.tsx
  client/test/preview/integration/integration.testUtil.tsx
  client/test/preview/integration/jest.setup.ts
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/DeleteButton.test.tsx
  client/test/preview/unit/components/asset/DetailsButton.test.tsx
  client/test/preview/unit/components/asset/LogButton.test.tsx
  client/test/preview/unit/components/asset/StartStopButton.test.tsx
  client/test/preview/unit/jest.setup.ts
  client/test/preview/unit/routes/digitaltwins/DeleteDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/DetailsDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/LogDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineChecks.test.ts
  client/test/preview/unit/routes/digitaltwins/execute/PipelineHandlers.test.ts
  client/test/preview/unit/routes/digitaltwins/execute/PipelineUtils.test.ts
  client/test/preview/unit/unit.testUtil.tsx
  client/yarn.lock
Due: Website

Revert "updated docs"
  servers/lib/DEVELOPER.md
Due: Lib Microservice

Revert "adds port to dev env"
  client/config/dev.js
Due: Website

resolves #942
  client/package.json
Due: Website

resolves #941
  client/package.json
Due: Website

updated lock
  client/yarn.lock
Due: Website

resolves #940
  client/package.json
  client/yarn.lock
Due: Website

resolves #939
  client/package.json
Due: Website

resolves #938
  client/package.json
Due: Website

resolves #937
  servers/execution/runner/package.json
Due: none

resolves #936
  servers/execution/runner/package.json
Due: none

resolves #935
  servers/execution/runner/package.json
Due: none

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
