Repository INTO-CPS-Association/DTaaS: changes, and which Codecov flags are due for each by the changed paths.
All: Website, Lib Microservice

Make DockerHub username a secret
  .github/workflows/client.yml
  .github/workflows/docker-dockerhub.yml
  .github/workflows/lib-ms.yml
Due: none

Add tests to client workflow
  .github/workflows/client.yml
Due: none

Add `into-cps-association` to image names
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
Due: none

Remove username from DockerHub image
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
Due: none

Removed Docker compose, now included in docker
  script/base.sh
Due: none

Add intocps to dockerhub images
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
Due: none

Publish docker images to DockerHub (#958)
  .github/workflows/client.yml
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/lib-ms.yml
  client/DOCKER.md
  servers/lib/DOCKER.md
Due: Website, Lib Microservice

Use `github.repository_owner` for GHCR
  .github/workflows/client.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/lib-ms.yml
Due: none

Add `DOCKERHUB_SCOPE` to the dockerhub workflow
  .github/workflows/client.yml
  .github/workflows/docker-dockerhub.yml
  .github/workflows/lib-ms.yml
Due: none

Use github.actor to log in to GHCR
  .github/workflows/docker-ghcr.yml
Due: none

Downgrade Typescript to 5.1.6, fix new eslint issues
  client/package.json
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/util/gitlabDigitalTwin.ts
  client/src/util/envUtil.ts
  client/yarn.lock
Due: Website

Brings new feature from runner-limit-permitted-commands onto the feature-distributed-demo
  servers/execution/runner/README.md
  servers/execution/runner/api/dev.api.http
  servers/execution/runner/api/workspace.api.http
  servers/execution/runner/eslint.config.js
  servers/execution/runner/package.json
  servers/execution/runner/runner.yaml.sample
  servers/execution/runner/script/create
  servers/execution/runner/scripts/create
  servers/execution/runner/src/config/commander.ts
  servers/execution/runner/src/execa-manager.service.ts
  servers/execution/runner/src/execa-runner.ts
  servers/execution/runner/src/interfaces/command.interface.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/test/data/script/execute
  servers/execution/runner/test/e2e/options.spec.ts
  servers/execution/runner/test/e2e/util.ts
  servers/execution/runner/test/integration/app.controller.spec.ts
  servers/execution/runner/test/integration/execa-manager.service.spec.ts
  servers/execution/runner/test/integration/execa-runner.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
  servers/execution/runner/test/unit/validation.pipe.spec.ts
  servers/execution/runner/test/utils.ts
  servers/execution/runner/yarn.lock
Due: none

Removes redundant files
  servers/execution/runner/README.md
  servers/execution/runner/runner.api.http
  servers/execution/runner/runner.yaml
  servers/execution/runner/script/create
  servers/execution/runner/scripts/create
Due: none

Rename username to ghcr-scope
  .github/workflows/docker-ghcr.yml
Due: none

Add documentation for GH Actions
  docs/developer/github-actions.md
Due: none

Remove Docker section from servers/lib/README
  servers/lib/README.md
Due: Lib Microservice

Fix and Refactor Github Workflows (#970)
  .github/workflows/client.yml
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/lib-ms.yml
  docs/developer/github-actions.md
  servers/lib/README.md
Due: Lib Microservice

added modules
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/modules/git-files.module.ts
  servers/lib/src/files/modules/local-files.module.ts
Due: Lib Microservice

Moved to nvm to handle node installation.
  docs/developer/index.md
  script/base.sh
Due: none

removed redundant path
  .github/workflows/client.yml
  .github/workflows/docs.yml
  .github/workflows/runner.yml
Due: none

adds push to npm
  .github/workflows/lib-ms.yml
  .github/workflows/templates/publish_npm_package.yml
Due: none

extracted node version
  .github/workflows/lib-ms.yml
Due: none

Add unit tests
  client/jest.config.json
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/DeleteButton.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/asset/ReconfigureButton.tsx
  client/src/preview/route/digitaltwins/editor/EditorTab.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/file.slice.ts
  client/src/preview/util/gitlabDigitalTwin.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/__mocks__/styleMock.ts
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/ConfigButton.test.tsx
  client/test/preview/unit/components/asset/DeleteButton.test.tsx
  client/test/preview/unit/components/asset/DetailsButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Editor.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/EditorTab.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/PreviewTab.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/unit/util/Store.test.ts
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
  client/yarn.lock
Due: Website

rebased to workflow file on main branch
  .github/workflows/lib-ms.yml
Due: none

adds git files service
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/git-files.service.ts
Due: Lib Microservice

fixed specs
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
Due: Lib Microservice

adds gitFilesService to module
  servers/lib/src/files/files.module.ts
Due: Lib Microservice

fixed eslint errors
  servers/lib/src/files/services/git-files.service.ts
Due: Lib Microservice

Added to gitignore
  .gitignore
Due: none

Rename functions
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/DeleteButton.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/asset/ReconfigureButton.tsx
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
Due: Website

Add yaml files to config files
  client/src/preview/util/gitlabDigitalTwin.ts
Due: Website

Little fix
  client/src/preview/store/file.slice.ts
Due: Website

Add yml files to config files
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
  client/src/preview/util/gitlabDigitalTwin.ts
Due: Website

Fixes #986: Converts repository owner name to lowercase
  .github/workflows/docker-ghcr.yml
Due: none

Update text description
  client/src/page/Layout.tsx
  client/src/preview/components/asset/Asset.ts
  client/src/preview/components/asset/DeleteButton.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinTabDataPreview.ts
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/preview/util/gitlab.ts
  client/src/preview/util/gitlabDigitalTwin.ts
  client/src/route/auth/Account.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/route/library/Library.tsx
  client/src/route/workbench/Workbench.tsx
Due: Website

Update unit test
  client/package.json
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/__mocks__/unit/module_mocks.ts
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/jest.setup.ts
  client/test/preview/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/EditorTab.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/PreviewTab.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/DetailsDialog.test.tsx
  client/test/preview/unit/util/Store.test.ts
  client/test/preview/unit/util/gitlab.test.ts
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
  client/test/preview/unit/util/gitlabDigitalTwinConfig.test.ts
  client/yarn.lock
Due: Website

Fix codeclimate issues
  client/test/preview/unit/util/gitlabDigitalTwinConfig.test.ts
Due: Website

Path conditions:
  Website: any of: client/**
  Lib Microservice: any of: servers/lib/**
