Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - pre-push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - pre-push

Cleans up example docs
  docs/user/examples/examples.drawio
  docs/user/examples/incubator-NuRV-monitor-service/figures/dt-structure-nurv.drawio
  docs/user/examples/incubator/figures/dt-structure.drawio
  docs/user/examples/incubator/figures/system.drawio
Due: none

Adds tests for all API but skipped tests do not work
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/test/test.api.http
Due: yarn-install-runner, yarn-test-runner

Fixes all the E2E tests of runner
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/test/data/lifecycle/create
Due: yarn-install-runner, yarn-test-runner

Completes API documentation Bumps up the package version
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/package.json
  servers/execution/runner/runner.api.http
  servers/execution/runner/test/test.api.http
Due: yarn-install-runner, yarn-test-runner

Refactor runner e2e tests
  servers/execution/runner/test/app.e2e.spec.ts
Due: yarn-install-runner, yarn-test-runner

Session storage clear+oidc silent logout/token revoke+traefik url HTTP GET request to logout of server
  client/src/util/auth/Authentication.ts
Due: yarn-install-client, yarn-jest-client

Refactor E2E tests of runner
  servers/execution/runner/test/app.e2e.spec.ts
Due: yarn-install-runner, yarn-test-runner

Refactor E2E tests
  servers/execution/runner/test/app.e2e.spec.ts
Due: yarn-install-runner, yarn-test-runner

Fix codeclimate issues
  servers/execution/runner/test/app.e2e.spec.ts
Due: yarn-install-runner, yarn-test-runner

Runner improve tests and update dependencies (#502)
  .gitignore
  docs/user/examples/examples.drawio
  docs/user/examples/incubator-NuRV-monitor-service/README.md
  docs/user/examples/incubator-NuRV-monitor-service/figures/dt-structure-nurv.svg
  docs/user/examples/incubator/figures/dt-structure.drawio
  docs/user/examples/incubator/figures/system.drawio
  docs/user/examples/index.md
  docs/user/servers/execution/runner/README.md
  mkdocs-github.yml
  mkdocs.yml
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/package.json
  servers/execution/runner/runner.api.http
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/test/config/runner.yaml
  servers/execution/runner/test/data/lifecycle/create
Due: yarn-install-runner, yarn-test-runner

Upgrade runner dependencies
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
Due: yarn-install-runner, yarn-test-runner

Renaming classes in runner WIP
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/interfaces/lifecycle.interface.ts
  servers/execution/runner/src/lifecycleManager.service.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/test/integration/lifecycleManager.service.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

Rename classes in runner WIP
  servers/execution/runner/src/execaRunner.ts
  servers/execution/runner/src/interfaces/lifecycle.interface.ts
  servers/execution/runner/src/interfaces/runner.interface.ts
  servers/execution/runner/src/lifecycleManager.service.ts
  servers/execution/runner/test/integration/execaCMDRunner.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

rename types and files in runner
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/app.module.ts
  servers/execution/runner/src/execaManager.service.ts
  servers/execution/runner/src/interfaces/command.interface.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/test/integration/execaManager.service.spec.ts
  servers/execution/runner/test/integration/execaRunner.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

Rename types and classes in runner WIP
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/dto/command.dto.ts
  servers/execution/runner/src/dto/phase.dto.ts
  servers/execution/runner/src/execaManager.service.ts
  servers/execution/runner/src/interfaces/command.interface.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/src/validation.pipe.ts
  servers/execution/runner/test/integration/execaManager.service.spec.ts
  servers/execution/runner/test/integration/execaRunner.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
  servers/execution/runner/test/unit/validation.pipe.spec.ts
Due: yarn-install-runner, yarn-test-runner

Rename types and class in runner
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/execaManager.service.ts
  servers/execution/runner/src/interfaces/command.interface.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/test/integration/execaManager.service.spec.ts
  servers/execution/runner/test/integration/execaRunner.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

Refactors runner config and zod validation types
  servers/execution/runner/package.json
  servers/execution/runner/runner.yaml
  servers/execution/runner/runner.yaml.sample
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/dto/command.dto.ts
  servers/execution/runner/test/config/runner.yaml
  servers/execution/runner/test/data/scripts/create
  servers/execution/runner/test/unit/validation.pipe.spec.ts
Due: yarn-install-runner, yarn-test-runner

Rename variables
  servers/execution/runner/src/app.controller.ts
Due: yarn-install-runner, yarn-test-runner

Refactors runner and improves its tests (#698)
  .gitignore
  docs/user/examples/examples.drawio
  docs/user/examples/incubator-NuRV-monitor-service/README.md
  docs/user/examples/incubator-NuRV-monitor-service/figures/dt-structure-nurv.svg
  docs/user/examples/incubator/figures/dt-structure.drawio
  docs/user/examples/incubator/figures/system.drawio
  docs/user/examples/index.md
  docs/user/servers/execution/runner/README.md
  mkdocs-github.yml
  mkdocs.yml
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/package.json
  servers/execution/runner/runner.api.http
  servers/execution/runner/runner.yaml
  servers/execution/runner/runner.yaml.sample
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/app.module.ts
  servers/execution/runner/src/dto/command.dto.ts
  servers/execution/runner/src/dto/phase.dto.ts
  servers/execution/runner/src/execaManager.service.ts
  servers/execution/runner/src/execaRunner.ts
  servers/execution/runner/src/interfaces/command.interface.ts
  servers/execution/runner/src/interfaces/lifecycle.interface.ts
  servers/execution/runner/src/interfaces/runner.interface.ts
  servers/execution/runner/src/lifecycleManager.service.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/src/validation.pipe.ts
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/test/config/runner.yaml
  servers/execution/runner/test/data/lifecycle/create
  servers/execution/runner/test/data/scripts/create
  servers/execution/runner/test/integration/execaManager.service.spec.ts
  servers/execution/runner/test/integration/execaRunner.spec.ts
  servers/execution/runner/test/integration/lifecycleManager.service.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
  servers/execution/runner/test/unit/validation.pipe.spec.ts
  servers/execution/runner/yarn.lock
Due: yarn-install-runner, yarn-test-runner

Makes Queue part of Nest IoC
  servers/execution/runner/src/execaManager.service.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/test/integration/execaManager.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

Renames files as per nestjs convention and adds skeleton runner-factory service.
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/app.module.ts
  servers/execution/runner/src/execa-manager.service.ts
  servers/execution/runner/src/execa-runner.ts
  servers/execution/runner/src/runner-factory.service.ts
  servers/execution/runner/test/integration/execa-manager.service.spec.ts
  servers/execution/runner/test/integration/execa-runner.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
  servers/execution/runner/test/integration/runner-factory.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

Add functionality to RunnerFactory
  servers/execution/runner/src/app.module.ts
  servers/execution/runner/src/execa-manager.service.ts
  servers/execution/runner/src/runner-factory.service.ts
  servers/execution/runner/test/integration/execa-manager.service.spec.ts
  servers/execution/runner/test/integration/runner-factory.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

Improve integration tests
  servers/execution/runner/src/execa-manager.service.ts
  servers/execution/runner/src/runner-factory.service.ts
  servers/execution/runner/test/integration/execa-manager.service.spec.ts
  servers/execution/runner/test/integration/execa-runner.spec.ts
  servers/execution/runner/test/integration/queue.service.spec.ts
  servers/execution/runner/test/integration/runner-factory.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

Refactors config code and adds skeleton commander code
  servers/execution/runner/package.json
  servers/execution/runner/src/app.module.ts
  servers/execution/runner/src/config/Config.interface.ts
  servers/execution/runner/src/config/commander.ts
  servers/execution/runner/src/config/configuration.service.ts
  servers/execution/runner/src/config/configuration.ts
  servers/execution/runner/src/execa-manager.service.ts
  servers/execution/runner/src/main.ts
  servers/execution/runner/test/integration/execa-runner.spec.ts
  servers/execution/runner/yarn.lock
Due: yarn-install-runner, yarn-test-runner

Docker system restructure
  docker/conf.allow
  docker/conf.auth
  servers/config/gateway/README.md
  servers/config/gateway/auth
  servers/config/gateway/dynamic/fileConfig.docker.yml
  servers/config/gateway/dynamic/fileConfig.yml
  servers/config/gateway/traefik.yml
Due: none

README Update
  docker/README.md
Due: none

PR Review
  docker/conf.allow
  docker/conf.auth
Due: none

Users compose file
  docker/compose.users.yml
Due: none

Adding a new user
  docker/.env
  docker/compose.users.yml
  docker/conf.local
  docker/conf.server
Due: none

Base CLI structure and user add/delete
  cli/dtaas_cli/__init__.py
  cli/dtaas_cli/cmd.py
  cli/dtaas_cli/pkg/dtaas.py
  cli/dtaas_cli/pkg/helper.py
  cli/dtaas_cli/pkg/users.py
  cli/setup.py
Due: none

Working draft user add Cli
  cli/add_users.py
Due: none

Docker system restructure
  docker/conf.allow
  docker/conf.auth
Due: none

dtaas.toml cleanup
  cli/dtaas.toml
Due: none

Adds workspace directory creation to cli
  cli/dtaas.toml
  cli/src/pkg/users.py
  cli/src/pkg/utils.py
  files/template/data/.gitkeep
  files/template/digital_twins/.gitkeep
  files/template/functions/.gitkeep
  files/template/models/.gitkeep
  files/template/tools/.gitkeep
Due: none

README updates
  cli/README.md
  docker/README.md
Due: none

Minor testing print fix
  cli/src/pkg/users.py
Due: none

README issues and sonar check disable
  .codeclimate.yml
  cli/README.md
  docker/README.md
Due: none

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
