Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - push

yarn-test-lib:
  name: yarn test lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn test:nocov
  stages:
  - push

Refactor Signin function
  client/src/route/auth/Signin.tsx
Due: yarn-install-client, yarn-jest-client

Add Docker setup, fix more CodeCov issues, change routing
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
  client/src/route/config/Config.tsx
  client/src/route/config/ConfigItems.tsx
  client/src/routes.tsx
  client/src/util/configUtil.ts
  client/test/__mocks__/global_mocks.ts
  client/test/e2e/tests/Config.Verify.test.ts
  client/test/e2e/tests/auth.setup.ts
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/integration/Auth/authRedux.test.tsx
  client/test/integration/Routes/Signin.test.tsx
  client/test/unit/components/PrivateRoute.test.tsx
  client/test/unit/page/Config.test.tsx
  client/test/unit/util/ConfigUtil.test.ts
  docker/client.built.dockerfile
  docker/compose.dev.yml
Due: yarn-install-client, yarn-jest-client

Undo PreviewTab.tsx changes
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
Due: yarn-install-client, yarn-jest-client

Remove superfluous Docker checks, add missing eslint rule and remove temporary code
  client/eslint.config.mjs
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
  client/src/route/config/Config.tsx
  client/src/util/configUtil.ts
  docker/compose.dev.yml
Due: yarn-install-client, yarn-jest-client

is this working?
  .gitlab-ci.yml
Due: none

is this working?
  servers/.gitignore
  servers/lib/libms.yaml
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/test/integration/git-files.integration.spec.ts
Due: yarn-install-lib, yarn-test-lib

feat: add integration tests for private repo cloning in GitFilesService
  servers/lib/package-lock.json
  servers/lib/yarn.lock
Due: yarn-install-lib, yarn-test-lib

feat: add integration tests for private repo cloning in GitFilesService
  servers/lib/config/libms.dev.yaml
  servers/lib/libms.yaml
  servers/lib/src/config/config.service.ts
Due: yarn-install-lib, yarn-test-lib

Rise codeclimate mass_thresshold, add + test message for valid userconfig, update compose.dev.yml
  .codeclimate.yml
  client/src/route/config/Config.tsx
  client/test/__mocks__/global_mocks.ts
  client/test/e2e/tests/Config.Verify.test.ts
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/integration/Auth/authRedux.test.tsx
  client/test/integration/Routes/Signin.test.tsx
  client/test/unit/components/PrivateRoute.test.tsx
  client/test/unit/page/Config.test.tsx
  docker/compose.dev.yml
Due: yarn-install-client, yarn-jest-client

2025-02-16: Implemented and tested the git cloning service
  client/.prettierrc
  files/common/README.md
  files/common/functions/function1/.gitkeep
  files/common/functions/function1/README.md
  files/common/functions/function1/function1.txt
  files/user1/.gitignore
  files/user1/LICENSE
  files/user1/functions/.gitkeep
  files/user1/models/.gitkeep
  files/user1/tools/.gitkeep
  files/user2/data/welcome.txt
  files/user2/functions/Test-Function1/.gitkeep
  files/user2/functions/Test-Function1/Test-Function1.txt
  files/user2/models/test.py
  files/user2/tools/README.md
  package-lock.json
  servers/.gitignore
  servers/lib/.prettierrc
  servers/lib/package.json
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/test/integration/git-files.integration.spec.ts
  servers/package-lock.json
Due: yarn-install-client, yarn-install-lib, yarn-jest-client, yarn-test-lib

removed the files folder
  files/common/README.md
  files/common/functions/function1/README.md
  files/common/functions/function1/function1.txt
  files/user1/.gitignore
  files/user1/LICENSE
  files/user1/data/.gitkeep
  files/user1/digital_twins/.gitkeep
  files/user1/functions/.gitkeep
  files/user1/models/.gitkeep
  files/user1/tools/.gitkeep
  files/user2/data/welcome.txt
  files/user2/functions/Test-Function1/Test-Function1.txt
  files/user2/models/test.py
  files/user2/tools/README.md
Due: none

Memoize Config and useConfigErrors
  client/src/route/config/Config.tsx
Due: yarn-install-client, yarn-jest-client

Improves installation scripts
  .gitignore
  docs/developer/index.md
  script/base.ps1
  script/base.sh
  script/env.ps1
  script/env.sh
  script/nvm.sh
Due: none

chekking if this owrks
  servers/lib/config/libms.dev.yaml
Due: yarn-install-lib, yarn-test-lib

2025-02-25: supposedly finsihed the comments recived
  servers/lib/config/libms.dev.yaml
  servers/lib/config/libms.yaml.default
  servers/lib/test/integration/git-files.integration.spec.ts
  servers/lib/yarn.lock
Due: yarn-install-lib, yarn-test-lib

2025-02-26: % Changed line 39 in file 'git-file.integration.spec.ts' at dirctory 'servers/lib/test/integration/'
  servers/lib/test/integration/git-files.integration.spec.ts
Due: yarn-install-lib, yarn-test-lib

2025-02-26v2: - removed the unnesseary condition at line 39
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/util/ColorUtility.ts
  servers/lib/test/integration/git-files.integration.spec.ts
Due: yarn-install-lib, yarn-test-lib

Add props.role as hook dependency to Config
  client/src/route/config/Config.tsx
Due: yarn-install-client, yarn-jest-client

Migrate consts from gitlab, DigitalTwin, (DigitalTwinUtils)
  client/src/gitlab/constants.ts
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/route/digitaltwins/execute/LogDialog.tsx
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/gitlab.ts
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/util/digitalTwin.test.ts
Due: yarn-install-client, yarn-jest-client

Fix: Remove ANSI control characters from logs
  client/config/dev.js
  client/package.json
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
Due: yarn-install-client, yarn-jest-client

resets client directory
  client/.prettierrc
Due: yarn-install-client, yarn-jest-client

clean up over the PR
  servers/lib/compose.lib.dev.yml
  servers/lib/compose.lib.yml
  servers/lib/config/libms.dev.yaml
  servers/lib/config/libms.yaml.default
  servers/lib/package.json
  servers/lib/src/bootstrap.ts
  servers/package-lock.json
Due: yarn-install-lib, yarn-test-lib

clean up over the PR
  servers/lib/config/libms.dev.yaml
  servers/lib/config/libms.yaml.default
Due: yarn-install-lib, yarn-test-lib

test: added 5 testcases for new function ´cleanLogContent´
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/test/preview/unit/routes/digitaltwins/execute/PipelineUtils.test.ts
Due: yarn-install-client, yarn-jest-client

fix: remove unimportant files
  client/config/dev.js
  client/package.json
Due: yarn-install-client, yarn-jest-client

is this owrking?
  servers/lib/config/libms.yaml.default
  servers/lib/package.json
  servers/lib/src/bootstrap.ts
  servers/lib/src/config/config.model.ts
  servers/lib/src/config/config.service.ts
  servers/lib/src/files/git/git-files.service.ts
Due: yarn-install-lib, yarn-test-lib

New commit to check if this solved the testing problem
  servers/lib/src/bootstrap.ts
  servers/lib/src/files/git/git-files.service.ts
Due: yarn-install-lib, yarn-test-lib

okay i removed it.
  servers/lib/.prettierrc
Due: yarn-install-lib, yarn-test-lib

Just trying something out. will revert if it does not work.
  servers/lib/src/config/config.model.ts
  servers/lib/src/files/git/git-files.service.ts
Due: yarn-install-lib, yarn-test-lib

it didn't work
  servers/lib/src/files/git/git-files.service.ts
Due: yarn-install-lib, yarn-test-lib

2025-03-03: Implement ConsoleLogger to follow NestJS style and integrate into GitFilesService tests
  servers/lib/src/app.module.ts
  servers/lib/src/util/logger.ts
  servers/lib/test/integration/git-files.integration.spec.ts
Due: yarn-install-lib, yarn-test-lib

Refactor ConsoleLogger: Simplify constant declarations and remove unused constructor
  servers/lib/src/util/logger.ts
Due: yarn-install-lib, yarn-test-lib

2025-03-04: trying to fix the codacy issues. Refactor GitFilesService: Improve error handling and logging, ensure valid configurations
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/test/integration/git-files.integration.spec.ts
Due: yarn-install-lib, yarn-test-lib

Revert all folders and files except servers to commit abc123
  .codeclimate.yml
  .gitignore
  CITATION.cff
  README.md
  SECURITY.md
  client/.prettierrc
  deploy/services/gitlab/.env
  deploy/services/gitlab/INTEGRATION.md
  deploy/services/gitlab/README.md
  deploy/services/gitlab/compose.gitlab.yml
  docs/admin/client/config.md
  docs/admin/gitlab/index.md
  docs/admin/gitlab/runner.md
  docs/admin/localhost-secure.md
  docs/admin/localhost.md
  docs/developer/index.md
  docs/redirect-page.html
  docs/user/digital-twins/devops.md
  mkdocs-github.yml
  mkdocs.yml
  script/base.ps1
  script/base.sh
  script/env.ps1
  script/env.sh
  servers/lib/.prettierrc
  servers/lib/DEVELOPER.md
  servers/lib/DOCKER.md
  servers/lib/README.md
  servers/lib/config/libms.dev.yaml
  servers/lib/config/libms.yaml.default
  servers/lib/package.json
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/config/config.interface.ts
  servers/lib/src/config/config.model.ts
  servers/lib/src/config/config.service.ts
  servers/lib/src/files/git/git-files.service.ts
Due: yarn-install-client, yarn-install-lib, yarn-jest-client, yarn-test-lib

revert servers folder to commit 3b553f9dad53c11fbedcb32e238b557fdc14e077
  servers/lib/.prettierrc
  servers/lib/DEVELOPER.md
  servers/lib/DOCKER.md
  servers/lib/README.md
  servers/lib/config/libms.dev.yaml
  servers/lib/config/libms.yaml.default
  servers/lib/package.json
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/config/config.interface.ts
  servers/lib/src/config/config.model.ts
  servers/lib/src/config/config.service.ts
  servers/lib/src/files/git/git-files.service.ts
Due: yarn-install-lib, yarn-test-lib

should now have reverted the changeds to the files/ folder
  README.md
  files/common/README.md
  files/common/functions/function1/README.md
  files/common/functions/function1/function1.txt
Due: none

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
  yarn-test-lib: any of: ^servers/lib/.*
