Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push]

repos:
  - repo: local
    hooks:
      - id: yarn-install-client
        name: yarn install client
        entry: bash
        language: system
        files: "^client/.*"
        args: ["-c", "cd client && yarn install"]
      - id: yarn-install-runner
        name: yarn install runner
        entry: bash
        language: system
        files: "^servers/execution/runner/.*"
        args: ["-c", "cd servers/execution/runner && yarn install"]
      - id: yarn-install-lib
        name: yarn install lib
        entry: bash
        language: system
        files: "^servers/lib/.*"
        args: ["-c", "cd servers/lib && yarn install"]

      - id: yarn-jest-client
        name: yarn jest client
        entry: bash
        language: system
        files: "^client/.*"
        args: ["-c", "cd client && yarn jest . --coverage=false"]
        stages: [push]
      - id: yarn-test-runner
        name: yarn test runner
        entry: bash
        language: system
        files: "^servers/execution/runner/.*"
        args: ["-c", "cd servers/execution/runner && yarn test:nocov"]
        stages: [push]
      - id: yarn-test-lib
        name: yarn test lib
        entry: bash
        language: system
        files: "^servers/lib/.*"
        args: ["-c", "cd servers/lib && yarn test:nocov"]
        stages: [push]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: ["--ignore-path", "../.gitignore", "--write"]
        files: '^(client|servers/execution/runner|servers/lib)/.*\.(ts|tsx|css|scss)$'
        stages: [commit]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.54.0
    hooks:
      - id: eslint
        args: ["--fix"]
        files: "^(client|servers/execution/runner|servers/lib)/.*"
        stages: [commit]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        files: '.*\.md$'
        entry: ./script/markdownlint-hook.sh
        verbose: true
        stages: [commit]

  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.18
    hooks:
      - id: shellcheck
        files: '.*'
        stages: [commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        files: '^(docs|deploy|script|ssl)/.*'
        stages: [commit]
      - id: check-yaml
        files: '^(docs|deploy|script|ssl)/.*'
        stages: [commit]

Fix codeclimate issue
  client/test/preview/unit/util/gitlabDigitalTwinConfig.test.ts
Due: yarn-install-client, yarn-jest-client

Rename `lib.docker` to `lib.env`
  deploy/config/lib.env
  deploy/docker/SERVER.md
  deploy/docker/compose.server.secure.yml
  deploy/docker/compose.server.yml
  docker/libms.npm.dockerfile
  docs/admin/host.md
Due: none

Add `OAUTH_` prefix to auth variables
  deploy/docker/.env.server
  deploy/docker/DOCKER-ENV.md
  deploy/docker/compose.server.secure.yml
  deploy/docker/compose.server.yml
  docker/compose.dev.yml
  docs/admin/host.md
  docs/admin/servers/auth.md
  docs/developer/oauth/AUTHMS.drawio
  docs/developer/oauth/AUTHMS.md
Due: none

Update auth microservice diagram
  docs/developer/oauth/AUTHMS.drawio
Due: none

Fix broken preview unit tests
  client/package.json
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/util/gitlabDigitalTwin.ts
  client/test/e2e/tests/auth.setup.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/StartStopButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/LogDialog.test.tsx
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Fix broken preview int tests
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/components/asset/StartStopButton.test.tsx
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/integration/route/digitaltwins/Snackbar.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/LogDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineChecks.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
Due: yarn-install-client, yarn-jest-client

Downgrade Eslint for react and airbnb-base configurations
  client/package.json
Due: yarn-install-client, yarn-jest-client

Add network timeout to yarn install in client.yml
  .github/workflows/client.yml
Due: none

Add OS check for playwright report name
  .github/workflows/client.yml
Due: none

Refactor store in preview tests
  client/test/preview/integration/integration.testUtil.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineChecks.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
Due: yarn-install-client, yarn-jest-client

Exchange devcontainers-contribf with active repo
  .devcontainer/devcontainer.json
Due: none

Reformat to previous style
  .devcontainer/devcontainer.json
Due: none

Update tests
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/file.slice.ts
  client/src/preview/util/gitlabDigitalTwin.ts
  client/test/preview/integration/components/asset/AssetBoard.test.tsx
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Editor.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/Manage.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/util/Store.test.ts
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
Due: yarn-install-client, yarn-jest-client

Enable debugging for traefik + forward auth for devs
  docker/compose.dev.yml
Due: none

Upgrade image and features with maintained repo
  .devcontainer/devcontainer.json
Due: none

Removes version tag from docker-compose files
  cli/tests/compose.users.test.yml
  client/compose.client.yml
  docker/compose.dev.yml
  docs/admin/servers/lib/compose.lib.yml
Due: yarn-install-client, yarn-jest-client

Update comment in docker-ghcr
  .github/workflows/docker-ghcr.yml
Due: none

Add ignore pattern for unused errors and upgrade jest-dom
  client/eslint.config.mjs
  client/package.json
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/util/gitlabDigitalTwin.ts
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
Due: yarn-install-client, yarn-jest-client

Add changes made to yarn.lock
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Fixes runner tests WIP
  servers/execution/runner/src/config/commander.ts
  servers/execution/runner/test/e2e/commander.spec.ts
  servers/execution/runner/test/e2e/options.spec.ts
  servers/execution/runner/test/e2e/util.ts
Due: yarn-install-runner, yarn-test-runner

Increment test beforeAll timeout to 12 seconds
  servers/lib/test/e2e/app.e2e.spec.ts
Due: yarn-install-lib, yarn-test-lib

Complete integration tests
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/file.slice.ts
  client/test/preview/__mocks__/global_mocks.ts
  client/test/preview/integration/route/digitaltwins/editor/Editor.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/PreviewTab.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/Manage.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/util/Store.test.ts
Due: yarn-install-client, yarn-jest-client

Fix codeclimate issues
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/test/preview/integration/route/digitaltwins/editor/Editor.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/PreviewTab.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/Manage.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
Due: yarn-install-client, yarn-jest-client

Fix codeclimate issue
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DetailsDialog.test.tsx
Due: yarn-install-client, yarn-jest-client

Fix codeclimate issues
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DetailsDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/utils.ts
Due: yarn-install-client, yarn-jest-client

Fix codeclimate issues
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/DetailsDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
Due: yarn-install-client, yarn-jest-client

Remove version tag from test expectation
  cli/tests/test_utils.py
Due: none

Revert "Remove version tag from test expectation"
  cli/tests/test_utils.py
Due: none

Updates
  client/DEVELOPER.md
  client/README.md
  client/package.json
  client/src/preview/util/gitlabDriver.ts
  client/src/util/gitlab.json
  client/tsconfig.gitlab.json
Due: yarn-install-client, yarn-jest-client

Update
  client/config/gitlab.json
  client/src/util/gitlab.json
Due: yarn-install-client, yarn-jest-client

changed to useFactory
  client/yarn.lock
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/resolvers/files.resolver.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
Due: yarn-install-client, yarn-install-lib, yarn-jest-client, yarn-test-lib

Fixes publishing to github container registry (#987)
  .github/workflows/docker-ghcr.yml
Due: none

removed configModule
  servers/lib/src/files/files.module.ts
Due: yarn-install-lib, yarn-test-lib

Removes `CLIENT_CONFIG` variable
  deploy/docker/.env.local
  deploy/docker/.env.server
  deploy/docker/compose.local.secure.yml
  deploy/docker/compose.local.yml
  deploy/docker/compose.server.secure.yml
  deploy/docker/compose.server.yml
Due: none

Remove `CLIENT_CONFIG` variable from docs
  deploy/docker/DOCKER-ENV.md
  deploy/docker/LOCALHOST.SECURE.md
  deploy/docker/LOCALHOST.md
  deploy/docker/SERVER.md
  docs/admin/host.md
  docs/admin/localhost.md
Due: none

changed to fileService map and made static
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/git-files.service.ts
  servers/lib/src/files/services/local-files.service.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
Due: yarn-install-lib, yarn-test-lib

refactoring
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/git/git-files.module.ts
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/local/local-files.module.ts
  servers/lib/src/files/local/local-files.service.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/local-files.service.unit.spec.ts
Due: yarn-install-lib, yarn-test-lib

refactoring
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/files.resolver.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/files.resolver.unit.spec.ts
Due: yarn-install-lib, yarn-test-lib
