Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push]

repos:
  - repo: local
    hooks:
      - id: yarn-install-client
        name: yarn install client
        entry: bash
        language: system
        files: "^client/.*"
        args: ["-c", "cd client && yarn install"]
      - id: yarn-install-runner
        name: yarn install runner
        entry: bash
        language: system
        files: "^servers/execution/runner/.*"
        args: ["-c", "cd servers/execution/runner && yarn install"]
      - id: yarn-install-lib
        name: yarn install lib
        entry: bash
        language: system
        files: "^servers/lib/.*"
        args: ["-c", "cd servers/lib && yarn install"]

      - id: yarn-jest-client
        name: yarn jest client
        entry: bash
        language: system
        files: "^client/.*"
        args: ["-c", "cd client && yarn jest . --coverage=false"]
        stages: [push]
      - id: yarn-test-runner
        name: yarn test runner
        entry: bash
        language: system
        files: "^servers/execution/runner/.*"
        args: ["-c", "cd servers/execution/runner && yarn test:nocov"]
        stages: [push]
      - id: yarn-test-lib
        name: yarn test lib
        entry: bash
        language: system
        files: "^servers/lib/.*"
        args: ["-c", "cd servers/lib && yarn test:nocov"]
        stages: [push]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: ["--ignore-path", "../.gitignore", "--write"]
        files: '^(client|servers/execution/runner|servers/lib)/.*\.(ts|tsx|css|scss)$'
        stages: [commit]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.54.0
    hooks:
      - id: eslint
        args: ["--fix"]
        files: "^(client|servers/execution/runner|servers/lib)/.*"
        stages: [commit]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        files: '.*\.md$'
        entry: ./script/markdownlint-hook.sh
        verbose: true
        stages: [commit]

  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.18
    hooks:
      - id: shellcheck
        files: '.*'
        stages: [commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        files: '^(docs|deploy|script|ssl)/.*'
        stages: [commit]
      - id: check-yaml
        files: '^(docs|deploy|script|ssl)/.*'
        stages: [commit]

Resolve complexity finding splitting poll attempt from retry decision and replacing the loop with async recursion
  client/src/route/digitaltwins/execution/executionStatusManager.ts
Due: yarn-install-client, yarn-jest-client

Fix model package README formatting
  client/src/model/README.md
Due: yarn-install-client, yarn-jest-client

Init commit
  .github/workflows/client.yml
  client/jest.config.json
  client/src/model/.gitignore
  client/src/model/.npmignore
  client/src/model/LICENSE.md
  client/src/model/README.md
  client/src/model/backend/util/init.ts
  client/src/model/env.d.ts
  client/src/model/index.ts
  client/src/model/package.json
  client/src/model/store/environment.slice.ts
  client/src/model/tsconfig.json
  client/src/model/tsup.config.ts
  client/src/model/yarn.lock
  client/test/package/model-consumer/index.ts
  client/test/package/model-consumer/package.json
  client/test/package/model-consumer/smoke.mjs
  client/test/package/model-consumer/tsconfig.json
  client/vite.config.ts
  docs/developer/codebase/publish-packages.md
Due: yarn-install-client, yarn-jest-client

Fix model package workflow line length
  .github/workflows/client.yml
Due: none

Remove redundant model npmignore
  client/src/model/.gitignore
  client/src/model/.npmignore
Due: yarn-install-client, yarn-jest-client

Address model package CI feedback
  .github/workflows/client.yml
  client/test/package/model-consumer/index.ts
  client/test/package/model-consumer/package-lock.json
  client/test/package/model-consumer/smoke.mjs
  client/tsconfig.build.json
Due: yarn-install-client, yarn-jest-client

Remove model package consumer checks
  .github/workflows/client.yml
  client/test/package/model-consumer/index.ts
  client/test/package/model-consumer/package-lock.json
  client/test/package/model-consumer/package.json
  client/test/package/model-consumer/smoke.mjs
  client/test/package/model-consumer/tsconfig.json
  docs/developer/codebase/publish-packages.md
Due: yarn-install-client, yarn-jest-client

Restore package publishing documentation
  docs/developer/codebase/publish-packages.md
Due: none

Actually reset client
  client/config/test.js
  client/jest.config.json
  client/src/model/.gitignore
  client/src/model/LICENSE.md
  client/src/model/README.md
  client/src/model/backend/util/init.ts
  client/src/model/env.d.ts
  client/src/model/index.ts
  client/src/model/package.json
  client/src/model/store/environment.slice.ts
  client/src/model/tsconfig.json
  client/src/model/tsup.config.ts
  client/src/model/yarn.lock
  client/tsconfig.build.json
  client/vite.config.ts
Due: yarn-install-client, yarn-jest-client

Rm stale Client job; update documentation for packages; readd automatic tar ball check
  .github/workflows/client.yml
  .github/workflows/dt-automation.yml
  docs/developer/codebase/publish-packages.md
Due: none

Address most of Claude's issues
  .github/workflows/dt-automation.yml
  .github/workflows/runner.yml
  docs/developer/codebase/publish-packages.md
  servers/execution/dt-automation/README.md
  servers/execution/dt-automation/package.json
  servers/execution/dt-automation/yarn.lock
Due: none

Add smoke test and validation commands
  .github/workflows/dt-automation.yml
  servers/lib/dt-automation/package.json
  servers/lib/dt-automation/scripts/smoke-package.mjs
Due: yarn-install-lib, yarn-test-lib

Add workflow to publish package to npm and github
  .github/workflows/dt-automation.yml
Due: none

Resolve qlty problems
  .github/workflows/dt-automation.yml
  lib/dt-automation/backend/fileHandler.ts
  lib/dt-automation/backend/gitlab/cleanLog.ts
  lib/dt-automation/backend/gitlab/execution/logFetching.ts
  lib/dt-automation/backend/gitlab/execution/pipelineCore.ts
  lib/dt-automation/backend/gitlab/execution/statusChecking.ts
  lib/dt-automation/backend/gitlab/measure/measurement.pipeline.ts
  lib/dt-automation/backend/gitlab/measure/measurement.runner.ts
  lib/dt-automation/backend/gitlab/measure/measurement.utils.ts
  lib/dt-automation/backend/state/executionHistory.slice.ts
  lib/dt-automation/backend/util/digitalTwinAdapter.ts
  lib/dt-automation/backend/util/digitalTwinUtils.ts
  lib/dt-automation/store/libraryConfigFiles.slice.ts
  lib/dt-automation/test/unit/model/backend/digitalTwinUtil.test.ts
  lib/dt-automation/test/unit/model/backend/util/digitalTwinAdapter.test.ts
Due: none

Blanket ignore duplication code for lib/dt-automation
  .sonarcloud.properties
Due: none

Upgrade packages for failing workflow, rm unused .sonarcloud.properties
  .github/workflows/dt-automation.yml
  .sonarcloud.properties
  lib/dt-automation/package.json
  lib/dt-automation/yarn.lock
Due: none

Tighten validation of tarball files to regular files only
  .github/workflows/dt-automation.yml
Due: none

Reduce complexity in measurement.pipeline.ts, executionHistory.slice.ts (qlty)
  lib/dt-automation/backend/gitlab/measure/measurement.pipeline.ts
  lib/dt-automation/backend/state/executionHistory.slice.ts
Due: none

Remove artefacts, sonarqube comments, remove references out of package in documentation
  .github/workflows/runner.yml
  .qlty/qlty.toml
  docs/developer/codebase/publish-packages.md
  lib/dt-automation/backend/ARCHITECTURE.md
  lib/dt-automation/backend/IMPLEMENTATION.md
  lib/dt-automation/backend/digitalTwin.ts
  lib/dt-automation/backend/gitlab/cleanLog.ts
  lib/dt-automation/backend/util/init.ts
  lib/dt-automation/scripts/smoke-package.mjs
  lib/dt-automation/store/assets.slice.ts
  lib/dt-automation/test/unit/model/backend/init.test.ts
Due: none

1 qlty + 1 sonarqube issue
  lib/dt-automation/backend/DTAssets.ts
  lib/dt-automation/backend/gitlab/measure/measurement.pipeline.ts
Due: none

Small documentation improvements
  lib/dt-automation/README.md
  lib/dt-automation/backend/ARCHITECTURE.md
  lib/dt-automation/backend/IMPLEMENTATION.md
  lib/dt-automation/backend/gitlab/measure/measurement.pipeline.ts
Due: none

dtaas-gitlab
  deploy/services/cli/dtaas_services/pkg/services/gitlab/_api.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/personal_token.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/users.py
  deploy/services/cli/poetry.lock
  deploy/services/cli/tests/test_services/test_gitlab/test_personal_token.py
  lib/README.md
  lib/dtaas_gitlab/__init__.py
  lib/dtaas_gitlab/client.py
  lib/dtaas_gitlab/users.py
  lib/dtaas_gitlab/validators.py
  lib/pyproject.toml
  lib/tests/__init__.py
  lib/tests/test_client.py
  lib/tests/test_users.py
  lib/tests/test_validators.py
Due: none

Remove env.d.ts in favour of dependency injection of redux store
  lib/dt-automation/README.md
  lib/dt-automation/env.d.ts
  lib/dt-automation/index.ts
  lib/dt-automation/src/IMPLEMENTATION.md
  lib/dt-automation/src/store/environment.slice.ts
  lib/dt-automation/test/__mocks__/global_mocks.tsx
  lib/dt-automation/test/setupTests.ts
  lib/dt-automation/test/unit/store/environmentSlice.test.ts
  lib/dt-automation/tsconfig.json
Due: none

Split off README.md to DEVELOPER.md
  lib/dt-automation/DEVELOPER.md
  lib/dt-automation/README.md
Due: none

Invert dependency such that all React comes from Client
  lib/dt-automation/DEVELOPER.md
  lib/dt-automation/README.md
  lib/dt-automation/eslint.config.mjs
  lib/dt-automation/index.ts
  lib/dt-automation/jest.config.json
  lib/dt-automation/package.json
  lib/dt-automation/scripts/smoke-package.mjs
  lib/dt-automation/src/digitalTwin.ts
  lib/dt-automation/src/gitlab/measure/measurement.runner.ts
  lib/dt-automation/src/store/CartAccess.ts
  lib/dt-automation/src/util/init.ts
  lib/dt-automation/test/__mocks__/global_mocks.ts
  lib/dt-automation/test/unit/model/backend/gitlab/measure/measurement.envSetup.ts
  lib/dt-automation/test/unit/model/backend/gitlab/measure/measurement.testUtil.ts
  lib/dt-automation/test/unit/store/CartAccess.test.ts
  lib/dt-automation/tsconfig.eslint.json
  lib/dt-automation/tsconfig.json
  lib/dt-automation/yarn.lock
Due: none

Fix absolute archive-path problem in smoke-package.mjs
  lib/dt-automation/scripts/smoke-package.mjs
Due: none

Minor improvements and standardizations of documentation; moving reading constants into constants.ts; renaming groups in index.ts in case files move
  lib/dt-automation/DEVELOPER.md
  lib/dt-automation/README.md
  lib/dt-automation/index.ts
  lib/dt-automation/src/gitlab/digitalTwinConfig/constants.ts
  lib/dt-automation/src/gitlab/gitlabReadRetry.ts
  lib/dt-automation/test/unit/model/backend/gitlab/measure/measurement.testUtil.ts
  lib/dt-automation/test/unit/store/executionHistory/selectors.test.ts
Due: none

Add esbuild resolution and hardcode timeout in runner.yml
  .github/workflows/runner.yml
  lib/dt-automation/package.json
  lib/dt-automation/yarn.lock
Due: none

Fixes GitLab pkg bugs
  .github/workflows/python-reusable.yml
  deploy/services/cli/dtaas_services/gitlab_core/__init__.py
  deploy/services/cli/dtaas_services/gitlab_core/client.py
  deploy/services/cli/dtaas_services/gitlab_core/users.py
  deploy/services/cli/dtaas_services/gitlab_core/validators.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/_api.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/users.py
  deploy/services/cli/dtaas_services/py.typed
  deploy/services/cli/poetry.lock
  deploy/services/cli/pyproject.toml
  deploy/services/cli/tests/test_gitlab_core/__init__.py
  deploy/services/cli/tests/test_gitlab_core/test_client.py
  deploy/services/cli/tests/test_gitlab_core/test_users.py
  deploy/services/cli/tests/test_gitlab_core/test_validators.py
  docs/developer/codebase/dtaas-services.md
  lib/README.md
  lib/dtaas_gitlab/__init__.py
  lib/dtaas_gitlab/client.py
  lib/dtaas_gitlab/users.py
  lib/pyproject.toml
  lib/tests/test_client.py
  lib/tests/test_users.py
Due: none

version bump
  deploy/services/cli/pyproject.toml
Due: none

moving the dtaas-gitlab out
  .github/workflows/platform-services-cli.yml
  .github/workflows/python-reusable.yml
  deploy/services/cli/.gitignore
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/README.md
  deploy/services/cli/dtaas_services/pkg/build.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/_api.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/users.py
  deploy/services/cli/pyproject.toml
  docs/developer/codebase/dtaas-services.md
  lib/gitlab_common/README.md
  lib/gitlab_common/gitlab_common/__init__.py
  lib/gitlab_common/gitlab_common/client.py
  lib/gitlab_common/gitlab_common/py.typed
  lib/gitlab_common/gitlab_common/users.py
  lib/gitlab_common/gitlab_common/validators.py
  lib/gitlab_common/pyproject.toml
  lib/gitlab_common/tests/__init__.py
  lib/gitlab_common/tests/test_client.py
  lib/gitlab_common/tests/test_users.py
  lib/gitlab_common/tests/test_validators.py
Due: none

Add linting and unit testing to dt-automation.yml, add contributors in package.json, improve README.md and DEVELOPER.md, reinstate *job_timeout in runner.yml
  .github/workflows/dt-automation.yml
  .github/workflows/runner.yml
  lib/dt-automation/DEVELOPER.md
  lib/dt-automation/README.md
  lib/dt-automation/package.json
Due: none

Remove react install from dt-automation workflow
  .github/workflows/dt-automation.yml
Due: none
