Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - push

yarn-test-lib:
  name: yarn test lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn test:nocov
  stages:
  - push

changed port and order
  .github/workflows/lib-ms.yml
Due: none

changed order
  .github/workflows/lib-ms.yml
Due: none

Remove strip-ansi and add instructions to gitlab-runner
  client/src/route/digitaltwins/pipelineUtils.ts
  docs/developer/client/GITLAB-RUNNER.md
Due: yarn-install-client, yarn-jest-client

ignores bootstrap.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
Due: yarn-install-lib, yarn-test-lib

fixed deprecated func
  servers/lib/jest.config.json
Due: yarn-install-lib, yarn-test-lib

removes temp tests
  .github/workflows/lib-ms.yml
Due: none

Apply comments
  client/src/route/digitaltwins/DigitalTwinTabDataPreview.ts
  client/src/route/digitaltwins/LogDialog.tsx
  client/src/route/digitaltwins/pipelineChecks.ts
  client/src/route/digitaltwins/pipelineHandler.ts
  client/src/route/digitaltwins/pipelineUtils.ts
  client/src/store/digitalTwin.slice.ts
  client/src/util/gitlabDigitalTwin.ts
  client/test/unit/components/asset/StartStopButton.test.tsx
  client/test/unit/routes/digitaltwins/ExecutionFunctions.test.ts
  client/test/unit/routes/digitaltwins/LogDialog.test.tsx
  docs/developer/client/GITLAB-RUNNER.md
Due: yarn-install-client, yarn-jest-client

Consolidation of development configuration.
  deploy/docker/COMPOSE.md
  deploy/docker/SERVER.md
  docker/README.md
Due: none

Oauth server creation on GitLab
  docs/admin/servers/auth.md
Due: none

Typo
  docs/admin/servers/auth.md
Due: none

Renamed .env file description md file
  deploy/docker/ENV.md
  deploy/docker/SERVER.md
  docker/README.md
Due: none

Default URLs in dev client dev env
  client/config/dev.js
Due: yarn-install-client, yarn-jest-client

Changed headline to header Due to error in codecliemate
  deploy/docker/ENV.md
Due: none

Added Python Virtual env
  script/base.sh
  script/env.sh
Due: none

adds check for server running
  .github/workflows/lib-ms.yml
  servers/lib/package.json
Due: yarn-install-lib, yarn-test-lib

Start unit testing and use preview folders
  client/package.json
  client/src/preview/components/asset/Asset.ts
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/LogButton.tsx
  client/src/preview/components/asset/StartStopButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinTabDataPreview.ts
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/Snackbar.tsx
  client/src/preview/route/digitaltwins/execute/LogDialog.tsx
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/src/routes.tsx
  client/src/store/CartAccess.ts
  client/src/store/cart.slice.ts
  client/src/store/digitalTwin.slice.ts
  client/src/store/store.ts
  client/src/util/gitlab.ts
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/LogButton.test.tsx
  client/test/preview/unit/components/asset/StartStopButton.test.tsx
  client/test/preview/unit/jest.setup.ts
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/LogDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineChecks.test.ts
  client/test/preview/unit/routes/digitaltwins/execute/PipelineHandlers.test.ts
  client/test/preview/unit/routes/digitaltwins/execute/PipelineUtils.test.ts
  client/test/unit/components/asset/AssetCard.test.tsx
  client/test/unit/routes/digitaltwins/ExecutionFunctions.test.ts
  client/test/unit/util/Store.test.ts
  client/test/unit/util/envUtil.test.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Add Manage tab files
  client/package.json
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/DeleteButton.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/asset/ReconfigureButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinTabDataPreview.ts
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/route/digitaltwins/DigitalTwinTabData.ts
  client/src/util/gitlabDigitalTwin.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Change components and use redux
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/asset/ReconfigureButton.tsx
  client/src/preview/components/asset/StartStopButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/Snackbar.tsx
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/route/digitaltwins/DigitalTwinTabData.ts
  client/src/store/assets.slice.ts
  client/src/store/snackbar.slice.ts
  client/src/store/store.ts
  client/src/util/gitlabDigitalTwin.ts
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/DeleteButton.test.tsx
  client/test/preview/unit/components/asset/DetailsButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/DeleteDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/DetailsDialog.test.tsx
  client/test/unit/components/asset/AssetCard.test.tsx
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: yarn-install-client, yarn-jest-client

Update unit tests
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/manage/DeleteDialog.tsx
  client/test/preview/unit/components/asset/DetailsButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/DeleteDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/unit/components/asset/AssetCard.test.tsx
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: yarn-install-client, yarn-jest-client

Format
  client/src/preview/components/asset/AssetCard.tsx
  client/test/preview/unit/components/asset/DetailsButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/DeleteDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/Snackbar.test.tsx
  client/test/unit/components/asset/AssetCard.test.tsx
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: yarn-install-client, yarn-jest-client

Fix codeclimate issues
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/test/preview/unit/routes/digitaltwins/DeleteDialog.test.tsx
Due: yarn-install-client, yarn-jest-client

Use remarkable library
  client/package.json
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/StartStopButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/route/digitaltwins/execute/pipelineUtils.ts
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/store/assets.slice.ts
  client/src/store/store.ts
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/StartStopButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/DeleteDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/routes/digitaltwins/execute/PipelineChecks.test.ts
  client/test/preview/unit/routes/digitaltwins/execute/PipelineHandlers.test.ts
  client/test/preview/unit/routes/digitaltwins/execute/PipelineUtils.test.ts
  client/test/unit/util/Store.test.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

set working directory
  .github/workflows/lib-ms.yml
Due: none

Add Reconfigure Dialog
  client/package.json
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/ReconfigureButton.tsx
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/EditorTab.tsx
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/execute/pipelineChecks.ts
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/util/gitlabDigitalTwin.ts
  client/test/preview/unit/components/asset/AssetBoard.test.tsx
  client/test/preview/unit/routes/digitaltwins/DeleteDialog.test.tsx
  client/test/unit/components/asset/AssetCard.test.tsx
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

updated docs
  servers/lib/DEVELOPER.md
Due: yarn-install-lib, yarn-test-lib

code climate fix
  servers/lib/DEVELOPER.md
Due: yarn-install-lib, yarn-test-lib

removes console log
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
Due: yarn-install-lib, yarn-test-lib

adds local compose file
  servers/lib/DEVELOPER.md
  servers/lib/compose.lib.dev.yml
Due: yarn-install-lib, yarn-test-lib

specify code block language
  servers/lib/DEVELOPER.md
Due: yarn-install-lib, yarn-test-lib

Improves DEVELOPER.md
  servers/lib/DEVELOPER.md
Due: yarn-install-lib, yarn-test-lib

Fixes libms windows error and tests (#888)
  .github/workflows/lib-ms.yml
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/compose.lib.dev.yml
  servers/lib/jest.config.json
  servers/lib/package.json
  servers/lib/src/bootstrap.ts
  servers/lib/src/cloudcmd/cloudcmd.ts
  servers/lib/src/files/services/local-files.service.ts
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/yarn.lock
Due: yarn-install-lib, yarn-test-lib

feat: Inline gitlab.rb configs into compose
  deploy/services/gitlab/docker-compose.yml
Due: none

refactor: Use variables for gitlab/.env
  deploy/services/gitlab/.env
  deploy/services/gitlab/data/.gitkeep
  deploy/services/gitlab/docker-compose.yml
Due: none

Updated docs for linting and better naming
  deploy/docker/DOCKER-ENV.md
  deploy/docker/SERVER.md
  docker/README.md
Due: none

feat: Make gitlab use local directory
  deploy/services/gitlab/.env
  deploy/services/gitlab/.gitignore
  deploy/services/gitlab/config/.gitkeep
  deploy/services/gitlab/logs/.gitkeep
Due: none

fix: Fix typo in gitlab .gitignore
  deploy/services/gitlab/.gitignore
Due: none

feat: Revert gitlab-ce to 16.4.1-ce.0
  deploy/services/gitlab/.env
Due: none

fix: Fix forward-auth DNS issue
  deploy/docker/compose.server.secure.yml
  deploy/docker/resolv.conf
Due: none

Apply filters to coverage collection and rename test:e2e:int
  client/package.json
  client/playwright.config.ts
  client/test/e2e/setup/mcr.config.ts
Due: yarn-install-client, yarn-jest-client

Complete Reconfigure dialog
  client/package.json
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/EditorTab.tsx
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/store/digitalTwin.slice.ts
  client/src/store/file.slice.ts
  client/src/store/store.ts
  client/src/util/gitlabDigitalTwin.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
  yarn-test-lib: any of: ^servers/lib/.*
