Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - push

yarn-test-lib:
  name: yarn test lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn test:nocov
  stages:
  - push

qlty issue: Removed default: "latest"
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
Due: none

Retry installing Playwright 3 times of 5 minutes each
  .github/workflows/client.yml
Due: none

Bump Playwright to 1.60.0 and revert install workarounds
  .github/workflows/client.yml
  client/package.json
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Apply suggestions
  cli/README.md
  cli/src/cmd.py
  cli/src/pkg/project.py
  cli/src/templates/deploy/localhost/README.md
  cli/src/templates/deploy/secure-server-gitlab/README.md
  cli/src/templates/deploy/secure-server/README.md
  cli/src/templates/deploy/server/README.md
  cli/src/templates/deploy/workspace-localhost/README.md
  cli/src/templates/deploy/workspace-secure-server/.env.example
  cli/src/templates/deploy/workspace-secure-server/CONFIGURATION.md
  cli/src/templates/deploy/workspace-secure-server/KEYCLOAK_SETUP.md
  cli/src/templates/deploy/workspace-secure-server/README.md
  cli/tests/test_cmd.py
  cli/tests/test_project.py
Due: none

build for copying templates
  cli/DEVELOPER.md
  cli/src/cmd.py
  cli/src/pkg/build.py
  cli/tests/test_build.py
  cli/tests/test_project.py
Due: none

Correct tests, rm pin for @mui/styled-engine v7 to avoid future incompatabilities with @mui/material/@mui/system, minor sidebar problem fixed, comments for intentional patterns copilot picked up on
  client/package.json
  client/src/model/backend/interfaces/backendInterfaces.ts
  client/src/model/backend/interfaces/sharedInterfaces.ts
  client/src/model/backend/state/executionHistory.slice.ts
  client/src/page/DrawerComponent.tsx
  client/src/page/MenuItems.tsx
  client/src/route/account/MeasurementSettingsFields.tsx
  client/src/route/digitaltwins/create/ChangeFileNameDialog.tsx
  client/src/route/digitaltwins/editor/EditorTab.tsx
  client/src/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/route/measurement/MeasurementComponents.tsx
  client/src/route/measurement/MeasurementControls.tsx
  client/src/store/snackbar.slice.ts
  client/test/integration/jest.setup.ts
  client/test/setupTests.ts
  client/test/unit/jest.setup.ts
  client/test/unit/page/Menu.test.tsx
  client/test/unit/routes/DigitalTwins.test.tsx
  client/test/unit/routes/Library.test.tsx
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Expand test coverage and mark the props of MenuItems as read-only, add convinience cmd of "yarn prep"
  client/package.json
  client/src/page/MenuItems.tsx
  client/test/unit/route/config/Config.test.tsx
  client/test/unit/route/config/ConfigItems.test.tsx
  client/test/unit/route/digitaltwins/create/ChangeFileNameDialog.test.tsx
  client/test/unit/route/digitaltwins/editor/EditorTab.test.tsx
Due: yarn-install-client, yarn-jest-client

Add no sonar comments to test
  client/test/unit/route/config/Config.test.tsx
Due: yarn-install-client, yarn-jest-client

Expand coverage again, use remove() instead of removeChild in ConfigItems.test.tsx.
  client/test/unit/route/config/Config.test.tsx
  client/test/unit/route/config/ConfigItems.test.tsx
  client/test/unit/routes/SettingsForm.test.tsx
Due: yarn-install-client, yarn-jest-client

minor change
  cli/README.md
  cli/src/pkg/project.py
  cli/tests/test_cmd.py
  cli/tests/test_project.py
Due: none

minor issue
  cli/tests/test_build.py
  cli/tests/test_cmd.py
  cli/tests/test_project.py
Due: none

deployment config values
  cli/README.md
  cli/dtaas.toml
  cli/pyproject.toml
  cli/src/cmd.py
  cli/src/pkg/_deploy_data.py
  cli/src/pkg/deploy_config.py
  cli/src/templates/dtaas.toml
  cli/tests/dtaas.test.toml
  cli/tests/test_cmd.py
  cli/tests/test_deploy_config.py
Due: none

minor fix
  cli/src/pkg/_deploy_data.py
  cli/tests/test_deploy_config.py
  cli/tests/test_utils.py
Due: none

minor changes
  cli/DEVELOPER.md
  cli/README.md
  cli/dtaas.toml
  cli/src/templates/dtaas.toml
  cli/tests/dtaas.test.toml
  cli/tests/test_utils.py
Due: none

applying changes
  cli/README.md
  cli/dtaas.toml
  cli/pyproject.toml
  cli/src/cmd.py
  cli/src/pkg/_deploy_data.py
  cli/src/pkg/deploy_config.py
  cli/src/pkg/users.py
  cli/src/templates/dtaas.toml
  cli/tests/test_cmd.py
  cli/tests/test_deploy_config.py
  cli/tests/test_users.py
Due: none

Create output-dir + Creation of config files
  cli/DEVELOPER.md
  cli/poetry.lock
  cli/pyproject.toml
  cli/src/cmd.py
  cli/src/pkg/_deploy_data.py
  cli/src/pkg/build.py
  cli/src/pkg/project.py
  cli/src/pkg/users.py
  cli/tests/test_cmd.py
  cli/tests/test_deploy_config.py
  cli/tests/test_project.py
Due: none

qlty issues
  cli/src/cmd.py
  cli/src/pkg/config.py
  cli/src/pkg/deploy_config.py
  cli/src/pkg/project.py
  cli/src/pkg/utils.py
  cli/tests/test_project.py
Due: none

doc update + minor refactoring
  cli/README.md
  cli/dtaas.toml
  cli/src/pkg/users.py
  cli/src/pkg/users_utils.py
  cli/src/templates/dtaas.toml
  cli/tests/test_cmd.py
  cli/tests/test_users.py
  cli/tests/test_users_utils.py
  cli/users.server.secure.yml
  cli/users.server.yml
Due: none

removing a test
  cli/tests/test_utils.py
Due: none

Substitution in client config + help text
  cli/README.md
  cli/src/cmd.py
  cli/src/pkg/_deploy_data.py
  cli/src/pkg/build.py
  cli/src/pkg/deploy_config.py
  cli/src/pkg/utils.py
  cli/tests/test_deploy_config.py
Due: none

build.py in githubactions + minor issues
  .github/workflows/python-reusable.yml
  cli/src/pkg/_deploy_data.py
  cli/src/pkg/build.py
  cli/src/pkg/config.py
  cli/src/pkg/users.py
  cli/tests/test_build.py
  cli/tests/test_deploy_config.py
  cli/tests/test_users_utils.py
Due: none

applying suggestions
  cli/README.md
  cli/src/cmd.py
  cli/src/pkg/_deploy_data.py
  cli/src/pkg/deploy_config.py
  cli/tests/test_cmd.py
Due: none

adding condition to build.py
  .github/workflows/python-cli.yml
  .github/workflows/python-reusable.yml
Due: none

minor fix
  cli/pyproject.toml
Due: none

Fixing tests and LogViewer component
  client/src/page/LogViewer.tsx
  client/src/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/test/unit/page/LogViewer.test.tsx
  client/test/unit/util/logger/consoleLogger.test.ts
Due: yarn-install-client, yarn-jest-client

fixing raise error in test
  cli/tests/test_deploy_config.py
Due: none

creates user directories in files\
  cli/src/cmd.py
  cli/src/pkg/project.py
  cli/tests/test_cmd.py
  cli/tests/test_project.py
Due: none

users dir premissions
  cli/src/cmd.py
  cli/src/pkg/project.py
  cli/tests/test_build.py
  cli/tests/test_cmd.py
  cli/tests/test_project.py
Due: none

Using shell command
  cli/src/pkg/project.py
  cli/tests/test_project.py
Due: none

permission on whole files/ dir
  cli/src/cmd.py
  cli/src/pkg/deploy_config.py
  cli/src/pkg/project.py
  cli/tests/test_cmd.py
  cli/tests/test_project.py
Due: none

copy tls cers
  cli/DEVELOPER.md
  cli/README.md
  cli/pyproject.toml
  cli/src/cmd.py
  cli/src/pkg/certs.py
  cli/src/templates/dtaas.toml
  cli/tests/dtaas.test.toml
  cli/tests/test_certs.py
  cli/tests/test_cmd.py
  cli/tests/test_utils.py
Due: none

tests for certs.py
  cli/tests/test_certs.py
  cli/tests/test_cmd.py
Due: none

minor updates
  cli/README.md
  cli/src/cmd.py
  cli/tests/dtaas.test.toml
  cli/tests/test_cmd.py
  cli/tests/test_utils.py
Due: none

minor fix
  cli/tests/test_utils.py
Due: none

Upgrade npm packages in servers directory to latest versions
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
  servers/lib/package.json
  servers/lib/tsconfig.json
  servers/lib/yarn.lock
Due: yarn-install-runner, yarn-install-lib, yarn-test-runner, yarn-test-lib

updates semantic version numbers
  servers/execution/runner/package.json
  servers/lib/package.json
Due: yarn-install-runner, yarn-install-lib, yarn-test-runner, yarn-test-lib

Pin transitive dependency security patches and bump package versions
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
  servers/lib/package.json
  servers/lib/yarn.lock
Due: yarn-install-runner, yarn-install-lib, yarn-test-runner, yarn-test-lib

Fix concurrency deadlock in reusable workflows and Dockerfile casing
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/publish-npm.yml
  developer/client.built.dockerfile
  developer/client.dockerfile
  developer/libms.dockerfile
Due: none

Restore concurrency in reusable workflows with deadlock-safe group key
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/publish-npm.yml
Due: none

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
  yarn-test-lib: any of: ^servers/lib/.*
