Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push]

repos:
  - repo: local
    hooks:
      - id: yarn-install-client
        name: yarn install client
        entry: bash
        language: system
        files: "^client/.*"
        args: ["-c", "cd client && yarn install"]
      - id: yarn-install-runner
        name: yarn install runner
        entry: bash
        language: system
        files: "^servers/execution/runner/.*"
        args: ["-c", "cd servers/execution/runner && yarn install"]
      - id: yarn-install-lib
        name: yarn install lib
        entry: bash
        language: system
        files: "^servers/lib/.*"
        args: ["-c", "cd servers/lib && yarn install"]

      - id: yarn-jest-client
        name: yarn jest client
        entry: bash
        language: system
        files: "^client/.*"
        args: ["-c", "cd client && yarn jest . --coverage=false"]
        stages: [pre-push]
      - id: yarn-test-runner
        name: yarn test runner
        entry: bash
        language: system
        files: "^servers/execution/runner/.*"
        args: ["-c", "cd servers/execution/runner && yarn test:nocov"]
        stages: [pre-push]
      # - id: yarn-test-lib
      #   name: yarn test lib
      #   entry: bash
      #   language: system
      #   files: "^servers/lib/.*"
      #   args: ["-c", "cd servers/lib && yarn jest . --coverage=false"]
      #   stages: [pre-push]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: ["--ignore-path", "../.gitignore", "--write"]
        files: '^(client|servers/execution/runner|servers/lib)/.*\.(ts|tsx|css|scss)$'
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.54.0
    hooks:
      - id: eslint
        args: ["--fix"]
        files: "^(client|servers/execution/runner|servers/lib)/.*"
        stages: [pre-commit]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        files: '.*\.md$'
        entry: ./script/markdownlint-hook.sh
        verbose: true
        stages: [pre-commit]

  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.18
    hooks:
      - id: shellcheck
        files: '.*'
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        files: '^(docs|deploy|script|ssl)/.*'
        stages: [pre-commit]
      - id: check-yaml
        files: '^(docs|deploy|script|ssl)/.*'
        stages: [pre-commit]

removed trailing space
  docker/README.md
Due: none

removed terminal icon
  client/config/dev.js
  client/config/prod.js
  client/config/test.js
  client/env.d.ts
  client/src/components/LinkIconsLib.tsx
  client/test/unitTests/Components/Linkbuttons.test.tsx
  client/test/unitTests/Util/envUtil.test.ts
Due: yarn-install-client, yarn-jest-client

all tests passed
  client/package.json
  client/test/unitTests/Components/Linkbuttons.test.tsx
  client/test/unitTests/Util/envUtil.test.ts
  client/yarn.lock
  deploy/config/client/env.js
  deploy/config/client/env.local.js
  deploy/config/client/env.trial.js
Due: yarn-install-client, yarn-jest-client

test for docker github action
  .github/workflows/docker.yml
Due: none

updated image tag
  .github/workflows/docker.yml
Due: none

removed meta step
  .github/workflows/docker.yml
Due: none

adds docker workflow
  .github/workflows/docker.yml
Due: none

adds job to publish to container registry
  .github/workflows/lib-ms.yml
Due: none

adds publish docker image
  .github/workflows/client.yml
Due: none

Updates docker README and closes ports for localhost installation
  docker/README.md
  docker/compose.local.yml
Due: none

Fix codeclimate issues
  docker/README.md
Due: none

updated docker workflow to use package version
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
Due: none

updated path
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
Due: none

added test docker workflow
  .github/workflows/test-docker.yml
Due: none

added checkout
  .github/workflows/test-docker.yml
Due: none

fixed workflow error
  .github/workflows/test-docker.yml
Due: none

version is required
  .github/workflows/docker.yml
Due: none

adds checkouts
  .github/workflows/test-docker.yml
Due: none

changed variable
  .github/workflows/test-docker.yml
Due: none

fixed variable
  .github/workflows/test-docker.yml
Due: none

fixed version and reuse of workflow
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
Due: none

removed test docker action
  .github/workflows/test-docker.yml
Due: none

copied traefik config files to deploy folder
  deploy/config/gateway/dynamic/fileConfig.docker.yml
  deploy/config/gateway/traefik.yml
Due: none

updated local docker compose to use deploy folder
  docker/compose.local.yml
Due: none

removed terminal from docs
  client/README.md
  client/test/README.md
  deploy/README.md
  docs/admin/client/CLIENT.md
  docs/admin/host.md
Due: yarn-install-client, yarn-jest-client

Creates docker containers for client lib and runner (#440)
  .github/workflows/client.yml
  .github/workflows/docker.yml
  .github/workflows/lib-ms.yml
  client/.dockerignore
  deploy/config/gateway/dynamic/fileConfig.docker.yml
  deploy/config/gateway/traefik.yml
  deploy/config/lib.docker
  docker/README.md
  docker/client.dockerfile
  docker/compose.dev.yml
  docker/compose.local.yml
  docker/libms.dockerfile
  servers/config/gateway/dynamic/fileConfig.docker.yml
Due: yarn-install-client, yarn-jest-client

changes requested
  client/package.json
  client/test/unitTests/Util/envUtil.test.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

removed pre-commit dependency
  client/package.json
Due: yarn-install-client, yarn-jest-client

client.yml change
  .github/workflows/client.yml
Due: none

version in package.json
  client/package.json
Due: yarn-install-client, yarn-jest-client

Removes terminal icon (#459)
  .github/workflows/client.yml
  client/README.md
  client/config/dev.js
  client/config/prod.js
  client/config/test.js
  client/env.d.ts
  client/package.json
  client/src/components/LinkIconsLib.tsx
  client/test/README.md
  client/test/unitTests/Components/Linkbuttons.test.tsx
  client/test/unitTests/Util/envUtil.test.ts
  client/yarn.lock
  deploy/README.md
  deploy/config/client/env.js
  deploy/config/client/env.local.js
  deploy/config/client/env.trial.js
  docs/admin/client/CLIENT.md
  docs/admin/host.md
Due: yarn-install-client, yarn-jest-client

Updates the config flags and README
  servers/lib/README.md
  servers/lib/config/.env.default
  servers/lib/config/http.json
  servers/lib/package.json
  servers/lib/src/bootstrap.ts
  servers/lib/src/main.ts
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
Due: yarn-install-lib

libms tests
  .github/workflows/lib-ms.yml
Due: none

fix libms tests
  .github/workflows/lib-ms.yml
Due: none

Updated cloudcmd config & added .env default
  servers/lib/config/.env.default
  servers/lib/config/cloudcmd.json
Due: yarn-install-lib

Updates E2E tests
  servers/lib/package.json
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/yarn.lock
Due: yarn-install-lib
