Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - push

yarn-test-lib:
  name: yarn test lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn test:nocov
  stages:
  - push

Adds instructions for running gitlab code of client
  client/DEVELOPER.md
Due: yarn-install-client, yarn-jest-client

Comments resolved
  client/src/util/gitlab.ts
  client/src/util/gitlabDigitalTwin.ts
  client/test/unitTests/Util/gitlab.test.ts
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: yarn-install-client, yarn-jest-client

Refactor
  client/src/util/gitlabDigitalTwin.ts
Due: yarn-install-client, yarn-jest-client

Temporary update
  client/src/components/DigitalTwinCard.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/util/gitlab.ts
  client/src/util/gitlabDigitalTwin.ts
  client/src/util/gitlabDriver.ts
Due: yarn-install-client, yarn-jest-client

changes test to be independent of the files order
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
Due: yarn-install-lib, yarn-test-lib

Update lib-ms.yml
  .github/workflows/lib-ms.yml
Due: none

Change GitlabInstance constructor parameters
  client/config/gitlab.json
  client/src/util/gitlab.ts
  client/src/util/gitlabDriver.ts
  client/test/unitTests/Util/gitlab.test.ts
  client/tsconfig.json
Due: yarn-install-client, yarn-jest-client

adds windows path restraint
  servers/lib/DEVELOPER.md
  servers/lib/README.md
Due: yarn-install-lib, yarn-test-lib

commented out failing tests on action
  .github/workflows/lib-ms.yml
Due: none

bumped version to 0.4.6
  servers/lib/package.json
Due: yarn-install-lib, yarn-test-lib

Digital Twins page preview completed
  client/DEVELOPER.md
  client/config/dev.js
  client/config/local.js
  client/config/prod.js
  client/config/test.js
  client/env.d.ts
  client/package.json
  client/src/components/DigitalTwinCard.tsx
  client/src/components/ExecuteDigitalTwin.tsx
  client/src/components/LinkIconsLib.tsx
  client/src/components/tab/ExecuteTab.tsx
  client/src/route/digitaltwins/DigitalTwins.tsx
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/routes.tsx
  client/src/util/envUtil.ts
  client/src/util/gitlab.ts
  client/src/util/gitlabDigitalTwin.ts
  client/src/util/gitlabDriver.ts
  client/test/README.md
  client/test/unitTests/Util/gitlab.test.ts
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
  client/yarn.lock
  deploy/config/client/env.js
  deploy/config/client/env.local.js
  docs/admin/client/config.md
Due: yarn-install-client, yarn-jest-client

adds docker compose to docs
  servers/lib/DEVELOPER.md
  servers/lib/README.md
Due: yarn-install-lib, yarn-test-lib

windows path needs to be relative
  docs/admin/servers/lib/config.md
Due: none

lint fixes
  servers/lib/DEVELOPER.md
  servers/lib/README.md
Due: yarn-install-lib, yarn-test-lib

Refactor and add artifact upload step
  .github/workflows/client.yml
Due: none

Add defaults field with working-directory of client
  .github/workflows/client.yml
Due: none

Add meaningful default base uri in playwright config, simplify test:e2e cmd, rm relative paths
  client/package.json
  client/playwright.config.ts
  client/test/e2e/tests/Auth.test.ts
  client/test/e2e/tests/Menu.test.ts
  client/test/e2e/tests/auth.setup.ts
Due: yarn-install-client, yarn-jest-client

Fix tracing
  client/playwright.config.ts
Due: yarn-install-client, yarn-jest-client

Change trace path in client.yml
  .github/workflows/client.yml
Due: none

Updates to tsconfig.gitlab.json
  client/src/util/gitlab.json
  client/src/util/gitlabDriver.ts
  client/tsconfig.gitlab.json
Due: yarn-install-client, yarn-jest-client

Add debug and use absolute paths in client.yml
  .github/workflows/client.yml
Due: none

Run yarn config:test before running e2e tests, rm debug
  client/package.json
Due: yarn-install-client, yarn-jest-client

Actually remove debug
  .github/workflows/client.yml
Due: none

Let dummy test start first, name step in client.yml
  .github/workflows/client.yml
  client/playwright.config.ts
  client/test/e2e/tests/Auth.test.ts
  client/test/e2e/tests/Pass.dummy.ts
Due: yarn-install-client, yarn-jest-client

Remove github actions debug tests
  client/playwright.config.ts
  client/test/e2e/tests/Pass.dummy.ts
Due: yarn-install-client, yarn-jest-client

Fixes the errors with testing gitlab code
  client/DEVELOPER.md
  client/config/gitlab.json
  client/package.json
  client/src/util/gitlab.json
Due: yarn-install-client, yarn-jest-client

Improves the developer instructions
  client/DEVELOPER.md
Due: yarn-install-client, yarn-jest-client

Fixes yarn commands
  client/jest.config.json
  client/package.json
  client/src/util/gitlab.ts
  client/src/util/gitlabDigitalTwin.ts
  client/src/util/gitlabDriver.ts
  client/test/unitTests/Util/gitlab.test.ts
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
Due: yarn-install-client, yarn-jest-client

Increases client semver
  client/package.json
Due: yarn-install-client, yarn-jest-client

Adds gitlab API into client codebase (#894)
  .gitignore
  client/DEVELOPER.md
  client/config/gitlab.json
  client/config/local.js
  client/jest.config.json
  client/package.json
  client/src/util/gitlab.ts
  client/src/util/gitlabDigitalTwin.ts
  client/src/util/gitlabDriver.ts
  client/test/unitTests/Util/gitlab.test.ts
  client/test/unitTests/Util/gitlabDigitalTwin.test.ts
  client/tsconfig.gitlab.json
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Code review fixes
  client/config/test.js
  client/src/route/digitaltwins/DigitalTwinCard.tsx
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/route/digitaltwins/ExecuteDigitalTwin.tsx
  client/src/route/digitaltwins/ExecuteTab.tsx
  client/src/util/gitlab.ts
Due: yarn-install-client, yarn-jest-client

Convert DTContent into class
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
Due: yarn-install-client, yarn-jest-client

Add class for DigitalTwinsPreview
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/route/digitaltwins/GitlabService.ts
  client/src/store/digitalTwin.slice.ts
  client/src/store/store.ts
Due: yarn-install-client, yarn-jest-client

Revert "windows path needs to be relative"
  docs/admin/servers/lib/config.md
Due: none

Revert "adds windows path restraint"
  servers/lib/DEVELOPER.md
  servers/lib/README.md
Due: yarn-install-lib, yarn-test-lib

Add documentation to DEVELOPER.md
  client/DEVELOPER.md
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/route/digitaltwins/ExecuteDigitalTwin.tsx
  client/src/route/digitaltwins/ExecuteTab.tsx
  client/src/route/digitaltwins/GitlabService.ts
  client/src/store/digitalTwin.slice.ts
Due: yarn-install-client, yarn-jest-client

Use Asset components (graphical adaptation)
  client/src/components/asset/AddButton.tsx
  client/src/components/asset/Asset.ts
  client/src/components/asset/AssetBoard.tsx
  client/src/components/asset/AssetCard.tsx
  client/src/components/asset/LogButton.tsx
  client/src/components/asset/StartStopButton.tsx
  client/src/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/route/digitaltwins/GitlabService.ts
  client/src/store/CartAccess.ts
  client/src/store/cart.slice.ts
  client/src/store/store.ts
  client/src/util/gitlab.ts
Due: yarn-install-client, yarn-jest-client

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
  yarn-test-lib: any of: ^servers/lib/.*
