Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push]

repos:
  - repo: local
    hooks:
      - id: yarn-install-client
        name: yarn install client
        entry: bash
        language: system
        files: "^client/.*"
        args: ["-c", "cd client && yarn install"]
      - id: yarn-install-runner
        name: yarn install runner
        entry: bash
        language: system
        files: "^servers/execution/runner/.*"
        args: ["-c", "cd servers/execution/runner && yarn install"]
      - id: yarn-install-lib
        name: yarn install lib
        entry: bash
        language: system
        files: "^servers/lib/.*"
        args: ["-c", "cd servers/lib && yarn install"]

      - id: yarn-jest-client
        name: yarn jest client
        entry: bash
        language: system
        files: "^client/.*"
        args: ["-c", "cd client && yarn jest . --coverage=false"]
        stages: [push]
      - id: yarn-test-runner
        name: yarn test runner
        entry: bash
        language: system
        files: "^servers/execution/runner/.*"
        args: ["-c", "cd servers/execution/runner && yarn test:nocov"]
        stages: [push]
      - id: yarn-test-lib
        name: yarn test lib
        entry: bash
        language: system
        files: "^servers/lib/.*"
        args: ["-c", "cd servers/lib && yarn test:nocov"]
        stages: [push]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: ["--ignore-path", "../.gitignore", "--write"]
        files: '^(client|servers/execution/runner|servers/lib)/.*\.(ts|tsx|css|scss)$'
        stages: [commit]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.54.0
    hooks:
      - id: eslint
        args: ["--fix"]
        files: "^(client|servers/execution/runner|servers/lib)/.*"
        stages: [commit]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        files: '.*\.md$'
        entry: ./script/markdownlint-hook.sh
        verbose: true
        stages: [commit]

  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.18
    hooks:
      - id: shellcheck
        files: '.*'
        stages: [commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
        files: '^(docs|deploy|script|ssl)/.*'
        stages: [commit]
      - id: check-yaml
        files: '^(docs|deploy|script|ssl)/.*'
        stages: [commit]

updated image vresion
  docker/libms.npm.dockerfile
Due: none

updates based on PR
  docker/compose.dev.yml
  servers/lib/config/libms.yaml.default
Due: yarn-install-lib, yarn-test-lib

updated documentation
  servers/lib/DEVELOPER.md
  servers/lib/README.md
  servers/lib/config/libms.yaml.default
Due: yarn-install-lib, yarn-test-lib

changed config file
  docker/compose.dev.yml
Due: none

Updates runner documentation on the admin page
  docs/admin/gitlab/pipeline-token.PNG
  docs/admin/gitlab/runner-activation.png
  docs/admin/gitlab/runner-registration.png
  docs/admin/gitlab/runner.md
Due: none

Switch to instance runners
  deploy/services/runner/GITLAB-RUNNER.md
  deploy/services/runner/runner-activation.png
  deploy/services/runner/runner-registration.png
Due: none

Fix typo in INTEGRATION.md
  deploy/services/gitlab/INTEGRATION.md
Due: none

Minor changes
  deploy/services/runner/GITLAB-RUNNER.md
  docs/admin/gitlab/runner.md
Due: none

Instance + group + project runners
  deploy/services/runner/runner-registration.png
  docs/admin/gitlab/runner-registration.png
  docs/admin/gitlab/runner.md
Due: none

updated based on PR feedback
  docker/.env
  docker/compose.dev.yml
  servers/lib/compose.lib.dev.yml
  servers/lib/config/libms.dev.yaml
Due: yarn-install-lib, yarn-test-lib

Fixes mistakes in the docker compose files
  deploy/config/libms.yaml
  servers/lib/DEVELOPER.md
  servers/lib/compose.lib.dev.yml
  servers/lib/compose.lib.yml
  servers/lib/config/libms.dev.yaml
  servers/lib/libms.yaml.sample
Due: yarn-install-lib, yarn-test-lib

Make fetches synchronous and give them timeouts of 1s
  client/src/route/auth/Signin.tsx
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Fixes mistakes in READMEs
  servers/lib/DOCKER.md
  servers/lib/README.md
Due: yarn-install-lib, yarn-test-lib

Fixes wrong docker files for library microservice (#1102)
  deploy/config/lib.env
  deploy/config/libms.yaml
  docker/.env
  docker/compose.dev.yml
  docker/libms.dockerfile
  docker/libms.npm.dockerfile
  docs/developer/docker/docker.md
  servers/lib/DEVELOPER.md
  servers/lib/DOCKER.md
  servers/lib/README.md
  servers/lib/compose.lib.dev.yml
  servers/lib/compose.lib.yml
  servers/lib/config/libms.dev.yaml
  servers/lib/libms.yaml.sample
  servers/lib/package.json
Due: yarn-install-lib, yarn-test-lib

Adds guidelines
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

Upgrade patch versions
  servers/execution/runner/package.json
  servers/lib/package.json
Due: yarn-install-runner, yarn-install-lib, yarn-test-runner, yarn-test-lib

Dependency upgrades for libms and runner (#1112)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
  servers/lib/package.json
  servers/lib/yarn.lock
Due: yarn-install-runner, yarn-install-lib, yarn-test-runner, yarn-test-lib

Finishes up runner guides
  deploy/services/gitlab/README.md
  deploy/services/runner/GITLAB-RUNNER.md
  docs/admin/gitlab/index.md
  docs/admin/gitlab/runner.md
Due: none

Adds DevOps developer guide
  docs/developer/devops.md
  docs/developer/dt-lifecycle.png
  mkdocs-github.yml
  mkdocs.yml
Due: none

Adds executor information to GITLAB-RUNNER.md
  deploy/services/runner/GITLAB-RUNNER.md
  docs/admin/gitlab/runner.md
Due: none

Fix and expand SignIn unit tests, improve source code
  client/src/route/auth/ConfigItems.tsx
  client/src/route/auth/Signin.tsx
  client/src/route/auth/VerifyConfig.tsx
  client/test/integration/jest.setup.ts
  client/test/unit/jest.setup.ts
  client/test/unit/routes/SignIn.test.tsx
Due: yarn-install-client, yarn-jest-client

Fix integration tests
  client/test/__mocks__/global_mocks.ts
  client/test/__mocks__/integration/module_mocks.tsx
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/integration/Auth/authRedux.test.tsx
  client/test/integration/Routes/Signin.test.tsx
  client/test/integration/jest.setup.ts
  client/test/unit/routes/SignIn.test.tsx
Due: yarn-install-client, yarn-jest-client

Add e2e test
  client/playwright.config.ts
  client/src/route/auth/ConfigItems.tsx
  client/src/route/auth/VerifyConfig.tsx
  client/test/__mocks__/global_mocks.ts
  client/test/__mocks__/integration/module_mocks.tsx
  client/test/e2e/tests/Auth.test.ts
  client/test/e2e/tests/Menu.test.ts
  client/test/e2e/tests/verify.route.test.ts
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/integration/Auth/authRedux.test.tsx
  client/test/integration/Routes/Signin.test.tsx
  client/test/integration/jest.setup.ts
  client/test/unit/routes/SignIn.test.tsx
Due: yarn-install-client, yarn-jest-client

Remove useEffect dependency array in Signin.tsx
  client/src/route/auth/Signin.tsx
Due: yarn-install-client, yarn-jest-client

Add status code and more useful error messages
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Add edge-case for opaque responses
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Add VerifyConfig.tsx with route
  client/package.json
  client/src/page/LayoutPublic.tsx
  client/src/route/auth/VerifyConfig.tsx
  client/src/routes.tsx
Due: yarn-install-client, yarn-jest-client

Refactor VerifyConfig
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Clean up ConfigItems.tsx, Signin.tsx and VerifyConfig.tsx
  client/src/route/auth/ConfigItems.tsx
  client/src/route/auth/Signin.tsx
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Add fetchValidations dependency in VerifyConfig.tsx
  client/jest.config.json
  client/src/route/auth/Signin.tsx
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Integrate verification and sign in
  client/src/route/auth/Signin.tsx
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Unmemoise ConfigItem
  client/src/route/auth/ConfigItems.tsx
  client/src/route/auth/Signin.tsx
Due: yarn-install-client, yarn-jest-client

Reinstate status code information in tool tips
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Add DevOps Framework to developer documentation
  docs/developer/devops/api.md
  docs/developer/devops/gitlab-ci-cd.md
  docs/developer/devops/images/devops-overview.png
  docs/developer/devops/images/dt-lifecycle.png
  docs/developer/devops/implemented-classes.md
  docs/developer/devops/overview.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Rename implemented-classes.md
  docs/developer/devops/implementation.md
  mkdocs-github.yml
  mkdocs.yml
Due: none
