Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - push

yarn-test-lib:
  name: yarn test lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn test:nocov
  stages:
  - push

Upgrade mui and emotion packages to latest
  client/package.json
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Add Windows as OS in client.yml
  .github/workflows/client.yml
Due: none

Install @babel/plugin-proposal-private-property-in-object
  client/package.json
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Change function names to camel case
  client/src/page/MenuToolbar.tsx
  client/src/route/library/Library.tsx
  client/src/util/auth/Authentication.ts
  client/test/integration/Auth/authRedux.test.tsx
  client/test/unit/util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Downgrade typescript for Eslint
  client/package.json
  client/playwright.config.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Match upgrades in yarn and package.json
  client/package.json
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Rename Hooks hook into useSetupMiniDrawer
  client/src/page/Menu.tsx
Due: yarn-install-client, yarn-jest-client

Eslint fixes: add img alt text and missing useEffect dependency
  client/src/route/auth/AccountTabData.tsx
  client/src/route/auth/PrivateRoute.tsx
Due: yarn-install-client, yarn-jest-client

Fix new eslint issues
  client/src/index.tsx
  client/src/page/Menu.tsx
  client/src/page/MenuToolbar.tsx
  client/src/route/library/Library.tsx
  client/src/util/auth/Authentication.ts
  client/test/e2e/tests/auth.setup.ts
  client/test/integration/Auth/authRedux.test.tsx
  client/test/unit/util/Auth/Authentication.test.ts
  client/test/unit/util/envUtil.test.ts
Due: yarn-install-client, yarn-jest-client

Eslint fixes: Turn getAndSetUsername and signOut into hooks
  client/src/page/MenuToolbar.tsx
  client/src/route/library/Library.tsx
  client/src/util/auth/Authentication.ts
  client/test/__mocks__/global_mocks.ts
  client/test/integration/Auth/authRedux.test.tsx
  client/test/unit/util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Remove extra babel dependencies
  client/package.json
Due: yarn-install-client, yarn-jest-client

Fix warnings when installing packages
  client/package.json
Due: yarn-install-client, yarn-jest-client

Fix formatting
  client/src/route/auth/AccountTabData.tsx
  client/src/route/auth/PrivateRoute.tsx
Due: yarn-install-client, yarn-jest-client

Update preview tab
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/PreviewTab.tsx
Due: yarn-install-client, yarn-jest-client

adds git files service
  servers/lib/src/files/services/files-service.factory.ts
  servers/lib/src/files/services/git-files.service.ts
Due: yarn-install-lib, yarn-test-lib

adds gitFilesService to module
  servers/lib/src/files/files.module.ts
Due: yarn-install-lib, yarn-test-lib

fixed eslint errors
  servers/lib/src/files/services/git-files.service.ts
Due: yarn-install-lib, yarn-test-lib

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fixed specs
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
Due: yarn-install-lib, yarn-test-lib

Removed list from comment.
  docs/developer/index.md
Due: none

Project templates (#675)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .markdownlint.yaml
Due: none

Moves PR template
  .github/pull_request_template.md
Due: none

Adds issue and pull request templates (#967)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .markdownlint.yaml
Due: none

Add servers/lib/DOCKER.md
  .github/workflows/lib-ms.yml
  servers/lib/DOCKER.md
Due: yarn-install-lib, yarn-test-lib

Modify libms GH Actions workflow
  .github/workflows/lib-ms.yml
Due: none

Make links absolute for DockerHub README
  client/DOCKER.md
Due: yarn-install-client, yarn-jest-client

Refactor docker.yml + Push libms to DockerHub
  .github/workflows/client.yml
  .github/workflows/docker.yml
  .github/workflows/lib-ms.yml
Due: none

Use DockerHub as the default container registry
  .github/workflows/client.yml
  .github/workflows/docker.yml
Due: none

Prevent pushes to DockerHub if version exists
  .github/workflows/docker.yml
Due: none

Make username a variable instead of a secret
  .github/workflows/docker.yml
Due: none

Add client/DOCKER.md
  .github/workflows/client.yml
  client/DOCKER.md
Due: yarn-install-client, yarn-jest-client

Add push condition to libms docker workflow
  .github/workflows/lib-ms.yml
Due: none

Rename workflow job to `publish-npm-package`
  .github/workflows/lib-ms.yml
Due: none

Remove `get_version` from `publish-npm-package` need
  .github/workflows/lib-ms.yml
Due: none

Split docker workflow into gchr & dockerhub
  .github/workflows/client.yml
  .github/workflows/docker-dockerhub.yml
  .github/workflows/docker-ghcr.yml
  .github/workflows/lib-ms.yml
Due: none

Replace :emoji: syntax with emojis
  servers/lib/DOCKER.md
Due: yarn-install-lib, yarn-test-lib

Update client and libms Docker markdown files
  client/DOCKER.md
  servers/lib/DOCKER.md
Due: yarn-install-client, yarn-install-lib, yarn-jest-client, yarn-test-lib

Update Docker markdown files
  client/DOCKER.md
  servers/lib/DOCKER.md
Due: yarn-install-client, yarn-install-lib, yarn-jest-client, yarn-test-lib

Move `get_version` below `publish-package`
  .github/workflows/lib-ms.yml
Due: none

Rename workflow job
  .github/workflows/lib-ms.yml
Due: none

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
  yarn-test-lib: any of: ^servers/lib/.*
