Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - push

yarn-test-lib:
  name: yarn test lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn test:nocov
  stages:
  - push

Updates documentation (#820)
  client/DEVELOPER.md
  client/package.json
  docs/admin/cli.md
  docs/admin/client/config.md
  docs/admin/client/docker.md
  docs/admin/host.md
  docs/admin/overview.md
  docs/admin/packages.md
  docs/admin/requirements.md
  docs/admin/servers/auth.md
  docs/admin/servers/lib/compose.lib.yml
  docs/admin/servers/lib/config.md
  docs/admin/servers/lib/docker.md
  docs/admin/servers/lib/http.json
  docs/admin/servers/lib/npm.md
  docs/admin/steps.md
  docs/developer/system/current-status.md
  docs/developer/testing/intro.md
  docs/user/servers/execution/runner/README.md
  docs/user/servers/lib/LIB-MS.md
  docs/user/website/digital_twins.png
  docs/user/website/gitlab-auth-1.png
  docs/user/website/gitlab-auth-2.png
  docs/user/website/gitlab-sso-1.png
  docs/user/website/gitlab-sso-3.png
  docs/user/website/index.md
  docs/user/website/library.png
  docs/user/website/login.png
  docs/user/website/logout.png
  docs/user/website/menu.png
  docs/user/website/visit-dtaas-1.png
  docs/user/website/workbench.png
  mkdocs-github.yml
  mkdocs.yml
  servers/lib/compose.lib.yml
Due: yarn-install-client, yarn-install-lib, yarn-jest-client, yarn-test-lib

Update test README.md and package.js command
  client/package.json
  client/test/README.md
Due: yarn-install-client, yarn-jest-client

Fixes writing mistakes and rearranges docs menu
  docs/FAQ.md
  docs/bugs.md
  docs/developer/index.md
  docs/index.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Fixes writing mistakes and rearranges docs menu (#823)
  docs/FAQ.md
  docs/bugs.md
  docs/developer/index.md
  docs/index.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Fixes top-level READMEs
  README.md
  SECURITY.md
Due: none

Minor updates to README
  README.md
Due: none

Fixes top-level READMEs (#824)
  README.md
  SECURITY.md
Due: none

Adapt docs and docker compose files for release
  deploy/docker/compose.local.yml
  deploy/docker/compose.server.yml
  docs/admin/host.md
  docs/admin/localhost.md
  docs/redirect-page.html
Due: none

Fixes mistake in docs redirection page
  docs/redirect-page.html
Due: none

Add Authentication.test.ts
  client/test/unitTests/Util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Hides incorrect pdf documents
  docs/redirect-page.html
Due: none

Add throw test upon bad logout redirect URI
  client/src/util/auth/Authentication.ts
  client/test/unitTests/Util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Add sessionStorage clear, fetch and error tests
  client/test/unitTests/Util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Fix URL in signOut
  client/src/util/auth/Authentication.ts
Due: yarn-install-client, yarn-jest-client

Add negative signOutSilent test
  client/test/unitTests/Util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

class DigitalTwin added
  client/package.json
  client/src/util/gitlab.ts
  client/test/unitTests/Util/gitlab.test.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

configuration changes
  .pre-commit-config.yaml
  client/config/local.js
  client/config/test.js
  client/package.json
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Add and improve tests
  client/src/util/auth/Authentication.ts
  client/test/unitTests/Util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Downgrade typescript and ts-jest
  client/package.json
Due: yarn-install-client, yarn-jest-client

Reinstate refresh and access token revocation
  client/src/util/auth/Authentication.ts
Due: yarn-install-client, yarn-jest-client

Add additional tests for latest signOut changes
  client/src/util/auth/Authentication.ts
  client/test/unitTests/Util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Remove eslint-disable line frmo Authentication.ts
  client/src/util/auth/Authentication.ts
Due: yarn-install-client, yarn-jest-client

Add 30 second fetch-timeout, tests and reload to avoid oauth bug
  client/src/util/auth/Authentication.ts
  client/test/unitTests/Util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Update Account tabs and add group list
  client/src/route/auth/Account.tsx
  client/src/route/auth/AccountTabData.tsx
Due: yarn-install-client, yarn-jest-client

Add 3 second timeout before reloading page and useAppURL
  client/src/util/auth/Authentication.ts
Due: yarn-install-client, yarn-jest-client

Add new group list texts and tests
  client/src/route/auth/AccountTabData.tsx
  client/test/unitTests/Routes/Account.test.tsx
Due: yarn-install-client, yarn-jest-client

Refactor ProfileTab
  client/src/route/auth/AccountTabData.tsx
Due: yarn-install-client, yarn-jest-client

Use strict equality
  client/src/route/auth/AccountTabData.tsx
Due: yarn-install-client, yarn-jest-client

Add Library.test.tsx
  client/test/integration/Library.test.tsx
Due: yarn-install-client, yarn-jest-client

Fix build error by exporting useAPPURL
  client/src/util/envUtil.ts
Due: yarn-install-client, yarn-jest-client

Fix error when groups is not an array
  client/src/route/auth/AccountTabData.tsx
  client/test/unitTests/Routes/Account.test.tsx
Due: yarn-install-client, yarn-jest-client

Refactor Account.test.tsx
  client/test/unitTests/Routes/Account.test.tsx
Due: yarn-install-client, yarn-jest-client

Change eslint version and format
  client/package.json
  client/src/route/auth/AccountTabData.tsx
  client/test/unitTests/Routes/Account.test.tsx
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Update Authentication tests
  client/package.json
  client/src/page/MenuToolbar.tsx
  client/test/unitTests/Util/Auth/Authentication.test.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Update Account tabs and add group list (#838)
  client/package.json
  client/src/route/auth/Account.tsx
  client/src/route/auth/AccountTabData.tsx
  client/test/unitTests/Routes/Account.test.tsx
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Refactoring signOut
  client/src/util/auth/Authentication.ts
Due: yarn-install-client, yarn-jest-client

Fix invalid hook call
  client/src/page/MenuToolbar.tsx
  client/src/util/auth/Authentication.ts
Due: yarn-install-client, yarn-jest-client

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
  yarn-test-lib: any of: ^servers/lib/.*
