Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push]

repos:
  - repo: local
    hooks:
      - id: yarn-install-client
        name: yarn install client
        entry: bash
        language: system
        files: "^client/.*"
        args: ["-c", "cd client && yarn install"]
      - id: yarn-install-runner
        name: yarn install runner
        entry: bash
        language: system
        files: "^servers/execution/runner/.*"
        args: ["-c", "cd servers/execution/runner && yarn install"]
      - id: yarn-install-lib
        name: yarn install lib
        entry: bash
        language: system
        files: "^servers/lib/.*"
        args: ["-c", "cd servers/lib && yarn install"]

      - id: yarn-jest-client
        name: yarn jest client
        entry: bash
        language: system
        files: "^client/.*"
        args: ["-c", "cd client && yarn jest . --coverage=false"]
        stages: [pre-push]
      - id: yarn-test-runner
        name: yarn test runner
        entry: bash
        language: system
        files: "^servers/execution/runner/.*"
        args: ["-c", "cd servers/execution/runner && yarn test:nocov"]
        stages: [pre-push]
      # - id: yarn-test-lib
      #   name: yarn test lib
      #   entry: bash
      #   language: system
      #   files: "^servers/lib/.*"
      #   args: ["-c", "cd servers/lib && yarn jest . --coverage=false"]
      #   stages: [pre-push]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: ["--ignore-path", "../.gitignore", "--write"]
        files: '^(client|servers/execution/runner|servers/lib)/.*\.(ts|tsx|css|scss)$'
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.54.0
    hooks:
      - id: eslint
        files: "^(client|servers/execution/runner|servers/lib)/.*"
        stages: [pre-commit]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
        files: "^(client|servers/execution/runner|servers/lib)/.*"
        stages: [pre-commit]

Added logout feature
  servers/auth/README.md
  servers/auth/compose.yml
  servers/auth/conf
Due: none

Resolves docker volume mount bug
  servers/auth/README.md
  servers/auth/compose.yml
Due: none

Added Oauth for pages that only allow specific users
  servers/auth/README.md
  servers/auth/compose.yml
  servers/auth/conf
Due: none

Update runner dependencies (#343)
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
Due: yarn-install-runner, yarn-test-runner

Fixes markdown linting issues
  .markdownlint.yaml
  LICENSE.md
  README.md
  deploy/README.md
  deploy/services/README.md
  deploy/vagrant/two-machine/README.md
  docs/LICENSE.md
  docs/admin/client/auth.md
  docs/admin/guides/add_user.md
  docs/admin/host.md
  docs/admin/overview.md
  docs/admin/servers/lib/LIB-MS.md
  docs/admin/trial.md
  docs/admin/vagrant/base-box.md
  docs/user/servers/lib/LIB-MS.md
  servers/execution/runner/LICENSE.md
  servers/lib/LICENSE.md
  servers/lib/README.md
Due: yarn-install-runner, yarn-install-lib, yarn-test-runner

Changing dependencies fro avoiding Playwright installation
  client/package.json
Due: yarn-install-client, yarn-jest-client

Moving all eslint packages to dependencies
  client/package.json
Due: yarn-install-client, yarn-jest-client

refactor: Change to GITLAB_TOKEN
  .github/workflows/lib-ms.yml
Due: none

Refactor: Created GetfullPath
  servers/lib/src/files/services/local-files.service.ts
Due: yarn-install-lib

added env argument
  deploy/single-script-install.sh
Due: none

added local files
  deploy/config/client/env.local.js
  deploy/config/gateway/fileConfig.local.yml
  deploy/config/lib.local
  deploy/local.sh
Due: none

Updated README
  servers/lib/test/README.md
Due: yarn-install-lib

changed commands
  client/config/dev.js
  client/config/prod.js
  client/config/test.js
  client/package.json
  client/script/config.bash
  client/script/test.bash
  client/test/e2e/playwright/Auth.test.ts
  client/test/e2e/playwright/Menu.test.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

updated based on PR comments
  deploy/config/gateway/fileConfig.local.yml
  deploy/local.sh
  deploy/single-script-install.sh
  docs/admin/localhost.md
  docs/admin/trial.md
Due: none

added documentation
  docs/admin/localhost.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

fixed code climate issue
  deploy/single-script-install.sh
Due: none

Maestro Server Trial 1
  servers/auth/compose.yml
  servers/auth/conf
Due: none

Docker volume mount path change, bug solved.
  servers/auth/compose.yml
Due: none

update config commands
  client/package.json
  client/script/config.bash
Due: yarn-install-client, yarn-jest-client

minor edits
  client/package.json
  client/script/config.bash
Due: yarn-install-client, yarn-jest-client

.
  deploy/config/client/env.local.js
Due: none

Update README.md
  client/README.md
Due: yarn-install-client, yarn-jest-client

Changes in README
  client/README.md
Due: yarn-install-client, yarn-jest-client

tried to fix code climate errors
  client/README.md
Due: yarn-install-client, yarn-jest-client

excluded env files from codes climate
  .codeclimate.yml
Due: none

Removes Playwright from production installation (#347)
  client/README.md
  client/package.json
Due: yarn-install-client, yarn-jest-client

added production arg
  deploy/config/client/env.local.js
  deploy/install.sh
  deploy/single-script-install.sh
Due: none

changes
  client/package.json
  client/script/config.bash
  client/script/test.bash
Due: yarn-install-client, yarn-jest-client

changed documentation to new config files
  docs/admin/localhost.md
  docs/admin/trial.md
Due: none

added trial env
  deploy/config/client/env.trial.js
  deploy/config/gateway/fileConfig.trial.yml
  deploy/config/lib.trial
  deploy/single-script-install.sh
Due: none

allows unbound variables
  deploy/single-script-install.sh
Due: none

rearranged docs
  mkdocs-github.yml
  mkdocs.yml
Due: none

adds information box
  docs/admin/localhost.md
  docs/admin/trial.md
Due: none

fixed markdownlint errors
  docs/admin/localhost.md
  docs/admin/trial.md
Due: none

ignore markdownlint line length
  docs/admin/localhost.md
Due: none

ignore markdownlint line length
  docs/admin/trial.md
Due: none
