Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - pre-push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - pre-push

Fixes codeclimate issues
  deploy/config/lib
  docker/README.md
  docker/auth/README.md
Due: none

Removing exposed ports in dev compose
  docker/compose.dev.yml
Due: none

Fixes minor issues with documentation
  deploy/config/client/env.local.js
  docker/auth/README.md
  docker/auth/compose.local.yml
  docker/auth/compose.server.yml
  docs/admin/servers/auth.md
Due: none

Fix mistakes in forward-auth conf
  docker/auth/conf
Due: none

Adds authorisation to dockerised application (#542 and #400)
  client/README.md
  client/test/README.md
  deploy/README.md
  deploy/config/lib.docker
  docker/README.md
  docker/auth/.env
  docker/auth/README.md
  docker/auth/compose.local.yml
  docker/auth/compose.server.yml
  docker/auth/conf
  docker/auth/traefik-forward-auth.png
  docs/FAQ.md
  docs/admin/client/CLIENT.md
  docs/admin/client/auth.md
  docs/admin/guides/add_user.md
  docs/admin/guides/gitlab.md
  docs/admin/guides/update_basepath.md
  docs/admin/host.md
  docs/admin/localhost.md
  docs/admin/overview.md
  docs/admin/servers/auth.md
  docs/admin/servers/traefik-oauth.png
  docs/admin/trial.md
  docs/bugs.md
  docs/developer/oauth.md
  docs/developer/system/DTaaS.drawio
  docs/developer/system/architecture.md
  docs/developer/system/current-status.md
  docs/user/website/index.md
  mkdocs-github.yml
  mkdocs.yml
  servers/auth/README.md
  servers/auth/compose.yml
  servers/auth/conf
  servers/config/gateway/README.md
Due: yarn-install-client, yarn-jest-client

Fixes mistake in docs index
  mkdocs.yml
Due: none

Updates .gitignore file
  .gitignore
  development/admin/servers/auth.html
  development/admin/servers/traefik-oauth.png
Due: none

Docker system restructure
  docker/.env
  docker/README.md
  docker/auth/README.md
  docker/compose.dev.yml
  docker/compose.local.yml
  docker/compose.server.yml
  docker/conf.allow
  docker/conf.auth
  docker/dev/.env
  docker/dev/README.md
  docker/dev/client.dockerfile
  docker/dev/compose.dev.yml
  docker/dev/libms.dockerfile
  docker/traefik-forward-auth.png
  servers/config/gateway/README.md
  servers/config/gateway/auth
  servers/config/gateway/dynamic/fileConfig.docker.yml
  servers/config/gateway/dynamic/fileConfig.yml
  servers/config/gateway/traefik.yml
Due: none

minor formatting changes
  docker/compose.local.yml
  docker/compose.server.yml
Due: none

PR Review
  docker/.env
  docker/README.md
  docker/compose.local.yml
  docker/compose.server.yml
  docker/conf.local
  docker/conf.server
  docker/dev/.env
  docker/dev/README.md
Due: none

Shared memory constraint for dev
  docker/dev/compose.dev.yml
Due: none

README update
  docker/README.md
Due: none

Codeclimate resolve
  docker/README.md
Due: none

.env template change for dev conf.auth -> conf.local
  docker/dev/.env
Due: none

Improves READMEs
  client/config/local.js
  docker/README.md
  docker/dev/.env
  docker/dev/README.md
  docker/dev/compose.dev.yml
  docs/admin/servers/auth.md
Due: yarn-install-client, yarn-jest-client

Clean up client config
  client/README.md
  client/config/local.js
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Revert client yarn.lock file
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Restructures docker files (#577 and #561)
  client/README.md
  client/config/local.js
  docker/.env
  docker/README.md
  docker/auth/README.md
  docker/compose.dev.yml
  docker/compose.local.yml
  docker/compose.server.yml
  docker/conf.local
  docker/conf.server
  docker/dev/.env
  docker/dev/README.md
  docker/dev/client.dockerfile
  docker/dev/compose.dev.yml
  docker/dev/libms.dockerfile
  docker/traefik-forward-auth.png
  docs/admin/servers/auth.md
  servers/config/gateway/README.md
  servers/config/gateway/auth
  servers/config/gateway/dynamic/fileConfig.docker.yml
  servers/config/gateway/dynamic/fileConfig.yml
  servers/config/gateway/traefik.yml
Due: yarn-install-client, yarn-jest-client

Restore traefik config files to fix installation problems
  servers/config/gateway/README.md
  servers/config/gateway/auth
  servers/config/gateway/dynamic/fileConfig.docker.yml
  servers/config/gateway/dynamic/fileConfig.yml
  servers/config/gateway/traefik.yml
Due: none

Added configure-git-hooks.ps1
  script/configure-git-hooks.ps1
Due: none

ps1 install scripts for git precommit hooks, base, and env
  client/yarn.lock
  script/base.ps1
  script/configure-git-hooks.ps1
  script/env.ps1
Due: yarn-install-client, yarn-jest-client

Updates docs
  README.md
  docs/developer/index.md
  docs/developer/system/C4-L1_diagram.png
  docs/developer/system/C4-L2_diagram.png
  docs/developer/system/C4-L2_diagram_detailed.png
  docs/developer/system/C4-L2_diagram_simplified.png
  docs/developer/system/DTaaS.drawio
  docs/developer/system/architecture.md
  docs/developer/system/architecture.png
  docs/developer/system/current-status-developer-2.png
  docs/developer/system/current-status-developer.png
  docs/developer/system/current-status.md
  docs/index.md
  docs/user/examples/examples.drawio
  docs/user/examples/flex-cell/README.md
  docs/user/examples/flex-cell/dt-structure.png
  docs/user/examples/flex-cell/physical-twin.jpg
  docs/user/examples/index.md
  docs/user/servers/lib/assets.md
  docs/user/website/index.md
Due: none

Fixes markdown linting issues
  docs/user/examples/flex-cell/README.md
Due: none

Fixes codeclimate issues
  README.md
  docs/user/examples/flex-cell/README.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Fixes codeclimate issues
  docs/user/examples/flex-cell/README.md
Due: none

Fixes installation scripts and updates docs (#582)
  README.md
  docs/developer/index.md
  docs/developer/system/C4-L1_diagram.png
  docs/developer/system/C4-L2_diagram.png
  docs/developer/system/C4-L2_diagram_detailed.png
  docs/developer/system/C4-L2_diagram_simplified.png
  docs/developer/system/DTaaS.drawio
  docs/developer/system/architecture.md
  docs/developer/system/architecture.png
  docs/developer/system/current-status-developer-2.png
  docs/developer/system/current-status-developer.png
  docs/developer/system/current-status.md
  docs/index.md
  docs/user/examples/examples.drawio
  docs/user/examples/flex-cell/README.md
  docs/user/examples/flex-cell/dt-structure.png
  docs/user/examples/flex-cell/physical-twin.jpg
  docs/user/examples/index.md
  docs/user/servers/lib/assets.md
  docs/user/website/index.md
  mkdocs-github.yml
  mkdocs.yml
  servers/config/gateway/README.md
  servers/config/gateway/auth
  servers/config/gateway/dynamic/fileConfig.docker.yml
  servers/config/gateway/dynamic/fileConfig.yml
  servers/config/gateway/traefik.yml
Due: none

Prepares codebase for release v0.4.0
  SECURITY.md
  deploy/single-script-install.sh
  docker/.env
  docker/README.md
  docker/compose.local.yml
  docker/compose.server.yml
  docker/conf.local
  docker/conf.server
  docker/dev/.env
  docker/dev/README.md
  docker/dev/client.dockerfile
  docker/dev/compose.dev.yml
  docker/dev/libms.dockerfile
  docker/traefik-forward-auth.png
  docs/redirect-page.html
Due: none

Changes the script download links
  docs/admin/localhost.md
  docs/admin/servers/auth.md
  docs/admin/servers/traefik-oauth.png
  docs/admin/services.md
  docs/admin/trial.md
  docs/admin/vagrant/single-machine.md
  docs/admin/vagrant/two-machines.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Updates example docs
  SECURITY.md
  docs/redirect-page.html
  docs/user/examples/examples.drawio
  docs/user/examples/flex-cell/README.md
  docs/user/examples/flex-cell/dt-structure.png
  docs/user/examples/flex-cell/pt-dt-details.png
Due: none

Updates example docs (#600)
  SECURITY.md
  docs/redirect-page.html
  docs/user/examples/examples.drawio
  docs/user/examples/flex-cell/README.md
  docs/user/examples/flex-cell/dt-structure.png
  docs/user/examples/flex-cell/pt-dt-details.png
Due: none

Cleans up yarn commands of runner
  servers/execution/runner/package.json
Due: yarn-install-runner, yarn-test-runner

Makes runner yarn commands cross-platform Removes shell scripts and moves npm commands to package.json
  servers/execution/runner/package.json
Due: yarn-install-runner, yarn-test-runner

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
