Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - pre-push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - pre-push

Updates version number for client website
  client/package.json
Due: yarn-install-client, yarn-jest-client

Updates package number
  client/package.json
Due: yarn-install-client, yarn-jest-client

Cleans up the code in Account react component (PR #632 and #657)
  client/package.json
  client/src/route/auth/Account.tsx
  client/src/route/auth/AccountTabData.tsx
  client/src/route/auth/AccountTabs.tsx
  client/test/unitTests/Routes/Account.test.tsx
Due: yarn-install-client, yarn-jest-client

Improves docker compose files (#660)
  client/config/local.js
  deploy/config/lib
  deploy/config/lib.docker
  docker/.env
  docker/README.md
  docker/compose.local.yml
  docker/compose.server.yml
  docker/dev/.env
  docker/dev/README.md
  docker/dev/compose.dev.yml
  servers/lib/config/.env.default
Due: yarn-install-client, yarn-install-lib, yarn-jest-client

Upgrades runner npm packages
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
Due: yarn-install-runner, yarn-test-runner

Check github actions
  .github/workflows/client.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/lib-ms.yml
  .github/workflows/runner.yml
  client/README.md
  client/package.json
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
  servers/lib/DEVELOPER.md
  servers/lib/package.json
Due: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner

Downgrades codecov action package
  .github/workflows/client.yml
  .github/workflows/lib-ms.yml
  .github/workflows/runner.yml
Due: none

Dependabot merge (#484)
  .github/workflows/client.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/lib-ms.yml
  .github/workflows/runner.yml
  client/README.md
  client/package.json
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
  servers/lib/DEVELOPER.md
  servers/lib/package.json
Due: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner

Upgrade runner and libms packages
  client/README.md
  client/package.json
  servers/execution/runner/package.json
  servers/lib/DEVELOPER.md
  servers/lib/package.json
  servers/lib/yarn.lock
Due: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner

Upgrades npm packages of runner and libms
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
  servers/lib/package.json
  servers/lib/yarn.lock
Due: yarn-install-runner, yarn-install-lib, yarn-test-runner

Fix github actions and upgrade dependencies (#677)
  .github/workflows/client.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/lib-ms.yml
  .github/workflows/runner.yml
  client/package.json
  servers/execution/runner/package.json
  servers/execution/runner/yarn.lock
  servers/lib/package.json
  servers/lib/yarn.lock
Due: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner

Fix github actions
  .github/workflows/docker.yml
  .github/workflows/lib-ms.yml
Due: none

Fix github actions of libms and docker tags (#678)
  .github/workflows/docker.yml
  .github/workflows/lib-ms.yml
Due: none

Bumps up the version number
  servers/lib/package.json
Due: yarn-install-lib

Check publish step
  servers/lib/package.json
Due: yarn-install-lib

revert package name
  servers/lib/package.json
Due: yarn-install-lib

Upgrade eslint plugin jest of libms microservice (#679)
  servers/lib/package.json
  servers/lib/yarn.lock
Due: yarn-install-lib

Adds lifecycle script path code
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/lifecycleManager.service.ts
Due: yarn-install-runner, yarn-test-runner

Adds developer README for runner
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/README.md
Due: yarn-install-runner, yarn-test-runner

Receives port from config file
  servers/execution/runner/src/config/configuration.ts
  servers/execution/runner/src/main.ts
Due: yarn-install-runner, yarn-test-runner

Fixes tests for the runner
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/README.md
  servers/execution/runner/package.json
  servers/execution/runner/test/config/runner.yaml
  servers/execution/runner/test/data/lifecycle/create
  servers/execution/runner/test/integration/lifecycleManager.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

Updates tests of runner
  servers/execution/runner/package.json
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/yarn.lock
Due: yarn-install-runner, yarn-test-runner

Adds more API functionality
  servers/execution/runner/package.json
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/dto/phase.dto.ts
  servers/execution/runner/src/interfaces/lifecycle.interface.ts
  servers/execution/runner/src/lifecycleManager.service.ts
  servers/execution/runner/src/runner.ts
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/test/integration/lifecycleManager.service.spec.ts
  servers/execution/runner/yarn.lock
Due: yarn-install-runner, yarn-test-runner

WIP refactoring of API and tests
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/test/unit/validation.pipe.spec.ts
Due: yarn-install-runner, yarn-test-runner

Adds Zod validation pipes to protect API requests
  servers/execution/runner/package.json
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/dto/phase.dto.ts
  servers/execution/runner/src/interfaces/lifecycle.interface.ts
  servers/execution/runner/src/lifecycleManager.service.ts
  servers/execution/runner/src/validation.pipe.ts
  servers/execution/runner/test/integration/lifecycleManager.service.spec.ts
  servers/execution/runner/test/unit/validation.pipe.spec.ts
  servers/execution/runner/yarn.lock
Due: yarn-install-runner, yarn-test-runner

Changes the API end points
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/test/app.e2e.spec.ts
Due: yarn-install-runner, yarn-test-runner

Working tests
  servers/execution/runner/package.json
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/interfaces/lifecycle.interface.ts
  servers/execution/runner/src/lifecycleManager.service.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/test/integration/lifecycleManager.service.spec.ts
  servers/execution/runner/test/unit/validation.pipe.spec.ts
  servers/execution/runner/yarn.lock
Due: yarn-install-runner, yarn-test-runner

Updates API and README for runner
  docs/developer/servers/execution/runner/runner-api.yaml
  servers/execution/runner/README.md
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/test/integration/lifecycleManager.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

Updates the package version of runner
  servers/execution/runner/package.json
Due: yarn-install-runner, yarn-test-runner

Adds documentation for runner Adds /history route to runner API
  docs/user/servers/execution/runner/README.md
  mkdocs-github.yml
  mkdocs.yml
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/test/integration/lifecycleManager.service.spec.ts
Due: yarn-install-runner, yarn-test-runner

Add logo to docs page
  docs/assets/dtaas-logo-with-text.png
  docs/redirect-page.html
  script/docs.sh
Due: none

Updates docs script to add logo to index page
  script/docs.sh
Due: none

Fixes E2E tests of runner
  servers/execution/runner/test/app.e2e.spec.ts
Due: yarn-install-runner, yarn-test-runner

Refactor runner E2E tests
  servers/execution/runner/test/app.e2e.spec.ts
Due: yarn-install-runner, yarn-test-runner

Upgrades runner service (#614)
  docs/assets/dtaas-logo-with-text.png
  docs/developer/servers/execution/runner/runner-api.yaml
  docs/redirect-page.html
  docs/user/servers/execution/runner/README.md
  mkdocs-github.yml
  mkdocs.yml
  script/docs.sh
  servers/execution/runner/DEVELOPER.md
  servers/execution/runner/package.json
  servers/execution/runner/src/app.controller.ts
  servers/execution/runner/src/config/configuration.ts
  servers/execution/runner/src/dto/phase.dto.ts
  servers/execution/runner/src/interfaces/lifecycle.interface.ts
  servers/execution/runner/src/lifecycleManager.service.ts
  servers/execution/runner/src/main.ts
  servers/execution/runner/src/queue.service.ts
  servers/execution/runner/src/runner.ts
  servers/execution/runner/src/validation.pipe.ts
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/test/config/runner.yaml
  servers/execution/runner/test/data/lifecycle/create
  servers/execution/runner/test/integration/lifecycleManager.service.spec.ts
  servers/execution/runner/test/unit/validation.pipe.spec.ts
  servers/execution/runner/yarn.lock
Due: yarn-install-runner, yarn-test-runner

improve runner E2E tests WIP
  servers/execution/runner/test/app.e2e.spec.ts
Due: yarn-install-runner, yarn-test-runner

corrects runner E2E tests
  .gitignore
  servers/execution/runner/package.json
  servers/execution/runner/test/app.e2e.spec.ts
  servers/execution/runner/test/config/runner.yaml
Due: yarn-install-runner, yarn-test-runner

Adds documentation for nurv service example
  docs/user/examples/incubator-NuRV-monitor-service/README.md
  docs/user/examples/incubator-NuRV-monitor-service/figures/dt-structure-nurv.drawio
  docs/user/examples/incubator-NuRV-monitor-service/figures/dt-structure-nurv.svg
  docs/user/examples/index.md
  docs/user/servers/execution/runner/README.md
  mkdocs-github.yml
  mkdocs.yml
  servers/execution/runner/package.json
Due: yarn-install-runner, yarn-test-runner

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
