Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - push

yarn-test-lib:
  name: yarn test lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn test:nocov
  stages:
  - push

Apply requested changes
  client/src/preview/util/file.ts
Due: yarn-install-client, yarn-jest-client

Upgrade integration tests
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
Due: yarn-install-client, yarn-jest-client

Refactor DigitalTwin class and add DTAssets class
  client/src/preview/store/file.slice.ts
Due: yarn-install-client, yarn-jest-client

rebase
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/util/digitalTwin.ts
Due: yarn-install-client, yarn-jest-client

Little fix
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/util/digitalTwin.ts
Due: yarn-install-client, yarn-jest-client

Integration with Create page
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/util/digitalTwin.ts
Due: yarn-install-client, yarn-jest-client

Fix after rebase
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/create/ChangeFileNameDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/fileHandler.ts
  client/test/preview/integration/components/asset/AssetCardExecute.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
Due: yarn-install-client, yarn-jest-client

adds config and fixes tests
  servers/lib/package.json
  servers/lib/src/app.module.ts
  servers/lib/src/bootstrap.ts
  servers/lib/src/config/config.interface.ts
  servers/lib/src/config/config.module.ts
  servers/lib/src/config/config.service.ts
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/files.module.ts
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/local/local-files.service.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/libms.test.yaml
  servers/lib/test/testUtil.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
  servers/lib/test/unit/git-files.service.unit.spec.ts
  servers/lib/test/unit/local-files.service.unit.spec.ts
Due: yarn-install-lib, yarn-test-lib

updated docs
  docs/admin/servers/lib/config.md
  docs/admin/servers/lib/http.json
  servers/lib/config/http.json
  servers/lib/libms.yaml.sample
Due: yarn-install-lib, yarn-test-lib

Add VerifyConfig.tsx with route
  client/package.json
  client/src/page/LayoutPublic.tsx
  client/src/route/auth/VerifyConfig.tsx
  client/src/routes.tsx
Due: yarn-install-client, yarn-jest-client

Add edge-case for opaque responses
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Graphical fix
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/AssetLibrary.tsx
  client/src/preview/components/asset/Filter.tsx
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/store/digitalTwin.slice.ts
Due: yarn-install-client, yarn-jest-client

Improve Create page layout
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/components/asset/AssetLibrary.tsx
  client/src/preview/components/asset/Filter.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/create/FileActionButtons.tsx
  client/src/preview/route/digitaltwins/create/PrivacySelector.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
Due: yarn-install-client, yarn-jest-client

Add APIs to manage common DTs
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDialogs.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/util/DTAssets.ts
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/fileHandler.ts
Due: yarn-install-client, yarn-jest-client

Library graphical fix
  client/src/preview/components/cart/ShoppingCart.tsx
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/library/LibraryPreview.tsx
  client/src/preview/util/DTAssets.ts
  client/src/preview/util/libraryManager.ts
Due: yarn-install-client, yarn-jest-client

Sidebar refactor
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/editor/sidebarFetchers.ts
  client/src/preview/route/digitaltwins/editor/sidebarFunctions.ts
  client/src/preview/route/digitaltwins/editor/sidebarRendering.tsx
  client/src/preview/util/fileUtils.ts
Due: yarn-install-client, yarn-jest-client

Integrates GitLab Runner into DTaaS
  deploy/services/gitlab/GITLAB-RUNNER.md
  deploy/services/gitlab/compose.runner.yml
  deploy/services/gitlab/gitlab-runner/config.toml
  deploy/services/gitlab/runner-activation.png
  deploy/services/gitlab/runner-registration.png
Due: none

changed to default branch
  servers/lib/src/files/git/git-files.service.ts
Due: yarn-install-lib, yarn-test-lib

sets default config path
  servers/lib/src/bootstrap.ts
  servers/lib/src/config/config.service.ts
Due: yarn-install-lib, yarn-test-lib

changed actions to use yaml config
  .github/workflows/lib-ms.yml
Due: none

updated config by js file
  .github/workflows/lib-ms.yml
  servers/lib/test/update-config.js
Due: yarn-install-lib, yarn-test-lib

ignores update-config.js file in eslint
  servers/lib/eslint.config.js
Due: yarn-install-lib, yarn-test-lib

lint fixed
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/testUtil.ts
  servers/lib/test/unit/git-files.service.unit.spec.ts
Due: yarn-install-lib, yarn-test-lib

changed to use configservice
  servers/lib/test/e2e/app.e2e.spec.ts
Due: yarn-install-lib, yarn-test-lib

changed default path
  servers/lib/test/update-config.js
Due: yarn-install-lib, yarn-test-lib

changes from PR feedback
  docs/admin/servers/lib/config.md
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/testUtil.ts
Due: yarn-install-lib, yarn-test-lib

Add status code and more useful error messages
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Refactor VerifyConfig
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

updates
  client/src/preview/components/asset/DetailsLib
  client/src/preview/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/preview/route/digitaltwins/create/CreateDialogs.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/create/FileActionButtons.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/sidebarFunctions.tsx
  client/src/preview/util/DTAssets.ts
  client/src/preview/util/digitalTwin.ts
  client/test/preview/integration/route/digitaltwins/create/ConfirmDeleteDialog.test.tsx
  client/test/preview/integration/route/digitaltwins/create/CreatePage.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/ConfigDialog.test.tsx
Due: yarn-install-client, yarn-jest-client

Reinstate status code information in tool tips
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Integrate verification and sign in
  client/src/route/auth/Signin.tsx
  client/src/route/auth/VerifyConfig.tsx
Due: yarn-install-client, yarn-jest-client

Fix eslint issues
  client/src/preview/components/asset/AssetBoard.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
Due: yarn-install-client, yarn-jest-client

Rephrasing terms
  client/src/preview/components/cart/ShoppingCart.tsx
  client/src/preview/route/library/LibraryPreview.tsx
Due: yarn-install-client, yarn-jest-client

use 'common' project in Library page
  client/src/preview/components/asset/AddToCartButton.tsx
  client/src/preview/components/asset/AssetCard.tsx
  client/src/preview/components/asset/DetailsButton.tsx
  client/src/preview/components/cart/CartList.tsx
  client/src/preview/components/cart/ShoppingCart.tsx
  client/src/preview/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/preview/store/assets.slice.ts
  client/src/preview/store/cart.slice.ts
  client/src/preview/util/fileHandler.ts
  client/src/preview/util/gitlab.ts
  client/src/preview/util/init.ts
  client/src/preview/util/libraryManager.ts
Due: yarn-install-client, yarn-jest-client

use 'common' project in Create page
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/EditorTab.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/editor/sidebarFetchers.ts
  client/src/preview/route/digitaltwins/editor/sidebarFunctions.ts
  client/src/preview/route/digitaltwins/editor/sidebarRendering.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/preview/store/file.slice.ts
  client/src/preview/store/libraryConfigFiles.slice.ts
  client/src/preview/util/DTAssets.ts
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/digitalTwinUtils.ts
  client/src/preview/util/fileHandler.ts
  client/src/preview/util/fileUtils.ts
  client/src/preview/util/libraryManager.ts
Due: yarn-install-client, yarn-jest-client

use 'common' in Reconfigure page
  client/src/preview/util/digitalTwin.ts
  client/src/preview/util/fileHandler.ts
Due: yarn-install-client, yarn-jest-client

removes await
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/interfaces/files.service.interface.ts
  servers/lib/src/files/local/local-files.service.ts
Due: yarn-install-lib, yarn-test-lib

add test for large file
  servers/lib/test/data/user2/tools/large_file.md
  servers/lib/test/testUtil.ts
  servers/lib/test/unit/local-files.service.unit.spec.ts
Due: yarn-install-lib, yarn-test-lib

fixes formatting mistakes
  servers/lib/src/config/config.model.ts
  servers/lib/src/config/config.service.ts
  servers/lib/src/files/git/git-files.service.ts
  servers/lib/src/files/local/local-files.service.ts
  servers/lib/test/cloudcmd/cloudcmd.spec.ts
  servers/lib/test/e2e/app.e2e.spec.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/testUtil.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
Due: yarn-install-lib, yarn-test-lib

removed async
  .github/workflows/lib-ms.yml
  servers/lib/src/files/files-service.factory.ts
  servers/lib/src/files/files.module.ts
  servers/lib/test/integration/files.service.integration.spec.ts
  servers/lib/test/unit/files-service.factory.unit.spec.ts
Due: yarn-install-lib, yarn-test-lib

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
  yarn-test-lib: any of: ^servers/lib/.*
