Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - push

yarn-test-lib:
  name: yarn test lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn test:nocov
  stages:
  - push

fix to passing node env to reuseable workflow
  .github/workflows/lib-ms.yml
Due: none

refactoring
  .github/workflows/lib-ms.yml
  .github/workflows/publish-npm.yml
  .github/workflows/templates/publish_npm_package.yml
Due: none

changed package name back to original
  servers/lib/package.json
Due: yarn-install-lib, yarn-test-lib

add package name param
  .github/workflows/publish-npm.yml
Due: none

adds test package name
  .github/workflows/lib-ms.yml
Due: none

Fixes installation documentation
  deploy/docker/SERVER.md
  deploy/services/gitlab/INTEGRATION.md
  deploy/services/gitlab/README.md
  docs/developer/client/GITLAB-RUNNER.md
Due: none

Fixes installation documentation
  deploy/docker/SERVER.md
  deploy/services/gitlab/INTEGRATION.md
Due: none

changed variable reference
  .github/workflows/publish-npm.yml
Due: none

Improves Docker Installation Files (#988 and #1019)
  cli/tests/compose.users.test.yml
  client/compose.client.yml
  deploy/config/lib.env
  deploy/docker/.env.local
  deploy/docker/.env.server
  deploy/docker/DOCKER-ENV.md
  deploy/docker/LOCALHOST.SECURE.md
  deploy/docker/LOCALHOST.md
  deploy/docker/SERVER.md
  deploy/docker/compose.local.secure.yml
  deploy/docker/compose.local.yml
  deploy/docker/compose.server.secure.yml
  deploy/docker/compose.server.yml
  deploy/services/gitlab/INTEGRATION.md
  deploy/services/gitlab/README.md
  docker/.env
  docker/compose.dev.yml
  docker/libms.npm.dockerfile
  docs/admin/host.md
  docs/admin/localhost.md
  docs/admin/servers/auth.md
  docs/admin/servers/lib/compose.lib.yml
  docs/developer/client/GITLAB-RUNNER.md
  docs/developer/oauth/AUTHMS.drawio
  docs/developer/oauth/AUTHMS.md
Due: yarn-install-client, yarn-jest-client

adds quotes
  .github/workflows/publish-npm.yml
Due: none

removes hardcoded package name
  .github/workflows/lib-ms.yml
Due: none

secret as parameter and docs
  .github/workflows/lib-ms.yml
  .github/workflows/publish-npm.yml
  docs/developer/github-actions.md
Due: none

removed npm github token
  .github/workflows/lib-ms.yml
  docs/developer/github-actions.md
Due: none

moved package name to env variable
  .github/workflows/lib-ms.yml
Due: none

test: bumps version for testing
  servers/lib/package.json
Due: yarn-install-lib, yarn-test-lib

adds variable for package name
  .github/workflows/lib-ms.yml
Due: none

changed to vars
  .github/workflows/lib-ms.yml
Due: none

revert version
  servers/lib/package.json
Due: yarn-install-lib, yarn-test-lib

updated version
  servers/lib/package.json
Due: yarn-install-lib, yarn-test-lib

Github Action publish to npm for libms (#1024)
  .github/workflows/client.yml
  .github/workflows/docs.yml
  .github/workflows/lib-ms.yml
  .github/workflows/publish-npm.yml
  .github/workflows/runner.yml
  docs/developer/github-actions.md
  servers/lib/package.json
Due: yarn-install-lib, yarn-test-lib

Format correctly
  client/src/util/auth/Authentication.ts
  client/test/unit/util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Eslint fixes: Turn getAndSetUsername and signOut into hooks
  client/src/page/MenuToolbar.tsx
  client/src/route/library/Library.tsx
  client/src/util/auth/Authentication.ts
  client/test/__mocks__/global_mocks.ts
  client/test/integration/Auth/authRedux.test.tsx
  client/test/unit/util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Eslint fixes: add img alt text and missing useEffect dependency
  client/src/route/auth/AccountTabData.tsx
  client/src/route/auth/PrivateRoute.tsx
Due: yarn-install-client, yarn-jest-client

Change function names to camel case
  client/src/page/MenuToolbar.tsx
  client/src/route/library/Library.tsx
  client/src/util/auth/Authentication.ts
  client/test/integration/Auth/authRedux.test.tsx
  client/test/unit/util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Fix warnings when installing packages
  client/package.json
Due: yarn-install-client, yarn-jest-client

Fix formatting
  client/src/route/auth/AccountTabData.tsx
  client/src/route/auth/PrivateRoute.tsx
Due: yarn-install-client, yarn-jest-client

Match upgrades in yarn and package.json
  client/package.json
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Update packages to latest and fix broken test
  client/package.json
  client/test/unit/util/envUtil.test.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Update eslint
  client/.eslintignore
  client/.eslintrc
  client/eslint.config.mjs
  client/package.json
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Fix new eslint issues
  client/src/index.tsx
  client/src/page/Menu.tsx
  client/src/page/MenuToolbar.tsx
  client/src/route/library/Library.tsx
  client/src/util/auth/Authentication.ts
  client/test/e2e/tests/auth.setup.ts
  client/test/integration/Auth/authRedux.test.tsx
  client/test/unit/util/Auth/Authentication.test.ts
  client/test/unit/util/envUtil.test.ts
Due: yarn-install-client, yarn-jest-client

Install @babel/plugin-proposal-private-property-in-object
  client/package.json
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Fix broken preview tests
  client/package.json
  client/src/preview/util/gitlabDigitalTwin.ts
  client/test/preview/integration/route/digitaltwins/editor/Editor.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/PreviewTab.test.tsx
  client/test/preview/integration/route/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/integration/route/digitaltwins/manage/utils.ts
  client/test/preview/unit/components/asset/AssetCard.test.tsx
  client/test/preview/unit/components/asset/DetailsButton.test.tsx
  client/test/preview/unit/routes/digitaltwins/editor/Sidebar.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/ConfigDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/DeleteDialog.test.tsx
  client/test/preview/unit/routes/digitaltwins/manage/DetailsDialog.test.tsx
Due: yarn-install-client, yarn-jest-client

Refactor store in preview tests
  client/test/preview/integration/integration.testUtil.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineChecks.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineUtils.test.tsx
Due: yarn-install-client, yarn-jest-client

Add OS check for playwright report name
  .github/workflows/client.yml
Due: none

Fix new eslint issues
  client/src/page/MenuToolbar.tsx
  client/test/unit/util/Auth/Authentication.test.ts
Due: yarn-install-client, yarn-jest-client

Add changes made to yarn.lock
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Downgrade Typescript to 5.1.6, fix new eslint issues
  client/package.json
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/util/gitlabDigitalTwin.ts
  client/src/util/envUtil.ts
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Add ignore pattern for unused errors and upgrade jest-dom
  client/eslint.config.mjs
  client/package.json
  client/src/preview/route/digitaltwins/DigitalTwinsPreview.tsx
  client/src/preview/route/digitaltwins/execute/pipelineHandler.ts
  client/src/preview/util/gitlabDigitalTwin.ts
  client/test/preview/integration/route/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/integration/route/digitaltwins/execute/PipelineHandler.test.tsx
  client/test/preview/unit/routes/digitaltwins/DigitalTwinsPreview.test.tsx
  client/test/preview/unit/util/gitlabDigitalTwin.test.ts
Due: yarn-install-client, yarn-jest-client

Rename Hooks hook into useSetupMiniDrawer
  client/src/page/Menu.tsx
Due: yarn-install-client, yarn-jest-client

Add network timeout to yarn install in client.yml
  .github/workflows/client.yml
Due: none

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
  yarn-test-lib: any of: ^servers/lib/.*
