Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - push

yarn-test-lib:
  name: yarn test lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn test:nocov
  stages:
  - push

Add development dependencies to fix warnings
  client/eslint.config.mjs
  client/package.json
  client/playwright.config.ts
  client/src/route/auth/VerifyConfig.tsx
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Code from old PR
  client/eslint.config.mjs
  client/jest.config.json
  client/package.json
  client/playwright.config.ts
  client/src/page/LayoutPublic.tsx
  client/src/route/auth/ConfigItems.tsx
  client/src/route/auth/Signin.tsx
  client/src/route/auth/VerifyConfig.tsx
  client/src/routes.tsx
  client/test/__mocks__/global_mocks.ts
  client/test/e2e/tests/Auth.test.ts
  client/test/e2e/tests/Menu.test.ts
  client/test/e2e/tests/verify.route.test.ts
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/integration/Auth/authRedux.test.tsx
  client/test/integration/Routes/Signin.test.tsx
  client/test/integration/jest.setup.ts
  client/test/unit/jest.setup.ts
  client/test/unit/routes/SignIn.test.tsx
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Add test env to preview test setup
  client/package.json
  client/test/preview/integration/jest.setup.ts
Due: yarn-install-client, yarn-jest-client

Refactor
  client/package.json
  client/playwright.config.ts
  client/src/route/auth/ConfigItems.tsx
  client/src/route/auth/Signin.tsx
  client/src/route/auth/VerifyConfig.tsx
  client/src/routes.tsx
  client/src/util/config.tsx
  client/test/__mocks__/global_mocks.ts
  client/test/e2e/tests/verify.route.test.ts
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/integration/Auth/authRedux.test.tsx
  client/test/integration/Routes/Signin.test.tsx
  client/test/unit/routes/SignIn.test.tsx
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

Fix codeclimate issues (devops files)
  docs/developer/devops/gitlab-ci-cd.md
  docs/developer/devops/implementation.md
Due: none

Fix codeclimate issues
  deploy/services/runner/GITLAB-RUNNER.md
  docs/admin/gitlab/runner.md
Due: none

Edits api.md
  docs/developer/devops/api.md
Due: none

Add citations
  docs/developer/devops/api.md
  docs/developer/devops/gitlab-ci-cd.md
  docs/developer/devops/implementation.md
  docs/developer/devops/overview.md
Due: none

Remove GitlabDriver reference
  docs/developer/devops/implementation.md
Due: none

Add TS implementation
  docs/developer/devops/implementation.md
Due: none

GitLab parent-child pipeline
  docs/developer/devops/gitlab-ci-cd.md
Due: none

Add localhost access to runner
  deploy/services/gitlab/.env
  deploy/services/gitlab/compose.gitlab.yml
Due: none

Use foo.com for template server dns
  deploy/services/gitlab/.env
Due: none

Update gitlab variable in documentation
  deploy/services/gitlab/README.md
Due: none

Refactor runner code
  deploy/services/runner/GITLAB-RUNNER.md
  deploy/services/runner/compose.runner.local.yml
  deploy/services/runner/compose.runner.server.yml
  deploy/services/runner/runner-activation.png
  deploy/services/runner/runner-config.toml
  deploy/services/runner/runner-registration.png
Due: none

Update GITLAB-RUNNER.md
  deploy/services/runner/GITLAB-RUNNER.md
Due: none

Fix typo in INTEGRATION.md
  deploy/services/gitlab/INTEGRATION.md
Due: none

Instance + group + project runners
  deploy/services/runner/runner-registration.png
  docs/admin/gitlab/runner-registration.png
  docs/admin/gitlab/runner.md
Due: none

Updates runner documentation on the admin page
  docs/admin/gitlab/pipeline-token.PNG
  docs/admin/gitlab/runner-activation.png
  docs/admin/gitlab/runner-registration.png
  docs/admin/gitlab/runner.md
Due: none

Adds DevOps developer guide
  docs/developer/devops.md
  docs/developer/dt-lifecycle.png
  mkdocs-github.yml
  mkdocs.yml
Due: none

Switch to instance runners
  deploy/services/runner/GITLAB-RUNNER.md
  deploy/services/runner/runner-activation.png
  deploy/services/runner/runner-registration.png
Due: none

Minor changes
  deploy/services/runner/GITLAB-RUNNER.md
  docs/admin/gitlab/runner.md
Due: none

Finishes up runner guides
  deploy/services/gitlab/README.md
  deploy/services/runner/GITLAB-RUNNER.md
  docs/admin/gitlab/index.md
  docs/admin/gitlab/runner.md
Due: none

Adds executor information to GITLAB-RUNNER.md
  deploy/services/runner/GITLAB-RUNNER.md
  docs/admin/gitlab/runner.md
Due: none

Add DevOps Framework to developer documentation
  docs/developer/devops/api.md
  docs/developer/devops/gitlab-ci-cd.md
  docs/developer/devops/images/devops-overview.png
  docs/developer/devops/images/dt-lifecycle.png
  docs/developer/devops/implemented-classes.md
  docs/developer/devops/overview.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Rename implemented-classes.md
  docs/developer/devops/implementation.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Local improvements to devops docs
  CITATION.cff
  README.md
  SECURITY.md
  docs/developer/conduct.md
  docs/developer/devops.md
  docs/developer/devops/gitlab-ci-cd.md
  docs/developer/index.md
  docs/user/digital-twins/devops/dt_execute_log.png
  docs/user/digital-twins/devops/dt_execute_running.png
  docs/user/digital-twins/devops/dt_manage.png
  docs/user/digital-twins/devops/dt_manage_details.png
  docs/user/digital-twins/devops/dt_manage_reconfigure.png
  docs/user/digital-twins/devops/file-structure.md
  docs/user/digital-twins/devops/ui.md
  mkdocs-github.yml
  mkdocs.yml
Due: none

Restructure into route/config
  client/src/route/auth/Signin.tsx
  client/src/route/config/ConfigItems.tsx
  client/src/route/config/Verify.tsx
  client/src/routes.tsx
  client/test/__mocks__/global_mocks.ts
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/integration/Auth/authRedux.test.tsx
  client/test/integration/Routes/Signin.test.tsx
  client/test/unit/routes/SignIn.test.tsx
Due: yarn-install-client, yarn-jest-client

Fix endless loop, add loading to /verify
  client/playwright.config.ts
  client/src/route/auth/Signin.tsx
  client/src/route/config/ConfigItems.tsx
  client/src/route/config/Verify.tsx
  client/src/routes.tsx
  client/test/__mocks__/global_mocks.ts
  client/test/e2e/tests/verify.route.test.ts
  client/test/integration/Auth/WaitAndNavigate.test.tsx
  client/test/integration/Auth/authRedux.test.tsx
  client/test/integration/Routes/Signin.test.tsx
  client/test/unit/routes/SignIn.test.tsx
Due: yarn-install-client, yarn-jest-client

fix codeclimate issues adds gitlab tutorial for users
  .codeclimate.yml
  docs/admin/gitlab/index.md
  docs/admin/gitlab/runner.md
  docs/developer/index.md
  docs/user/digital-twins/devops/file-structure.md
  docs/user/gitlab/create-PAT.png
  docs/user/gitlab/create-repo.png
  docs/user/gitlab/repo-ownership.png
  docs/user/gitlab/tutorial.md
  docs/user/gitlab/user-repo.png
  mkdocs-github.yml
  mkdocs.yml
  servers/lib/DOCKER.md
  servers/lib/README.md
  servers/lib/config/libms.dev.yaml
  servers/lib/config/libms.yaml.default
Due: yarn-install-lib, yarn-test-lib

copy changes from release v0.6
  docs/admin/client/config.md
  docs/admin/localhost-secure.md
  docs/admin/localhost.md
  docs/redirect-page.html
Due: none

Removes unnecessary files
  .yarn/install-state.gz
  client/test-results/.last-run.json
Due: yarn-install-client, yarn-jest-client

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
  yarn-test-lib: any of: ^servers/lib/.*
