Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - pre-push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - pre-push

updated docs
  docs/developer/index.md
Due: none

updated docs to add powershell command
  docs/developer/index.md
Due: none

fixed errors in base.ps1
  script/base.ps1
Due: none

fixed errors in configure-git-hooks.ps1
  script/configure-git-hooks.ps1
Due: none

chocolatey installation script fixes & docs update
  docs/developer/index.md
  script/base.ps1
Due: none

lock file restr
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

yarn lock
  client/yarn.lock
Due: yarn-install-client, yarn-jest-client

fixed codeclimate errors
  docs/developer/index.md
Due: none

fixed codeclimate errors
  docs/developer/index.md
  script/env.ps1
Due: none

Adds documentation for firefighter example
  client/yarn.lock
  docs/developer/index.md
  docs/user/examples/examples.drawio
  docs/user/examples/index.md
  docs/user/examples/o5g/README.md
  docs/user/examples/o5g/img/influx-dashboard.png
  docs/user/examples/o5g/img/o5g_digital_twin_architecture.png
  docs/user/examples/o5g/img/o5g_physical_twin_overview.png
  docs/user/examples/o5g/img/o5g_running_screenshot.png
  mkdocs-github.yml
  mkdocs.yml
  script/base.ps1
Due: yarn-install-client, yarn-jest-client

Add powershell script for docker image downloads
  docs/developer/index.md
  script/docker.ps1
Due: none

Fix codeclimate issues
  docs/redirect-page.html
  docs/user/examples/o5g/README.md
Due: none

Fix codeclimate issues
  docs/developer/index.md
Due: none

Add powershell scripts and new example (#634)
  docs/developer/index.md
  docs/redirect-page.html
  docs/user/examples/examples.drawio
  docs/user/examples/index.md
  docs/user/examples/o5g/README.md
  docs/user/examples/o5g/img/influx-dashboard.png
  docs/user/examples/o5g/img/o5g_digital_twin_architecture.png
  docs/user/examples/o5g/img/o5g_physical_twin_overview.png
  docs/user/examples/o5g/img/o5g_running_screenshot.png
  mkdocs-github.yml
  mkdocs.yml
  script/base.ps1
  script/configure-git-hooks.ps1
  script/docker.ps1
  script/env.ps1
Due: none

docs for bfe3227 commit
  script/docs.ps1
  script/env.ps1
  script/markdownlint-hook.ps1
Due: none

docs for ed76aaa commit
  docs/developer/index.md
Due: none

removed ruby mentions
  docs/developer/index.md
Due: none

updated PUBLISH.md
  docs/PUBLISH.md
Due: none

reverted mdl changes, mkdocs tested, replaced .sh by .py for markdownlint-hooks for crossplatform, added mdl-check.py
  docs/PUBLISH.md
  docs/developer/index.md
  script/env.ps1
  script/markdownlint-hook.ps1
  script/markdownlint-hook.sh
  script/markdownlint-hooks.py
  script/mdl-check.py
Due: none

Updated AccountTabs to display user Information and added tests to verify the working of the same
  client/src/route/auth/AccountTabs.tsx
  client/test/unitTests/Routes/AccountTabs.test.tsx
Due: yarn-install-client, yarn-jest-client

Updated AccountTabs to display user Information and added tests to verify the working of the same
  client/test/unitTests/Routes/AccountTabs.test.tsx
Due: yarn-install-client, yarn-jest-client

added unit test considering the case when user is not a part of even a single group
  client/test/unitTests/Routes/AccountTabs.test.tsx
Due: yarn-install-client, yarn-jest-client

cleaned the repetitive and commented code
  client/test/unitTests/Routes/AccountTabs.test.tsx
Due: yarn-install-client, yarn-jest-client

refactored the accountTabs functions and resolved the issue of nested paragraph tags
  client/src/route/auth/AccountTabs.tsx
  client/test/unitTests/Routes/AccountTabs.test.tsx
Due: yarn-install-client, yarn-jest-client

Setting specific network for compose
  docker/compose.local.yml
  docker/compose.server.yml
  docker/dev/compose.dev.yml
Due: none

Separate networks for containers
  docker/compose.local.yml
  docker/compose.server.yml
  docker/dev/compose.dev.yml
Due: none

Adds networks to server and localhost compose
  docker/compose.local.yml
  docker/compose.server.yml
Due: none

Improves docker workflows
  client/config/local.js
  deploy/config/lib
  deploy/config/lib.docker
  docker/.env
  docker/README.md
  docker/compose.local.yml
  docker/dev/.env
  docker/dev/README.md
  docker/dev/compose.dev.yml
  servers/lib/config/.env.default
Due: yarn-install-client, yarn-install-lib, yarn-jest-client

Fixes small problems in paths
  docker/.env
  docker/README.md
  docker/dev/.env
Due: none

Improves docker compose file
  docker/compose.server.yml
Due: none

added test #632
  client/test/unitTests/Routes/Account.test.tsx
Due: yarn-install-client, yarn-jest-client

Commit 壮真 UPIITA
  client/src/route/auth/Account.tsx
Due: yarn-install-client, yarn-jest-client

Refactors Account.tsx and fixes tests
  client/src/route/auth/Account.tsx
  client/src/route/auth/AccountTabData.tsx
  client/src/route/auth/AccountTabs.tsx
  client/test/unitTests/Routes/Account.test.tsx
Due: yarn-install-client, yarn-jest-client

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
