Repository INTO-CPS-Association/DTaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-install-client, yarn-install-runner, yarn-install-lib, yarn-jest-client, yarn-test-runner, yarn-test-lib

yarn-install-client:
  name: yarn install client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn install

yarn-install-runner:
  name: yarn install runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn install

yarn-install-lib:
  name: yarn install lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn install

yarn-jest-client:
  name: yarn jest client
  entry: bash
  language: system
  args:
  - -c
  - cd client && yarn jest . --coverage=false
  stages:
  - push

yarn-test-runner:
  name: yarn test runner
  entry: bash
  language: system
  args:
  - -c
  - cd servers/execution/runner && yarn test:nocov
  stages:
  - push

yarn-test-lib:
  name: yarn test lib
  entry: bash
  language: system
  args:
  - -c
  - cd servers/lib && yarn test:nocov
  stages:
  - push

fixes gitlab issues
  deploy/services/cli/README.md
  deploy/services/cli/dtaas_services/pkg/services/gitlab/setup.py
  deploy/services/cli/dtaas_services/templates/compose.gitlab.yml
  deploy/services/cli/dtaas_services/templates/config/services.env.template
  deploy/services/cli/tests/test_services/test_gitlab/conftest.py
  deploy/services/cli/tests/test_services/test_gitlab/test_api.py
  deploy/services/cli/tests/test_services/test_gitlab/test_app_token.py
  deploy/services/cli/tests/test_services/test_gitlab/test_setup.py
  deploy/services/cli/tests/test_services/test_gitlab/test_setup_steps.py
  deploy/services/cli/tests/test_services/test_gitlab/test_setup_tokens.py
Due: none

resolve review comments
  deploy/workspace/dex/localhost/companion/src/config.py
  deploy/workspace/dex/localhost/companion/src/http_utils.py
  deploy/workspace/dex/localhost/companion/src/profile.py
  deploy/workspace/dex/localhost/companion/test/conftest.py
  deploy/workspace/dex/localhost/pyproject.toml
Due: none

fix(client): address PR review comments and config improvements
  client/CHANGELOG-phase2.md
  client/LOGGER_API.md
  client/PLAN.md
  client/config/dev.js
  client/config/local.js
  client/config/prod.js
  client/config/test.js
  client/env.d.ts
  client/src/page/LogViewer.tsx
  client/src/util/logger/consoleLogger.ts
  client/src/util/logger/indexedDBLogger.ts
  client/src/util/logger/logger.ts
  client/src/util/logger/useLogger.ts
  client/test/unit/util/logger/logger.test.ts
Due: yarn-install-client, yarn-jest-client

Revert out of scope changes
  .yamllint.yml
  servers/execution/runner/test/config/runner.test.yaml
  servers/lib/config/libms.dev.yaml
  servers/lib/test/libms.test.yaml
Due: yarn-install-runner, yarn-install-lib, yarn-test-runner, yarn-test-lib

resolve review comments
  deploy/workspace/dex/localhost/docker-compose.yml
Due: none

fix(client): resolve qlty markdownlint and prettier issues
  client/CHANGELOG-phase2.md
  client/LOGGER_API.md
  client/PLAN.md
Due: yarn-install-client, yarn-jest-client

Adds keycloak worspace installation code
  deploy/workspace/keycloak/production/.env.example
  deploy/workspace/keycloak/production/CONFIGURATION.md
  deploy/workspace/keycloak/production/DESIGN.md
  deploy/workspace/keycloak/production/KEYCLOAK_SETUP.md
  deploy/workspace/keycloak/production/README.md
  deploy/workspace/keycloak/production/certs/.gitkeep
  deploy/workspace/keycloak/production/config/client.js.example
  deploy/workspace/keycloak/production/config/forward-auth-conf.example
  deploy/workspace/keycloak/production/config/tls.yml
  deploy/workspace/keycloak/production/docker-compose.yml
  deploy/workspace/keycloak/production/dtaas.png
  deploy/workspace/keycloak/production/files/README.md
  deploy/workspace/keycloak/production/files/common/data/.gitkeep
  deploy/workspace/keycloak/production/files/common/digital_twins/.gitkeep
  deploy/workspace/keycloak/production/files/common/functions/.gitkeep
  deploy/workspace/keycloak/production/files/common/models/.gitkeep
  deploy/workspace/keycloak/production/files/common/tools/.gitkeep
  deploy/workspace/keycloak/production/files/template/data/.gitkeep
  deploy/workspace/keycloak/production/files/template/digital_twins/.gitkeep
  deploy/workspace/keycloak/production/files/template/functions/.gitkeep
  deploy/workspace/keycloak/production/files/template/models/.gitkeep
  deploy/workspace/keycloak/production/files/template/tools/.gitkeep
  deploy/workspace/keycloak/production/files/user1/data/.gitkeep
  deploy/workspace/keycloak/production/files/user1/digital_twins/.gitkeep
  deploy/workspace/keycloak/production/files/user1/functions/.gitkeep
  deploy/workspace/keycloak/production/files/user1/models/.gitkeep
  deploy/workspace/keycloak/production/files/user1/tools/.gitkeep
  deploy/workspace/keycloak/production/files/user2/data/.gitkeep
  deploy/workspace/keycloak/production/files/user2/digital_twins/.gitkeep
  deploy/workspace/keycloak/production/files/user2/functions/.gitkeep
  deploy/workspace/keycloak/production/files/user2/models/.gitkeep
  deploy/workspace/keycloak/production/files/user2/tools/.gitkeep
Due: none

add prompt
  client/LOGGER_PROMPT.md
Due: yarn-install-client, yarn-jest-client

fixes sysadmin email issue
  deploy/services/cli/DEVELOPER.md
  deploy/services/cli/dtaas_services/commands/setup_ops.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/setup.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/setup_credentials.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/sysadmin.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/sysadmin_util.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/tenant_admin.py
  deploy/services/cli/dtaas_services/templates/config/services.env.template
  deploy/services/cli/tests/test_services/test_thingsboard/test_reset_password.py
  deploy/services/cli/tests/test_services/test_thingsboard/test_setup.py
  deploy/services/cli/tests/test_services/test_thingsboard/test_setup_credentials.py
  deploy/services/cli/tests/test_services/test_thingsboard/test_sysadmin.py
  deploy/services/cli/tests/test_services/test_thingsboard/test_sysadmin_util.py
Due: none

status only for current hostname
  deploy/services/cli/dtaas_services/pkg/lib/status.py
  deploy/services/cli/tests/system_tests/test_services_commands.py
  deploy/services/cli/tests/test_lib/test_manager.py
  deploy/services/cli/tests/test_lib/test_status.py
Due: none

minor issues
  deploy/services/cli/README.md
  deploy/services/cli/dtaas_services/commands/setup_ops.py
  deploy/services/cli/dtaas_services/pkg/lib/status.py
  deploy/services/cli/dtaas_services/pkg/password_store.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/setup.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/tb_utility.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/tenant_admin.py
  deploy/services/cli/tests/config/services.env
  deploy/services/cli/tests/test_lib/test_manager.py
  deploy/services/cli/tests/test_lib/test_status.py
Due: none

feat(client): add data-logger attributes to all interactive elements
  client/CHANGELOG-phase2.md
  client/LOGGER_PROMPT.md
  client/PLAN.md
  client/src/components/asset/Filter.tsx
  client/src/components/execution/ExecutionHistoryList.tsx
  client/src/components/logDialog/DeleteAllConfirmationDialog.tsx
  client/src/components/logDialog/UnifiedDialog.tsx
  client/src/page/DrawerHeaderComponent.tsx
  client/src/page/LogViewer.tsx
  client/src/preview/route/digitaltwins/editor/SidebarDialog.tsx
  client/src/route/account/AccountTabData.tsx
  client/src/route/account/SettingsForm.tsx
  client/src/route/config/Config.tsx
  client/src/route/digitaltwins/create/ChangeFileNameDialog.tsx
  client/src/route/digitaltwins/create/ConfirmDeleteDialog.tsx
  client/src/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/route/digitaltwins/create/DeleteFileDialog.tsx
  client/src/route/digitaltwins/create/FileActionButtons.tsx
  client/src/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/route/digitaltwins/manage/DetailsDialog.tsx
Due: yarn-install-client, yarn-jest-client

Fixes code quality issues
  client/src/model/backend/DTAssets.ts
  client/src/route/digitaltwins/editor/sidebarFetchers.ts
  client/src/route/digitaltwins/editor/sidebarFunctions.ts
  client/test/unit/model/backend/DTAssets.test.ts
  client/test/unit/model/backend/DTAssetsCommit.test.ts
  client/test/unit/model/backend/DTAssetsFileOps.test.ts
  client/test/unit/model/backend/digitalTwinAssetFiles.test.ts
  client/test/unit/model/backend/digitalTwinFileManagement.test.ts
  client/test/unit/route/digitaltwins/editor/sidebarRendering.test.tsx
  client/test/unit/route/digitaltwins/editor/sidebarRenderingFileSection.test.tsx
Due: yarn-install-client, yarn-jest-client

fix(client): capture preview page interactions and logger init fallback
  client/CHANGELOG-phase2.md
  client/PLAN.md
  client/src/components/asset/Filter.tsx
  client/src/components/cart/ShoppingCart.tsx
  client/src/preview/route/digitaltwins/create/CreatePage.tsx
  client/src/preview/route/digitaltwins/editor/Editor.tsx
  client/src/preview/route/digitaltwins/editor/Sidebar.tsx
  client/src/preview/route/digitaltwins/editor/SidebarDialog.tsx
  client/src/preview/route/digitaltwins/editor/sidebarRendering.tsx
  client/src/preview/route/digitaltwins/manage/ReconfigureDialog.tsx
  client/src/route/digitaltwins/create/ChangeFileNameDialog.tsx
  client/src/route/digitaltwins/create/ConfirmDeleteDialog.tsx
  client/src/route/digitaltwins/create/CreateDTDialog.tsx
  client/src/route/digitaltwins/create/DeleteFileDialog.tsx
  client/src/route/digitaltwins/manage/DeleteDialog.tsx
  client/src/route/digitaltwins/manage/DetailsDialog.tsx
  client/src/util/logger/useLogger.ts
  client/test/preview/unit/route/digitaltwins/editor/SidebarDialog.test.tsx
  client/test/unit/route/digitaltwins/create/ChangeFileNameDialog.test.tsx
  client/test/unit/route/digitaltwins/create/ConfirmDeleteDialog.test.tsx
  client/test/unit/route/digitaltwins/create/CreateDTDialog.test.tsx
  client/test/unit/route/digitaltwins/create/DeleteFileDialog.test.tsx
  client/test/unit/route/digitaltwins/create/FileActionButtons.test.tsx
  client/test/unit/util/logger/useLogger.test.tsx
Due: yarn-install-client, yarn-jest-client

Improve test coverage and remove hardcoded constants
  client/jest.config.json
  client/src/model/backend/DTAssets.ts
  client/src/model/backend/fileHandler.ts
  client/src/model/backend/util/digitalTwinFileManagement.ts
  client/src/route/digitaltwins/editor/sidebarFetchers.ts
  client/src/route/digitaltwins/editor/sidebarFunctions.ts
  client/src/route/digitaltwins/editor/sidebarRendering.tsx
  client/test/unit/components/asset/AssetBoard.test.tsx
  client/test/unit/model/backend/DTAssets.test.ts
  client/test/unit/model/backend/backend.test.ts
  client/test/unit/route/digitaltwins/editor/sidebarFetchers.test.ts
  client/test/unit/route/digitaltwins/editor/sidebarFunctions/reconfigureFileClick.test.ts
  client/test/unit/route/digitaltwins/editor/sidebarRendering.test.tsx
  client/test/unit/route/digitaltwins/editor/useSidebarLoader.test.ts
  client/test/unit/route/digitaltwins/manage/reconfigureDialogHandlers.test.ts
Due: yarn-install-client, yarn-jest-client

adds sample log file
  client/dtaas-workflow-log-2026-03-26.jsonl
Due: yarn-install-client, yarn-jest-client

minor issue
  deploy/services/cli/dtaas_services/pkg/lib/status.py
Due: none

fixing issues
  deploy/services/cli/README.md
  deploy/services/cli/dtaas_services/pkg/lib/status.py
  deploy/services/cli/dtaas_services/pkg/services/gitlab/app_token.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/setup.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/sysadmin_util.py
  deploy/services/cli/dtaas_services/pkg/services/thingsboard/tenant_admin.py
  deploy/services/cli/dtaas_services/templates/compose.gitlab.yml
  deploy/services/cli/tests/test_services/test_thingsboard/test_sysadmin.py
  deploy/services/cli/tests/test_services/test_thingsboard/test_sysadmin_util.py
Due: none

fixing system_Tests
  deploy/services/cli/tests/system_tests/test_services_commands.py
Due: none

fixing gitlab port
  deploy/services/cli/dtaas_services/templates/compose.gitlab.yml
Due: none

Adds logger microservice
  .github/workflows/logger-ms.yml
  README.md
  client/config/dev.js
  deploy/config/client/env.js
  deploy/config/client/env.local.js
  deploy/docker/compose.local.secure.yml
  deploy/docker/compose.local.yml
  deploy/docker/compose.server.secure.yml
  deploy/docker/compose.server.yml
  deploy/workspace/dex/localhost/config/dex-config.yaml
  docker/logger.dockerfile
  servers/logger/.gitignore
  servers/logger/.madgerc
  servers/logger/.prettierrc
  servers/logger/DOCKER.md
  servers/logger/LICENSE.md
  servers/logger/README.md
  servers/logger/eslint.config.js
  servers/logger/jest.config.json
  servers/logger/nest-cli.json
  servers/logger/package.json
  servers/logger/src/app.controller.ts
  servers/logger/src/app.module.ts
  servers/logger/src/config/config.interface.ts
  servers/logger/src/config/config.service.ts
  servers/logger/src/dto/log-event.dto.ts
  servers/logger/src/main.ts
  servers/logger/src/validation.pipe.ts
  servers/logger/test/e2e/app.e2e.spec.ts
  servers/logger/test/unit/config.service.spec.ts
  servers/logger/test/unit/logs.service.spec.ts
  servers/logger/test/unit/validation.pipe.spec.ts
  servers/logger/tsconfig.json
  servers/logger/yarn.lock
Due: yarn-install-client, yarn-jest-client

chore: upgrade server npm dependencies
  servers/execution/runner/package.json
  servers/execution/runner/tsconfig.json
  servers/execution/runner/yarn.lock
  servers/lib/package.json
  servers/lib/tsconfig.json
  servers/lib/yarn.lock
Due: yarn-install-runner, yarn-install-lib, yarn-test-runner, yarn-test-lib

Makes a functional logger microservice
  .github/workflows/logger-ms.yml
  .gitignore
  servers/logger/API.md
  servers/logger/DOCKER.md
  servers/logger/README.md
  servers/logger/api/invalid-1.json
  servers/logger/api/invalid-2.json
  servers/logger/api/invalid-3.json
  servers/logger/api/invalid-4.json
  servers/logger/api/invalid-5.json
  servers/logger/api/sample.json
  servers/logger/api/valid-1.json
  servers/logger/api/valid-2.json
  servers/logger/api/valid-3.json
  servers/logger/api/valid-4.json
  servers/logger/api/valid-5.json
  servers/logger/logger.yaml.sample
  servers/logger/package.json
  servers/logger/src/app.controller.ts
  servers/logger/src/app.module.ts
  servers/logger/src/config/certificates.ts
  servers/logger/src/config/cli.ts
  servers/logger/src/config/config.interface.ts
  servers/logger/src/config/config.service.ts
  servers/logger/src/config/util.ts
  servers/logger/src/log-event-validation.pipe.ts
  servers/logger/src/logs/logs.module.ts
  servers/logger/src/logs/logs.service.ts
  servers/logger/src/main.ts
  servers/logger/test/e2e/app.e2e.spec.ts
  servers/logger/test/unit/certificates.spec.ts
  servers/logger/test/unit/cli.spec.ts
  servers/logger/test/unit/config.service.spec.ts
  servers/logger/test/unit/logs.service.spec.ts
  servers/logger/yarn.lock
Due: none

Fix CORS request errors for logger microservice
  client/src/util/logger/consoleLogger.ts
  client/test/unit/util/logger/consoleLogger.test.ts
  client/test/unit/util/logger/logger.test.ts
  servers/logger/API.md
  servers/logger/DOCKER.md
  servers/logger/README.md
  servers/logger/docs/logger-demo.webm
  servers/logger/docs/sample-log.jsonl
  servers/logger/logger.yaml.sample
  servers/logger/src/config/config.interface.ts
  servers/logger/src/config/config.service.ts
  servers/logger/src/config/cors.ts
  servers/logger/src/main.ts
  servers/logger/test/e2e/app.e2e.spec.ts
  servers/logger/test/unit/cli.spec.ts
  servers/logger/test/unit/config.service.spec.ts
  servers/logger/test/unit/cors.spec.ts
Due: yarn-install-client, yarn-jest-client

Fix npm package warning
  servers/execution/runner/package.json
  servers/lib/config/http.json
  servers/lib/package.json
  servers/lib/tsconfig.json
  servers/lib/yarn.lock
Due: yarn-install-runner, yarn-install-lib, yarn-test-runner, yarn-test-lib

Fix copilot review comments
  client/src/model/store/libraryConfigFiles.slice.ts
  client/src/route/digitaltwins/editor/sidebarFunctions.ts
  client/src/route/digitaltwins/editor/useSidebarLoader.ts
  client/test/unit/route/digitaltwins/editor/sidebarFunctions/reconfigureFileClick.test.ts
  client/test/unit/store/libraryFilesSlice.test.ts
Due: yarn-install-client, yarn-jest-client

client docs cleanup
  .qlty/qlty.toml
  PROMPTS.md
  client/DEVELOPER.md
  client/DOCKER.md
  client/LICENSE.md
  client/test/README.md
  client/test/unit/util/envUtil.test.ts
  deploy/docker/LOCALHOST.SECURE.md
  docs/admin/client/config.md
  docs/admin/localhost-secure.md
Due: yarn-install-client, yarn-jest-client

fixes some qlty issues
  PROMPTS.md
  client/DEVELOPER.md
  client/DOCKER.md
  client/src/route/digitaltwins/manage/ReconfigureDialog.tsx
Due: yarn-install-client, yarn-jest-client

fix(deploy): address Sonar and qlty findings
  deploy/dtaas/scripts/build-packages.py
  deploy/dtaas/scripts/test/test_build_packages.py
  deploy/dtaas/src/common/config/client/env.local.js
  deploy/dtaas/src/common/config/client/env.server.js
  deploy/dtaas/src/common/files/README.md
Due: none

ci: add release packages workflow
  .github/workflows/release-packages.yml
Due: none

chore(deploy): normalize env and yaml formatting
  deploy/dtaas/src/common/.env.local.example
  deploy/dtaas/src/common/.env.server.example
  deploy/dtaas/src/common/files/README.md
  deploy/services/runner/compose.runner.local.yml
  deploy/services/runner/compose.runner.server.yml
Due: none

fix(deploy): tighten generated package security defaults
  deploy/dtaas/scripts/build-packages.py
  deploy/dtaas/scripts/test/test_build_packages.py
Due: none

refactor(deploy): modularize build-packages workflow
  .github/workflows/release-packages.yml
  deploy/dtaas/README.md
  deploy/dtaas/docker/README.md
  deploy/dtaas/pyproject.toml
  deploy/dtaas/scripts/build-packages.py
  deploy/dtaas/scripts/build-packages/build-packages.py
  deploy/dtaas/scripts/build-packages/dtaas.toml
  deploy/dtaas/scripts/build-packages/pyproject.toml
  deploy/dtaas/scripts/build-packages/src/__init__.py
  deploy/dtaas/scripts/build-packages/src/build_packages.py
  deploy/dtaas/scripts/build-packages/src/compose_constants.py
  deploy/dtaas/scripts/build-packages/src/compose_helpers.py
  deploy/dtaas/scripts/build-packages/src/compose_renderer.py
  deploy/dtaas/scripts/build-packages/src/compose_services.py
  deploy/dtaas/scripts/build-packages/src/filesystem.py
  deploy/dtaas/scripts/build-packages/src/generator.py
  deploy/dtaas/scripts/build-packages/src/layout.py
  deploy/dtaas/scripts/build-packages/src/models.py
  deploy/dtaas/scripts/build-packages/src/readme_renderer.py
  deploy/dtaas/scripts/build-packages/src/settings.py
  deploy/dtaas/scripts/build-packages/test/test_build_packages.py
  deploy/dtaas/scripts/test/test_build_packages.py
  deploy/dtaas/src/common/.env.local.example
  deploy/dtaas/src/common/.env.server.example
  deploy/dtaas/src/common/config/traefik/tls.local.yml
  deploy/dtaas/src/common/config/traefik/tls.server.yml
  deploy/dtaas/src/common/files/README.md
  deploy/services/runner/compose.runner.local.yml
  deploy/services/runner/compose.runner.server.yml
Due: none

chore(deploy): apply qlty formatting fixes
  deploy/dtaas/scripts/build-packages/src/build_packages.py
  deploy/dtaas/scripts/build-packages/src/compose_renderer.py
  deploy/dtaas/scripts/build-packages/src/readme_renderer.py
  deploy/dtaas/scripts/build-packages/test/test_build_packages.py
  deploy/dtaas/src/common/files/README.md
Due: none

refactor(deploy): simplify compose user service signatures
  deploy/dtaas/scripts/build-packages/src/compose_renderer.py
  deploy/dtaas/scripts/build-packages/src/compose_services.py
Due: none

chore(deploy): shorten README renderer table lines
  deploy/dtaas/scripts/build-packages/src/readme_renderer.py
Due: none

fix(deploy): resolve remaining qlty blockers
  deploy/dtaas/scripts/build-packages/src/compose_renderer.py
  deploy/dtaas/scripts/build-packages/src/compose_services.py
  deploy/dtaas/scripts/build-packages/src/readme_renderer.py
  deploy/dtaas/scripts/build-packages/test/test_build_packages.py
  deploy/dtaas/src/common/.env.local.example
  deploy/dtaas/src/common/.env.server.example
  deploy/services/gitlab/README.md
Due: none

Updates to gitignore
  .gitignore
  deploy/dtaas/scripts/build-packages/dtaas.toml
Due: none

Path conditions:
  yarn-install-client: any of: ^client/.*
  yarn-install-runner: any of: ^servers/execution/runner/.*
  yarn-install-lib: any of: ^servers/lib/.*
  yarn-jest-client: any of: ^client/.*
  yarn-test-runner: any of: ^servers/execution/runner/.*
  yarn-test-lib: any of: ^servers/lib/.*
